@model IEnumerable<HR.Models.payroll_trans.LoanAdjustment>
@using HR.Resource
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">

        <div class="box">
            <div class="box-header">
            </div>

            <!-- /.box-header -->
            <div class="box-body">
                @if (TempData["Message"] != null)
                {
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        @TempData["Message"]
                    </div>
                }
                <div style="margin-left:10px" class="row form-group">

                    <div class="col-md-3">
                        <a href="@Url.Action("index", "LoanRequest" )" style="width:130px" class="btn btn-success btn-sm"><i class="fa fa-edit"></i>'@pers_2.createnewloantransfer'</a>

                    </div>
                </div>






                <div class="form-group" style="margin-top:70px;margin-left:30px">
                    <table id="categories" style="margin-top:20px" class="table table-bordered table-striped text-center">
                        <thead>
                            <tr>
                                <th>@pers_2.numberreq</th>
                                <th>@Personnel.loanrequest </th>
                                <th>@pers_2.total</th>
                                <th>@pers_2.paidamount</th>
                                <th>@pers_2.unpaidmount</th>
                                <th>@pers_2.TransactionDate</th>

                            </tr>
                        </thead>
                        <tbody id="tbody11">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.TransactionNumber</td>
                                    <td>@item.LoanRequestNumber</td>
                                    <td>@item.TotalPaidAmount</td>
                                    <td>@item.PaidAmount</td>
                                    <td>@item.TotalUnpaidAmount</td>
                                 
                                    <td>@item.TransactionDate.Value.ToString("dd-MM-yyyy")</td>
                                  
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            @*<tr>
                                    <th>@pers_2.number</th>
                                    <th>@pers_2.empid</th>
                                    <th>@pers_2.empname</th>
                                    <th>@pers_2.requestdate</th>
                                    <th>@pers_2.eosdate</th>
                                    <th>@pers_2.status</th>
                                    <th>@pers_2.type</th>
                                    <th></th>
                                </tr>*@
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

    </section>

</div>

<!-- page script -->

@section scripts{}
<style>
    table {
        margin-top: 70px;
        border: 1px solid #ddd;
        overflow-y: auto;
        white-space: nowrap;
    }

        table thead {
            border-bottom: 3px solid #bbb;
        }

    .create-btn {
        margin-left: 5px;
        margin-right: 5px;
        color: #000;
    }

        .create-btn svg {
            color: #0d62aa;
        }
</style>