@model HR.Models.Check_Lists_Items

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}


@Scripts.Render("~/bundles/jqueryval")

<script>
    ItemGroups();
    function ItemGroups()
    {
        debugger
        var id = $("#CheckListItemGroups").val();
        $.ajax({
            type: "post",
            url: "/Helper/GetCheck_List_Item_Groups",
            data: { "id": id },
            success: function (result) {
                debugger
                $("#ItemGroupsName").val(result.Description_Group);
            },
            error: function () {
                debugger
                $("#ItemGroupsName").val(" ");
            }
        });
    }

</script>
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            Edit Check List Items
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="box">

            <!-- /.box-header -->
            <div class="box-body">

                @using (Html.BeginForm("Edit", "Check_Lists_Items", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">

                        <hr />

                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Message"]
                            </div>
                        }

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                        <div class="form-group">
                            @Html.LabelFor(model => model.Check_Code, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Check_Code, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                @Html.ValidationMessageFor(model => model.Check_Code, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">

                            @Html.LabelFor(model => model.Description_Alternative, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Description_Alternative, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description_Alternative, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div class="form-group">
                            @Html.LabelFor(model => model.Check_List_Item_GroupsId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.Check_List_Item_GroupsId, new SelectList(ViewBag.Check_List_Item_Groups, "ID", "Code"), "Select List Item Groups", new { @class = "select2", @onchange = "ItemGroups()", @id = "CheckListItemGroups" })
                                @Html.ValidationMessageFor(model => model.Check_List_Item_GroupsId, "", new { @class = "text-danger" })
                                <input type="text" value=" " class="form-control" id="ItemGroupsName" disabled />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Is_Mandatory, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.CheckBoxFor(model => model.Is_Mandatory, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Is_Mandatory, "", new { @class = "text-danger" })
                            </div>
                        </div>





                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Edit" class="btn btn-success" />
                                <a href="@Url.Action("index","Check_Lists_Items")" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>Back</a>

                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>

    </section>
</div>
@section scripts{}


