@model IEnumerable<HR.Models.Check_Lists_Items>
@using HR.Resource;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}
<script>
    var $ = jQuery;

    $(document).ready(function () {
        $('#categories').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
            "order" : 1
        });
    });
</script>

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">

        <div class="box">
            <div class="box-header">
                <p class="lead">
                    <a href="@Url.Action("Create", "Check_Lists_Items")" class="btn btn-success btn-sm"><i class="fa fa-edit"></i>@Personnel.AddNewCheckListItems</a>
                </p>
            </div>

            <!-- /.box-header -->
            <div class="box-body">
                @if (TempData["Message"] != null)
                {
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        @TempData["Message"]
                    </div>
                }

                <table id="categories" class="table table-bordered table-striped text-center">
                    <thead>
                        <tr>
                            <th>@Personnel.CheckCode </th>
                            <th>@Personnel.Description </th>
                            <th>@Personnel.DescriptionAlternative </th>
                            <th>@Personnel.GroupDescription</th>
                            <th>@Personnel.IsMandatory</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Check_Code</td>
                                <td>@item.Description</td>
                                <td>@item.Description_Alternative</td>
                                <td>@item.Check_List_Item_Groups.Description_Group</td>
                                <td>@item.Is_Mandatory</td>



                                <td>
                                    <a href="@Url.Action("Edit", "Check_Lists_Items", new {id = item.ID})" class="btn btn-primary btn-sm" style="width:50px"><i class="fa fa-edit"></i>@Personnel.Edit</a>
                                    <a href="@Url.Action("Delete", "Check_Lists_Items", new {id = item.ID})" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>@Personnel.Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
          
                </table>
            </div>
        </div>

    </section>

</div>
@section scripts{}

<!-- page script -->
