@model HR.Models.Time_management.Exit_permission_type

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}
@using HR.Resource;
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            @pers_2.ExitPerissiontype
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="box">

            <!-- /.box-header -->
            <div class="box-body">

                @using (Html.BeginForm("edit", "Exitpermissiontype", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">

                        <hr />

                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Message"]
                            </div>
                        }

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <label style="color:red" class="control-label col-md-1">
                                @organ.code
                            </label> <div class="col-md-3">
                                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @readonly = true, @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                            </div>
                            <label style="color:red" class="control-label col-md-1">
                                @organ.name
                            </label>  <div class="col-md-3">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-2">
                                <input style="width:100px" type="submit" value=@organ.Save class="btn btn-success" />
                            </div>
                            <div class="col-md-2">
                                <a style="width:100px" href="@Url.Action("index","Exitpermissiontype")" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>@pers_2.Back</a>

                            </div>
                        </div>



                        <div class="form-group">
                            <label class="control-label col-md-1">
                                @organ.description
                            </label>   <div class="col-md-3">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>

                            <label class="control-label col-md-1">
                              @pers_2.shiftsetup
                            </label>  <div class="col-md-3">

                                @Html.DropDownListFor(m => m.ShiftdaystatusID, new SelectList(ViewBag.shift, "ID", "Code"), pers_2.shiftsetup, new { @class = "select2" })

                            </div>

                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-1">
                                @pers_2.fromtime
                            </label> <div class="col-md-3">
                                @Html.EditorFor(model => model.from, new { htmlAttributes = new { @name = "start", id = "start", @class = "form-control timepicker", @data_template = "dropdown", @data_show_seconds = "true", @data_show_meridian = "true", @data_minute_step = "1" } })

                            </div>
                            <label class="control-label col-md-1">
                                @pers_2.totime
                            </label> <div class="col-md-3">
                                @Html.EditorFor(model => model.to, new { htmlAttributes = new { @name = "end", id = "end", @class = "form-control timepicker", @data_template = "dropdown", @data_show_seconds = "true", @data_show_meridian = "true", @data_minute_step = "1" } })

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-1">
                                @pers_2.integratewithpayroll
                            </label>
                            <div class="col-md-3">
                                @Html.CheckBoxFor(model => model.integrate_with_payroll, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <label class="control-label col-md-1">
                                @pers_2.Salarycode
                            </label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-1">
                               @pers_2.integratewithleaves
                            </label>
                            <div class="col-md-3">
                                @Html.CheckBoxFor(model => model.integrate_with_leaves, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <label class="control-label col-md-1">
                               @pers_2.Leavecode
                            </label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" />
                            </div>

                        </div>

                    </div>
                }

            </div>

        </div>

    </section>
</div>
@section scripts{}
<script>
    debugger

    var i = $("#start").val();
    if(@Model.from.Hours==0)
    {
        var def=12;
        var min=@Model.from.Minutes;
        var sec=@Model.from.Seconds;

        $("#start").val(def +":" +min+":"+sec+" AM")
    }
    if(@Model.to.Hours==0)
    {
        var def=12;
        var min=@Model.to.Minutes;
        var sec=@Model.to.Seconds;

        $("#end").val(def +":" +min+":"+sec+" AM")
    }
    if(@Model.from.Hours>=12)
    {
        var def=@Model.from.Hours-12;
        var min=@Model.from.Minutes;
        var sec=@Model.from.Seconds;

        $("#start").val(def +":" +min+":"+sec+" pm")
    }
    if(@Model.to.Hours>12)
    {
        var def=@Model.to.Hours-12;
        var min=@Model.to.Minutes;
        var sec=@Model.to.Seconds;

        $("#end").val(def +":" +min+":"+sec+" pm")
    }


</script>