@model HR.Models.job_level_setup
@using HR.Resource;




@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}


@Scripts.Render("~/bundles/jqueryval")

<script>
    function CountryName1() {
         
        var id = $("#country1").val();
        $.ajax({
            type: "post",
            url: "/Helper/getjobclass",
            data: { "id": id },
            success: function (result) {
                 
                $("#countryname1").val(result.Name);
            },
            error: function () {
                 
                $("#countryname1").val(" ");
            }
        });
    }
    function CountryName2() {
         
        var id = $("#country2").val();
        $.ajax({
            type: "post",
            url: "/Helper/getjobgrade",
            data: { "id": id },
            success: function (result) {
                 
                $("#countryname2").val(result.Name);
            },
            error: function () {
                 
                $("#countryname2").val(" ");
            }
        });
    }
    function CountryName3() {
         
        var id = $("#country3").val();
        $.ajax({
            type: "post",
            url: "/Helper/getjobreport",
            data: { "id": id },
            success: function (result) {
                 
                $("#countryname3").val(result.Name);
            },
            error: function () {
                 
                $("#countryname3").val(" ");
            }
        });
    }
    CountryName3();
    CountryName2();
    CountryName1();

    function addd()
    {

         
        var country = $("#country").val();
        var num = $("#num").val();
        if (country == ""  )
        {
             
            alert("Please enter Education !");

        }
        else if ( num == "") {
             
            alert("Please enter Number Of years !");

        }
        else
        {

            $.ajax({
                type:"post",
                url: "/Helper/Get_Education",
                data: { "id": country },
                success: function (result) {
                    if (result == false)
                    {

                         

                    }
                    else
                    {
                         
                        var tr =
               "<tr id='tr'>" + "<td hidden><input  style='margin-bottom: 1em;' name='codeid' value='" + result.ID + "' readonly='readonly' /></td>" +
               "<td class='col-md-0'><input  style='margin-bottom: 1em;' name='codeee' value='" + result.Code + "' readonly='readonly' /></td>" +
               "<td style='width:30px' ><input style='width:120px' name='Description'  value='" + result.Name + "' readonly='readonly' /></td>" +
               "<td class='col-md-0'><input  style='margin-bottom: 1em;' name='num' value='" + num + "' readonly='readonly' /></td>" +
               "<td><input type='button' value=@organ.remove class='remove btn btn-danger' onclick='remove($(this))' /></td></tr>";
                        $("#add1").append(tr);
                        $("#num").val(" ");
                        $("#country").select2("val", "");
                    }


                },
                error: function()
                {
                     
                }

            });


        }

    }
    function remove(thi)
    {
         
        thi.parent().parent().remove();
        //thi.parent().parent().parent().remove(removed);


    }

    $("#min").keyup(function (e) {
         
        var min = parseInt($("#min").val());
        var max = parseInt($("#max").val());
        var mid=( min+max)/2;
        $("#mid").val(mid);

    });
    $("#max").keyup(function (e) {
         
        var min = parseInt($("#min").val());
        var max = parseInt($("#max").val());
        var mid = (min + max) / 2;
        $("#mid").val(mid);

    });
    function updateminplus(value)
    {
         
        var min = parseInt($("#min").val()) + parseInt(value);
        var max = parseInt($("#max").val());
        var mid = (min + max) / 2;
        $("#mid").val(mid);
    }
    function updatemaxplus(value) {
         
        var min = parseInt($("#min").val()) ;
        var max = parseInt($("#max").val()) + parseInt(value);
        var mid = (min + max) / 2;
        $("#mid").val(mid);
    }
</script>
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            @organ.Createjoblevel
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="box">

            <!-- /.box-header -->
            <div class="box-body">

                @using (Html.BeginForm("Create", "job_level_setup", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">

                        <hr />

                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Message"]
                            </div>
                        }

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @organ.code
                            </label> <div class="col-md-4">
                                @Html.EditorFor(model => model.Code, new { htmlAttributes = new {@readonly=true, @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @organ.name
                            </label>  <div class="col-md-4">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3" style="color:black">
                                <button type="submit" id="btnSubmit" name="Command" value="Submit2" class="btn btn-success">@organ.specialallwance</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @organ.description
                            </label>   <div class="col-md-4">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3" style="color:black">
                                <button type="submit" id="btnSubmit" name="Command" value="Submit" class="btn btn-success">@organ.joblevellinkdetoorganizationunittipes</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @organ.Job_level_class__ID
                            </label>  <div class="col-md-4">

                                @Html.DropDownListFor(m => m.Job_level_class__ID, new SelectList(ViewBag.level_code, "ID", "Code"), organ.selectjoblevelclass, new { @class = "select2", @onchange = "CountryName1()", id = "country1" })
                                @Html.ValidationMessageFor(model => model.Job_level_class__ID, "", new { @class = "text-danger" })
                                <input type="text" value=" " class="form-control" id="countryname1" disabled />

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @organ.Job_level_gradeI__D
                            </label>  <div class="col-md-4">

                                @Html.DropDownListFor(m => m.Job_level_gradeI__D, new SelectList(ViewBag.level_grade, "ID", "Code"), organ.selectjoblevelgrade, new { @class = "select2", @onchange = "CountryName2()", id = "country2" })
                                @Html.ValidationMessageFor(model => model.Job_level_gradeI__D, "", new { @class = "text-danger" })
                                <input type="text" value=" " class="form-control" id="countryname2" disabled />

                            </div>
                           
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @organ.report_job_levelID
                            </label>  <div class="col-md-4">

                                @Html.DropDownListFor(m => m.report_job_levelID, new SelectList(ViewBag.report, "ID", "Code"), organ.selectjobreport, new { @class = "select2", @onchange = "CountryName3()", id = "country3" })
                                @Html.ValidationMessageFor(model => model.report_job_levelID, "", new { @class = "text-danger" })
                                <input type="text" value=" " class="form-control" id="countryname3" disabled />
                              </div>
                     

                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @organ.max_monthly_allowance
                            </label> 
                             <div class="col-sm-3">
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default">-</button>

                                    @Html.EditorFor(model => model.max_monthly_allowance, new { htmlAttributes = new { @class = "form-control size-1", value = "1" } })
                                    <button type="button" class="btn btn-default">+</button>
                                </div>
                            </div>


                            <label class="control-label col-md-3">
                                @organ.min_basic_salary
                            </label>  <div class="col-sm-3">
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default" OnClick= "updateminplus(-1)">-</button>
                                    @Html.EditorFor(model => model.min_basic_salary, new { htmlAttributes = new { @class = "form-control size-1",id="min", value = "1" } })


                                    <button type="button" class="btn btn-default" OnClick= "updateminplus(+1)" >+</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @organ.min_working_years
                            </label>  <div class="col-sm-3">
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default">-</button>
                                    @Html.EditorFor(model => model.min_working_years, new { htmlAttributes = new { @class = "form-control size-1", value = "1" } })


                                    <button type="button" class="btn btn-default">+</button>
                                </div>
                            </div>



                            <label class="control-label col-md-3">
                                @organ.mid_basic_salary
                            </label>  <div class="col-sm-3">
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default" disabled>-</button>
                                    @Html.EditorFor(model => model.mid_basic_salary, new {  htmlAttributes = new {   @readonly = true,@class = "form-control size-1", id="mid",value = "1" } })


                                    <button type="button" class="btn btn-default" disabled>+</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @organ.max_incentive_amount
                            </label>  <div class="col-sm-3">
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default">-</button>
                                    @Html.EditorFor(model => model.max_incentive_amount, new { htmlAttributes = new { @class = "form-control size-1", value = "1" } })


                                    <button type="button" class="btn btn-default">+</button>
                                </div>
                            </div>


                            <label class="control-label col-md-3">
                                @organ.max_basic_salary
                            </label>  <div class="col-sm-3">
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default" OnClick= "updatemaxplus(-1)" >-</button>
                                    @Html.EditorFor(model => model.max_basic_salary, new { htmlAttributes = new { @class = "form-control size-1", id = "max", value = "1" } })


                                    <button type="button" class="btn btn-default" OnClick= "updatemaxplus(1)" >+</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @organ.max_incentive_percentage
                            </label>  <div class="col-sm-3">
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default">-</button>
                                    @Html.EditorFor(model => model.max_incentive_percentage, new { htmlAttributes = new { @class = "form-control size-1", value = "1" } })


                                    <button type="button" class="btn btn-default">+</button>
                                </div>
                            </div>



                            <label class="control-label col-md-3">
                                @organ.max_annual_increase_percentage
                            </label> <div class="col-sm-3">
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default">-</button>
                                    @Html.EditorFor(model => model.max_annual_increase_percentage, new { htmlAttributes = new { @class = "form-control size-1", value = "1" } })


                                    <button type="button" class="btn btn-default">+</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @organ.dedicated_allowence
                            </label> <div class="col-sm-3">
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default">-</button>
                                    @Html.EditorFor(model => model.dedicated_allowence, new { htmlAttributes = new { @class = "form-control size-1", value = "1" } })

                                    <button type="button" class="btn btn-default">+</button>
                                </div>
                            </div>


                            <label class="control-label col-md-3">
                                @organ.representation_allowance_value
                            </label>   <div class="col-sm-3">
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default">-</button>
                                    @Html.EditorFor(model => model.representation_allowance_value, new { htmlAttributes = new { @class = "form-control size-1", value = "1", min = "0" } })
                                    <button type="button" class="btn btn-default">+</button>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-md-4">
                                @organ.Calculateaddedexperienceyears
                            </label>   <div class="col-md-2">
                                @Html.CheckBoxFor(m => m.Calculate_added_experience_years, new { @class = "icheck", id = "minimal-checkbox-1" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                @organ.Calculateaddedmilitaryyears
                            </label>   <div class="col-md-2">
                                @Html.CheckBoxFor(m => m.Calculate_added_military_years, new { @class = "icheck", id = "minimal-checkbox-2" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                @organ.Calculateextraqualificationyears
                            </label>  <div class="col-md-2">
                                @Html.CheckBoxFor(m => m.Calculate_extra_qualification_years, new { @class = "icheck", id = "minimal-checkbox-3" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                @organ.Notes
                            </label>  <div class="col-md-5">
                                @Html.TextAreaFor(model => model.Notes, 5, 50, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="form-group">
                           
                           <div class="col-md-4">
                                @Html.DropDownList("eduction", new SelectList(ViewBag.eduction, "ID", "Code"), organ.selecteduction, new { @class = "select2", id = "country" })
                              
                            </div>
                            <div class="col-md-4">
                                <label><span>@organ.NumberOfEducation</span></label>
                                <input id="num" start="1" type="number" min="1" />
                            </div>
                            <input type="button" onclick="addd()" value=@organ.addeducationlevel class="btn btn-success" />
                       </div>
                       
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                              
                                <button type="submit" id="btnSave" class="btn btn-success" name="Command" value="Save">
                                   @organ.addnewjoblevel
                                </button>
                                <a href="@Url.Action("index","job_level_setup")" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>@organ.Back</a>

                            </div>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>


                                    <th>
                                        <label class="control-label col-md-2">@organ.code</label>
                                    </th>
                                    <th>
                                        <label class="control-label col-md-2">@organ.description</label>
                                    </th>
                                    <th>
                                        <label class="control-label">@organ.Numberofyears</label>
                                    </th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody id="add1"></tbody>
                        </table>
                      
                    </div>
                }

            </div>

        </div>

    </section>
</div>

@section scripts{}

