@model  IEnumerable<HR.Models.ViewModel.organization_type_vm>
@using HR.Resource;


@{

    ViewBag.Title = "Link";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}

<h2>@organ.Link</h2>
<div class="row">
    <div class="col-md-12">

        <div class="panel panel-primary" data-collapsed="0">

            <div class="panel-body">

                @Html.AntiForgeryToken()
                <div class="container">
                    @using (Html.BeginForm("link", "job_level_setup",new { id=ViewBag.id}))
                    {

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                @foreach (var item in Model)
                                { 
                                    if (item.selected == false)
                                    {
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="Selected"  value="@item.Educate_Title.ID" /> @item.Educate_Title.Name


                                            </label>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="Selected" checked value="@item.Educate_Title.ID" /> @item.Educate_Title.Name
                                            </label>
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                        <div class="form-group text-center">
                            <a href="@Url.Action("index","job_level_setup")" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>@organ.Back</a>

                            <input type="submit" class="btn btn-primary" value=@organ.submit />
                        </div>
                    }


                </div>


            </div>

        </div>



    </div>
</div>


@section scripts{}