@model IEnumerable<HR.Models.Air_ports>
@using HR.Resource;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">

        <div class="box">
            <div class="box-header">
                <p class="lead">
                    <a href="@Url.Action("Create", "Air_ports")" class="btn btn-success btn-sm"><i class="fa fa-edit"></i>@Basic.add_new_air_port</a>
                </p>
            </div>

            <!-- /.box-header -->
            <div class="box-body">
                @if (TempData["Message"] != null)
                {
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        @TempData["Message"]
                    </div>
                }

                <table id="categories" class="table table-bordered table-striped text-center">
                    <thead>
                        <tr>
                            <th>@Basic.code</th>
                            <th>@Basic.name</th>
                            <th>@Basic.air_port_alt_name</th>
                            <th>@Basic.State</th>
                            <th>@Basic.Region</th>
                            <th>@Basic.Country</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Code</td>
                                <td>@item.Name</td>
                                <td>@item.Description</td>
                                <td>@item.the_states.Name</td>
                                <td>@item.the_states.Area.Name</td>
                                <td>@item.the_states.Area.Country.Name</td>
                                <td>
                                    <a href="@Url.Action("Edit", "Air_ports", new {id = item.ID})" class="btn btn-primary btn-sm" style="width:50px"><i class="fa fa-edit"></i>@organ.change</a>
                                    <a href="@Url.Action("Delete", "Air_ports", new {id = item.ID})" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>@Basic.Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>

                            <th>@Basic.code</th>
                            <th>@Basic.name</th>
                            <th>@Basic.air_port_alt_name</th>
                            <th>@Basic.State</th>
                            <th>@Basic.Region</th>
                            <th>@Basic.Country</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </section>

</div>

<!-- page script -->
<script>
    var $ = jQuery;

    $(document).ready(function () {
        $('#categories').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
            "order" : 1
        });
    });
</script>

@section scripts{}