@model HR.Models.ViewModel.employee_recordVM

@{
    ViewBag.Title = "edit";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}


@Scripts.Render("~/bundles/jqueryval")

<script>
    CountryName1()
    CountryName2()
    function CountryName1()
    {
        debugger
        var id= $("#Country1").val();
        $.ajax({
            type: "post",
            url: "/Helper/GetEmployee",
            data: { "id": id },
            success: function (result) {
                debugger
                $("#countryname1").val(result.Full_Name);
            },
            error: function () {
                debugger
                $("#countryname1").val(" ");
            }
        });
    }
    function CountryName2() {
        debugger
        var id = $("#Country2").val();
        $.ajax({
            type: "post",
            url: "/Helper/GetEmployeeRecodes",
            data: { "id": id },
            success: function (result) {
                debugger
                $("#countryname2").val(result.Record_Group_Description);
            },
            error: function () {
                debugger
                $("#countryname2").val(" ");
            }
        });
    }

</script>
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            edit employee record
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="box">

            <!-- /.box-header -->
            <div class="box-body">

                @using (Html.BeginForm("edit", "Employee_records", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">

                        <hr />

                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Message"]
                            </div>
                        }
                        @Html.HiddenFor(m => m.record.ID);
                        <div class="form-group">
                            @Html.LabelFor(model => model.record.Code, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.record.Code, new { htmlAttributes = new { @readonly = true, @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.record.Code, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.record.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.record.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.record.Name, "", new { @class = "text-danger" })
                            </div>

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.record.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.record.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.record.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.selectedEmpoyee, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.selectedEmpoyee, new SelectList(ViewBag.employee, "ID", "Code"), "Select employee", new { @class = "select2", @onchange = "CountryName1()", @id = "Country1" })
                                @Html.ValidationMessageFor(model => model.selectedEmpoyee, "", new { @class = "text-danger" })
                                <input type="text" value=" " class="form-control" id="countryname1" disabled />
                            </div>

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.selectedgroup, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.selectedgroup, new SelectList(ViewBag.group, "ID", "Code"), "Select group code ", new { @class = "select2", @onchange = "CountryName2()", @id = "Country2" })
                                @Html.ValidationMessageFor(model => model.selectedgroup, "", new { @class = "text-danger" })
                                <input type="text" value=" " class="form-control" id="countryname2" disabled />
                            </div>

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.record.Record_date, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.record.Record_date, new { htmlAttributes = new { @class = "form-control datepicker", id = "datefrom" } })
                                @Html.ValidationMessageFor(model => model.record.Record_date, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.record.Effictive_date, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.record.Effictive_date, new { htmlAttributes = new { @class = "form-control datepicker", id = "datefrom" } })
                                @Html.ValidationMessageFor(model => model.record.Effictive_date, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.record.Record_expire_date, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.record.Record_expire_date, new { htmlAttributes = new { @class = "form-control datepicker", id = "datefrom" } })
                                @Html.ValidationMessageFor(model => model.record.Record_expire_date, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.record.record_value, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.record.record_value, new { htmlAttributes = new { @type = "number", @min = "0", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.record.record_value, "", new { @class = "text-danger" })
                            </div>


                            @Html.LabelFor(model => model.record.record_amount, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.record.record_amount, new { htmlAttributes = new { @type = "number", @min = "0", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.record.record_amount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="edit" class="btn btn-success" />
                                <a href="@Url.Action("index","Employee_records")" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>Back</a>

                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>

    </section>
</div>



@section scripts{}