@model HR.Controllers.training.Transaction.VM


@using HR.Resource;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}

@Scripts.Render("~/bundles/jqueryval")
<div class="content-wrapper">


    <!-- Main content -->
    <section class="content">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                @using (Html.BeginForm("edit", "TrainingOpportunity", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="sec-nav">
                        <div><i class="far fa-save"></i><button type="submit" class="create-btn" />@organ.Save</div>
                        <div><i class="fas fa-plus"></i><a href="@Url.Action("create", "TrainingOpportunity")" class="create-btn">@pers_2.new_</a></div>
                        <div><i class="far fa-trash-alt"></i><input type="button" href="@Url.Action("index","TrainingOpportunity")" class="create-btn" value=@organ.delete /></div>
                        <div><i class="fas fa-undo"></i><a style="" href="@Url.Action("index", "TrainingOpportunity")" class="create-btn"> @pers_2.Back</a></div>


                    </div>
                  
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <hr />
                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Message"]
                            </div>
                        }
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <section style="margin-top:40px" class="content-header">
                            <h1>
                            @training.training_opportunity
                            </h1>
                        </section>
                        @Html.HiddenFor(m => m.TrainingOpportunity_Header.ID);
                        @Html.HiddenFor(m => m.TrainingOpportunity_Header.statusID);
                        <div class="form-group">
                            <div class="col-md-4">

                                <label style="color:red">@organ.Year</label>
                                @Html.EditorFor(m => m.TrainingOpportunity_Header.Year, new { htmlAttributes = new { @id = "year1", @type = "number", @min = "1900", @class = "form-control" } })
                                @Html.ValidationMessageFor(m => m.TrainingOpportunity_Header.Year, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">

                                <label>-</label>
                                <input type="number" readonly id="next_year" class="form-control" />

                            </div>
                            <div class="col-md-4">
                                <label style="color:red">
                                    @training.TrainingType
                                </label>
                                @Html.DropDownListFor(m => m.TrainingOpportunity_Header.TrainingType_Code, new SelectList(ViewBag.type, "ID", "Code"), training.TrainingType, new { @class = "select2" })
                                @Html.ValidationMessageFor(model => model.TrainingOpportunity_Header.TrainingType_Code, "", new { @class = "text-danger" })

                            </div>
                           
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">

                                <label >@training.local_cost</label>
                                @Html.EditorFor(m => m.TrainingOpportunity_Header.Total_Estimated_Local_Cost, new { htmlAttributes = new { @readonly = true, id = "L", @type = "number", @min = "0", @class = "form-control" } })
                                @Html.ValidationMessageFor(m => m.TrainingOpportunity_Header.Total_Estimated_Local_Cost, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">

                                <label>@training.foreign_cost</label>
                                @Html.EditorFor(m => m.TrainingOpportunity_Header.Total_Estimated_Foreign_Cost, new { htmlAttributes = new { @readonly = true, id = "F", @type = "number", @min = "0", @class = "form-control" } })
                                @Html.ValidationMessageFor(m => m.TrainingOpportunity_Header.Total_Estimated_Foreign_Cost, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                <label>
                                    @Basic.currency
                                </label>
                                @Html.DropDownListFor(m => m.TrainingOpportunity_Header.Currency_Code, new SelectList(ViewBag.currency, "ID", "Code"), Basic.currency, new { @class = "select2" ,id="curr"})
                                @Html.ValidationMessageFor(model => model.TrainingOpportunity_Header.Currency_Code, "", new { @class = "text-danger" })

                            </div>
                        </div>


                        <ul class="nav nav-tabs bordered">
                            <!-- available classes "bordered", "right-aligned" -->
                            <li class="active">
                                <a href="#homee" data-toggle="tab">
                                    <span class="visible-xs"><i class="entypo-home"></i></span>
                                    <span class="hidden-xs">@mainlayout.Setup</span>
                                </a>
                            </li>
                         

                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="homee" style="overflow: hidden;width: auto;height: auto;">
                               
                                     <div class="form-group">
                                         <div class="col-md-4">
                                             <label>
                                                 @training.CourseClassification
                                             </label>
                                             @Html.DropDownListFor(m => m.TrainingOpportunity_Detail.CourseClassification_Code, new SelectList(ViewBag.classification, "ID", "Code"), training.CourseClassification, new { @class = "select2",id="classifi" })
                                             @Html.ValidationMessageFor(model => model.TrainingOpportunity_Detail.CourseClassification_Code, "", new { @class = "text-danger" })

                                         </div>
                                         <div class="col-md-4">
                                             <label>
                                                 @organ.JobLevelSetup
                                             </label>
                                             @Html.DropDownListFor(m => m.TrainingOpportunity_Detail.Cadre_Code, new SelectList(ViewBag.cadre, "ID", "Code"), organ.JobLevelSetup, new { @onclick = "getnumemp()", @class = "select2",id="job_l" })
                                             @Html.ValidationMessageFor(model => model.TrainingOpportunity_Detail.Cadre_Code, "", new { @class = "text-danger" })

                                         </div>
                                         <div class="col-md-4">
                                             <label>
                                                 @Basic.educationlevel
                                             </label>
                                             @Html.DropDownListFor(m => m.Distributed_Opportunity.EducationLevel_Code, new SelectList(ViewBag.E_level, "ID", "Code"), Basic.educationlevel, new { @onclick = "getnumemp()", @class = "select2",id="educ" })
                                             @Html.ValidationMessageFor(model => model.Distributed_Opportunity.EducationLevel_Code, "", new { @class = "text-danger" })

                                         </div>
                                    
                                     </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label>@training.num_emp</label>
                                        <input class="form-control" id="total_em" type="number" value="0" min="0" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>@training.costperopport</label>
                                        <input class="form-control"  id="c_p_opp" type="number" value="0" min="0" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>@training.num_emp_inhouse</label>
                                        <input class="form-control"  id="n_e_in" type="number" value="0" min="0" />
                                    </div>
                                 
                                   
                                
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label>@training.num_oppo_inhouse</label>
                                        <input class="form-control" id="n_opp_in" type="number" value="0" min="0" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>@training.num_emp_outhouse</label>
                                        <input class="form-control" id="n_e_out" type="number" value="0" min="0" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>@training.num_oppo_outhouse</label>
                                        <input class="form-control" id="n_opp_out" type="number" value="0" min="0" />
                                    </div>

                                    <div class="col-md-4">
                                        <label> - </label>
                                        <input style="width:100%" class="btn btn-success" type="button" value=@pers_2.getemp onclick="getemp()" />

                                    </div>
                                </div>
                                <input  hidden value="" name="Classification__"/>
                                <input hidden value="" name="job__" />
                                <input hidden value="" name="education__" />
                                <input hidden value="" name="total_emp__" />
                                <input hidden value="" name="total_oppo__" />
                                <input hidden value="" name="cosrtperoppo__" />
                                <input hidden value="" name="emp_in__" />
                                <input hidden value="" name="emo_out__" />
                                <input hidden value="" name="oppo_in__" />
                                <input hidden value="" name="oppo_out__" />
                                <input hidden value="" name="total_co" />
                                <input hidden value="" name="FOR" />
                                <div style="margin-top:15px;width: 1200px; overflow-x: auto;">
                                    <table class="table table-bordered">

                                        <thead>
                                            <tr>
                                                <td>@training.CourseClassification</td>
                                                <td>@organ.JobLevelSetup</td>
                                                <td>@Basic.educationlevel</td>
                                                <td>@training.num_emp </td>
                                                <td>@training.num_opportunity</td>
                                                <td>@training.costperopport </td>
                                                <td>@training.totalcoast </td>
                                                <td>@training.num_emp_inhouse </td>
                                                <td>@training.num_oppo_inhouse</td>
                                                <td>@training.num_emp_outhouse </td>
                                                <td>@training.num_oppo_outhouse</td>
                                                <td></td>
                                            </tr>
                                        </thead>
                                        <tbody id="emp2"></tbody>
                                    </table>
                                </div>
                              
                               
                            </div>


                          

                        </div>





                    </div>
                }

            </div>

        </div>

    </section>
</div>



@section scripts{}

<style>
    /*Create Page*/
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .sec-nav {
        z-index: 9999;
        position: fixed;
        top: 47px;
        background: #faf9f8;
        border-bottom: 1px solid #bebbb8;
        display: block;
        width: 100%;
        left: 50px;
        padding-left: 10px;
        height: 60px;
        line-height: 60px;
    }

        .sec-nav div {
            display: inline-block;
            padding: 5px 8px;
            width: unset;
            border: 0;
            color: #000;
            font-size: 16px;
            height: 60px;
        }

            .sec-nav div:hover {
                background: #eee;
                color: #000;
            }

                .sec-nav div:hover input {
                    color: #000;
                }

    .create-btn {
        border: 0;
        height: 100%;
        background-color: transparent;
    }

    .sec-nav div svg {
        color: #2266e3;
        font-size: 17px;
    }

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        /*float: unset*/
    }

    label {
        text-align: left;
        font: normal normal 400 12px/18px 'Segoe UI',tahoma,sans-serif;
        color: #605e5c;
        display: block;
        margin-bottom: 0;
        max-width: 260px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 600;
        margin-top: 15px;
    }

    .form-horizontal .form-group {
        margin: 0 !important;
    }

    input {
        height: 35px;
        color: #000;
    }

        input:active {
            border: 1px solid #2266e3;
        }

    .form-group .row > div {
        margin-bottom: 10px;
    }

    .content-wrapper {
        margin-left: 15px;
    }

    .col-md-4 {
        width: 20% !important;
    }
</style>

<script>
    $("#year1").keyup(function (e) {
        var value = $("#year1").val();
        $("#next_year").val(parseInt(parseInt(value) + parseInt(1)));
    });
    function getnumemp()
    {
        debugger
        var cadre = $("#job_l").val();
        var educ = $("#educ").val();
        $.ajax({
            type: "post",
            url: "/TrainingOpportunity/get_num_emp",
            data: { "cadre": cadre, "educ": educ },
            success: function (result) {
                debugger
                if (result > 0)
                {
                    $("#total_em").val(result);
                }

               },
            error: function () {


            }
        });
    }
    function remove(thi) {
        debugger
        var coast = thi.parent().parent().children()[9];
        var val = parseFloat(coast.children[0].value);
        var local_cost = parseFloat($("#L").val());
        var t = local_cost - val;
        $("#L").val(t);
        //=======
        var coast = thi.parent().parent().children()[10];
        var val = parseFloat(coast.children[0].value);
        var for_cost = parseFloat($("#F").val());
        var t = for_cost - val;
        $("#F").val(t);
        //=======
        thi.parent().parent().remove();

    }
    function get_all_content()
    {
        debugger
        var finalresult2 = "";
        var id = '@Model.TrainingOpportunity_Header.ID';
        $.ajax({
            type: "post",
            url: "/TrainingOpportunity/getallcontent",
            data: { "header_id": id },
            success: function (result) {
                debugger

                $.each(result, function (key, value) {
                    if (value.TrainingOpportunity_Detail.CourseClassification_Code == null)
                    {
                        value.TrainingOpportunity_Detail.CourseClassification_Code = " ";
                    }
                    if (value.TrainingOpportunity_Detail.classifiaction_des == null) {
                        value.TrainingOpportunity_Detail.classifiaction_des = " ";
                    }
                    if (value.TrainingOpportunity_Detail.card_des == null) {
                        value.TrainingOpportunity_Detail.card_des = " ";
                    }
                    debugger
                    finalresult2 +=
                    "<tr><td hidden><input hidden  class = 'form-control' required type='number'  name='Classification__'   value='" + value.TrainingOpportunity_Detail.CourseClassification_Code + "' /></td>" +
                    "<td><input  required  class = 'form-control' value='" + value.TrainingOpportunity_Detail.classifiaction_des + "'  readonly='readonly'/></td>" +
                    "<td hidden><input hidden  class = 'form-control' required type='number'  name='job__'   value='" + value.TrainingOpportunity_Detail.Cadre_Code + "' /></td>" +
                    "<td><input  required class = 'form-control'  value='" + value.TrainingOpportunity_Detail.card_des + "'  readonly='readonly'/></td>" +
                    "<td hidden><input hidden  class = 'form-control' required type='number'  name='education__'   value='" + value.Distributed_Opportunity.EducationLevel_Code + "' /></td>" +
                    "<td><input  required class = 'form-control' value='" + value.Distributed_Opportunity.education_des + "'  readonly='readonly'/></td>" +
                    "<td><input  type='number' class = 'form-control' value='" + value.TrainingOpportunity_Detail.Total_Num_Of_Employee + "' min='0' name='total_emp__' readonly='readonly' /></td>" +
                    "<td><input  type='number' class = 'form-control' value='" + value.TrainingOpportunity_Detail.Total_Num_Of_Opportunity + "' min='0' name='total_oppo__' readonly='readonly' /></td>" +
                    "<td><input  type='number' class = 'form-control'  value='" + value.TrainingOpportunity_Detail.Cost_Per_Opportunity + "' min='0' name='cosrtperoppo__' readonly='readonly'  /></td>" +
                    "<td><input  type='number' class = 'form-control' value='" + value.TrainingOpportunity_Detail.Total_Cost + "' min='0' name='total_co' readonly='readonly' /></td>" +
                    "<td hidden><input hidden type='number' class = 'form-control' value='" + value.TrainingOpportunity_Detail.Total_Cost_for + "' min='0' name='FOR' readonly='readonly' /></td>" +
                    "<td><input  type='number' class = 'form-control'  value='" + value.Distributed_Opportunity.InHouse_To_Be_Trainee + "' min='0' name='emp_in__' readonly='readonly' /></td>" +
                    "<td><input  type='number' class = 'form-control'  value='" + value.Distributed_Opportunity.InHouse_Number_Of_Opportunity + "' min='0' name='oppo_in__' readonly='readonly'  /></td>" +
                    "<td><input  type='number' class = 'form-control' value='" + value.Distributed_Opportunity.OutSite_To_Be_Trainee + "' min='0' name='emo_out__' readonly='readonly'  /></td>" +
                    "<td><input  type='number' class = 'form-control' value='" + value.Distributed_Opportunity.OutSite_Number_Of_Opportunity + "' min='0' name='oppo_out__' readonly='readonly' /></td>" +
                    "<td><input type='button' style='margin-left:3px' value=@organ.remove class='remove btn btn-danger' onclick='remove($(this))' /></td></tr>";

                });

                $("#emp2").append(finalresult2);
            },
            error: function () {


            }
        });
    }
    function getemp() {

        var finalresult = "";

        var classification_ID = parseInt($("#classifi").val());
        if (classification_ID == null)
            classification_ID = "0";
        var classification_text = $("#classifi").find("option:selected").text();


        var cadre_ID = parseInt($("#job_l").val());
        if (cadre_ID == null)
            cadre_ID = "0";
        var cadre_text = $("#job_l").find("option:selected").text();

        var education_ID = parseInt($("#educ").val());
        var education_text = $("#educ").find("option:selected").text();
        if (education_ID == null)
            education_ID = "0";

        var total_emm = parseInt($("#total_em").val());

        debugger

        var num_emp_in = parseInt($("#n_e_in").val());
        var num_emp_out = parseInt($("#n_e_out").val());
        var num_oppo_in = parseInt($("#n_opp_in").val());
        var num_oppo_out = parseInt($("#n_opp_out").val());
        var cost_per_O = parseInt($("#c_p_opp").val());


        if ((parseInt(num_emp_in) > -1) && (parseInt(num_emp_out) > -1) && (parseInt(num_oppo_in) > -1) && (parseInt(num_oppo_out) > -1) && (parseInt(cost_per_O) > -1) && (parseInt(num_emp_in) > -1))
        {
            $("#year1").attr("readonly", true);
            $("#curr").attr("readonly", true);
            if (total_emm < (num_emp_in + num_emp_out))
            {
                alert("total of employee small ");
            }

            else {

                var total_e = num_emp_in + num_emp_out;
                var total_o = num_oppo_in + num_oppo_out;
                var total_coast = (cost_per_O) * (num_oppo_in + num_oppo_out);
                var total_coasr_for = 0;
                var local_cost = parseFloat($("#L").val());
                var t = total_coast + local_cost;

                $("#L").val(t);


                var FOR = 0.0;
                var year = $("#year1").val();
                var cur = $("#curr").val();

                debugger
                if (year > "0" && cur > "0") {
                    $.ajax({
                        type: "post",
                        url: "/TrainingOpportunity/getcurrency",
                        data: { "local": total_coast, "year": year, "cuID": cur },
                        async:false,
                        success: function (result) {
                            debugger
                            var F_cost = parseFloat($("#F").val());
                            FOR = result + F_cost;
                            $("#F").val(FOR);
                            total_coasr_for = result;

                        },
                        error: function () {


                        }
                    });
                }



                finalresult += "<tr>" +
                    "<td hidden><input hidden  class = 'form-control' required type='number'  name='Classification__'   value='" + classification_ID + "' /></td>" +
                    "<td><input  required  class = 'form-control' value='" + classification_text + "'  readonly='readonly'/></td>" +
                    "<td hidden><input hidden  class = 'form-control' required type='number'  name='job__'   value='" + cadre_ID + "' /></td>" +
                    "<td><input  required class = 'form-control'  value='" + cadre_text + "'  readonly='readonly'/></td>" +
                    "<td hidden><input hidden  class = 'form-control' required type='number'  name='education__'   value='" + education_ID + "' /></td>" +
                    "<td><input  required class = 'form-control' value='" + education_text + "'  readonly='readonly'/></td>" +
                    "<td><input  type='number' class = 'form-control' value='" + total_e + "' min='0' name='total_emp__' readonly='readonly' /></td>" +
                    "<td><input  type='number' class = 'form-control' value='" + total_o + "' min='0' name='total_oppo__' readonly='readonly' /></td>" +
                    "<td><input  type='number' class = 'form-control'  value='" + cost_per_O + "' min='0' name='cosrtperoppo__' readonly='readonly'  /></td>" +
                    "<td><input  type='number' class = 'form-control' value='" + total_coast + "' min='0' name='total_co' readonly='readonly' /></td>" +
                    "<td><input hidden type='number' class = 'form-control' value='" + total_coasr_for + "' min='0' name='FOR' readonly='readonly' /></td>" +
                  "<td hidden><input  type='number' class = 'form-control'  value='" + num_emp_in + "' min='0' name='emp_in__' readonly='readonly' /></td>" +
                    "<td><input  type='number' class = 'form-control'  value='" + num_oppo_in + "' min='0' name='oppo_in__' readonly='readonly'  /></td>" +
                    "<td><input  type='number' class = 'form-control' value='" + num_emp_out + "' min='0' name='emo_out__' readonly='readonly'  /></td>" +
                    "<td><input  type='number' class = 'form-control' value='" + num_oppo_out + "' min='0' name='oppo_out__' readonly='readonly' /></td>" +
                    "<td><input type='button' style='margin-left:3px' value=@organ.remove class='remove btn btn-danger' onclick='remove($(this))' /></td></tr>"
                $("#emp2").append(finalresult);

              $("#job_l").select2("val","");
              $("#educ").select2("val","");
              $("#total_em").val("0");
              $("#n_e_in").val("0");
              $("#n_e_out").val("0");
              $("#n_opp_in").val("0");
              $("#n_opp_out").val("0");
              $("#c_p_opp").val("0");



            }
        }

    }
</script>


<script>
    $(function () {
     
        $("#next_year").val(parseInt(@Model.TrainingOpportunity_Header.Year) + parseInt(1));
        get_all_content();
    })
</script>