@model IEnumerable<HR.Models.SetupPayroll.ManualPaymentTypes_Header>
@using HR.Resource;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/MainLayOut.cshtml";

}
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="form-group">
            <div class="col-md-5">
            </div>
            <div class="col-md-6">
                <h1>@Payroll.ManaualPaymentSettelment</h1>
            </div>
        </div>
        <div class="box">
            <div class="box-header">
                <p class="lead">
                    <a href="@Url.Action("Create", "ManualPaymentTypes")" class="btn btn-success btn-sm"><i class="fa fa-edit"></i>@Payroll.AddNewManualPaymentTypes</a>
                </p>
            </div>

            <!-- /.box-header -->
            <div class="box-body">
                @if (TempData["Message"] != null)
                {
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        @TempData["Message"]
                    </div>
                }

                <table id="categories" class="table table-bordered table-striped text-center">
                    <thead>
                        <tr>
                            <th>@Payroll.Paymenttypecode</th>
                            <th>@Payroll.Paymenttypedescription</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.PaymentTypeCode</td>
                                <td>@item.PaymentTypeDesc</td>

                                <td>
                                    <a href="@Url.Action("Edit", "ManualPaymentTypes", new {id = item.ID})" class="create-btn" style="width:50px"><i class="fa fa-edit"></i>@organ.change</a>
                                    <a href="@Url.Action("Delete", "ManualPaymentTypes", new {id = item.ID})" class="create-btn"><i class="far fa-trash-alt"></i>@organ.delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>

    </section>

</div>

<!-- page script -->
<script>
    var $ = jQuery;

    $(document).ready(function () {
        $('#categories').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
            "order" : 1
        });
    });
</script>

@section scripts{}
<style>
    table {
        margin-top: 70px;
        border: 1px solid #ddd;
        overflow-y: auto;
        white-space: nowrap;
    }

        table thead {
            border-bottom: 3px solid #bbb
        }

    .create-btn {
        margin-left: 5px;
        margin-right: 5px;
        color: #000
    }

        .create-btn svg {
            color: #0d62aa
        }
</style>