@model IEnumerable<HR.Models.Exchange_Rate>
@using HR.Resource;
@using HR.Models.Infra;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}


<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">

        <div class="box">
            <div class="box-header">
                <p class="lead">
                    <a href="@Url.Action("Create", "ExchangeRate")" class="btn btn-success btn-sm"><i class="fa fa-edit"></i>@Basic.add_new_exchange_rate</a>
                </p>
            </div>

            <!-- /.box-header -->
            <div class="box-body">
                @if (TempData["Message"] != null)
                {
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        @TempData["Message"]
                    </div>
                }

                <table id="categories" class="table table-bordered table-striped text-center">
                    <thead>
                        <tr>
                           
                            <th>@Basic.currency</th>
                            <th>@Basic.symbol</th>
                            <th>@Basic.year</th>
                            <th>@Basic.rate</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var list=new List<months>();
                            <tr>
                                <td>@item.Currency.Name</td>
                                <td>@item.Currency.symbol</td>
                                <td>@item.Year</td>
                                
                                <td>@Html.DropDownList("Name",new SelectList((item.months.Select(x => new { name = x.Name+"========>"+x.value })), "name", "name"),"Rates", new { @class = "select2" })</td>
                                @*<select class = "select2">
                                    @foreach (var i in item.months )
                                    {
                                        
                                            <option value="">@i.Name  @i.value </option>
                                    }
                                </select>*@

                                <td>
                                  
                                    <a href="@Url.Action("Edit", "ExchangeRate", new {id = item.ID})" class="btn btn-primary btn-sm" style="width:50px"><i class="fa fa-edit"></i>@organ.change</a>
                                    <a href="@Url.Action("delete", "ExchangeRate", new {id = item.ID})" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>@organ.delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>@Basic.currency</th>
                            <th>@Basic.symbol</th>
                            <th>@Basic.year</th>
                            <th>@Basic.rate</th>

                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </section>

</div>

<!-- page script -->
<script>
    var $ = jQuery;

    $(document).ready(function () {
        $('#categories').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
            "order" : 1
        });
    });
</script>

@section scripts{}

