@model HR.Models.ViewModel.manpowerVM

@{
    ViewBag.Title = "edit";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}

@using HR.Resource;
@Scripts.Render("~/bundles/jqueryval")
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            @organ.Editmanpower
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                @using (Html.BeginForm("edit", "manpower", FormMethod.Post, new { id = "dd",enctype = "multipart/form-data" }))
                {

                    @Html.AntiForgeryToken()
                    <input name="levelcode" value="" hidden />
                    <input name="levelname" value="" hidden />
                    <input name="count" value="" hidden />
                    <input name="new" value="" hidden />
                    <input name="q1" value="" hidden />
                    <input name="q2" value="" hidden />
                    <input name="q3" value="" hidden />
                    <input name="q4" value="" hidden />
                    <input name="level_ID1" value="" hidden />
                    <input name="job_ID1" value="" hidden />
                    <input name="sub_ID1" value="" hidden />
                    @Html.HiddenFor(m => m.man_power.ID);
                    <div class="form-horizontal">
                        <hr />
                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Message"]
                            </div>
                        }
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        <div class="form-group">
                            <label style="color:red" class="control-label col-md-1">
                                <span> @organ.fromyear </span>
                            </label>
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.man_power.from_year, new { htmlAttributes = new { @class = "form-control", id = "YF", type = "number", @min = "1989" } })
                            </div>
                            <label style="color:red" class="control-label col-md-1">
                                <span> @organ.toyear</span>
                            </label>
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.man_power.to_year, new { htmlAttributes = new { @class = "form-control", id = "YT", type = "number", @min = "1990" } })
                            </div>
                            <label style="color:red" class="control-label col-md-1">
                                <span>@organ.organizationchart</span>
                            </label>
                            <div class="col-md-2">
                                @Html.DropDownListFor(m => m.selected_organ, new SelectList(ViewBag.organ, "ID", "Code"), organ.organizationchart, new { @class = "select2", @onchange = "full_job()", @id = "employeeId" })
                                @Html.ValidationMessageFor(model => model.selected_organ, "", new { @class = "text-danger" })

                            </div>
                            <input id="btnSave" style="width:150px" class="btn btn-success" onclick="ch()" value=@organ.Save />
                            <a style="width:150px" href="@Url.Action("index", "manpower")" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>@organ.Back</a>

                        </div>


                        <div class="form-group">
                            <label class="control-label col-md-1">
                                <span>@organ.jobs</span>
                            </label>

                            <select class="col-md-2 select2" id="employee181"></select>
                            <label class="control-label col-md-1">
                                <span>@organ.JobLevelSetup</span>
                            </label>
                            <div class="col-md-2">
                                @Html.DropDownList("le", new SelectList(ViewBag.setup, "ID", "Code"), organ.JobLevelSetup, new { @class = "select2", @id = "lev" })
                            </div>
                            <label class="control-label col-md-1">
                                <span>@organ.jobtitleSubclass</span>
                            </label>
                            <div class="col-md-2">
                                @Html.DropDownList("su", new SelectList(ViewBag.sub, "ID", "Code"), organ.jobtitleSubclass, new { @class = "select2", @id = "sub1" })

                            </div>



                            <div class="col-md-1">
                                <input type="button" onclick="add()" style="width:300px" value=@organ.additems class="btn btn-success " />

                            </div>
                        </div>






                        <ul class="nav nav-tabs bordered">
                            <!-- available classes "bordered", "right-aligned" -->
                            <li class="active">
                                <a href="#Budgetdetails" data-toggle="tab">
                                    <span class="visible-xs"><i class="entypo-home"></i></span>
                                    <span class="hidden-xs">@organ.powerplandetails</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="Budgetdetails" style="overflow: hidden;width: auto;height: auto;">
                              
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                <label class="control-label col-md-3">@Basic.jobtitle </label>
                                            </th>
                                            <th>
                                                <label class="control-label col-md-3">@organ.JobLevelSetup</label>
                                            </th>
                                            <th>
                                                <label class="control-label col-md-3">@organ.jobtitleSubclass</label>
                                            </th>
                                            <th>
                                                <label class="control-label col-md-3">@organ.Currentjobs</label>
                                            </th>
                                            <th>
                                                <label class="control-label col-md-3">@organ.newjobs</label>
                                            </th>
                                            <th>
                                                <label class="control-label col-md-3">@organ.quarter1</label>
                                            </th>
                                            <th>
                                                <label class="control-label col-md-3">@organ.quarter2</label>
                                            </th>
                                            <th>
                                                <label class="control-label col-md-3">@organ.quarter3</label>
                                            </th>
                                            <th>
                                                <label class="control-label col-md-3">@organ.quarter4</label>
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="Budgetdetai">
                                        @for (var io = 0; io < Model.man_power.items_man_power.Count(); io++)
                                        {
                                            @*@Html.HiddenFor(Model => Model.man_power.items_man_power[io].cadre_code.ID)
                                            @Html.HiddenFor(Model => Model.man_power.items_man_power[io].cadre_code.Code)
                                            @Html.HiddenFor(Model => Model.man_power.items_man_power[io].cadre_code.Name)*@
                                            @Html.HiddenFor(Model => Model.man_power.items_man_power[io].new_jobs)
                                            @Html.HiddenFor(Model => Model.man_power.items_man_power[io].quarter1)
                                            @Html.HiddenFor(Model => Model.man_power.items_man_power[io].quarter2)
                                            @Html.HiddenFor(Model => Model.man_power.items_man_power[io].quarter3)
                                            @Html.HiddenFor(Model => Model.man_power.items_man_power[io].quarter4)
                                            @Html.HiddenFor(Model => Model.man_power.items_man_power[io].current_jobs)
                                      
                                            <tr id="manpoweritems">

                                                <td hidden> <input hidden class='form-control' name='job_ID1' value='@Model.man_power.items_man_power[io].job_title_cards.ID' readonly='readonly' /></td>
                                                <td hidden> <input hidden class='form-control' name='level_ID1' value='@Model.man_power.items_man_power[io].job_title_cards.ID' readonly='readonly' /></td>
                                                <td hidden> <input hidden class='form-control' name='sub_ID1' value='@Model.man_power.items_man_power[io].job_title_cards.ID' readonly='readonly' /></td>
                                                <td> <input class='form-control'  value="@Model.man_power.items_man_power[io].job_title_cards.Code -[ @Model.man_power.items_man_power[io].job_title_cards.name ]" readonly='readonly' /></td>
                                                <td> <input class='form-control'  value="@Model.man_power.items_man_power[io].job_level_setup.Name -[ @Model.man_power.items_man_power[io].job_level_setup.Name ]" readonly='readonly' /></td>
                                                <td> <input class='form-control'  value="@Model.man_power.items_man_power[io].Job_title_sub_class.Name -[ @Model.man_power.items_man_power[io].Job_title_sub_class.Name ]" readonly='readonly' /></td>
                                                <td> <input class='form-control' name='count' value='@Model.man_power.items_man_power[io].current_jobs' readonly='readonly' /></td>
                                                <td><input class='form-control' name='new' type='number' min='0' value='@Model.man_power.items_man_power[io].new_jobs' /> </td>
                                                <td><input class='form-control' name='q1' type='number' min='0' value='@Model.man_power.items_man_power[io].quarter1' /> </td>
                                                <td> <input class='form-control' name='q2' type='number' min='0' value='@Model.man_power.items_man_power[io].quarter2' /></td>
                                                <td> <input class='form-control' name='q3' type='number' min='0' value='@Model.man_power.items_man_power[io].quarter3' /></td>
                                                <td> <input class='form-control' name='q4' type='number' min='0' value='@Model.man_power.items_man_power[io].quarter4' /></td>
                                                <td><input type='button' value=@organ.remove class='remove btn btn-danger' onclick='remove($(this))' /></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>

                }


            </div>
        </div>
    </section>
</div>


@section scripts{}


<script>
    $("#YF").keyup(function (e) {
        var value = $("#YF").val();
        $("#YT").val(parseInt(parseInt(value) + parseInt(1)));
    });
    $("#YT").keyup(function (e) {
        var value = $("#YT").val();
        $("#YF").val(parseInt(parseInt(value) - parseInt(1)));
    });



    full_job();



    function full_job() {
        debugger
        var id = $("#employeeId").val();
        if (id == "") {
            $("#employee181").html("");
            $("#employee181").select2("val", " ")
            finalresult = "<option selected value='0' > Choose organiztion at first </option>";
            $("#employee181").html(finalresult);
            $("#employee181").select2("val", "0")
        }
        $.ajax({
            type: "post",
            url: "/Helper/getjob",
            data: { "id": id },
            success: function (result) {
                debugger
                var finalresult = "";
                finalresult = "<option selected value='0' > Choose job </option>";
                $.each(result, function (key, value) {

                    finalresult += "<option value='" + value.ID + "' >" + value.Code + "</option>";

                });
                debugger
                $("#employee181").html(finalresult);
                $("#employee181").select2("val", "0")
            },
            error: function () {

                $("#employee181").html(" ");
                //$("#codeid").val("");
            }
        });
    }

        @*function full_level() {

            var id = $("#employeeId").val();
            if (id == "") {
                $("#employee181").html("");
                $("#employee181").select2("val", "0")
                finalresult = "<option selected value='0' > Choose organiztion at first </option>";
                $("#employee181").html(finalresult);
                $("#employee181").select2("val", "0")
            }
            $.ajax({
                type: "post",
                url: "/Helper/Getlevel",
                data: { "id": id },
                success: function (result) {

                    var finalresult = "";
                    finalresult = "<option selected value='0' > @HR.Resource.organ.JobLevelSetup </option>";
                    $.each(result, function (key, value) {

                        finalresult += "<option value='" + value.ID + "' >" + value.Code + "</option>";

                    });
                    $("#employee181").html(finalresult);
                    $("#employee181").select2("val", "0")
                },
                error: function () {

                    $("#employee181").html(" ");
                    //$("#codeid").val("");
                }
            });
        }
        full_level();*@



    function add()
    {


        var employee11 = $("#employee181").val();
        var it = $("#manpoweritems");
        if (it.length == 1)
        {

            var pp = $("#Budgetdetai").find("tr");
            var flag = 0;
            for (var o = 0; o < pp.length; o++) {
                var inputs = pp[o].children;
                var first = parseInt(inputs[8].children[0].value) + parseInt(inputs[9].children[0].value) + parseInt(inputs[10].children[0].value) + parseInt(inputs[11].children[0].value);
                var second = parseInt(inputs[6].children[0].value) + parseInt(inputs[7].children[0].value);
                if (second < first) {
                    flag = 1;
                    break;
                }
            }

            if (flag == 1)
            {

                alert("sumtion greater than total !");
            }
            else
            {
                if (employee11 == "0" || employee11 == "" || employee11 == " ") {

                    alter("you must choose organization unit then cadre")
                }
                else
                {
                    debugger
                    var id = $("#employee181").val();
                    var job = document.getElementById("employee181");
                    var job_ID = id;
                    var job_code = job.options[job.selectedIndex].text;
                    var level = document.getElementById("lev");
                    var level_ID = $("#lev").val();
                    var level_code = level.options[level.selectedIndex].text;
                    var sub = document.getElementById("sub1");
                    var sub_ID = $("#sub1").val();
                    var sub_code = sub.options[sub.selectedIndex].text;
                    if (sub_ID != "" && level_ID != "" && job_ID!="")
                    {
                    $.ajax({
                        type: "post",
                        url: "/Helper/get_num_of_free_jobs",
                        data: { "id": id },
                        success: function (result) {

                            var tr = "<tr id='manpoweritems'>" +
              "<td hidden> <input  class='form-control' hidden   name='job_ID1'      value='" + job_ID + "' readonly='readonly' /></td>" +
              "<td>        <input  class='form-control'          name='job_code'    value='" + job_code + "' readonly='readonly' /></td>" +
              "<td hidden> <input  class='form-control' hidden   name='level_ID1'    value='" + level_ID + "' readonly='readonly' /></td>" +
              "<td>        <input  class='form-control'          name='level_code'  value='" + level_code + "' readonly='readonly' /></td>" +
              "<td hidden> <input  class='form-control' hidden   name='sub_ID1'      value='" + sub_ID + "' readonly='readonly' /></td>" +
              "<td>        <input  class='form-control'          name='sub_code'    value='" + sub_code + "' readonly='readonly' /></td>" +
                      "<td><input  class='form-control'  name='count'   value='" + result.count + "' readonly='readonly' /></td>" +
                      "<td><input  class='form-control'  name='new' type='number'  min='0'  value='" + 0 + "'  /></td>" +
                      "<td><input  class='form-control'  name='q1' type='number'  min='0'  value='" + 0 + "'  /></td>" +
                      "<td><input  class='form-control'  name='q2' type='number'  min='0'  value='" + 0 + "'  /></td>" +
                      "<td><input  class='form-control'  name='q3' type='number'  min='0'  value='" + 0 + "'  /></td>" +
                      "<td><input  class='form-control' name='q4' type='number'  min='0'  value='" + 0 + "'  /></td>" +
                      "<td><input type='button'    value=@organ.remove class='remove btn btn-danger' onclick='remove($(this))' /></td>" +
                      "</tr>"
                            $("#Budgetdetai").append(tr);
                            $("#employee181").select2("val", "0");

                    },
                        error: function () {
                            alter("some error");
                    }

                    });
                }


                }
            }

        }
        else
        {
            if (employee11 == "0" || employee11 == "" || employee11 == " ") {

                    alter("you must choose organization unit then cadre")
                }
                else
                {
                var id = $("#employee181").val();
                var job = document.getElementById("employee181");
                var job_ID = id;
                var job_code = job.options[job.selectedIndex].text;
                var level = document.getElementById("lev");
                var level_ID = $("#lev").val();
                var level_code = level.options[level.selectedIndex].text;
                var sub = document.getElementById("sub1");
                var sub_ID = $("#sub1").val();
                var sub_code = sub.options[sub.selectedIndex].text;
                if (sub_ID != "" && level_ID != "" && job_ID != "") {
                    $.ajax({
                        type: "post",
                        url: "/Helper/get_num_of_free_jobs",
                        data: { "id": id },
                        success: function (result) {

                            debugger
                            var tr = "<tr id='manpoweritems'>" +
                 "<td hidden > <input  class='form-control' hidden   name='job_ID1'      value='" + job_ID + "' readonly='readonly' /></td>" +
                  "<td>        <input  class='form-control'          name='job_code'    value='" + job_code + "' readonly='readonly' /></td>" +
                  "<td hidden> <input  class='form-control' hidden   name='level_ID1'    value='" + level_ID + "' readonly='readonly' /></td>" +
                  "<td>        <input  class='form-control'          name='level_code'  value='" + level_code + "' readonly='readonly' /></td>" +
                  "<td hidden> <input  class='form-control' hidden   name='sub_ID1'      value='" + sub_ID + "' readonly='readonly' /></td>" +
                  "<td>        <input  class='form-control'          name='sub_code'    value='" + sub_code + "' readonly='readonly' /></td>" +
                         "<td><input  class='form-control' name='count'   value='" + result.count + "' readonly='readonly' /></td>" +
                         "<td><input  class='form-control' name='new' type='number'  min='0'  value='" + 0 + "'  /></td>" +
                         "<td><input  class='form-control' name='q1' type='number'  min='0'  value='" + 0 + "'  /></td>" +
                         "<td><input  class='form-control' name='q2' type='number'  min='0'  value='" + 0 + "'  /></td>" +
                         "<td><input  class='form-control' name='q3' type='number'  min='0'  value='" + 0 + "'  /></td>" +
                         "<td><input  class='form-control' name='q4' type='number'  min='0'  value='" + 0 + "'  /></td>" +
                         "<td><input type='button' value=@organ.remove class='remove btn btn-danger' onclick='remove($(this))' /></td>" +
                         "</tr>"

                            $("#Budgetdetai").append(tr);
                            $("#employee181").select2("val", "0");

                        },
                        error: function () {
                            alter("some error");
                        }

                    });

                }
                }
        }


    }
    function remove(thi)
    {

        thi.parent().parent().remove();
    }
    function ch() {
        debugger
        var it = $("#manpoweritems");
        if (it.length == 1) {

            var pp = $("#Budgetdetai").find("tr");
            var flag = 0;
            for (var o = 0; o < pp.length; o++) {
                debugger
                var inputs = pp[o].children;
                var first = parseInt(inputs[8].children[0].value) + parseInt(inputs[9].children[0].value) + parseInt(inputs[10].children[0].value) + parseInt(inputs[11].children[0].value);
                var second = parseInt(inputs[6].children[0].value) + parseInt(inputs[7].children[0].value);
                if (second < first) {
                    flag = 1;
                    break;
                }
            }
            if (flag == 1) {
                alert("sumtion greater than total !");
            }
            else if (flag == 0) {
                $("#dd").submit();
            }
        }

    }
</script>
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>