@model HR.Models.ViewModel.Report_RecuirtmentVM
    @using HR.Resource;
@{
    ViewBag.Title = "job_title";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}


<script language="javascript">
    function changeSelection(value)
    {

      var length = document.getElementById("ch").options.length;
      debugger
      if (value == 0) {
         
          for (var i = 1; i < length; i++) {
              debugger
              document.getElementById("ch").options[i].selected = "selected";
          }

      document.getElementById("ch").options[0].selected = "";
      }

  }
</script>
        <div class="content-wrapper">

    

            <!-- Main content -->
            <section class="content">

                <div class="box">

                    <!-- /.box-header -->
                    <div class="box-body">

                        @using (Html.BeginForm("Recuirtment", "Reports_Recuirtment", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <input name="nationality" hidden />
                            <input name="job_setup" hidden />
                            @*<input name="name" hidden />*@
                            <input name="Blood_group" hidden />
                            <input name="Full_Name" hidden />
                            <input name="Full" hidden />
                            <input name="Marital_Status" hidden />
                            <input name="Religion" hidden />
                            <input name="Gender" hidden />
                            <input name="ID_type" hidden />
                            <input name="List_Display" hidden />
                            @Html.AntiForgeryToken()
                            <div class="form-horizontal">

                                <hr />

                                @if (TempData["Message"] != null)
                                {
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        @TempData["Message"]
                                    </div>
                                }

                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        <span> Full</span>
                                    </label>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(m => m.Full, new SelectList(ViewBag.Full, "ID", "Code"), new { @onchange = "changeSelection(this.value)", @data_placeholder = organ.parentjob, @class = "form-control select2", @multiple = "multiple" })
                                    </div>
                                    <label class="control-label col-md-2">
                                        Full_Name
                                    </label>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(m => m.Full_Name, new SelectList(ViewBag.Full_Name, "ID", "Code"), new { @data_placeholder = organ.JobLevelSetup, @class = "select2", @style = "width:100%", @multiple = "multiple" })
                                    </div>



                                </div>
                                <div class="form-group">
                                    @*<label class="control-label col-md-2">
                        code
                    </label>*@
                                    @*<div class="col-md-4">
                        @Html.DropDownListFor(m => m.code, new SelectList(ViewBag.code, "ID", "Code"), new { @data_placeholder = organ.organizationchart, @class = "select2", @style = "width:100%", @multiple = "multiple" })
                    </div>*@

                                    <label class="control-label col-md-2">
                                        @organ.nationality
                                    </label>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(m => m.nationality, new SelectList(ViewBag.nationality, "ID", "Code"), new { @data_placeholder = organ.nationality, @class = "select2", @multiple = "multiple" })
                                    </div>

                                    <label class="control-label col-md-2">
                                        Religion
                                    </label>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(m => m.Religion, new SelectList(ViewBag.Religion, "ID", "Code"), new { @class = "select2", @multiple = "multiple" })
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Gender
                                    </label>
                                    <div class="col-md-4">
                                        @Html.EnumDropDownListFor(m => m.Gender, new { @data_placeholder = organ.working_system, @class = "select2", @multiple = "multiple" })
                                    </div>
                                    <label class="control-label col-md-2">
                                        ID_type
                                    </label>
                                    <div class="col-md-4">
                                        @Html.EnumDropDownListFor(m => m.ID_type, new { @data_placeholder = organ.parment, @class = "select2", @multiple = "multiple" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Blood_group
                                    </label>
                                    <div class="col-md-4">
                                        @Html.EnumDropDownListFor(m => m.Blood_group, new { @data_placeholder = organ.working_system, @class = "select2", @multiple = "multiple" })
                                    </div>
                                    <label class="control-label col-md-2">
                                        Marital_Status
                                    </label>
                                    <div class="col-md-4">
                                        @Html.EnumDropDownListFor(m => m.Marital_Status, new { @data_placeholder = organ.parment, @class = "select2", @multiple = "multiple" })
                                    </div>
                                </div>

                                @*<label class="control-label col-md-2">
                   @organ.gender
                </label>
                <div class="col-md-4">
                    @Html.EnumDropDownListFor(m => m.gender_list, new { @class = "form-control example-getting-started", @multiple = "multiple" })
                </div>*@
                                @*<div class="form-group">
                    <label class="control-label col-md-2">
                        @organ.num_slots
                    </label>

                    <div class="col-md-4">
                        @Html.EditorFor(m => m.numSlot, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <label class="control-label col-md-2">
                        @organ.validity
                    </label>
                    <div class="col-md-4">
                        @Html.EnumDropDownListFor(m => m.validity_list, new { @class = "select2" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @organ.Toage
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(m => m.toAge, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <label class="control-label col-md-2">
                        @organ.Fromage
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(m => m.fromAge, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>*@
                                <div class="form-group">

                                    @*<label class="control-label col-md-2">
                        @organ.Fromage
                    </label>
                    <div class="col-md-4">
                        @Html.EnumDropDownListFor(m => m.validity_list, new { @class = "form-control example-getting-started", @multiple = "multiple" })
                    </div>*@
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        @organ.selectcolumnstoDisplay
                                    </label>
                                    <select data_placeholder=@organ.selectcolumnstoDisplay name="List_Display" class="select2 col-md-4" multiple="multiple">
                                        <option value="0">full </option>
                                        <option value="1">Full_Name </option>
                                        @*<option value="2">Description </option>
                        <option value="3">Job Summery </option>*@
                                    <option value="4">Nationality</option>
                                    <option value="6">Religion </option>
                                    <option value="7">Gender </option>
                                    <option value="8">ID_type </option>
                                    <option value="9">Blood_group </option>
                                    <option value="10">Marital_Status </option>
                                        @*<option value="11">Gender </option>*@
                                        @*<option value="12">nationlity</option>*@
                                        <option value="13">Validity </option>
                                        <option value="14">Type of worke </option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <button type="submit" id="btnSave" class="btn btn-success" name="Command" value="Save">@Basic.Create</button>
                                        <a href="@Url.Action("index","Home")" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>@Basic.Back</a>
                                    </div>
                                </div>

                            </div>
                        }

                    </div>

                </div>

            </section>
        </div>
  




<script>

$('select').select2({
    minimumResultsForSearch: -1,
    placeholder: function(){
        $(this).data('placeholder');
    }
})
</script>

@section scripts{}

