@model HR.Models.Application.Contract_Information
@using HR.Resource;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}

@Scripts.Render("~/bundles/jqueryval")
<div class="content-wrapper">

   

    <!-- Main content -->
    <section class="content">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                @using (Html.BeginForm("Edit", "Contract_Information", new { id2 = ViewBag.idemp }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                <div class="sec-nav">
                    <div><i class="far fa-save"></i><button type="submit" class="create-btn" />@organ.Save</div>
                    <div><i class="fas fa-plus"></i><a href="@Url.Action("create", "Contract_Information")" class="create-btn">@pers_2.new_</a></div>
                    <div><i class="far fa-trash-alt"></i><input type="button" href="@Url.Action("index","Contract_Information")" class="create-btn" value=@organ.delete /></div>
                    <div><i class="fas fa-undo"></i><a style="" href="@Url.Action("index","Application",new {id=ViewBag.idemp})" class="create-btn"> @pers_2.Back</a></div>
                    <div><i class="far fa-save"></i> <button type="submit" id="btnSubmit" name="Command" value="Submit" class="create-btn" />@Personnel.ApplicantProfile</div>
                </div>
                    <hr /><hr /><hr />
                    <section class="content-header">
                        <h1>
                            @Personnel.EditContractInformation
                        </h1>
                    </section>
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">

                        <hr />

                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Message"]
                            </div>
                        }

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                        <div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label style="color:red"> @Personnel.CommitteResolutionNo</label>
                                    <input type="text" value="@ViewBag.ApplicationCode" disabled />
                                </div>
                                <div class="col-md-4">
                                    <label style="color:red"> @Personnel.ApplicantId</label>
                                    <input type="text" value="@ViewBag.ApplicationApp" disabled />
                                </div>
                                <div class="col-md-4">
                                    <label style="color:red">@Personnel.Contract</label>
                                    @Html.EditorFor(model => model.Contract, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Contract, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    <label style="color:red">@Personnel.ContractType</label>
                                    @Html.DropDownListFor(m => m.Contract_TypeId, new SelectList(ViewBag.Contract_Type, "ID", "Code"), Personnel.SelectContractType, new { @class = "select2", @onchange = "Nationality()", @id = "nationality" })
                                    @Html.ValidationMessageFor(model => model.Contract_TypeId, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    <label style="color:red">@Personnel.Employeement</label>
                                    @Html.EnumDropDownListFor(model => model.Employment_type, new { @class = "select2" })
                                    @Html.ValidationMessageFor(model => model.Employment_type, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <label style="color:red">@Personnel.Startdate</label>
                                    @Html.EditorFor(model => model.Start_Date, new { htmlAttributes = new { @class = "form-control @*datepicker*@ StartDate yy dt", @id = "Start_date", @onchange = "Save()", @autocomplete = "off", @type = "date" } })
                                    @Html.ValidationMessageFor(model => model.Start_Date, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    <label style="color:red">@Personnel.Years</label>
                                    @Html.EditorFor(model => model.Years, new { htmlAttributes = new { @readonly = "true", @class = "form-control", id = "Yearr", @type = "number", @min = 0 } })
                                    @Html.ValidationMessageFor(model => model.Years, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    <label style="color:red">@Personnel.Enddate</label>
                                    @Html.EditorFor(model => model.End_Date, new { htmlAttributes = new { @class = "form-control @*datepicker*@ EndDate yyy dt ", @id = "End_date", @onchange = "Save2()", @autocomplete = "off", @type = "date" } })
                                    @Html.ValidationMessageFor(model => model.End_Date, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    <label style="color:red">@Personnel.Months</label>
                                    @Html.EditorFor(model => model.Months, new { htmlAttributes = new { @readonly = "true", @class = "form-control", id = "months", @type = "number", @min = 0 } })
                                    @Html.ValidationMessageFor(model => model.Months, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    <label style="color:red">@Personnel.Approvedby</label>
                                    @Html.DropDownListFor(m => m.EmployeeProfileId, new SelectList(ViewBag.Employee_Profile, "ID", "Code"), @Personnel.SelectEmployee, new { @readonly = true, @class = "select2", @onchange = "employee()", id = "employeeId" })
                                    @Html.ValidationMessageFor(model => model.EmployeeProfileId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <label style="color:red">@Personnel.Approveddate</label>
                                    @Html.EditorFor(model => model.Approved_Date, new { htmlAttributes = new { @class = "form-control", @id = "Approved_Date", @type = "date" } })
                                    @Html.ValidationMessageFor(model => model.Approved_Date, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    <label>@Personnel.Comments</label>
                                    @Html.TextAreaFor(model => model.ApplicantNotes, 4, 40, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.ApplicantNotes, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" hidden>
                                <div class="col-md-offset-2 col-md-10">
                                    <a href="@Url.Action("index","Application",new {id=ViewBag.idemp})" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>@Personnel.Back</a>
                                    <input type="submit" value="@Personnel.Edit1" class="btn btn-success" />
                                </div>
                            </div>
                        </div>

                    </div>

                }

            </div>

        </div>
    </section>
</div>

@section scripts{}
<script>
    $(document).ready(function () {
        debugger
        GetDataById2('@Model.Start_Date', "Start_date");
        GetDataById2('@Model.End_Date', "End_date");
        GetDataById2('@Model.Approved_Date', "Approved_Date");
        Save();
        Save2();
    });

</script>
<script>
    function Nationality() {

        var id = $("#nationality").val();
        $.ajax({
            type: "post",
            url: "/Helper/GetContract_Type",
            data: { "id": id },
            success: function (result) {

                $("#NationalityName").val(result.Name);
            },
            error: function () {

                $("#NationalityName").val(" ");
            }
        });
    }

    function employee3() {

        var id = $("#employeeId3").val();
        $.ajax({
            type: "post",
            url: "/Helper/GetSubjectSetup",
            data: { "id": id },
            success: function (result) {

            },
            error: function () {

            }
        });
    }
    function GetDiffDates(StartDate, EndDate) {
        if (StartDate && EndDate) {
            $.get("/Employee_military_service_calling/DifferenceTwoDates?StartDate=" + StartDate + '&EndDate=' + EndDate, function (data, status) {

                if (data) {
                    $("#Days").val(data.DateDiff.Days);
                    $("#months").val(data.DateDiff.Months);
                    $("#Yearr").val(data.DateDiff.Years);
                }
            });
        }
    }

    function Save() {

        var StartDate = new Date($(".StartDate").val());
        var EndDate = new Date($(".EndDate").val());

        var from = $(".StartDate").val();
        var to = $(".EndDate").val();

        if (to > from) {
            GetDiffDates(from, to);
        }
        else {
            $("#Yearr").val("0");
            $("#months").val("0");
            $("#Days").val("0");
        }
    };

    function Save2() {

        var StartDate = new Date($(".StartDate").val());
        var EndDate = new Date($(".EndDate").val());

        var from = $(".StartDate").val();
        var to = $(".EndDate").val();
        if (to > from) {
            GetDiffDates(from, to);
        }
        else {
            $("#Yearr").val("0");
            $("#months").val("0");
            $("#Days").val("0");
        }
    };
    function GetDataById2(date, id) {
        debugger
        var valx = new Date(date);
        var month;
        if ((valx.getMonth() + 1) < 10) {
            month = "0" + (valx.getMonth() + 1).toString();
        }
        else {
            month = date.getMonth() + 1;
        }
        var day = parseInt(valx.getDate());
        if (day < 10) {
            day = "0" + (valx.getDate()).toString();
        }
        else {
            day = valx.getDate();
        }
        var d = valx.getFullYear() + '-' + month + '-' + day;
        $('#' + id).val(d);
    }

</script>
<style>

    /*Create Page*/


    .sec-nav {
        z-index: 9999;
        position: fixed;
        top: 47px;
        background: #faf9f8;
        border-bottom: 1px solid #bebbb8;
        display: block;
        width: 100%;
        left: 50px;
        padding-left: 10px;
        height: 60px;
        line-height: 60px;
    }

        .sec-nav div {
            display: inline-block;
            padding: 5px 8px;
            width: unset;
            border: 0;
            color: #000;
            font-size: 16px;
            height: 60px;
        }

            .sec-nav div:hover {
                background: #eee;
                color: #000;
            }

                .sec-nav div:hover input {
                    color: #000;
                }

    .create-btn {
        border: 0;
        height: 100%;
        background-color: transparent;
    }

    .sec-nav div svg {
        color: #2266e3;
        font-size: 17px;
    }

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        /*float: unset*/
    }

    label {
        text-align: left;
        font: normal normal 400 12px/18px 'Segoe UI',tahoma,sans-serif;
        color: #605e5c;
        display: block;
        margin-bottom: 0;
        max-width: 220px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 600;
        margin-top: 15px;
    }

    .form-horizontal .form-group {
        margin: 0 !important;
    }

    input {
        height: 35px;
        color: #000;
    }

        input:active {
            border: 1px solid #2266e3;
        }

    .form-group .row > div {
        margin-bottom: 10px;
    }

    .content-wrapper {
        margin-left: 15px;
    }

    .col-md-4 {
        width: 20% !important;
        margin-bottom: 15px;
    }
    .col-md-3 {
        width: 20% !important;
        margin-bottom: 15px;
    }
    .col-md-2 {
        width: 20% !important;
        margin-bottom: 15px;
    }
</style>