@model HR.Models.Report_JobVM
    @using HR.Resource;

@{
    ViewBag.Title = "job_title";
  //  Layout = "~/Views/Shared/MainLayOut.cshtml";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="~/Content/neon/assets/js/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script src="~/bootstrap-multiselect.js"></script>
<link href="~/bootstrap-multiselect.css" rel="stylesheet" />


<div class="content-wrapper">

    <section class="content-header">
      
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="box">

            <!-- /.box-header -->
            <div style="margin-top:300px" class="box-body">

                @using (Html.BeginForm("job_title", "Reports_organization", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input name="nationality" hidden/>
                    <input name="job_setup" hidden />
                    @*<input name="name" hidden />*@
                    <input name="working_system_List" hidden />
                    <input name="chart" hidden />
                    <input name="parent" hidden />
                    @*<input name="sub_class" hidden />*@
                    <input name="parmet_List" hidden />
                    <input name="validity_list" hidden />
                    <input name="gender_list" hidden />
                    <input name="List_Display" hidden />
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">

                        <hr />

                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Message"]
                            </div>
                        }
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @organ.parentjob
                            </label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.parent, new SelectList(ViewBag.parent, "ID", "Code"), new { @class = "example-getting-started", @multiple = "multiple" })
                            </div>
                            <label class="control-label col-md-2">
                                @organ.JobLevelSetup
                            </label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.job_setup, new SelectList(ViewBag.job_setup, "ID", "Code"), new { @class = "example-getting-started", @multiple = "multiple" })
                            </div>



                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @organ.organizationchart
                            </label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.chart, new SelectList(ViewBag.chart, "ID", "Code"), new { @class = "example-getting-started", @multiple = "multiple" })
                            </div>

                            <label class="control-label col-md-2">
                                @organ.nationality
                            </label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.nationality, new SelectList(ViewBag.nationality, "ID", "Code"), new { @class = "example-getting-started", @multiple = "multiple" })
                            </div>

                            @*<label class="control-label col-md-2">
                                @organ.jobtitleSubclass
                            </label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.sub_class, new SelectList(ViewBag.sub_class, "ID", "Code"), new { @class = "example-getting-started", @multiple = "multiple" })
                            </div>*@

                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @organ.working_system
                            </label>
                            <div class="col-md-4">
                                @Html.EnumDropDownListFor(m => m.working_system_List, new { @class = "form-control example-getting-started", @multiple = "multiple" })
                            </div>
                            <label class="control-label col-md-2">
                                @organ.parment
                            </label>
                            <div class="col-md-4">
                                @Html.EnumDropDownListFor(m => m.parmet_List, new { @class = "form-control example-getting-started", @multiple = "multiple" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                               @organ.gender
                            </label>
                            <div class="col-md-4">
                                @Html.EnumDropDownListFor(m => m.gender_list, new { @class = "form-control example-getting-started", @multiple = "multiple" })
                            </div>
                            <label class="control-label col-md-2">
                                @organ.validity
                            </label>
                            <div class="col-md-4">
                                @Html.EnumDropDownListFor(m => m.validity_list,new { @class = "form-control example-getting-started", @multiple = "multiple" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @organ.Toage
                            </label>
                            <div class="col-md-4">
                                @Html.EditorFor(m => m.toAge, new { @class = "form-control" })
                            </div>
                            <label class="control-label col-md-2">
                                @organ.Fromage
                            </label>
                            <div class="col-md-4">
                                @Html.EditorFor(m => m.fromAge, new { @class = "form-control"})
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @organ.num_slots
                            </label>
                            <div class="col-md-4">
                                @Html.EditorFor(m => m.numSlot, new { @class = "form-control" })
                            </div>
                            @*<label class="control-label col-md-2">
                                @organ.Fromage
                            </label>
                            <div class="col-md-4">
                                @Html.EnumDropDownListFor(m => m.validity_list, new { @class = "form-control example-getting-started", @multiple = "multiple" })
                            </div>*@
                        </div>
                        <div class="col-md-12">
                            <label class="control-label col-md-2">
                                select columns to Display
                            </label>
                            <select name="List_Display" class = "example-getting-started" multiple = "multiple">
                                <option value="0">Code </option>
                                <option value="1">Name </option>
                                @*<option value="2">Description </option>
                                <option value="3">Job Summery </option>*@
                                <option value="4">Age</option>
                                <option value="6">Num slots </option>
                                <option value="7">Parent job </option>
                                <option value="8">Job level setup </option>
                                <option value="9">Working system </option>
                                <option value="10">Organizaion chart </option>
                                <option value="11">Gender </option>
                                @*<option value="12">nationlity</option>*@
                                <option value="13">Validity </option>
                                <option value="14">Type of worke </option>
                            </select>
                        </div>
                            
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" id="btnSave" class="btn btn-success" name="Command" value="Save">@organ.create</button>
                                <a href="@Url.Action("index","Reports_organization")" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>@Basic.Back</a>
                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>

    </section>
</div>


<script>
    $('.example-getting-started').multiselect({
        includeSelectAllOption: true,
        selectAllName: 'select-all-name'
    });
</script>

@section scripts{}

