@model  HR.Models.CardPayroll.VMs
@using HR.Resource;
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}


@Scripts.Render("~/bundles/jqueryval")
@*<link href="~/Content/StyleTableBeneficiary.css" rel="stylesheet" />*@

<script>
    function additems() {
        debugger
        var f = $("#ite").val();
        if (f == "") {
            alert('you must choose salary item ');
        }
        else
        {
            var i = "";
            var d = $("#ite").val();
            var firstdrop = " ";
            $.ajax
                ({
                    type: "post",
                    url: "/Helper/GetSalaryCodeGroup_Header",
                    data: { "id": d },

                    success: function (result) {
                        debugger
                        debugger
                        var pp = $("#itemTR").find("tr");
                        var flag = 0;
                        for (var o = 0; o < pp.length; o++) {
                            debugger
                            var inputs = pp[o].children;
                            ss_ = inputs[0].children;
                            if (ss_[0].value == result.CodeGroupID) {
                                flag = 1;
                            }
                        }
                        if (flag == 0) {
                            var i = "<tr><td class='col-md-1'><input type='text' readonly name='Family_profile_No2' value='" + result.CodeGroupID + "'/></td><td class='col-md-1'><input type='text' readonly name='Family_name' value='" + result.CodeGroupDesc + "'/></td><td class='col-md-1'><input type='number' name='Percentage' value='0'  /></td><td class='col-md-1'><input type='button' style='margin-left:3px' value=@organ.remove class='remove btn btn-danger' onclick='remove($(this))' /></td></tr>"
                        debugger
                        $("#itemTR").append(i);
                        var seledct = $("#itemTR tr").last().children()[4].children[0];
                        full_check(seledct);
                        $("#ite").select2("val", "");
                    }
                }
                });
 }
    }
        function remove(thi) {
            thi.parent().parent().remove();
        }

</script>

<div class="content-wrapper">

    <section class="content-header">
        <h1>
            @Payroll.EditSalaryitemscollectiongroups
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="box">

            <!-- /.box-header -->
            <div class="box-body">

                @using (Html.BeginForm("Edit", "SalaryItemCollectionGroup", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">

                        <hr />

                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Message"]
                            </div>
                        }
                        <input name="Family_profile_No2" hidden />
                        <input name="Family_name" hidden />
                        <input name="Percentage" hidden />
                        @Html.HiddenFor(m => m.SalaryItemCollectionGroup_Header.ID);
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div>

                            <div class="form-group">
                                <label style="color:red" class="control-label col-md-2">
                                    @organ.code
                                </label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.SalaryItemCollectionGroup_Header.CollectionId, new { htmlAttributes = new { @readonly = true, @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SalaryItemCollectionGroup_Header.CollectionId, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2">
                                    <input type="submit" value="@Personnel.Edit" class="btn btn-success" />
                                </div>
                                <div class="col-md-2">
                                    <a href="@Url.Action("index", "SalaryItemCollectionGroup")" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>@organ.Back</a>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">@Personnel.Description</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.SalaryItemCollectionGroup_Header.CollectionDesc, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SalaryItemCollectionGroup_Header.CollectionDesc, "", new { @class = "text-danger" })
                                </div>


                                <label class="control-label col-md-2">@Personnel.DescriptionAlternative</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.SalaryItemCollectionGroup_Header.CollectionAltDesc, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SalaryItemCollectionGroup_Header.CollectionAltDesc, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-12">

                                <ul class="nav nav-tabs bordered">
                                    <!-- available classes "bordered", "right-aligned" -->
                                    <li class="active">
                                        <a href="#Budgetdetails" data-toggle="tab">
                                            <span class="visible-xs"><i class="entypo-home"></i></span>
                                            <span class="hidden-xs">@Payroll.SalaryItemsGroup</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="Budgetdetails" style="overflow: hidden;width: auto;height: auto;">

                                        <div style="margin-bottom:15px" class="form-group">
                                            <label class="control-label col-md-1">
                                                <span> @Payroll.SalaryItemsGroup </span>
                                            </label>
                                            <div class="col-md-3">
                                                @Html.DropDownList("fd", new SelectList(ViewBag.SalaryCodeGroup_Header, "ID", "Code"), Payroll.SelectSalaryItemsGroup, new { @required = "required", @class = "select2", @onchange = "employee3()", id = "ite" })
                                            </div>
                                            <div class="col-md-1">

                                            </div>
                                            <div class="control-label col-md-1">
                                                <a onclick="additems()" style="margin-right:3px" class="btn btn-success"> @Personnel.Add </a>
                                            </div>

                                        </div>
                                        <table id="categories" class="table table-bordered table-striped text-center">
                                            <thead>
                                                <tr>
                                                    <th id="fa">@Payroll.Groupid</th>
                                                    <th id="na">@Payroll.Groupdescription</th>
                                                    <th id="per">@Payroll.Sortindex</th>
                                                    <th id="De">@Personnel.Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody id="itemTR">
                                                @foreach (var item in Model.SalaryItemCollectionGroup_Detail)
                                                {
                                                <tr>
                                                    <td>
                                                        <input name="Family_profile_No2" type="text" value="@item.CodeGroupID" readonly />
                                                    </td>
                                                    <td>
                                                        <input name="Family_name" type="text" value="@item.CodeGroupDescription" />
                                                    </td>
                                                    <td>
                                                        <input name="Percentage" type="number" value="@item.SortIndex" />
                                                    </td>
                                                  
                                                    <td class="col-md-1"><input type='button' style='margin-left:3px' value=@organ.remove class='remove btn btn-danger' onclick='remove($(this))' /></td>
                                                   
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>

    </section>
</div>

@section scripts{}
<script>
    function Remove() {

        //$("#tt").click (function () {
        //   $(this).closest('tr').remove();
        $("#tt").closest('tr').remove();
        //})
    }


    function employee3() {

        var id = $("#employeeId3").val();
        $.ajax({
            type: "post",
            url: "/Helper/GetSalaryCodeGroup_Header",
            data: { "id": id },
            success: function (result) {

                //  $("#employeename").val(result.Name);

            },
            error: function () {

                //    $("#employeename").val(" ");
            }
        });
    }

</script>
