@model HR.Models.postcode

@using HR.Resource;

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}

@Scripts.Render("~/bundles/jqueryval")
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            @Basic.edit_postalcode
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="box">

            <!-- /.box-header -->
            <div class="box-body">

                @using (Html.BeginForm("Edit", "Postalcode", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <hr />
                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Message"]
                            </div>
                        }
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                         
                            <label class = "control-label col-md-2">
                                @Basic.Country
                            </label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.countryid, new SelectList(ViewBag.country, "ID", "Code"),Basic.Country, new { @class = "select2", @onchange = "CountryName()", id = "country" })
                                @Html.ValidationMessageFor(model => model.countryid, "", new { @class = "text-danger" })
                                <input type="text" value=" " class="form-control" id="countryname" disabled />

                            </div>
                        </div>
                        <div class="form-group">
                             <label class="control-label col-md-2">
                                @Basic.Region
                            </label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.areaid, new SelectList(ViewBag.area, "ID", "Code"), Basic.Region, new { @class = "select2", @onchange = "areaName()", id = "area", @disabled = true })
                                @Html.ValidationMessageFor(model => model.areaid, "", new { @class = "text-danger" })
                                <input type="text" value=" " class="form-control" id="areaname" disabled />

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @Basic.State
                            </label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.stateid, new SelectList(ViewBag.state, "ID", "Code"), Basic.State, new { @class = "select2", @onchange = "getstate()", id = "state", @disabled = true })
                                @Html.ValidationMessageFor(model => model.stateid, "", new { @class = "text-danger" })
                                <input type="text" value=" " class="form-control" id="statename" disabled />

                            </div>
                        </div>
                        <div class="form-group">
                             <label class="control-label col-md-2">
                                @Basic.County
                            </label>
                             <div class="col-md-4">
                                @Html.DropDownListFor(m => m.Territoriesid, new SelectList(ViewBag.ter, "ID", "Code"), Basic.County, new { @class = "select2", @onchange = "getter()", id = "ter", @disabled = true })
                                @Html.ValidationMessageFor(model => model.Territoriesid, "", new { @class = "text-danger" })
                                <input type="text" value=" " class="form-control" id="tername" disabled />

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @Basic.City
                            </label>
                              <div class="col-md-4">
                                @Html.DropDownListFor(m => m.citiesid, new SelectList(ViewBag.city, "ID", "Code"), Basic.City, new { @class = "select2", @onchange = "getcity()", id = "city", @disabled = true })
                                @Html.ValidationMessageFor(model => model.citiesid, "", new { @class = "text-danger" })
                                <input type="text" value=" " class="form-control" id="cityname" disabled />

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @Basic.code
                            </label>
                              <div class="col-md-4">
                                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @readonly = true, @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @Basic.name
                            </label>
                               <div class="col-md-4">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @Basic.description
                            </label>
                             <div class="col-md-4">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                             <label class="control-label col-md-2">
                                @Basic.street_name
                            </label>
                              <div class="col-md-4">
                                @Html.EditorFor(model => model.streetname, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.streetname, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                             <label class="control-label col-md-2">
                                @Basic.Num_Street_From
                            </label>
                             <div class="col-md-4">
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default">-</button>
                                    @Html.TextBoxFor(model => model.numstreetfrom, new { htmlAttributes = new { @class = "form-control size-1", @value = "1", data_min = "0" } })

                                    <button type="button" class="btn btn-default">+</button>

                                    @Html.ValidationMessageFor(model => model.numstreetfrom, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                             <label class="control-label col-md-2">
                                @Basic.Num_Street_To
                            </label>
                              <div class="col-md-4">
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default">-</button>

                                    @Html.TextBoxFor(model => model.numstreetto, new { htmlAttributes = new { @class = "form-control size-1", @value = "1", data_min = "0" } })
                                    @Html.ValidationMessageFor(model => model.numstreetto, "", new { @class = "text-danger" })
                                    <button type="button" class="btn btn-default">+</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @Basic.Street_Num_Type
                            </label>
                              <div class="col-md-4">
                                @Html.EnumDropDownListFor(model => model.typenumstreet, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.typenumstreet, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value=@Basic.edit_postalcode class="btn btn-success" />
                                <a href="@Url.Action("index","Postalcode")" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>@Basic.Back</a>

                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>

    </section>
</div>
<script>
    function CountryName() {
         
        var id = $("#country").val();
        $("#area").empty();
        $("#state").empty();
        $("#ter").empty();
        $("#city").empty();
        $("#area").select2("val", "");
        $("#state").select2("val", "");
        $("#ter").select2("val", "");
        $("#city").select2("val", "");
        $("#statename").val(" ");
        $("#areaname").val(" ");
        $("#tername").val(" ");
        $("#cityname").val(" ");
        $.ajax({
            type: "post",
            url: "/Helper/GetCountry",
            data: { "id": id },
            success: function (result) {
                 
              
                $("#countryname").val(result.Name);
                getallarea(result.ID);
            },
            error: function () {
                 
                $("#countryname").val(" ");
            }
        });
    }
    function getallarea(id)
    {
         
       var countryname=
       $.ajax({
          type: "post",
          url: "/Helper/getareabycountry",
          data: { "id": id, "flag": "0" },
          success: function (result) {
               
              $("#area").removeAttr("disabled");
              var finalresult = "<option value='0' > Choose area </option>";
              $.each(result, function (key, value) {
                   finalresult += "<option value='" + value.ID + "' >" + "[  " + value.Code + " ]</option>";
              });
              $("#area").html(finalresult);
              $("#area").select2("val", "0");
          },
          error: function () {
               
              $("#area").val(" ");
          }
      });
    }
    function areaName() {
         
        var id = $("#area").val();
        $("#state").empty();
        $("#ter").empty();
        $("#city").empty();
        $("#state").select2("val", "");
        $("#ter").select2("val", "");
        $("#city").select2("val", "");
        $("#statename").val(" ");

        $("#tername").val(" ");
        $("#cityname").val(" ");
        $.ajax({
            type: "post",
            url: "/Helper/getarea",
            data: { "id": id },
            success: function (result) {
                 
              
               
                $("#areaname").val(result.Name);
                getallstate(result.ID);
            },
            error: function () {
                 
                $("#areaname").val(" ");
            }
        });
    }
    function getallstate(id)
    {
         
        $.ajax({
            type: "post",
            url: "/Helper/getstatebycountry",
            data: { "id": id, "flag": "0" },
            success: function (result) {
                 
                $("#state").removeAttr("disabled");
                var finalresult = "<option value='0' > Choose state </option>";
                $.each(result, function (key, value) {
                     finalresult += "<option value='" + value.ID + "' >" + "[  " + value.Code + " ]</option>";
                });
                $("#state").html(finalresult);
                $("#state").select2("val", "0");
            },
            error: function () {
                 
                $("#state").val(" ");
            }
        });
    }
    function getstate()
    {
         
        var id = $("#state").val();
        $("#ter").empty();
        $("#city").empty();

        $("#ter").select2("val", "0");
        $("#city").select2("val", "0");
        $("#tername").val(" ");
        $("#cityname").val(" ");
        $.ajax({
            type: "post",
            url: "/Helper/Getstate",
            data: { "id": id },
            success: function (result) {
                 
              
              
                $("#ter").removeAttr("disabled");
                $("#statename").val(result.Name);
                getallter(result.ID);
            },
            error: function () {
                 
                $("#statename").val(" ");
            }
        });
    }
    function getallter(id)
    {
         
        $.ajax({
            type: "post",
            url: "/Helper/getallter",
            data: { "id": id, "flag": "0" },
            success: function (result) {
                 
                $("#ter").removeAttr("disabled");
                var finalresult = "<option value='0' > Choose ter </option>";
                $.each(result, function (key, value) {
                    finalresult += "<option value='" + value.ID + "' >" + "[  " + value.Code + " ]</option>";
                });
                $("#ter").html(finalresult);
                $("#ter").select2("val", "0");
            },
            error: function () {
                 
                $("#ter").val(" ");
            }
        });

    }
    function getter()
    {
         
        var id = $("#ter").val();
        $("#city").empty();

        $("#city").select2("val", "0");

        $("#cityname").val(" ");
        $.ajax({
            type: "post",
            url: "/Helper/Getter",
            data: { "id": id },
            success: function (result) {
                 
             
              
                $("#tername").val(result.Name);
                getallcity(result.ID);
            },
            error: function () {
                 
                $("#tername").val(" ");
            }
        });
    }
    function getallcity(id)
    {
         
        $.ajax({
            type: "post",
            url: "/Helper/getallCity",
            data: { "id": id},
            success: function (result) {
                 
                $("#city").removeAttr("disabled");
                var finalresult = "<option value='0' > Choose City </option>";
                $.each(result, function (key, value) {
                    finalresult += "<option value='" + value.ID + "' >" + "[  " + value.Code + " ]</option>";
                });
                $("#city").html(finalresult);
                $("#city").select2("val", "0");
            },
            error: function () {
                 
                $("#city").val(" ");
            }
        });
    }
    function getcity()
    {
         
        var id = $("#city").val();
        $.ajax({
            type: "post",
            url: "/Helper/Getcity",
            data: { "id": id },
            success: function (result) {
                 
                $("#city").removeAttr("disabled");
                $("#cityname").val(result.Name);

            },
            error: function () {
                 
                $("#cityname").val(" ");
            }
        });
    }
</script>
<script>
  $(function () {
      CKEDITOR.replace('Description');
  });
</script>
<script>
     
    var id = $("#country").val();
    if (id != null && id != "")
    {
        $("#area").removeAttr("disabled");
    }
    $.ajax({
        type: "post",
        url: "/Helper/GetCountry",
        data: { "id": id },
        success: function (result) {
             

            $("#countryname").val(result.Name);
        },
        error: function () {
             
            $("#countryname").val(" ");
        }
    });  
    var id1 = $("#area").val();
    if (id1 != null && id1 != "")
    {
        $("#state").removeAttr("disabled");
    }
    $.ajax({
        type: "post",
        url: "/Helper/getarea",
        data: { "id": id1 },
        success: function (result) {
             
            $("#area").removeAttr("disabled");
            $("#areaname").val(result.Name);

        },
        error: function () {
             
            $("#areaname").val(" ");
        }
    });  
    var id2 = $("#state").val();
    if (id2 != null && id2 != "")
    {
        $("#ter").removeAttr("disabled");
    }
    $.ajax({
        type: "post",
        url: "/Helper/Getstate",
        data: { "id": id2 },
        success: function (result) {
             
            $("#state").removeAttr("disabled");
            $("#statename").val(result.Name);

        },
        error: function () {
             
            $("#statename").val(" ");
        }
    });  
    var id3 = $("#ter").val();
    if (id3 != null && id3 != "")
    {
        $("#city").removeAttr("disabled");
    }
    $.ajax({
        type: "post",
        url: "/Helper/Getter",
        data: { "id": id3 },
        success: function (result) {
             
            $("#ter").removeAttr("disabled");
            $("#tername").val(result.Name);

        },
        error: function () {
             
            $("#tername").val(" ");
        }
    });
    getcity()
</script>



@section scripts{}