@model IEnumerable<HR.Models.Committe_Resolution_Recuirtment>
@using HR.Resource;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}
<div class="form-group">
    <div class="col-md-5">
    </div>
    <div class="col-md-6">
        <h1>@Personnel.CommitteResolution</h1>
    </div>
</div>
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">

        <div class="box">
            <div class="box-header">
                <div class="form-group">
                    <div class="col-md-10">
                        <p class="lead">
                            <a href="@Url.Action("Create", "Committe_Resolution_Recuirtment", new { id=@ViewBag.idemp })" class="btn btn-success btn-sm"><i class="fa fa-edit"></i>@Personnel.Add_New_CommitteResolution </a>
                        </p>
                    </div>
                
                </div>
            </div>


            <!-- /.box-header -->
            <div class="box-body">
                @if (TempData["Message"] != null)
                {
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        @TempData["Message"]
                    </div>
                }

                <table id="categories" class="table table-bordered table-striped text-center">
                    <thead>
                        <tr>
                            <th>@Personnel.CommitteResolutionNo</th>
                            <th>@Personnel.CommitteeUsage </th>
                            <th>@Personnel.CommitteeLocation</th>
                            <th>@Personnel.CommitteResolutionDate</th>
                            <th>@Personnel.CommitteeResolutionStatus </th>
                            <th>@Personnel.CommitteeType</th>
                            <th>@Personnel.Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>





                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Code</td>
                                <td>@item.Committe_Usage</td>
                                <td>@item.Committe_Location</td>
                                    <td>@item.Committe_Resolution_Date.ToShortDateString()</td>
                                <td>@item.Committe_Resolution_Status</td>
                                <td>@item.Committe_Type</td>
                                <td>@item.check_status</td>

                                <td>
                                    <a href="@Url.Action("Edit", "Committe_Resolution_Recuirtment", new {id = item.ID})" class="btn btn-primary btn-sm" style="width:50px"><i class="fa fa-edit"></i>@Personnel.Edit1</a>
                                    <a href="@Url.Action("Delete", "Committe_Resolution_Recuirtment", new {id = item.ID})" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>@Personnel.Delete</a>
                                    <a href="@Url.Action("Status", "Committe_Resolution_Recuirtment" , new {id=item.ID})" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>@pers_2.status</a>
                                </td>
                            </tr>
                        }


                    </tbody>

                </table>
            </div>
        </div>

    </section>

</div>

<!-- page script -->
<script>
    var $ = jQuery;

    $(document).ready(function () {
        $('#categories').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
            "order" : 1
        });
    });
</script>

@section scripts{}