@*@model HR.Controllers.TransactionsPayroll.Employee_Payroll_TransactionsController.EmpVM*@
@using HR.Resource;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        @using (Html.BeginForm("ViewExecl", "ImportFromExcel_TimeManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="box">


                <!-- /.box-header -->
                <div class="box-body">
                    @if (TempData["Message"] != null)
                    {
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            @TempData["Message"]
                        </div>
                    }

                    <table id="categories" class="table table-bordered table-striped text-center">
                        <thead>
                            <tr>
                                <th>@Payroll.Employeeid</th>
                                <th>@Payroll.EmployeeName</th>
                                <th>@Payroll.Salarycode</th>
                                <th>@Payroll.SalaryCodeDesc</th>
                                <th>@Payroll.Transactiondate</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.Data)
                            {
                            <tr>
                                @*@if (item.In.Hours == 0)
                                {
                                    var def = 12;
                                    var min = item.In.Minutes;
                                    var sec = item.In.Seconds;
                                    var fromtime = def + ":" + min + ":" + sec + " AM";
                                }
                                else if (item.In.Hours > 12)
                                {
                                    var def = item.In.Hours - 12;
                                    var min = item.In.Minutes;
                                    var sec = item.In.Seconds;
                                    var fromtime = def + ":" + min + ":" + sec + " PM";
                                }
                                else
                                {
                                    var def = item.In.Hours;
                                    var min = item.In.Minutes;
                                    var sec = item.In.Seconds;
                                    var fromtime = def + ":" + min + ":" + sec + " AM";
                                }*@


                               
                                <td><input name="EmployeeCode" value="@item.EmployeeCode" readonly /> </td>
                                <td><input name="EmployeeName" value="@item.EmployeeName" readonly /></td>
                                <td><input name="SalaryCode" value="@item.Date" readonly /></td>
                                <td><input name="SalaryDesc" value="@item.In" readonly /></td>
                                <td><input name="TransactionDate" value="@item.Out" readonly /></td>

                            </tr>
                            }

                        </tbody>

                    </table>
                    <input type="submit" value="@pers_2.create" />
                </div>
            </div>
        }
    </section>

</div>

<!-- page script -->
<script>
    var $ = jQuery;

    $(document).ready(function () {
        $('#categories').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
            "order" : 1
        });
    });
</script>

@section scripts{}

<style>
    table {
        margin-top: 70px;
        border: 1px solid #ddd;
        overflow-y: auto;
        white-space: nowrap;
    }

        table thead {
            border-bottom: 3px solid #bbb;
        }

    .create-btn {
        margin-left: 5px;
        margin-right: 5px;
        color: #000;
    }

        .create-btn svg {
            color: #0d62aa;
        }
</style>