@model HR.Models.Time_management.Employee_Shift_schedule

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}

@using HR.Resource;

<div class="content-wrapper">

  

    <!-- Main content -->
    <section class="content">

        <div class="box">

            <!-- /.box-header -->
            <div class="box-body">

                @using (Html.BeginForm("edit", "EmployeeShift", FormMethod.Post, new { id = "for", enctype = "multipart/form-data" }))
                {
                    <div class="sec-nav">
                        <div><i class="far fa-save"></i><input type="button" onclick="check()" class="create-btn" value="@organ.Save"/></div>
                        <div><i class="fas fa-plus"></i><a href="@Url.Action("create", "EmployeeShift")" class="create-btn">@pers_2.new_</a></div>
                        <div><i class="far fa-trash-alt"></i><input type="button" href="@Url.Action("index","EmployeeShift")" class="create-btn" value=@organ.delete /></div>
                        <div><i class="fas fa-undo"></i><a style="" href="@Url.Action("index", "EmployeeShift")" class="create-btn"> @pers_2.Back</a></div>
                       
                    </div>
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">

                        <hr />

                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Message"]
                            </div>
                        }

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <section style="margin-top:40px" class="content-header">
                            <h1>
                                @pers_2.emplscedule
                            </h1>
                        </section>

                        <div class="form-group">

                           
                            <div class="col-md-4">
                                <label style="color:red">
                                    @pers_2.employee
                                </label>
                                @Html.DropDownListFor(m => m.Employee_ProfileID, new SelectList(ViewBag.emp, "ID", "Code"), pers_2.employee, new { id = "empID", @class = "select2", @Onchange = "getcode()" ,@readonly=true})
                                <input type="hidden" value=" " class="form-control" id="countryname1" disabled />
                            </div>
                          
                        
                          <div class="col-md-4">
                              <label style="color:red">
                                  @organ.code
                              </label> 
                                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { id = "code2", @readonly = true, @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                            </div>
                         <div class="col-md-4">
                             <label style="color:red">
                                 @organ.name
                             </label> 
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>

                    
                      
                            <div class="col-md-4">
                                <label>
                                    @organ.description
                                </label>
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                         
                            <div class="col-md-4">
                                <label>
                                    @pers_2.disableediting
                                </label>
                                @Html.CheckBoxFor(model => model.Use_As_Default, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                           
                            <div class="col-md-4">
                                <label>
                                    <span> @pers_2.fromdate </span>
                                </label>
                                @Html.EditorFor(model => model.From_date, new { htmlAttributes = new { @class = "form-control", @Onchange = "setform()", @type = "date", id = "fromD" } })

                            </div>
                         
                            <div class="col-md-4">
                                <label>
                                    <span> @pers_2.todate </span>
                                </label>
                                @Html.EditorFor(model => model.To_date, new { htmlAttributes = new { @class = "form-control", @type = "date", @Onchange = "setto()", id = "toD" } })

                            </div>
                        </div>


                        <ul class="nav nav-tabs bordered">
                            <!-- available classes "bordered", "right-aligned" -->
                            <li class="active">
                                <a href="#Budgetdetails" data-toggle="tab">
                                    <span class="visible-xs"><i class="entypo-home"></i></span>
                                    <span class="hidden-xs">@pers_2.SCEDHULE</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="Budgetdetails" style="overflow: hidden;width: auto;height: auto;">
                                <div class="form-group">
                                 
                                    <div class="col-md-4">
                                        <label>
                                            <span> @pers_2.fromdate </span>
                                        </label>
                                        <input id="FD" class="form-control" type="date" />
                                    </div>
                                 
                                    <div class="col-md-4">
                                        <label>
                                            <span> @pers_2.todate </span>
                                        </label>
                                        <input id="TD"  class="form-control" type="date" />
                                    </div>
                               
                                  
                                    <div class="col-md-4">
                                        <label style="color:red">
                                            @pers_2.shiftsetup
                                        </label>
                                        @Html.DropDownList("d", new SelectList(ViewBag.shift, "ID", "Code"), pers_2.shiftsetup, new { id = "SI", @class = "select2" })

                                    </div>
                                
                                    <div class="col-md-4">
                                        <label style="color:red">
                                            @pers_2.shiftdaystatussetup
                                        </label>
                                        @Html.DropDownList("s", new SelectList(ViewBag.daystate, "ID", "Code"), pers_2.shiftdaystatussetup, new { id = "ST", @class = "select2" })

                                    </div>

                                </div>
                                <div class="form-group">
                                 
                                    <div class="col-md-4">
                                        <label>
                                            <span> @pers_2.fromtime </span>
                                        </label>
                                        <input class="form-control timepicker" id="FT" data-template="dropdown" data-show-seconds="true" data-default-time="11:25 AM" data-show-meridian="true" data-minute-step="1" />
                                    </div>


                                  
                                    <div class="col-md-4">
                                        <label>
                                            <span> @pers_2.totime </span>
                                        </label>
                                        <input class="form-control timepicker" id="TT" data-template="dropdown" data-show-seconds="true" data-default-time="11:25 AM" data-show-meridian="true" data-minute-step="1" />

                                    </div>
                             
                                    <div class="col-md-4">
                                        <label> - </label>
                                        <input type="button" onclick="add()" value='@pers_2.addelement' class="btn btn-success" />
                                    </div>
                                
                                </div>

                                <div class="form-group">
                                    <div>
                                        <table id="categories" class="table table-bordered table-striped text-center">
                                            <thead>
                                                <tr>
                                                    <td>@pers_2.fromdate</td>
                                                    <td> @pers_2.todate</td>
                                                    <td>@pers_2.shiftsetup</td>
                                                    <td>@pers_2.shiftdaystatussetup</td>
                                                    <td>@pers_2.fromtime</td>
                                                    <td>@pers_2.totime</td>
                                                    <td></td>
                                                </tr>
                                            </thead>
                                            <tbody id="body_table">
                                                @for (var i = 0; i < Model.Schedule_Details.Count; i++)
                                                {
                                                    <tr>
                                                        <td>
                                                            <input name='fromdate' class="form-control" value='@Model.Schedule_Details[i].From_date.ToShortDateString()'  readonly />
                                                        </td>
                                                        <td>
                                                            <input name='todate' class="form-control" value='@Model.Schedule_Details[i].To_date.ToShortDateString()' readonly />
                                                        </td>
                                                        <td>
                                                            <input class="form-control" value="@Model.Schedule_Details[i].Shift_setup.Code -> @Model.Schedule_Details[i].Shift_setup.Name" readonly />
                                                        </td>
                                                        <td>
                                                            <input class="form-control" value="@Model.Schedule_Details[i].Shiftdaystatus.Code -> @Model.Schedule_Details[i].Shiftdaystatus.Name" readonly />

                                                        </td>
                                                       
                                                        <td>
                                                            <input class="form-control" name="fromtime" id="@Model.Schedule_Details[i].ID" readonly />
                                                            <script>
                                                                function ed()
                                                                {
                                                                   debugger
                                                                    if(@Model.Schedule_Details[i].From.Hours==0)
                                                                    {
                                                                        debugger
                                                                        var def=12;
                                                                        var min=@Model.Schedule_Details[i].From.Minutes;
                                                                        var sec=@Model.Schedule_Details[i].From.Seconds;
                                                                        $("#@Model.Schedule_Details[i].ID").val(def +":" +min+":"+sec+" AM");
                                                                    }
                                                                    else if(@Model.Schedule_Details[i].From.Hours>12)
                                                                    {
                                                                        debugger
                                                                        var def=@Model.Schedule_Details[i].From.Hours-12;
                                                                        var min=@Model.Schedule_Details[i].From.Minutes;
                                                                        var sec=@Model.Schedule_Details[i].From.Seconds;
                                                                        $("#@Model.Schedule_Details[i].ID").val(def +":" +min+":"+sec+" pm");
                                                             
                                                                    }
                                                                    else
                                                                    {
                                                                        debugger
                                                                        var def=@Model.Schedule_Details[i].From.Hours;
                                                                        var min=@Model.Schedule_Details[i].From.Minutes;
                                                                        var sec=@Model.Schedule_Details[i].From.Seconds;
                                                                        $("#@Model.Schedule_Details[i].ID").val(def +":" +min+":"+sec+" AM");
                                                             
                                                                    }
                                                                }
                                                                ed();
                                                            </script>

                                                           
                                                        </td>
                                                        <td>
                                                            @if (true)
                                                            {
                                                            var t = @Model.Schedule_Details[i].ID + 1000000;
                                                            <input class="form-control" name="totime" id='@t' value="@Model.Schedule_Details[i].To" readonly />
                                                            <script>
                                                                function ed()
                                                                {
                                                                    if(@Model.Schedule_Details[i].To.Hours==0)
                                                                    {
                                                                        var def=12;
                                                                        var min=@Model.Schedule_Details[i].To.Minutes;
                                                                        var sec=@Model.Schedule_Details[i].To.Seconds;
                                                                        var t = @Model.Schedule_Details[i].ID + 1000000;
                                                                        $("#@t" ).val(def +":" +min+":"+sec+" AM");
                                                                    }
                                                                    else if(@Model.Schedule_Details[i].To.Hours>12)
                                                                    {
                                                                        var def=@Model.Schedule_Details[i].To.Hours-12;
                                                                        var min=@Model.Schedule_Details[i].To.Minutes;
                                                                        var sec=@Model.Schedule_Details[i].To.Seconds;
                                                                        var t = @Model.Schedule_Details[i].ID + 1000000;
                                                                        $("#@t" ).val(def +":" +min+":"+sec+" pm");

                                                                    }
                                                                    else
                                                                    {
                                                                        var def=@Model.Schedule_Details[i].To.Hours;
                                                                        var min=@Model.Schedule_Details[i].To.Minutes;
                                                                        var sec=@Model.Schedule_Details[i].To.Seconds;
                                                                        var t = @Model.Schedule_Details[i].ID + 1000000;
                                                                        $("#@t" ).val(def +":" +min+":"+sec+" AM");
                                                                    

                                                                    }
                                                                }
                                                                ed();
                                                            </script>
                                                            }
                                                        </td>
                                                        <td hidden>
                                                            <input hidden name="shift_ID" class="form-control" value="@Model.Schedule_Details[i].Shift_setup.ID" readonly />

                                                        </td>
                                                        <td hidden>
                                                            <input hidden name="status_ID" class="form-control" value="@Model.Schedule_Details[i].Shiftdaystatus.ID" readonly />

                                                        </td>
                                                        <td>
                                                            <input type='button' value=@organ.remove class='remove btn btn-danger' onclick='remove($(this))' />
                                                        </td>
                                                    </tr>
                                                   
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>

    </section>
</div>

@section scripts{}
<script>
    $(document).ready(function () {

        GetDataById2('@Model.From_date' , "fromD");
        GetDataById2('@Model.To_date', "toD");
        setto();setform();

    });
    function GetDataById2(date, id) {
        debugger
        var valx = new Date(date);
        var month;
        if ((valx.getMonth() + 1) < 10) {
            month = "0" + (valx.getMonth() + 1).toString();
        }
        else {
            month = date.getMonth() + 1;
        }
        var day = parseInt(valx.getDate());
        if (day < 10) {
            day = "0" + (valx.getDate()).toString();
        }
        else {
            day = valx.getDate();
        }
        var d = valx.getFullYear() + '-' + month + '-' + day;
        $('#' + id).val(d);
    }
    function getcode()
    {

        var id = $("#empID").val();
        $.ajax({
            type: "post",
            url: "/EmployeeShift/getcode",
            data: { "id": id },
            success: function (result) {
                debugger
                $("#code2").val(result);
                $("#empID").select2("readonly", true);
            },
            error: function () {

                $("#code2").val(" ");
            }
        });
    }
    function setform()
    {
        debugger
        var val1 = $("#fromD").val();
        $("#FD").val(val1);

    }
    function setto() {
        var val1 = $("#toD").val();
        $("#TD").val(val1);
    }
    function check()
    {
        var tr = $("#body_table tr").length;
        if(tr==0)
        {
            alert("you must enter details")
        }
        else
        {
            var huge_from_date = $("#fromD").val();
            var huge_to_date = $("#toD").val();
            var from_date = $("#FD").val();
            var to_date = $("#TD").val();
            var FF = new Date(huge_from_date).setHours(0, 0, 0, 0);
            var TT = new Date(huge_to_date).setHours(0, 0, 0, 0);
            var ff = new Date(from_date).setHours(0, 0, 0, 0);
            var tt = new Date(to_date).setHours(0, 0, 0, 0);
            var check = date_check(FF, TT, ff, tt);
            if (check == -1)
            {
                alert('@HR.Resource.pers_2.error_date');

            }
            else
            {
                $("#for").submit();
            }
        }
    }
    function date_check(HDF,HDT,DF,DT)
    {
        debugger
        if( new Date((HDT - HDF )/1000 / 60 / 60 / 24)< 0)
        {
            return -1;
        }
        else if (new Date((DT - DF) / 1000 / 60 / 60 / 24) < 0)
        {
            return -1;
        }
        return 1;
    }
    function add()
    {
        var huge_from_date = $("#fromD").val();
        var huge_to_date = $("#toD").val();
        var from_date=$("#FD").val();
        var to_date = $("#TD").val();
        var emp_id = $("#empID").val();
        var code = $("#code2").val();
        var FF=new Date(huge_from_date).setHours(0, 0, 0, 0);
        var TT=new Date(huge_to_date).setHours(0, 0, 0, 0);
        var ff=new Date(from_date).setHours(0, 0, 0, 0);
        var tt= new Date(to_date).setHours(0, 0, 0, 0);
        var check = date_check(FF, TT,ff,tt);
        if (check == -1)
        {
            alert('@HR.Resource.pers_2.error_date');
        }
        else
        {
            var flag = 0;
            $.ajax({
                type: "post",
                url: "/EmployeeShift/chech_date",
                data: { "H_from": huge_from_date, "H_to": huge_to_date, "from": from_date, "to": to_date, "empid": emp_id ,"code":code},
                success: function (result) {
                    if(result=="0")
                    {
                        debugger
                        var allTR = $("#body_table").find("tr");
                        for(var i=0;i< allTR.length; i++)
                        {
                            debugger
                            var F = new Date(allTR[i].children[0].children[0].value);
                            var T = new Date(allTR[i].children[1].children[0].value);
                            var from=new Date(from_date);from.setHours(0,0,0,0);
                            var to=new Date(to_date);to.setHours(0,0,0,0);
                            var DIF1 = new Date(F - from) / 1000 / 60 / 60 / 24;
                            var DIF2 = new Date(to - T) / 1000 / 60 / 60 / 24;
                            if (((from - F) / 1000 / 60 / 60 / 24) <= 0 && ((to - T) / 1000 / 60 / 60 / 24) >= 0)
                            {
                                alert('@HR.Resource.pers_2.errormpl2');
                                flag = 1;
                                break;
                            }
                            var t = ((F - to) / 1000 / 60 / 60 / 24);
                            var y=((to - T) / 1000 / 60 / 60 / 24);

                            if (((((F-from) / 1000 / 60 / 60 / 24) <= 0 )&& ((from - T) / 1000 / 60 / 60 / 24) <= 0) || ((((F - to) / 1000 / 60 / 60 / 24) <= 0) && ((to - T) / 1000 / 60 / 60 / 24) <= 0))
                            {
                                alert('@HR.Resource.pers_2.errormpl2');
                                flag = 1;
                                break;
                            }
                        }

                        var from_time = $("#FT").val();
                        var to_time = $("#TT").val();
                        var shift = $("#SI").val();
                        var state = $("#ST").val();
                        var shift_text = $("#SI option:selected").text();
                        var state_text = $("#ST option:selected").text();
                        if (check == 1 &&flag==0 && from_date != "" && to_date != "" && to_time != "" && from_time != "" && shift != "" && state != "") {
                            var tr = "<tr>" +
                                "<td>        <input  class='form-control'          name='fromdate'      value='" + from_date + "' readonly='readonly' /></td>" +
                                "<td>        <input  class='form-control'          name='todate'        value='" + to_date + "' readonly='readonly' /></td>" +
                                "<td>        <input  class='form-control'                               value='" + shift_text + "' readonly='readonly' /></td>" +
                                "<td>        <input  class='form-control'                               value='" + state_text + "' readonly='readonly' /></td>" +
                                "<td>        <input  class='form-control'          name='fromtime'      value='" + from_time + "' readonly='readonly' /></td>" +
                                "<td>        <input  class='form-control'          name='totime'        value='" + to_time + "' readonly='readonly' /></td>" +
                                "<td hidden> <input  class='form-control' hidden   name='shift_ID'      value='" + shift + "' readonly='readonly' /></td>" +
                                "<td hidden> <input  class='form-control' hidden   name='status_ID'     value='" + state + "' readonly='readonly' /></td>" +
                                "<td>        <input type='button'                                       value=@organ.remove class='remove btn btn-danger' onclick='remove($(this))' /></td></tr>";

                            $("#body_table").append(tr);
                            $("#SI").select2("val", "");
                            $("#ST").select2("val", "");
                        }
                    }
                    else
                    {
                        alert(result);
                    }

                },
                error: function () {

                    alert('@HR.Resource.pers_2.errorempl');
                }
            });

        }
    }
    function remove(thi) {

        thi.parent().parent().remove();
    }

</script>

<style>
    /*Create Page*/


    .sec-nav {
        z-index: 9999;
        position: fixed;
        top: 47px;
        background: #faf9f8;
        border-bottom: 1px solid #bebbb8;
        display: block;
        width: 100%;
        left: 50px;
        padding-left: 10px;
        height: 60px;
        line-height: 60px;
    }

        .sec-nav div {
            display: inline-block;
            padding: 5px 8px;
            width: unset;
            border: 0;
            color: #000;
            font-size: 16px;
            height: 60px;
        }

            .sec-nav div:hover {
                background: #eee;
                color: #000;
            }

                .sec-nav div:hover input {
                    color: #000;
                }

    .create-btn {
        border: 0;
        height: 100%;
        background-color: transparent;
    }

    .sec-nav div svg {
        color: #2266e3;
        font-size: 17px;
    }

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        /*float: unset*/
    }

    label {
        text-align: left;
        font: normal normal 400 12px/18px 'Segoe UI',tahoma,sans-serif;
        color: #605e5c;
        display: block;
        margin-bottom: 0;
        max-width: 220px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 600;
        margin-top: 15px;
    }

    .form-horizontal .form-group {
        margin: 0 !important;
    }

    input {
        height: 35px;
        color: #000;
    }

        input:active {
            border: 1px solid #2266e3;
        }

    .form-group .row > div {
        margin-bottom: 10px;
    }

    .content-wrapper {
        margin-left: 15px;
    }

    .col-md-4 {
        width: 20% !important;
    }
</style>