@model HR.Models.EvaluationPlan
@using HR.Resource;
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}
@Scripts.Render("~/bundles/jqueryval")
<div class="content-wrapper">

   
    <!-- Main content -->
    <section class="content">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                @using (Html.BeginForm("Edit", "EvaluationPlan", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="sec-nav">
                        <div><i class="far fa-save"></i><button type="submit" class="create-btn">@organ.Save </button></div>
                        <div><i class="fas fa-plus"></i><a href="@Url.Action("create", "EvaluationPlan")" class="create-btn">@pers_2.new_</a></div>
                        <div><i class="far fa-trash-alt"></i><input type="button" href="@Url.Action("index","EvaluationPlan")" class="create-btn" value=@organ.delete /></div>
                        <div><i class="fas fa-undo"></i><a style="" href="@Url.Action("index", "EvaluationPlan")" class="create-btn"> @pers_2.Back</a></div>
                        <div><i class="far fa-save"></i><button id="btnSave" name="Command" value="tide" class="create-btn">@organ.Selectemployee </button></div>
                        <div><i class="fas fa-undo"></i><a style=""href="@Url.Action("showtide", "EvaluationPlan", new RouteValueDictionary(new { id =Model.ID    }))" class="create-btn"> @organ.showemployeesassigntoplan</a></div>

                    </div>
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <hr />
                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Message"]
                            </div>
                        }
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <section style="margin-top:40px" class="content-header">
                            <h1>
                                @pers_2.evaluationplan
                            </h1>
                        </section>
                        <div class="form-group">
                            <input name="id"  id="ID_of_plan" value="@Model.ID" hidden/>
                         

                            <div class="col-md-4">
                                <label style="color:orangered">
                                    @Basic.code
                                </label>
                                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { id = "code_plan", @readonly = true, @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                <label style="color:orangered">
                                    @Basic.name
                                </label>
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                <label>
                                    @Basic.description
                                </label>
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>


                    
                           
                          
                        
                            <div class="col-md-4">
                                <label>
                                    @pers_2.previousapprisalltoreview
                                </label>
                                @Html.EditorFor(model => model.previous_apprisal_to_review, new { htmlAttributes = new { @type = "number", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                      
                          
                            <div class="col-md-4">
                                <label style="color:orangered">
                                    @pers_2.years
                                </label>
                                @Html.EditorFor(model => model.Year, new { htmlAttributes = new { id = "year_plan", @type = "number", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                           
                           
                        </div>
                       
                     
                        <div class="form-group">
                          
                            <div class="col-md-4">
                                <label style="color:orangered">
                                    @pers_2.Apprisalltype
                                </label>
                                @Html.DropDownListFor(model => model.EvaluationTypeID, new SelectList(ViewBag.type, "ID", "Code"), pers_2.Evaluationtype, new { @onclick = "addrow()", @name = "type", @class = "select2", @id = "Country" })
                            </div>
                           


                        
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        <span class="control-label col-md-3">@pers_2.code </span>
                                    </th>
                                    <th>
                                        <span class="control-label col-md-3">@pers_2.startperiod </span>
                                    </th>
                                    <th>
                                        <span class="control-label col-md-3">@pers_2.endperiod</span>
                                    </th>
                                    <th>
                                        <span class="control-label col-md-3">@pers_2.processtart </span>
                                    </th>
                                    <th>
                                        <span class="control-label col-md-3">@pers_2.processend</span>
                                    </th>

                                </tr>
                            </thead>
                            <tbody id="uad8d2">
                               
                                
                            </tbody>
                        </table>

                    </div>
                }

            </div>

        </div>

    </section>
</div>
@section scripts{}
<script>

    $(function () {
        addrow2();
    });

        function addrow() {
            debugger
            var id = $("#Country").val();
            var code = $("#code_plan").val();
            var year = $("#year_plan").val();
            if (year==""|| id == "0" || id == "" || id == null) {
                debugger
                alter("you must choose Appraisal type")
            }
            else {
                $.ajax({
                    type: "post",
                    url: "/EvaluationPlan/FindType",
                    async: false,
                    data: { "id": id, "year": year,"code":code },
                    success: function (result) {
                        debugger
                        $("#uad8d2").empty();
                        $.each(result, function (key, value) {
                            debugger
                            var valx = new Date(value.period_start);
                            var month;
                            if ((valx.getMonth() + 1) < 10) {
                                month = "0" + (valx.getMonth() + 1).toString();
                            }
                            else {
                                month = valx.getMonth() + 1;
                            }
                            var day = parseInt(valx.getDate());
                            if (day < 10) {
                                day = "0" + (valx.getDate()).toString();
                            }
                            else {
                                day = valx.getDate();
                            }
                            var d = valx.getFullYear() + '-' + month + '-' + day;



                            var valx = new Date(value.period_End);
                            var month;
                            if ((valx.getMonth() + 1) < 10) {
                                month = "0" + (valx.getMonth() + 1).toString();
                            }
                            else {
                                month = valx.getMonth() + 1;
                            }
                            var day = parseInt(valx.getDate());
                            if (day < 10) {
                                day = "0" + (valx.getDate()).toString();
                            }
                            else {
                                day = valx.getDate();
                            }
                            var dd = valx.getFullYear() + '-' + month + '-' + day;
                            var t =
                          "<tr><td class='col-md-1'><input class = 'form-control'   type='text' readonly style='margin-bottom: 1em;margin-left:4px' name='ID_sch'   value='" + value.code + "' readonly='readonly' />" + "</td>" +
                          "<td class='col-md-3'> " + "<input class = 'form-control'  required  style='margin-bottom: 1em;margin-left:4px' name='period_start' type='date'  value='" + d + "'  />" + "</td>" +
                          "<td class='col-md-3'> " + "<input class = 'form-control'   required style='margin-bottom: 1em;margin-left:4px' name='period_End' type='date'  value='" + dd + "'  />" + "</td>" +
                         "<td class='col-md-3'> " + "<input class = 'form-control'   required  style='margin-bottom: 1em;margin-left:4px' name='Process_Start' type='date'  value='" + d + "'  />" + "</td>" +
                         "<td class='col-md-3'> " + "<input class = 'form-control'   required  style='margin-bottom: 1em;margin-left:4px' name='process_end' type='date'  value='" + dd + "' />" + "</td></tr>"

                            $("#uad8d2").append(t);

                        });
                    },
                    error: function () {
                        debugger
                        alter("some error");
                    }

                });

            }
        }
        function addrow2() {
            debugger
            var id = $("#ID_of_plan").val();
            if ( id == "0" || id == "" || id == null) {
                debugger
                alter("you must choose Appraisal type")
            }
            else {
                $.ajax({
                    type: "post",
                    url: "/EvaluationPlan/FindType2",
                    async: false,
                    data: { "id": id },
                    success: function (result) {
                        debugger
                        $("#uad8d2").empty();
                        $.each(result, function (key, value) {
                            debugger
                            var d1 = converttodate(value.period_start)
                            var d2 = converttodate(value.period_End)
                            var d3 = converttodate(value.process_start)
                            var d4 = converttodate(value.process_end)
                           
                            var t =
                          "<tr><td class='col-md-1'><input class = 'form-control'   type='text' readonly style='margin-bottom: 1em;margin-left:4px' name='ID_sch'   value='" + value.code + "' readonly='readonly' />" + "</td>" +
                          "<td class='col-md-3'> " + "<input class = 'form-control'  required  style='margin-bottom: 1em;margin-left:4px' name='period_start' type='date'  value='" + d1 + "'  />" + "</td>" +
                          "<td class='col-md-3'> " + "<input class = 'form-control'   required style='margin-bottom: 1em;margin-left:4px' name='period_End' type='date'  value='" + d2 + "'  />" + "</td>" +
                         "<td class='col-md-3'> " + "<input class = 'form-control'   required  style='margin-bottom: 1em;margin-left:4px' name='Process_Start' type='date'  value='" + d3 + "'  />" + "</td>" +
                         "<td class='col-md-3'> " + "<input class = 'form-control'   required  style='margin-bottom: 1em;margin-left:4px' name='process_end' type='date'  value='" + d4 + "' />" + "</td></tr>"

                            $("#uad8d2").append(t);

                        });
                    },
                    error: function () {
                        debugger
                        alter("some error");
                    }

                });

            }
        }


        function converttodate(value)
        {
            var valx = new Date(value);
            var month;
            if ((valx.getMonth() + 1) < 10) {
                month = "0" + (valx.getMonth() + 1).toString();
            }
            else {
                month = valx.getMonth() + 1;
            }
            var day = parseInt(valx.getDate());
            if (day < 10) {
                day = "0" + (valx.getDate()).toString();
            }
            else {
                day = valx.getDate();
            }
            var d = valx.getFullYear() + '-' + month + '-' + day;
            return d;
        }
</script>

<style>
    /*Create Page*/


    .sec-nav {
        z-index: 9999;
        position: fixed;
        top: 47px;
        background: #faf9f8;
        border-bottom: 1px solid #bebbb8;
        display: block;
        width: 100%;
        left: 50px;
        padding-left: 10px;
        height: 60px;
        line-height: 60px;
    }

        .sec-nav div {
            display: inline-block;
            padding: 5px 8px;
            width: unset;
            border: 0;
            color: #000;
            font-size: 16px;
            height: 60px;
        }

            .sec-nav div:hover {
                background: #eee;
                color: #000;
            }

                .sec-nav div:hover input {
                    color: #000;
                }

    .create-btn {
        border: 0;
        height: 100%;
        background-color: transparent;
    }

    .sec-nav div svg {
        color: #2266e3;
        font-size: 17px;
    }

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        /*float: unset*/
    }

    label {
        text-align: left;
        font: normal normal 400 12px/18px 'Segoe UI',tahoma,sans-serif;
        color: #605e5c;
        display: block;
        margin-bottom: 0;
        max-width: 220px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 600;
        margin-top: 15px;
    }

    .form-horizontal .form-group {
        margin: 0 !important;
    }

    input {
        height: 35px;
        color: #000;
    }

        input:active {
            border: 1px solid #2266e3;
        }

    .form-group .row > div {
        margin-bottom: 10px;
    }

    .content-wrapper {
        margin-left: 15px;
    }

    .col-md-4 {
        width: 20% !important;
    }
</style>