@model HR.Models.ViewModel.per_em
@{
    ViewBag.Title = "Tide_Emp_With_performance";
    Layout = "~/Views/Shared/MainLayOut.cshtml";

}
@using HR.Resource
@*@Scripts.Render("~/bundles/jqueryval")*@
<div class="content-wrapper">

  
    <!-- Main content -->
    <section class="content">

        <div class="box">

            <!-- /.box-header -->
            <div class="box-body">

                @using (Html.BeginForm("editTide_Emp_With_performance", "EvaluationPlan", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div style="margin-bottom:40px" class="sec-nav">
                      
                        <div><i class="fas fa-undo"></i><a style="" href="@Url.Action("Edit","EvaluationPlan", new RouteValueDictionary(new { id =Model.PER_id    }))" class="create-btn"> @pers_2.Back</a></div>

                    </div>
                    <input name="ID_emp" value="" hidden />
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <hr />
                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Message"]
                            </div>
                        }
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(m => m.PER_id)
                       
                        <section style="margin-top:40px" class="content-header">
                            <h1>
                                @pers_2.employee
                            </h1>
                        </section>
                        <div >
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <td>code</td>
                                        <td>name</td>
                                       
                                    </tr>
                                </thead>
                                <tbody id="emp2">
                                    @for (var i = 0; i < Model.emp.Count(); i++)
                                    {

                                        <tr>
                                            <td hidden>

                                                <input hidden class='form-control' required type='number' name='ID_emp' value='@Model.emp[i].ID' />
                                            </td>

                                            <td>

                                                <input class='form-control' required value='@Model.emp[i].Code' readonly='readonly' />
                                            </td>

                                            <td>

                                                <input class='form-control' required value='@Model.emp[i].Name' readonly='readonly' />
                                            </td>

                                            


                                        </tr>
                                    }


                                </tbody>
                            </table>

                        </div>



                        
                       




                    </div>

                }

            </div>

        </div>

    </section>
</div>




@section scripts{}







<style>
    /*Create Page*/


    .sec-nav {
        z-index: 9999;
        position: fixed;
        top: 47px;
        background: #faf9f8;
        border-bottom: 1px solid #bebbb8;
        display: block;
        width: 100%;
        left: 50px;
        padding-left: 10px;
        height: 60px;
        line-height: 60px;
    }

        .sec-nav div {
            display: inline-block;
            padding: 5px 8px;
            width: unset;
            border: 0;
            color: #000;
            font-size: 16px;
            height: 60px;
        }

            .sec-nav div:hover {
                background: #eee;
                color: #000;
            }

                .sec-nav div:hover input {
                    color: #000;
                }

    .create-btn {
        border: 0;
        height: 100%;
        background-color: transparent;
    }

    .sec-nav div svg {
        color: #2266e3;
        font-size: 17px;
    }

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        /*float: unset*/
    }

    label {
        text-align: left;
        font: normal normal 400 12px/18px 'Segoe UI',tahoma,sans-serif;
        color: #605e5c;
        display: block;
        margin-bottom: 0;
        max-width: 220px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 600;
        margin-top: 15px;
    }

    .form-horizontal .form-group {
        margin: 0 !important;
    }

    input {
        height: 35px;
        color: #000;
    }

        input:active {
            border: 1px solid #2266e3;
        }

    .form-group .row > div {
        margin-bottom: 10px;
    }

    .content-wrapper {
        margin-left: 15px;
    }

    .col-md-4 {
        width: 20% !important;
    }
</style>