@model List<HR.Models.special_allowance_job_level_class>
@using HR.Resource;
@{
    ViewBag.Title = "allowance";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}

@Scripts.Render("~/bundles/jqueryval")
<script>

    CountryName();
    function CountryName()
    {
         
        var id= $("#Country").val();
        $.ajax({
            type: "post",
            url: "/Helper/GetCountry",
            data: { "id": id },
            success: function (result) {
                 
                $("#countryname").val(result.Name);
            },
            error: function () {
                 
                $("#countryname").val(" ");
            }
        });
    }
    function add() {
        var year = parseFloat($("#year").val());
        var month = parseFloat($("#month").val());
        var percentage = parseFloat($("#percentage").val());
        var Allowanceamount = parseFloat($("#Allowance_amount").val());
        var perviousbasicsallary = parseFloat($("#pervious_basic").val());
        var newbasicsallary = parseFloat($("#new_basic_sallary").val());

        debugger

        finalresult =
            "<tr id='tr'>" +
          "<td ><input type='number' min='0' class = 'form-control' id='class_type_n' value='" + year + "'  name='year'  /></td>" +
           "<td ><input type='number' min='0' class = 'form-control' id='class_type_n' value='" + month + "' name='month'  /></td>" +
            "<td ><input type='number' min='0' class = 'form-control' id='class_type_n' value='" + percentage + "' name='percentage'  /></td>" +
             "<td ><input type='number' min='0' class = 'form-control' id='class_type_n' value='" + Allowanceamount + "' name='Allowance_amount1'  /></td>" +
              "<td ><input type='number' min='0' class = 'form-control' id='class_type_n' value='" + perviousbasicsallary + "' name='pervious_basic'  /></td>" +
               "<td ><input  type='number' min='0' class = 'form-control' id='class_type_n' value='" + newbasicsallary + "' name='new_basic_sallary'  /></td>" +
          "<td><input type='button' value=@organ.remove class='remove btn btn-danger' onclick='remove($(this))' /></td></tr>";
        $("#ad1d6").append(finalresult);

      $("#year").val(0);
      $("#month").val(0);
      $("#percentage").val(0);
      $("#Allowance_amount").val(0);
      $("#pervious_basic").val(0);
      $("#new_basic_sallary").val(0);

    }
    function remove(thi) {

        thi.parent().parent().remove();
        //thi.parent().parent().parent().remove(removed);


    }
</script>

<div class="content-wrapper">

    <section class="content-header">
        <h1>
           @organ.specialallwance
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="box">

            <!-- /.box-header -->
            <div class="box-body">

                @using (Html.BeginForm("allowance", "Job_level_class",new { type = @TempData["TYPE"], ID = @TempData["ID"]}, FormMethod.Post, new {  enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">

                        <hr />

                        <div class="sec-nav">
                            <div><i class="far fa-save"></i><button type="submit" class="create-btn">@organ.Save </button></div>
                           
                            @if ((int)TempData["TYPE"] == 1)
                            {

                                <div><i class="fas fa-undo"></i><a style=""href="@Url.Action("edit", "Job_level_class", new { id=ViewBag.id2})" class="create-btn"> @pers_2.Back</a></div>

                            }
                            else if ((int)TempData["TYPE"] == 2)
                            {
                               <div><i class="fas fa-undo"></i><a style="" href="@Url.Action("edit", "Job_level_grade", new { id=ViewBag.id2})"  class="create-btn"> @pers_2.Back</a></div>

                            }
                            else if ((int)TempData["TYPE"] == 3)
                            {
                                <div><i class="fas fa-undo"></i><a style="" href="@Url.Action("edit", "job_level_setup", new { id=ViewBag.id2})" class="create-btn"> @pers_2.Back</a></div>

                            }

                           </div>

                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Message"]
                            </div>
                        }
                        <input hidden name="Year" value="" />
                        <input hidden name="Month" value="" />
                        <input hidden name="Percentage" value="" />
                        <input hidden name="Allowance_amount1" value="" />
                        <input hidden name="pervious_basic" value="" />
                        <input hidden name="new_basic_sallary" value="" />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        
                        <div class="form-group">
                          
                            <div class="col-sm-4">
                                <label>
                                    @organ.Year
                                </label>
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default">-</button>
                                  

                              <input id="year" class = "form-control size-1" value="0" min="0" />

                                    <button type="button" class="btn btn-default">+</button>
                                </div>
                            </div>



                          
                            <div class="col-sm-4">
                                <label>
                                    @organ.Month
                                </label>
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default">-</button>
                                    <input id="month" class="form-control size-1" value="0" min="0" />




                                    <button type="button" class="btn btn-default">+</button>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label>
                                    @organ.Percentage
                                </label>
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default">-</button>
                                    <input id="percentage" class="form-control size-1" value="0" min="0" />



                                    <button type="button" class="btn btn-default">+</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            



                          
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label>
                                    @organ.Allowanceamount
                                </label>
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default">-</button>
                                    <input id="Allowance_amount" class="form-control size-1" value="0" min="0" />


                                    <button type="button" class="btn btn-default">+</button>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label>
                                    @organ.perviousbasicsallary
                                </label>
                                    <!-- Spinner Markup -->
                                    <div class="input-spinner">
                                        <button type="button" class="btn btn-default">-</button>
                                      
                                        <input id="pervious_basic" class="form-control size-1" value="0" min="0" />
                              
                                        <button type="button" class="btn btn-default">+</button>
                                    </div>
                                </div>



                           
                            <div class="col-sm-4">
                                <label>
                                    @organ.newbasicsallary
                                </label> 
                                    <!-- Spinner Markup -->
                                    <div class="input-spinner">
                                        <button type="button" class="btn btn-default">-</button>
                                     
                                        <input id="new_basic_sallary" class="form-control size-1" value="0" min="0" />
                                   
                                        <button type="button" class="btn btn-default">+</button>
                                    </div>
                                </div>
                         </div>
                       

                        <div class="col-md-4"></div>
                        <div  class="col-md-2" style="margin-bottom:10px;margin-top:20px">
                            <input type="button" style="width:100%" value=@pers_2.addelement class="btn btn-success" onclick="add()" />
                        </div>

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                   
                                        <th >@organ.Year</th>
                                        <th >@organ.Month</th>
                                        <th >@organ.Percentage</th>
                                        <th >@organ.Allowanceamount</th>
                                        <th >@organ.perviousbasicsallary</th>
                                        <th >@organ.newbasicsallary</th>
                                 
                                   
                                    <th>

                                    </th>

                                </tr>
                            </thead>
                            <tbody id="ad1d6">
                                @if (Model != null)
                                {
                              

                                    foreach (var item in Model)
                                    {
                                            <tr>
                                                <td ><input min="0" type="number" name="Year" class="form-control" value=@item.Year /></td>
                                                <td><input min="0" type="number" name="Month" class="form-control" value=@item.Month /></td>
                                                <td><input min="0" type="number" name="Percentage" class="form-control" value=@item.Percentage /></td>
                                                <td><input min="0" type="number" name="Allowance_amount1" class="form-control"  value=@item.Allowance_amount /></td>
                                                <td><input min="0" type="number" name="pervious_basic" class="form-control" value=@item.pervious_basic /></td>
                                                <td><input min="0" type="number" name="new_basic_sallary" class="form-control" value=@item.new_basic_sallary /></td>
                                                <td><input value=@organ.remove type="button" class="remove btn btn-danger" onclick="remove($(this))" /> </td>
                                            </tr>
                                        }
                                    
                                }
                            </tbody>
                        </table>



                       
                     </div>


                  
                }

            </div>

        </div>

    </section>
</div>



@section scripts{}


<style>
    /*Create Page*/


    .sec-nav {
        z-index: 9999;
        position: fixed;
        top: 47px;
        background: #faf9f8;
        border-bottom: 1px solid #bebbb8;
        display: block;
        width: 100%;
        left: 50px;
        padding-left: 10px;
        height: 60px;
        line-height: 60px;
    }

        .sec-nav div {
            display: inline-block;
            padding: 5px 8px;
            width: unset;
            border: 0;
            color: #000;
            font-size: 16px;
            height: 60px;
        }

            .sec-nav div:hover {
                background: #eee;
                color: #000;
            }

                .sec-nav div:hover input {
                    color: #000;
                }

    .create-btn {
        border: 0;
        height: 100%;
        background-color: transparent;
    }

    .sec-nav div svg {
        color: #2266e3;
        font-size: 17px;
    }

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        /*float: unset*/
    }

    label {
        text-align: left;
        font: normal normal 400 12px/18px 'Segoe UI',tahoma,sans-serif;
        color: #605e5c;
        display: block;
        margin-bottom: 0;
        max-width: 220px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 600;
        margin-top: 15px;
    }

    .form-horizontal .form-group {
        margin: 0 !important;
    }

    input {
        height: 35px;
        color: #000;
    }

        input:active {
            border: 1px solid #2266e3;
        }

    .form-group .row > div {
        margin-bottom: 10px;
    }

    .content-wrapper {
        margin-left: 15px;
    }

    .col-md-4 {
        width: 20% !important;
    }
</style>