@model HR.Models.Job_level_class
@using HR.Resource;
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}

@Scripts.Render("~/bundles/jqueryval")
<div class="content-wrapper">

   

    <!-- Main content -->
    <section class="content">

        <div class="box">

            <!-- /.box-header -->
            <div class="box-body">

                @using (Html.BeginForm("Details", "Job_level_class", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">

                        <hr />

                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Message"]
                            </div>
                        }

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                       
                            <label class = "control-label col-md-2">
                                @organ.code
                            </label>
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-1"> </div>
                            <div class="col-md-2">
                                <a style="width:100%" href="@Url.Action("index","Job_level_class")" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>@organ.Back</a>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @organ.name 
                            </label>
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                         
                            <div class="col-md-1"> </div>
                            <div class="col-md-2">
                                <button style="width:100%" type="submit" id="btnSubmit" name="Command" value="Submit" class="btn btn-success">@organ.specialallwance</button>
 
                             </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @organ.description
                            </label>
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        @*<div class="form-group" style="margin-right:220px">
                            <button type="submit" id="btnSubmit" style="background:black;color:aqua" name="Command" value="edit" class="btn btn-white">@organ.edit</button>
                            <button type="submit" id="btnSubmit" style="background:black;color:aqua" name="Command" value="delete" class="btn btn-white">Delete</button>
                            <button type="submit" id="btnSubmit" style="background:black;color:aqua" name="Command" value="back" class="btn btn-white">Back</button>

                        </div>*@


                        <div class="form-group">
                      
                            <label class="control-label col-md-3">
                                @organ.max_monthly_allowance
                            </label>
                            <div class="col-sm-3">
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default" disabled>-</button>

                                    @Html.EditorFor(model => model.max_monthly_allowance, new { htmlAttributes = new { @class = "form-control size-1", value = "1", @readonly = true } })
                                    <button type="button" class="btn btn-default" disabled>+</button>
                                </div>
                            </div>


                          
                            <label class="control-label col-md-3">
                                @organ.min_basic_salary
                            </label>
                            <div class="col-sm-3">
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default" disabled>-</button>
                                    @Html.EditorFor(model => model.min_basic_salary, new { htmlAttributes = new { @class = "form-control size-1", value = "1", @readonly = true } })


                                    <button type="button" class="btn btn-default" disabled>+</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @organ.min_working_years
                            </label>
                            <div class="col-sm-3">
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default" disabled>-</button>
                                    @Html.EditorFor(model => model.min_working_years, new { htmlAttributes = new { @class = "form-control size-1", value = "1", @readonly = true } })


                                    <button type="button" class="btn btn-default" disabled>+</button>
                                </div>
                            </div>



                       
                            <label class="control-label col-md-3">
                                @organ.mid_basic_salary
                            </label>
                            <div class="col-sm-3">
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default" disabled>-</button>
                                    @Html.EditorFor(model => model.mid_basic_salary, new { htmlAttributes = new { @class = "form-control size-1", value = "1", @readonly = true } })


                                    <button type="button" class="btn btn-default" disabled>+</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                          
                            <label class="control-label col-md-3">
                                @organ.max_incentive_amount
                            </label>
                            <div class="col-sm-3">
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default" disabled>-</button>
                                    @Html.EditorFor(model => model.max_incentive_amount, new { htmlAttributes = new { @class = "form-control size-1", value = "1", @readonly = true } })


                                    <button type="button" class="btn btn-default" disabled>+</button>
                                </div>
                            </div>


                         
                            <label class="control-label col-md-3">
                                @organ.max_basic_salary
                            </label>
                            <div class="col-sm-3">
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default" disabled>-</button>
                                    @Html.EditorFor(model => model.max_basic_salary, new { htmlAttributes = new { @class = "form-control size-1", value = "1", @readonly = true } })


                                    <button type="button" class="btn btn-default" disabled>+</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                         
                            <label class="control-label col-md-3">
                                @organ.max_incentive_percentage
                            </label>
                            <div class="col-sm-3">
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default" disabled>-</button>
                                    @Html.EditorFor(model => model.max_incentive_percentage, new { htmlAttributes = new { @class = "form-control size-1", value = "1", @readonly = true } })


                                    <button type="button" class="btn btn-default" disabled>+</button>
                                </div>
                            </div>



                         
                            <label class="control-label col-md-3">
                                @organ.max_annual_increase_percentage
                            </label>
                            <div class="col-sm-3">
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default" disabled>-</button>
                                    @Html.EditorFor(model => model.max_annual_increase_percentage, new { htmlAttributes = new { @class = "form-control size-1", value = "1", @readonly = true } })


                                    <button type="button" class="btn btn-default" disabled>+</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                           
                            <label class="control-label col-md-3">
                                @organ.dedicated_allowence
                            </label>
                            <div class="col-sm-3">
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default" disabled>-</button>
                                    @Html.EditorFor(model => model.dedicated_allowence, new { htmlAttributes = new { @class = "form-control size-1", value = "1", @readonly = true } })


                                    <button type="button" class="btn btn-default" disabled>+</button>
                                </div>
                            </div>


                           <label class="control-label col-md-3">
                                @organ.representation_allowance_value
                            </label>
                            <div class="col-sm-3">
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default" disabled>-</button>
                                    @Html.EditorFor(model => model.representation_allowance_value, new { htmlAttributes = new { @class = "form-control size-1", value = "1", min = "0", @readonly = true } })


                                    <button type="button" class="btn btn-default" disabled>+</button>
                                </div>
                            </div>
                        </div>

                    </div>
                }

            </div>

        </div>

    </section>
</div>


@section scripts{}