@model HR.Models.Job_level_class
@using HR.Resource;
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}


@Scripts.Render("~/bundles/jqueryval")
<div class="content-wrapper">

    <section class="content-header">
        <h1>
          @organ.EDITJoblevellass
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="box">

            <!-- /.box-header -->
            <div class="box-body">

                @using (Html.BeginForm("Edit", "Job_level_class", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">

                        <hr />

                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Message"]
                            </div>
                        }

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @organ.code
                            </label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @readonly = true, @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3" style="color:black">
                                <button type="submit" id="btnSubmit" name="Command" value="Submit" class="btn btn-success">@organ.specialallwance</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @organ.name
                            </label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @organ.description
                            </label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                           <label class="control-label col-md-3">
                                @organ.max_monthly_allowance
                            </label>
                              <div class="col-sm-3">
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default">-</button>

                                    @Html.EditorFor(model => model.max_monthly_allowance, new { htmlAttributes = new { @class = "form-control size-1", value = "1" } })
                                    <button type="button" class="btn btn-default">+</button>
                                </div>
                            </div>


                             <label class="control-label col-md-3">
                                @organ.min_basic_salary
                            </label>
                               <div class="col-sm-3">
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default">-</button>
                                    @Html.EditorFor(model => model.min_basic_salary, new { htmlAttributes = new { @class = "form-control size-1", value = "1" } })


                                    <button type="button" class="btn btn-default">+</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @organ.min_working_years
                            </label>
                                  <div class="col-sm-3">
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default">-</button>
                                    @Html.EditorFor(model => model.min_working_years, new { htmlAttributes = new { @class = "form-control size-1", value = "1" } })


                                    <button type="button" class="btn btn-default">+</button>
                                </div>
                            </div>



                           <label class="control-label col-md-3">
                                @organ.mid_basic_salary
                            </label>
                              <div class="col-sm-3">
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default">-</button>
                                    @Html.EditorFor(model => model.mid_basic_salary, new { htmlAttributes = new { @class = "form-control size-1", value = "1" } })


                                    <button type="button" class="btn btn-default">+</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label col-md-3">
                                @organ.max_incentive_amount
                            </label>
                              <div class="col-sm-3">
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default">-</button>
                                    @Html.EditorFor(model => model.max_incentive_amount, new { htmlAttributes = new { @class = "form-control size-1", value = "1" } })


                                    <button type="button" class="btn btn-default">+</button>
                                </div>
                            </div>


                            <label class="control-label col-md-3">
                                @organ.max_basic_salary
                            </label>
                             <div class="col-sm-3">
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default">-</button>
                                    @Html.EditorFor(model => model.max_basic_salary, new { htmlAttributes = new { @class = "form-control size-1", value = "1" } })


                                    <button type="button" class="btn btn-default">+</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                         <label class="control-label col-md-3">
                                @organ.max_incentive_percentage
                            </label>
                              <div class="col-sm-3">
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default">-</button>
                                    @Html.EditorFor(model => model.max_incentive_percentage, new { htmlAttributes = new { @class = "form-control size-1", value = "1" } })


                                    <button type="button" class="btn btn-default">+</button>
                                </div>
                            </div>



                           <label class="control-label col-md-3">
                                @organ.max_annual_increase_percentage
                            </label>
                              <div class="col-sm-3">
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default">-</button>
                                    @Html.EditorFor(model => model.max_annual_increase_percentage, new { htmlAttributes = new { @class = "form-control size-1", value = "1" } })


                                    <button type="button" class="btn btn-default">+</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label col-md-3">
                                @organ.dedicated_allowence
                            </label>
                               <div class="col-sm-3">
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default">-</button>
                                    @Html.EditorFor(model => model.dedicated_allowence, new { htmlAttributes = new { @class = "form-control size-1", value = "1" } })


                                    <button type="button" class="btn btn-default">+</button>
                                </div>
                            </div>


                            <label class="control-label col-md-3">
                                @organ.representation_allowance_value
                            </label>
                                <div class="col-sm-3">
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default">-</button>
                                    @Html.EditorFor(model => model.representation_allowance_value, new { htmlAttributes = new { @class = "form-control size-1", value = "1", min = "0" } })


                                    <button type="button" class="btn btn-default">+</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value=@organ.edit class="btn btn-success" />
                                <a href="@Url.Action("index","Job_level_class")" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>@organ.Back</a>

                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>

    </section>
</div>

@section scripts{}