@model IEnumerable<HR.Models.ViewModel.EmployeeMilitary_VM>
@using HR.Resource;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">

        <div class="box">
            <div class="box-header">
                <p class="lead">
                    @Personnel.EmployeeMilitaryServiceProfile
                </p>
            </div>

            <!-- /.box-header -->
            <div class="box-body">
                @if (TempData["Message"] != null)
                {
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        @TempData["Message"]
                    </div>
                }

                <table id="categories" class="table table-bordered table-striped text-center">
                    <thead>
                        <tr>
                            <th>@Personnel.MilitaryserviceprofileeNo</th>
                            <th>@Personnel.EmployeeName </th>
                            <th>@Personnel.Militaryservicerankcode</th>
                            <th>@Personnel.Exemptionreason</th>
                            <th>@Personnel.Militaryservicestatus</th>
                            <th>@Personnel.Level</th>
                         

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>



                        @foreach (var item in Model)
                        {
                            <tr>
                               <td>@item.Employee_military_service_profile.Code</td>
                                <td>@item.fullname</td>
                              @if (@item.Employee_military_service_profile.Military_Service_Rank != null)
                                {
                                    <td>@item.Employee_military_service_profile.Military_Service_Rank.Name </td>
                                }
                                else
                                {
                                    <td>Empty</td>}
                                @if (@item.Employee_military_service_profile.Rejection_Reasons != null)
                                {
                                    <td>@item.Employee_military_service_profile.Rejection_Reasons.Name</td>
                                }
                                else
                                {
                                    <td>Empty</td>}
                           <td>@item.Employee_military_service_profile.Military_service_status</td>
                                <td>@item.Employee_military_service_profile.Level</td>



                                <td>
                                    <a href="@Url.Action("Edit", "Employee_military_service_profile", new {id = item.Employee_military_service_profile.ID})" class="btn btn-primary btn-sm" style="width:50px"><i class="fa fa-edit"></i>@Personnel.Edit</a>
                                    <a href="@Url.Action("delete", "Employee_military_service_profile", new {id = item.Employee_military_service_profile.ID})" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>@Personnel.Delete</a>
                                </td>
                            </tr>
                        }


                    </tbody>
                
                </table>
            </div>
        </div>

    </section>

</div>

<!-- page script -->
<script>
    var $ = jQuery;

    $(document).ready(function () {
        $('#categories').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
            "order" : 1
        });
    });
</script>

@section scripts{}