@model IEnumerable<HR.Models.Employee_military_service_profile>
@using HR.Resource;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}
<div class="form-group">
    <div class="col-md-5">
    </div>
    <div class="col-md-6">
        <h1>@Personnel.EmployeeMilitaryServiceProfile</h1>
    </div>
</div>
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">

        <div class="box">
            <div class="box-header">
                <div class="form-group">
                    <div class="col-md-10">
                        <p class="lead">
                            <a href="@Url.Action("Create", "Employee_military_service_profile", new { id=@ViewBag.idemp })" class="btn btn-success btn-sm"><i class="fa fa-edit"></i>@Personnel.EmployeeMilitaryServiceProfile </a>
                        </p>
                    </div>
                    <div class="col-md-2">
                        <a href="@Url.Action("Edit", "Employee_Profile", new {id = @ViewBag.idemp})" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>@Personnel.BackToEmployeeProfile</a>
                    </div>
                </div>
            </div>

            <!-- /.box-header -->
            <div class="box-body">
                @if (TempData["Message"] != null)
                {
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        @TempData["Message"]
                    </div>
                }

                <table id="categories" class="table table-bordered table-striped text-center">
                    <thead>
                        <tr>
                            <th>@Personnel.MilitaryserviceprofileeNo</th>
                            <th>@Personnel.EmployeeName </th>
                            <th>@Personnel.Militaryservicerankcode</th>
                            <th>@Personnel.Exemptionreason</th>
                            <th>@Personnel.Militaryservicestatus</th>
                            <th>@Personnel.Level</th>
                         

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>



                        @foreach (var item in Model)
                        {
                            <tr>
                               <td>@item.Code</td>
                                <td>@item.Employee_Profile.Full_Name</td>
                              @if (@item.Military_Service_Rank != null)
                                {
                                    <td>@item.Military_Service_Rank.Name </td>
                                }
                                else
                                {
                                    <td>Empty</td>}
                                @if (@item.Rejection_Reasons != null)
                                {
                                    <td>@item.Rejection_Reasons.Name</td>
                                }
                                else
                                {
                                    <td>Empty</td>}
                           <td>@item.Military_service_status</td>
                                <td>@item.Level</td>



                                <td>
                                    <a href="@Url.Action("Edit", "Employee_military_service_profile", new {id = item.ID})" class="btn btn-primary btn-sm" style="width:50px"><i class="fa fa-edit"></i>@Personnel.Edit1</a>
                                    <a href="@Url.Action("delete", "Employee_military_service_profile", new {id = item.ID})" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>@Personnel.Delete</a>
                                </td>
                            </tr>
                        }


                    </tbody>
                
                </table>
            </div>
        </div>

    </section>

</div>

<!-- page script -->
<script>
    var $ = jQuery;

    $(document).ready(function () {
        $('#categories').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
            "order" : 1
        });
    });
</script>

@section scripts{}