@model HR.Models.Employee_sponsor_profile
@using HR.Resource;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}

@Scripts.Render("~/bundles/jqueryval")



<div class="content-wrapper">

    <section class="content-header">
        <h1>
            @Personnel.CreateEmployeeSponsorProfile
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box">

            <!-- /.box-header -->
            <div class="box-body">

    @using (Html.BeginForm("Create", "Employee_sponsor_profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">

            <hr />

            @if (TempData["Message"] != null)
            {
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @TempData["Message"]
                </div>
            }

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })




            <div class="form-group">
                <label class="control-label col-md-2">@Personnel.EmployeeName</label>
                <div class="col-md-3">
                    @Html.DropDownListFor(m => m.Employee_ProfileId, new SelectList(ViewBag.Employee_Profile, "ID", "Code"), @Personnel.SelectEmployee, new { @readonly = true, @class = "select2", @onchange = "employee()", id = "employeeId" })
                    @Html.ValidationMessageFor(model => model.Employee_ProfileId, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">@Personnel.SponsorprofileNo</label>
                <div class="col-md-3">
                    @Html.DropDownListFor(m => m.SponsorId, new SelectList(ViewBag.Sponsor, "ID", "Code"), Personnel.SelectSponsor, new { @readonly = true, @class = "select2", @onchange = "employee2()", id = "employeeId2" })
                    @Html.ValidationMessageFor(model => model.SponsorId, "", new { @class = "text-danger" })

                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-md-2">@Personnel.ResidenceId</label>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Residence_Id, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.Residence_Id, "", new { @class = "text-danger" })
                </div>
            </div>
      


                    <div class="form-group">
                        <label class="control-label col-md-2">@Personnel.Issueplace</label>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.Issue_place, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.Issue_place, "", new { @class = "text-danger" })
                        </div>
                    </div>
            

                            <div class="form-group">
                                <label class="control-label col-md-2">@Personnel.Issuedate</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Issue_date, new { htmlAttributes = new { @class = "form-control datepicker", @id = "dateto", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.Issue_date, "", new { @class = "text-danger" })
                                </div>
                           
                                <label class="control-label col-md-2">@Personnel.Birthdate</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Birth_date, new { htmlAttributes = new { @class = "form-control datepicker", @id = "dateto", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.Birth_date, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">@Personnel.Owner</label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.Owner,  new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.Owner, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-2">@Personnel.Job</label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.Job,  new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.Job, "", new { @class = "text-danger" })
                                </div>
                            </div>
                       
            <div class="form-group">
                <label class="control-label col-md-2">@Personnel.Nationality</label>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Nationality, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">@Personnel.Religin</label>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Religin, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.Religin, "", new { @class = "text-danger" })
                </div>
            </div>


                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="@Personnel.Create" class="btn btn-success" />
                                <a href="@Url.Action("index","Employee_sponsor_profile")" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>@Personnel.Back</a>
                            </div>
                        </div>
                
            </div>
                }

            </div>

        </div>

    </section>
</div>

@section scripts{}

<script>
    function employee() {
        debugger
        var id = $("#employeeId").val();
        $.ajax({
            type: "post",
            url: "/Helper/GetEmployee",
            data: { "id": id },
            success: function (result) {
                debugger
                $("#employeename").val(result.Name);
                $("#codeid").val(result.Employee_Positions_Profile.Code);
                $("#employeeId").attr("readonly", true);
                $("#employeeId").prop("readonly", true);
            },
            error: function () {
                debugger
                $("#employeename").val(" ");
                $("#codeid").val("");
            }
        });
    }
    function employee2() {
        debugger
        var id = $("#employeeId2").val();
        $.ajax({
            type: "post",
            url: "/Helper/GetSponsor",
            data: { "id": id },
            success: function (result) {
                debugger
                //  $("#employeename").val(result.Name);

            },
            error: function () {
                debugger

            }
        });
    }
</script>







