@model HR.Controllers.VM
@using HR.Resource
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
    
}
@using HR.Resource;
<div class="panel panel-primary" data-collapsed="0">
    <div class="panel-body">
        @using (Html.BeginForm("edit", "SalaryItemGroup_Header", FormMethod.Post, new { id = "dd", enctype = "multipart/form-data" }))
        {
            <div class="sec-nav">
                <div><i class="far fa-save"></i><button type="submit" id="btnSubmit" name="Command" value="Submit2" class="create-btn" />@organ.Save</div>
                <div><i class="fas fa-plus"></i><a href="@Url.Action("create", "SalaryItemGroup_Header")" class="create-btn">@pers_2.new_</a></div>
                <div><i class="far fa-trash-alt"></i><input type="button" href="@Url.Action("index","SalaryItemGroup_Header")" class="create-btn" value=@organ.delete /></div>
                <div><i class="fas fa-undo"></i><a style="" href="@Url.Action("index", "SalaryItemGroup_Header")" class="create-btn"> @pers_2.Back</a></div>


            </div>
            @Html.AntiForgeryToken()
            <input name="item" value="" hidden />
            <input name="ID_item" value="" hidden />
                    <input name="value" value="" hidden />
                    <input name="sort" value="" hidden />
                    @Html.HiddenFor(m => m.Header.SalaryItemCollectionGroup_Header.ID);
                    <div class="form-horizontal">
                        <hr />
                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Message"]
                            </div>
                        }
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                           
                            <div class="col-md-4">
                                <label style="color:red">
                                    @organ.code
                                </label>
                                @Html.EditorFor(model => model.Header.SalaryItemCollectionGroup_Header.CodeGroupID, new { htmlAttributes = new { @readonly = true, @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Header.SalaryItemCollectionGroup_Header.CodeGroupID, "", new { @class = "text-danger" })

                            </div>
                           
                           
                        
                            <div class="col-md-4">
                                <label style="color:red">
                                    @organ.name
                                </label>
                                @Html.EditorFor(model => model.Header.SalaryItemCollectionGroup_Header.CodeGroupDesc, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Header.SalaryItemCollectionGroup_Header.CodeGroupDesc, "", new { @class = "text-danger" })

                            </div>
                          
                            <div class="col-md-4">
                                <label>
                                    @organ.description
                                </label>
                                @Html.EditorFor(model => model.Header.SalaryItemCollectionGroup_Header.CodeGroupAltDesc, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                       
                           
                            <div class="col-md-4">
                                <label>
                                    <span> @pers_2.codegrouptype</span>
                                </label>
                                @Html.EnumDropDownListFor(m => m.Header.code_group_type, "Select budget type", new { @class = "select2" })

                            </div>

                            <div class="col-md-4">
                                <label>
                                    <span> @pers_2.grouppurpose</span>
                                </label>
                                @Html.EnumDropDownListFor(m => m.Header.group_purpose, "Select budget type", new { @class = "select2" })

                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-md-4">
                                <label>
                                    <span> @pers_2.Eligibilitytype</span>
                                </label>
                                @Html.EnumDropDownListFor(m => m.Header.Eligibility, "Select budget type", new { @class = "select2" })

                            </div>
                        
                            <div class="col-md-4">
                                <label>
                                    <span> @pers_2.payrolleligibility</span>
                                </label>
                                @Html.EditorFor(model => model.Header.SalaryItemCollectionGroup_Header.PayrollEligibility, new { htmlAttributes = new { @class = "form-control" } })


                            </div>
                        </div>
                        <div class="col-md-12">
                            <ul class="nav nav-tabs bordered">
                                <!-- available classes "bordered", "right-aligned" -->
                                <li class="active">
                                    <a href="#Budgetdetails" data-toggle="tab">
                                        <span class="visible-xs"><i class="entypo-home"></i></span>
                                        <span class="hidden-xs">@pers_2.Salarycode</span>
                                    </a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="Budgetdetails" style="overflow: hidden;width: auto;height: auto;">

                                    <div style="margin-bottom:15px" class="form-group">
                                       
                                        <div class="col-md-4">
                                            <label>
                                                <span> @pers_2.salarycodeid </span>
                                            </label>
                                            @Html.DropDownList("items", new SelectList(ViewBag.salaryitem, "ID", "Code"), pers_2.salarycodeid, new { @class = "select2", @id = "ite" })
                                        </div>
                                        <div class="col-md-1">

                                        </div>
                                        <div class="control-label col-md-1">
                                            <a onclick="additems()" style="margin-right:3px" class="btn btn-success"> @organ.additems </a>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <table id="categories" class="table table-bordered table-striped text-center">
                                            <thead>
                                                <tr>
                                                    <td hidden></td>
                                                    <td class="col-md-3">
                                                        @pers_2.Salarycode
                                                    </td>
                                                    <td class="col-md-1">
                                                        @pers_2.value
                                                    </td>
                                                    <td class="col-md-1">
                                                        @pers_2.sortindex
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            </thead>

                                            <tbody id="itemTR">
                                                @foreach(var item in Model.SalaryCodeGroup_Detail)
                                                {
                                                    <tr>
                                                        <td hidden><input hidden name='ID_item' value="@item.salary_code.ID" /></td>
                                                        <td class="col-md-3"><input class = 'form-control' value="@item.salary_code.SalaryCodeID - @item.salary_code.SalaryCodeDesc" readonly /></td>
                                                        <td class="col-md-1"><input class = 'form-control'  name='value' type="number" value="@item.DefaultValue" min="0" /></td>
                                                        <td class="col-md-1"><input class = 'form-control'  name='sort' type="number" value="@item.SortIndex" min="0" /></td>
                                                        <td class="col-md-1"><input type='button' style='margin-left:3px' value=@organ.remove class='form-control remove btn btn-danger' onclick='remove($(this))' /></td>
                                                    </tr>
                                                  
                                                }
                                            </tbody>
                                        </table>

                                    </div>

                                </div>
                            </div>



                        </div>
                    </div>
        }
    </div>
</div>
@section scripts{}
<script>
    function remove(thi) {
        thi.parent().parent().remove();
    }
    function additems()
    {

            var f = $("#ite").val();
            if (f == "")
            {
                alert('you must choose salary item ');
            }
            else {

                var i = "";
                var d = $("#ite").val();
                var firstdrop = " ";
                $.ajax
                  ({
                      type: "post",
                      url: "/SalaryItemGroup_Header/salaryitem",
                      data: { "id": d },
                      success: function (result) {
                          var i = "<tr><td hidden><input hidden name='ID_item' value='" + result.ID + "'/></td>" +
                         "<td class='col-md-3'><input readonly class = 'form-control' value='" + result.SalaryCodeID + "-" + result.SalaryCodeDesc + "'></td>" +
                          "<td class='col-md-1'><input class = 'form-control' name='value' value='0' min='0' type='number' /></td>" +
                          "<td class='col-md-1'><input class = 'form-control' name='sort' value='0' min='0' type='number' /></td>"+
                          "<td class='col-md-1'><input type='button' style='margin-left:3px' value=@organ.remove class='form-control remove btn btn-danger' onclick='remove($(this))' /></td></tr>";
                       debugger
                          $("#itemTR").append(i);
                          $("#ite").select2("val", "");
                      }
                  });
            }
    }
    function remove(thi) {
        thi.parent().parent().remove();
    }

    function ch()
    {

        var t = check();
        if (t == 0) {


            $("#dd").submit();
        }

    }

</script>


<style>
    /*Create Page*/


    .sec-nav {
        z-index: 9999;
        position: fixed;
        top: 47px;
        background: #faf9f8;
        border-bottom: 1px solid #bebbb8;
        display: block;
        width: 100%;
        left: 50px;
        padding-left: 10px;
        height: 60px;
        line-height: 60px;
    }

        .sec-nav div {
            display: inline-block;
            padding: 5px 8px;
            width: unset;
            border: 0;
            color: #000;
            font-size: 16px;
            height: 60px;
        }

            .sec-nav div:hover {
                background: #eee;
                color: #000;
            }

                .sec-nav div:hover input {
                    color: #000;
                }

    .create-btn {
        border: 0;
        height: 100%;
        background-color: transparent;
    }

    .sec-nav div svg {
        color: #2266e3;
        font-size: 17px;
    }

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        /*float: unset*/
    }

    label {
        text-align: left;
        font: normal normal 400 12px/18px 'Segoe UI',tahoma,sans-serif;
        color: #605e5c;
        display: block;
        margin-bottom: 0;
        max-width: 220px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 600;
        margin-top: 15px;
    }

    .form-horizontal .form-group {
        margin: 0 !important;
    }

    input {
        height: 35px;
        color: #000;
    }

        input:active {
            border: 1px solid #2266e3;
        }

    .form-group .row > div {
        margin-bottom: 10px;
    }

    .content-wrapper {
        margin-left: 15px;
    }

    .col-md-4 {
        width: 20% !important;
    }
</style>    