@model HR.Models.Country
@using HR.Resource;
@{
    ViewBag.Title = "الصفحة الرئيسية";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}
<link href="~/Content/layout_style/css/all.css" rel="stylesheet" />
<link href="~/Content/layout_style/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/layout_style/css/javascript-calendar.css" rel="stylesheet" />
<link href="~/Content/layout_style/css/jquery-ui.css" rel="stylesheet" />
@section image
{
    <div class="row" style="padding: 83px;background-image: url(/1.jpg);background-size: cover;">
        <div col-lg-12>
            <h3 style="color: #fff">-</h3>
        </div>
    </div>
}
<script>
    /*global $*/
    /*global console*/
    $(function () {
        'use strict';

        //    $('.main-tab').click(function () {
        //        $('.' + $(this).data('value')).siblings('.row').hide();
        //        if ($('.' + $(this).data('value')).is(':hidden')) {
        //
        //            $('.' + $(this).data('value')).css('display', 'flex');
        //        } else {
        //            $('.' + $(this).data('value')).hide();
        //        }
        //    });


    });

    function allBasic() {
        'use strict';
        $(".child-tabs .row:not(.basic)").empty();
        var basic = "<div class='col-md-4'> <div class='tab' id='setup' data-value='setup' onclick='allSetup()'> <p><i class='fab fa-500px'></i> @mainlayout.Setup</p></div></div> <div class='col-md-4'> <div class='tab' id='cards' onclick='allCards()'> <p><i class='fab fa-500px'></i> @mainlayout.cards</p></div></div><div class='col-md-4'> <div class='tab' id='transaction' onclick='allTransaction()'> <p><i class='fab fa-500px'></i> @mainlayout.Transactions</p></div></div><div class='col-md-4'> <div class='tab' id='process' onclick='allProcess()'> <p><i class='fab fa-500px'></i> @mainlayout.Process</p></div></div><div class='col-md-4'> <div class='tab' id='inquery' onclick='allInquery()'> <p><i class='fab fa-500px'></i> @mainlayout.inquery</p></div></div><div class='col-md-4'> <div class='tab' id='report' onclick='allReport()'> <p><i class='fab fa-500px'></i> @organ.report</p></div></div>",
            content = document.querySelector('.basic'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.basic').empty();
        } else {
            $('.basic').append(basic);
        }

    }

    function allSetup() {
        'use strict';
        $(".child-tabs .row:not(.basic,.setup)").empty();
        var setup = "<div class='col-md-4'> <div class='tab' id='address' onclick='address_bas()'> <p><i class='fab fa-500px'></i> @mainlayout.Address</p></div></div><div class='col-md-4'> <div class='tab' id='nationality'> <p><i class='fab fa-500px'></i> <a href='/Nationality'>@mainlayout.Nationality</a></p></div></div><div class='col-md-4'> <div class='tab' id='religion'> <p><i class='fab fa-500px'></i> <a href='/Religion'>@mainlayout.Religion</a></p></div></div><div class='col-md-4'> <div class='tab' id='qualifications' onclick='qualifications()'> <p><i class='fab fa-500px'></i> @mainlayout.Qulifaication</p></div></div><div class='col-md-4'> <div class='tab' id='milirty' onclick='milirty()'> <p><i class='fab fa-500px'></i> @mainlayout.milirty</p></div></div><div class='col-md-4'> <div class='tab' id='documents' onclick='documents()'> <p><i class='fab fa-500px'></i> @mainlayout.documents</p></div></div><div class='col-md-4' id='currency' onclick='currency()'> <div class='tab'> <p><i class='fab fa-500px'></i> @mainlayout.Currency</p></div></div><div class='col-md-4'> <div class='tab' id='check_request' onclick='check_request()'> <p><i class='fab fa-500px'></i> @mainlayout.check_request</p></div></div><div class='col-md-4'> <div class='tab' id='contact_method'> <p><i class='fab fa-500px'></i> <a href='/Contact_methods'>@mainlayout.contact_method</a></p></div></div><div class='col-md-4'> <div class='tab' id='rejection_resons'> <p><i class='fab fa-500px'></i> <a href='/Rejection_Reasons'>@mainlayout.Rejection_reasons</p></div></div><div class='col-md-4'> <div class='tab' id='external_companies'> <p><i class='fab fa-500px'></i> <a href='/External_compaines'>@mainlayout.Extrnal_companies</a></p></div></div><div class='col-md-4'> <div class='tab' id='air_ports'> <p><i class='fab fa-500px'></i> <a href='/Air_ports'>@mainlayout.Air_ports</a></p></div></div><div class='col-md-4'> <div class='tab'> <p><i class='fab fa-500px'></i> <a href='/Ticket_Prices'>@mainlayout.Tickets_prices</a></p></div></div><div class='col-md-4'> <div class='tab' id='sponsor'> <p><i class='fab fa-500px'></i> <a href='/Sponsor'>@mainlayout.Sponsor</a></p></div></div>",
            content = document.querySelector('.setup'),
            result = content.innerHTML.trim();
        if (result !== "") {
            $('.setup').empty();
        } else {
            $('.setup').append(setup);
        }

    }

    function allCards() {
        'use strict';
        $(".child-tabs .row:not(.basic,.cards)").empty();
        var cards = "",
            content = document.querySelector('.cards'),
            result = content.innerHTML.trim();
        if (result !== "") {
            $('.cards').empty();
        } else {
            $('.cards').append(cards);
        }

    }

    function allTransaction() {
        'use strict';
        $(".child-tabs .row:not(.basic,.transaction)").empty();
        var transaction = "<div class='col-md-4'> <div class='tab'> <p><i class='fab fa-500px'></i><a href='/Check_Request/Create'>@mainlayout.check_request</a></p></div></div>",
            content = document.querySelector('.transaction'),
            result = content.innerHTML.trim();
        if (result !== "") {
            $('.transaction').empty();
        } else {
            $('.transaction').append(transaction);
        }

    }

    function allProcess() {
        'use strict';
        $(".child-tabs .row:not(.basic,.process)").empty();
        var process = "<div class='col-md-4'> <div class='tab'> <p><i class='fab fa-500px'></i><a href='/Check_Request'> @mainlayout.check_request_action</a></p></div></div>",
            content = document.querySelector('.process'),
            result = content.innerHTML.trim();
        if (result !== "") {
            $('.process').empty();
        } else {
            $('.process').append(process);
        }
    }

    function allInquery() {
        'use strict';
        $(".child-tabs .row:not(.basic,.inquery)").empty();
        var inquery = "",
            content = document.querySelector('.inquery'),
            result = content.innerHTML.trim();
        if (result !== "") {
            $('.inquery').empty();
        } else {
            $('.inquery').append(inquery);
        }

    }

    function allReport() {
        'use strict';
        $(".child-tabs .row:not(.basic,.report)").empty();
        var report = "",
            content = document.querySelector('.report'),
            result = content.innerHTML.trim();
        if (result !== "") {
            $('.report').empty();
        } else {
            $('.report').append(report);
        }

    }
    ///////////////////////////////////////////////////////////////////////////////
    //ALL Basic Setup Address
    function address_bas() {
        'use strict';
        $(".child-tabs .row:not(.basic,.setup,.address)").empty();
        var address = "<div class='col-md-4'> <div class='tab' id='country'> <p><i class='fab fa-500px'></i> <a href='/Country'>@mainlayout.Country</a></p></div></div><div class='col-md-4'> <div class='tab' id='regions'> <p><i class='fab fa-500px'></i> <a href='/Area'>@mainlayout.Regions</a></p></div></div><div class='col-md-4'> <div class='tab' id='state'> <p><i class='fab fa-500px'></i> <a href='/State'>@mainlayout.state_government</a></p></div></div><div class='col-md-4'> <div class='tab' id='county'> <p><i class='fab fa-500px'></i> <a href='/territory'>@mainlayout.county</a></p></div></div><div class='col-md-4'> <div class='tab' id='City'> <p><i class='fab fa-500px'></i> <a href='/Cities'>@mainlayout.city</a></p></div></div><div class='col-md-4'> <div class='tab' id='zip'> <p><i class='fab fa-500px'></i> <a href='/Postalcode'>@mainlayout.zip_postal</a></p></div></div>",
            content = document.querySelector('.address'),
            result = content.innerHTML.trim();
        if (result !== "") {
            $('.address').empty();
        } else {
            $('.address').append(address);
        }

    }

    function qualifications() {
        'use strict';
        $(".child-tabs .row:not(.basic,.setup,.qualifications)").empty();
        var qualification = "<div class='col-md-4'> <div class='tab' id='qualification_category'> <p><i class='fab fa-500px'></i> <a href='/Educate_category'>@mainlayout.Qulification_category</a></p></div></div><div class='col-md-4'> <div class='tab' id='educate_title'> <p><i class='fab fa-500px'></i> <a href='/Educate_title'>@mainlayout.education_title</a></p></div></div><div class='col-md-4'> <div class='tab' id='qulification_main_provider'> <p><i class='fab fa-500px'></i> <a href='/EducateMainBody'>@mainlayout.qulification_main_provider</a></p></div></div><div class='col-md-4'> <div class='tab' id='qulification_sub_providor'> <p><i class='fab fa-500px'></i> <a href='/Sub_educational_body'>@mainlayout.qulification_sub_providor</a></p></div></div><div class='col-md-4'> <div class='tab' id='qulification_name'> <p><i class='fab fa-500px'></i> <a href='/Name_of_educational_qualification'>@mainlayout.qulification_name </a></p></div></div><div class='col-md-4'> <div class='tab' id='qulification_degree'> <p><i class='fab fa-500px'></i> <a href='/GradeEducate'>@mainlayout.qulification_degree</a></p></div></div><div class='col-md-4'> <div class='tab' id='qulification_specialty'> <p><i class='fab fa-500px'></i> <a href='/QualificationMajor'>@mainlayout.qulification_specialty</a></p></div></div>",
            content = document.querySelector('.qualifications'),
            result = content.innerHTML.trim();
        if (result !== "") {
            $('.qualifications').empty();
        } else {
            $('.qualifications').append(qualification);
        }

    }

    function milirty() {
        'use strict';
        $(".child-tabs .row:not(.basic,.setup,.milirty)").empty();
        var milirtys = "<div class='col-md-4'> <div class='tab' id='miliraty_service_status'> <p><i class='fab fa-500px'></i> <a href='/Military_Service_Status'>@mainlayout.miliraty_service_status</a></p></div></div><div class='col-md-4'> <div class='tab' id='miliraty_service_rank'> <p><i class='fab fa-500px'></i> <a href='/Military_Service_Rank'>@mainlayout.miliraty_service_rank</a></p></div></div>",
            content = document.querySelector('.milirty'),
            result = content.innerHTML.trim();
        if (result !== "") {
            $('.milirty').empty();
        } else {
            $('.milirty').append(milirtys);
        }

    }

    function documents() {
        'use strict';
        $(".child-tabs .row:not(.basic,.setup,.documents)").empty();
        var documentss = "<div class='col-md-4'> <div class='tab' id='document_group'> <p><i class='fab fa-500px'></i> <a href='/Document_Group'> @mainlayout.documents_group</a></p></div></div><div class='col-md-4'> <div class='tab' id='Document'> <p><i class='fab fa-500px'></i> <a href='/Documents'>@mainlayout.document</a></p></div></div>",
            content = document.querySelector('.documents'),
            result = content.innerHTML.trim();
        if (result !== "") {
            $('.documents').empty();
        } else {
            $('.documents').append(documentss);
        }
    }

    function currency() {
        'use strict';
        $(".child-tabs .row:not(.basic,.setup,.currency)").empty();
        var currencys = "<div class='col-md-4'> <div class='tab' id='currency'> <p><i class='fab fa-500px'></i> <a href='/Currency'>@mainlayout.Currency</a></p></div></div><div class='col-md-4'> <div class='tab' id='exchange_rate'> <p><i class='fab fa-500px'></i> <a href='/ExchangeRate'>@mainlayout.exchange_rate</a></p></div></div>",
            content = document.querySelector('.currency'),
            result = content.innerHTML.trim();
        if (result !== "") {
            $('.currency').empty();
        } else {
            $('.currency').append(currencys);
        }
    }

    function check_request() {
        'use strict';
        $(".child-tabs .row:not(.basic,.setup,.check_request)").empty();
        var check_requests = "<div class='col-md-4'> <div class='tab' id='check_type'> <p><i class='fab fa-500px'></i> <a href='/Checktype'>@mainlayout.check_type</a></p></div></div><div class='col-md-4'> <div class='tab' id='check_status'> <p><i class='fab fa-500px'></i> <a href='/checkstatus'>@mainlayout.check_status</a></p></div></div>",
            content = document.querySelector('.check_request'),
            result = content.innerHTML.trim();
        if (result !== "") {
            $('.check_request').empty();
        } else {
            $('.check_request').append(check_requests);
        }
    }

    //ORGANIZATION
    function allOrg() {
        'use strict';
        $(".child-tabs .row:not(.organization)").empty();
        var org = "<div class='col-md-4'> <div class='tab' id='setup_Org' data-value='setup' onclick='allSetupOrg()'> <p><i class='fab fa-500px'></i> @mainlayout.Setup</p></div></div><div class='col-md-4'> <div class='tab' id='cards_Org' onclick='allCardsOrg()'> <p><i class='fab fa-500px'></i> @mainlayout.cards</p></div></div><div class='col-md-4'> <div class='tab' id='transaction_Org' onclick='allTransactionOrg()'> <p><i class='fab fa-500px'></i> @mainlayout.Transactions</p></div></div><div class='col-md-4'> <div class='tab' id='process_Org' onclick='allProcessOrg()'> <p><i class='fab fa-500px'></i> @mainlayout.Process</p></div></div><div class='col-md-4'> <div class='tab' id='inquery_Org' onclick='allInqueryOrg()'> <p><i class='fab fa-500px'></i> @mainlayout.inquery</p></div></div><div class='col-md-4'> <div class='tab' id='report_Org' onclick='allReportOrg()'> <p><i class='fab fa-500px'></i>@organ.report</p></div></div>",
            content = document.querySelector('.organization'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.organization').empty();
        } else {
            $('.organization').append(org);
        }

    }

    function allSetupOrg() {
        'use strict';
        $(".child-tabs .row:not(.organization,.setup_org)").empty();
        var setup_org = "<div class='col-md-4'> <div class='tab' id='authority' data-value='authority' onclick='authorityOrg()'> <p><i class='fab fa-500px'></i> @mainlayout.Authority</p></div></div><div class='col-md-4'> <div class='tab' id='skills_Org' onclick='skillsOrg()'> <p><i class='fab fa-500px'></i> @mainlayout.skills</p></div></div><div class='col-md-4'> <div class='tab' id='risk_Org' onclick='riskOrgs()'> <p><i class='fab fa-500px'></i> @mainlayout.Risk</p></div></div><div class='col-md-4'> <div class='tab' id='requirments_Org''> <p><i class='fab fa-500px'></i> <a href='/Requirments'>@mainlayout.requirments</a></p></div></div><div class='col-md-4'> <div class='tab' id='Experience_Org'> <p><i class='fab fa-500px'></i> <a href='/Experience_group'>@mainlayout.experience_group</a></p></div></div><div class='col-md-4'> <div class='tab' id='responsibilites_Org'> <p><i class='fab fa-500px'></i> <a href='/Responsibilities'>@mainlayout.responsibilites</a></p></div></div><div class='col-md-4'> <div class='tab' id='worklocation_Org'> <p><i class='fab fa-500px'></i> <a href='/work_location'>@mainlayout.worklocation</a></p></div></div><div class='col-md-4'> <div class='tab' id='jobLevel_Org' onclick='job_level()'> <p><i class='fab fa-500px'></i> @mainlayout.job_level</p></div></div><div class='col-md-4'> <div class='tab' id='job_title_Org' onclick='job_title()'> <p><i class='fab fa-500px'></i> @mainlayout.job_title</p></div></div><div class='col-md-4'> <div class='tab' id='job_title_Org' onclick='org_chart()'> <p><i class='fab fa-500px'></i>@mainlayout.organization_chart</p></div></div><div class='col-md-4'> <div class='tab' id='budget_Org' onclick='budget()'> <p><i class='fab fa-500px'></i>@mainlayout.budget</p></div></div>",
            content = document.querySelector('.setup_org'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.setup_org').empty();
        } else {
            $('.setup_org').append(setup_org);
        }
    }

    function allCardsOrg() {
        'use strict';
        $(".child-tabs .row:not(.organization,.cards_org)").empty();
        var cards_org = "<div class='col-md-4'> <div class='tab' id='job_level_Org'> <p><i class='fab fa-500px'></i> <a href='/job_level_setup'>@mainlayout.job_level</a></p></div></div><div class='col-md-4'> <div class='tab' id='job_title_card_Org'> <p><i class='fab fa-500px'></i> <a href='/job_title_card'>@mainlayout.job_title_card</a></p></div></div><div class='col-md-4'> <div class='tab' id='org_chart_card_Org'> <p><i class='fab fa-500px'></i> <a href='/OrganizationChart'>@mainlayout.organization_chart_card</a></p></div></div><div class='col-md-4'> <div class='tab' id='budget_Card'> <p><i class='fab fa-500px'></i> <a href='/Budget'>@mainlayout.budget_card</a></p></div></div><div class='col-md-4'> <div class='tab' id='inquery_Org'> <p><i class='fab fa-500px'></i> <a href='/manpower'>@mainlayout.mainpo</a></p></div></div>",
            content = document.querySelector('.cards_org'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.cards_org').empty();
        } else {
            $('.cards_org').append(cards_org);
        }
    }

    function allTransactionOrg() {
        'use strict';
        $(".child-tabs .row:not(.organization,.transaction_org)").empty();
        var transaction_org = "",
            content = document.querySelector('.cards_org'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.transaction_org').empty();
        } else {
            $('.transaction_org').append(transaction_org);
        }
    }

    function allProcessOrg() {
        'use strict';
        $(".child-tabs .row:not(.organization,.process_org)").empty();
        var process_org = "",
            content = document.querySelector('.process_org'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.process_org').empty();
        } else {
            $('.process_org').append(process_org);
        }
    }

    function allInqueryOrg() {
        'use strict';
        $(".child-tabs .row:not(.organization,.inquery_org)").empty();
        var inquery_org = "<div class='col-md-4'> <div class='tab' id='view_jobs_Org'> <p><i class='fab fa-500px'></i> <a href='/OrganizationInquiry/organization_view_related_to_jobs2'>@mainlayout.view_jobs</a></p></div></div><div class='col-md-4'> <div class='tab' id='org_view_Org'> <p><i class='fab fa-500px'></i> <a href='/OrganizationInquiry/organization_view_related_to_jobs'>@mainlayout.organization_view_related_to_jobs</a></p></div></div>",
            content = document.querySelector('.inquery_org'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.inquery_org').empty();
        } else {
            $('.inquery_org').append(inquery_org);
        }
    }

    function allReportOrg() {
        'use strict';
        $(".child-tabs .row:not(.organization,.report_org)").empty();
        var report_org = "<div class='col-md-4'> <div class='tab' id='job_title_card_Org'> <p><i class='fab fa-500px'></i> <a href='/Reports_organization/job_title'>@mainlayout.job_title_card</a></p></div></div><div class='col-md-4'> <div class='tab'> <p><i class='fab fa-500px'></i> <a href='/Reports_organization/Chart'>@mainlayout.organization_chart</a></p></div></div>",
            content = document.querySelector('.report_org'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.report_org').empty();
        } else {
            $('.report_org').append(report_org);
        }
    }

    function authorityOrg() {
        'use strict';
        $(".child-tabs .row:not(.organization,.setup_org,.authority)").empty();
        var authority = "<div class='col-md-4'> <div class='tab' id='Authority_Org'> <p><i class='fab fa-500px'></i> <a href='/Authority_Type'>@mainlayout.Authority_type</a></p></div></div><div class='col-md-4'> <div class='tab' id='org_chart_Org'> <p><i class='fab fa-500px'></i> <a href='/Authorities'>@mainlayout.Authorities</a></p></div></div>",
            content = document.querySelector('.authority'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.authority').empty();
        } else {
            $('.authority').append(authority);
        }
    }

    function skillsOrg() {
        'use strict';
        $(".child-tabs .row:not(.organization,.setup_org,.skills)").empty();
        var skills = "<div class='col-md-4'> <div class='tab' id='Skill_group_Org'> <p><i class='fab fa-500px'></i> <a href='/Skill_group'>@mainlayout.skills_group</a></p></div></div><div class='col-md-4'> <div class='tab' id='Skill_Org'> <p><i class='fab fa-500px'></i> <a href='/Skill'>@mainlayout.skill</a></p></div></div>",
            content = document.querySelector('.skills'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.skills').empty();
        } else {
            $('.skills').append(skills);
        }
    }

    function riskOrgs() {
        'use strict';
        $(".child-tabs .row:not(.organization,.setup_org,.risk)").empty();
        var risk = "<div class='col-md-4'> <div class='tab' id='Job_level_class_Org'> <p><i class='fab fa-500px'></i> <a href='/Risks_type'>@mainlayout.Risk_type</a></p></div></div><div class='col-md-4'> <div class='tab' id='Job_level_class_Org'> <p><i class='fab fa-500px'></i> <a href='/Risks'>@mainlayout.Risk</a></p></div></div>",
            content = document.querySelector('.risk'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.risk').empty();
        } else {
            $('.risk').append(risk);
        }
    }

    function job_level() {
        'use strict';
        $(".child-tabs .row:not(.organization,.setup_org,.joblevel)").empty();
        var joblevel = "<div class='col-md-4'> <div class='tab' id='Job_level_class_Org'> <p><i class='fab fa-500px'></i> <a href='/Job_level_class'>@mainlayout.job_level_class</a></p></div></div><div class='col-md-4'> <div class='tab' id='Job_level_grade_Org'> <p><i class='fab fa-500px'></i> <a href='/Job_level_grade'>@mainlayout.job_level_grade</a></p></div></div>",
            content = document.querySelector('.joblevel'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.joblevel').empty();
        } else {
            $('.joblevel').append(joblevel);
        }
    }

    function job_title() {
        'use strict';
        $(".child-tabs .row:not(.organization,.setup_org,.jobTitle)").empty();
        var jobTitle = "<div class='col-md-4'> <div class='tab' id='Job_title_class_Org'> <p><i class='fab fa-500px'></i> <a href='/job_title_class'>@mainlayout.job_title_class</a></p></div></div><div class='col-md-4'> <div class='tab'> <p><i class='fab fa-500px'></i> <a href='/Job_title_Sub_class'>@mainlayout.job_title_sub_class</a></p></div></div>",
            content = document.querySelector('.jobTitle'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.jobTitle').empty();
        } else {
            $('.jobTitle').append(jobTitle);
        }
    }

    function org_chart() {
        'use strict';
        $(".child-tabs .row:not(.organization,.setup_org,.orgChart)").empty();
        var orgChart = "<div class='col-md-4'><div class='tab' id='Organization_unit_schema_Org'><p><i class='fab fa-500px'></i> <a href='/Organization_unit_schema'>@mainlayout.organization_unit_schema</a></p></div></div><div class='col-md-4'><div class='tab' id='OrganizationLevelUnit_Org'><p><i class='fab fa-500px'></i> <a href='/OrganizationLevelUnit'>@mainlayout.organization_unit_level</a></p></div></div><div class='col-md-4'><div class='tab' id='Organizationunittype_Org'><p><i class='fab fa-500px'></i> <a href='/Organizationunittype'>@mainlayout.organization_unit_type</a></p></div></div>",
            content = document.querySelector('.orgChart'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.orgChart').empty();
        } else {
            $('.orgChart').append(orgChart);
        }
    }

    function budget() {
        'use strict';
        $(".child-tabs .row:not(.organization,.setup_org,.budgetOrg)").empty();
        var budgetOrg = "<div class='col-md-4'><div class='tab' id='Budget_class_Org'><p><i class='fab fa-500px'></i> <a href='/Budget_class'>@mainlayout.budget_class</a></p></div></div><div class='col-md-4'><div class='tab' id='Budget_class_items'><p><i class='fab fa-500px'></i> <a href='/Budget_class_items'>@mainlayout.budget_class_items</a></p></div></div>",
            content = document.querySelector('.budgetOrg'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.budgetOrg').empty();
        } else {
            $('.budgetOrg').append(budgetOrg);
        }
    }

     //Recuirtment
    function allRecuirtment() {
        'use strict';
        $(".child-tabs .row:not(.Recuirtment)").empty();

        var Recuirtment = "<div class='col-md-4'><div class='tab' id='setup_Payroll' data-value='setup' onclick='allSetupRecuirtment()'><p><i class='fab fa-500px'></i> @mainlayout.Setup</p></div></div><div class='col-md-4'><div class='tab' id='cards_Payroll' onclick='allCardsRecuirtment()'><p><i class='fab fa-500px'></i> @mainlayout.cards</p></div></div><div class='col-md-4'><div class='tab' onclick='allTransactionRecuirtment()'><p><i class='fab fa-500px'></i> @mainlayout.Transactions</p></div></div><div class='col-md-4'><div class='tab' onclick='allProcessRecuirtment()'><p><i class='fab fa-500px'></i> @mainlayout.Process</p></div></div><div class='col-md-4'><div class='tab' onclick='allInqueryRecuirtment()'><p><i class='fab fa-500px'></i> @mainlayout.inquery</p></div></div><div class='col-md-4'><div class='tab' onclick='allReportRecuirtment()'><p><i class='fab fa-500px'></i>@organ.report</p></div></div>",
            content = document.querySelector('.Recuirtment'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.Recuirtment').empty();
        } else {
            $('.Recuirtment').append(Recuirtment);
        }
    }
    function allSetupRecuirtment() {
        'use strict';
        $(".child-tabs .row:not(.Recuirtment,.setup_Recuirtment)").empty();
        var setup_Recuirtment = "<div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/Check_List_Items'>@Personnel.Check_List_Items</a></p></div></div><div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/Committe_subjects'>@Personnel.Committe_subjects</a></p></div></div><div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/Test'>@Personnel.Test</a></p></div></div><div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/Allowance_years'>@Personnel.Allowance_years</a></p></div></div>",
            content = document.querySelector('.setup_Recuirtment'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.setup_Recuirtment').empty();
        } else {
            $('.setup_Recuirtment').append(setup_Recuirtment);
        }
    }
    function allCardsRecuirtment() {
        'use strict';
        $(".child-tabs .row:not(.Recuirtment,.cards_Recuirtment)").empty();
        var cards_Recuirtment = "<div class='col-md-4'><div class='tab' onclick='allApplicant_Profile()'><p><i class='fab fa-500px'></i> @Personnel.Applicants</p></div></div><div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/Committe_Resolution_Recuirtment'>@Personnel.Committe_Resolution_Recuirtment</a></p></div></div><div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/Application'>@Personnel.Application</a></p></div></div>",
            content = document.querySelector('.cards_Recuirtment'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.cards_Recuirtment').empty();
        } else {
            $('.cards_Recuirtment').append(cards_Recuirtment);
        }
    }
     function allApplicant_Profile() {
        'use strict';
         $(".child-tabs .row:not(.Recuirtment,.cards_Recuirtment,.Applicant_Profile)").empty();
         var Applicant_Profile = "<div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/Applicant_Profile'>@Personnel.Applicant_Profile</a></p></div></div>",
            content = document.querySelector('.Applicant_Profile'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.Applicant_Profile').empty();
        } else {
            $('.Applicant_Profile').append(Applicant_Profile);
        }
    }
    function allTransactionRecuirtment() {
        'use strict';
        $(".child-tabs .row:not(.Recuirtment,.TransactionRecuirtment)").empty();
        var TransactionRecuirtment = "",
            content = document.querySelector('.TransactionRecuirtment'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.TransactionRecuirtment').empty();
        } else {
            $('.TransactionRecuirtment').append(TransactionRecuirtment);
        }
    }
    function allProcessRecuirtment() {
        'use strict';
        $(".child-tabs .row:not(.Recuirtment,.ProcessRecuirtment)").empty();
        var ProcessRecuirtment = "",
            content = document.querySelector('.ProcessRecuirtment'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.ProcessRecuirtment').empty();
        } else {
            $('.ProcessRecuirtment').append(ProcessRecuirtment);
        }
    }
    function allInqueryRecuirtment() {
        'use strict';
        $(".child-tabs .row:not(.Recuirtment,.InqueryRecuirtment)").empty();
        var InqueryRecuirtment = "",
            content = document.querySelector('.InqueryRecuirtment'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.InqueryRecuirtment').empty();
        } else {
            $('.InqueryRecuirtment').append(InqueryRecuirtment);
        }
    }
    function allReportRecuirtment() {
        'use strict';
        $(".child-tabs .row:not(.Recuirtment,.ReportRecuirtment)").empty();
        var ReportRecuirtment = "<div class='col-md-4'><div class='tab' onclick='allReportRecuirtment()'><p><i class='fab fa-500px'></i> @organ.report</p></div></div>",
            content = document.querySelector('.ReportRecuirtment'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.ReportRecuirtment').empty();
        } else {
            $('.ReportRecuirtment').append(ReportRecuirtment);
        }
    }
    function allReportRecuirtment() {
        'use strict';
        $(".child-tabs .row:not(.Recuirtment,.ReportRecuirtment,.ReportRecuirt)").empty();
        var ReportRecuirt = "<div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/Reports_Recuirtment/Recuirtment'>@Personnel.Reports_Recuirtment</a></p></div></div>",
            content = document.querySelector('.ReportRecuirt'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.ReportRecuirt').empty();
        } else {
            $('.ReportRecuirt').append(ReportRecuirt);
        }
    }
    //Personnel
    function allPersonnel() {
        'use strict';
        $(".child-tabs .row:not(.personnel)").empty();
        var personnel = "<div class='col-md-4'><div class='tab' id='setup_personnel' data-value='setup' onclick='allSetupPersonnel()'><p><i class='fab fa-500px'></i> @mainlayout.Setup</p></div></div><div class='col-md-4'><div class='tab' onclick='allCardsPersonnel()'><p><i class='fab fa-500px'></i> @mainlayout.cards</p></div></div><div class='col-md-4'><div class='tab' onclick='allTransactionPersonnel()'><p><i class='fab fa-500px'></i> @mainlayout.Transactions</p></div></div><div class='col-md-4'><div class='tab' onclick='allProcessPersonnel()'><p><i class='fab fa-500px'></i> @mainlayout.Process</p></div></div><div class='col-md-4'><div class='tab' id='inquery_personnel' onclick='allInqueryPersonnel()'><p><i class='fab fa-500px'></i> @mainlayout.inquery</p></div></div><div class='col-md-4'><div class='tab' id='report_personnel' onclick='allReportPersonnel()'><p><i class='fab fa-500px'></i> @organ.report</p></div></div>",
            content = document.querySelector('.personnel'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.personnel').empty();
        } else {
            $('.personnel').append(personnel);
        }
    }

    function allSetupPersonnel() {
        'use strict';
        $(".child-tabs .row:not(.personnel,.setup_personnel)").empty();
        var setup_personnel = "<div class='col-md-4'><div class='tab' id='Contract_Type_pers'><p><i class='fab fa-500px'></i> <a href='/Contract_Type'>@mainlayout.contract_type</a></p></div></div><div class='col-md-4'><div class='tab' id='Subscription_Syndicate_pers'><p><i class='fab fa-500px'></i> <a href='/Subscription_Syndicate'>@mainlayout.subscription</a></p></div></div><div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/Employee_Recodes_Group'>@mainlayout.employee_recordes_type</a></p></div></div><div class='col-md-4'><div class='tab' id='Employee_Profile_Groups_pers'><p><i class='fab fa-500px'></i> <a href='/Employee_Profile_Groups'>@mainlayout.employee_profile_group</a></p></div></div><div class='col-md-4'><div class='tab' id='eos_pers' onclick='AllSetupTimeManagement()'><p><i class='fab fa-500px'></i> @mainlayout.TimeManagement</p></div></div><div class='col-md-4'><div class='tab' onclick='AllSetupEvaluation()'><p><i class='fab fa-500px'></i> @mainlayout.Evaluation</p></div></div><div class='col-md-4'><div class='tab' id='check_lists_pers' onclick='checkLists()'><p><i class='fab fa-500px'></i> @mainlayout.check_lists</p></div></div><div class='col-md-4'><div class='tab' id='eos_pers' onclick='EOS()'><p><i class='fab fa-500px'></i> @mainlayout.EOS</p></div></div>",
            content = document.querySelector('.setup_personnel'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.setup_personnel').empty();
        } else {
            $('.setup_personnel').append(setup_personnel);
        }
    }
    function AllSetupTimeManagement() {
        'use strict';
        $(".child-tabs .row:not(.personnel,.setup_personnel,.SetupTimeManagement)").empty();
        var SetupTimeManagement = "<div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/TransportationMethod'>@mainlayout.Transportationmethod</a></p></div></div><div class='col-md-4'> <div class='tab'><p><i class='fab fa-500px'></i> <a href='/Timemanagementactionsetup'>@mainlayout.Timemanagmentactionsetup</a></p></div></div><div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/BusinessTrip'>@mainlayout.BusinesstripMissiontypesetup</a></p></div></div><div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/Shiftdaystatus'>@mainlayout.Shiftdaystatussetup</a></p></div></div><div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/ShiftSetUp'>@mainlayout.Shiftsetup</a></p></div></div><div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/EmployeeShift'>@mainlayout.Employeeshiftschedule</a></p></div></div><div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/Exitpermissiontype'>@mainlayout.ExitPermissionTypes</a></p></div></div><div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/ExitPermissionReason'>@mainlayout.ExitPermissionReasons</a></p></div></div>",
            content = document.querySelector('.SetupTimeManagement'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.SetupTimeManagement').empty();
        } else {
            $('.SetupTimeManagement').append(SetupTimeManagement);
        }
    }
    function AllSetupEvaluation() {
        'use strict';
        $(".child-tabs .row:not(.personnel,.setup_personnel,.SetupEvaluation)").empty();
        var SetupEvaluation = "<div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/EvalutionElements'>@mainlayout.EvaluationElements</a></p></div></div><div class='col-md-4'> <div class='tab'><p><i class='fab fa-500px'></i> <a href='/EvaluationElementCompetenies'>@mainlayout.EvaluationElementCompetencies</a></p></div></div><div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/EvaluationGrade'>@mainlayout.EvaluationGrade</a></p></div></div><div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/Evaluationtype'>@mainlayout.EvaluationType</a></p></div></div><div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/EvaluationObjective'>@mainlayout.EvaluationObjectives</a></p></div></div><div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/EvalutionQuestionandAnswer'>@mainlayout.EvaluationQuestionsandAnswers</a></p></div></div>",
            content = document.querySelector('.SetupEvaluation'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.SetupEvaluation').empty();
        } else {
            $('.SetupEvaluation').append(SetupEvaluation);
        }
    }
    function allCardsPersonnel() {
        'use strict';
        $(".child-tabs .row:not(.personnel,.cards_personnel)").empty();
        var cards_personnel = "<div class='col-md-4'><div class='tab' id='/Employee_Profilepers'><p><i class='fab fa-500px'></i> <a href='/Employee_Profile'>@Personnel.EmployeeProfile</a></p></div></div><div class='col-md-4'><div class='tab' id='report_personnel' onclick='allCardEvaluation()'><p><i class='fab fa-500px'></i> @mainlayout.Evaluation</p></div></div>",
            content = document.querySelector('.cards_personnel'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.cards_personnel').empty();
        } else {
            $('.cards_personnel').append(cards_personnel);
        }
    }
    function allCardEvaluation() {
        'use strict';
        $(".child-tabs .row:not(.personnel,.cards_personnel,.CardEvaluation)").empty();
        var CardEvaluation = "<div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/PerformanceEvaluationGroup'>@mainlayout.EvaluationGroup</a></p></div></div><div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/EvaluationPlan'>@mainlayout.EvaluationPlan</a></p></div></div>",
            content = document.querySelector('.CardEvaluation'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.CardEvaluation').empty();
        } else {
            $('.CardEvaluation').append(CardEvaluation);
        }
    }
    function allTransactionPersonnel() {
        'use strict';
        $(".child-tabs .row:not(.personnel,.transaction_personnel)").empty();
        var transaction_personnel = "<div class='col-md-4'><div class='tab' onclick='empTrans()'><p><i class='fab fa-500px'></i> @mainlayout.personnel_transaction</p></div></div><div class='col-md-4'><div class='tab' id='Employee_records_pers'><p><i class='fab fa-500px'></i> <a href='/Employee_records'>@mainlayout.Employee_record</a></p></div></div><div class='col-md-4'><div class='tab' onclick='AllTransactionsTimeManagement()'><p><i class='fab fa-500px'></i>@mainlayout.TimeManagement</p></div></div><div class='col-md-4'><div class='tab' onclick='AllTransactionsEvaluation()'><p><i class='fab fa-500px'></i> @mainlayout.Evaluation</p></div></div>",
            content = document.querySelector('.transaction_personnel'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.transaction_personnel').empty();
        } else {
            $('.transaction_personnel').append(transaction_personnel);
        }
    }
    function AllTransactionsTimeManagement() {
        'use strict';
        $(".child-tabs .row:not(.personnel,.transaction_personnel,.TransactionsTimeManagement)").empty();
        var TransactionsTimeManagement = "<div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/workpermissionrequest'>@mainlayout.Workpermissionrequest</a></p></div></div><div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/business_trip_request'>@mainlayout.BusinesstripMissiontyperequest</a></p></div></div><div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/ExitPermissionRequest'>@mainlayout.ExitPermissionRequest</a></p></div></div>",
            content = document.querySelector('.TransactionsTimeManagement'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.TransactionsTimeManagement').empty();
        } else {
            $('.TransactionsTimeManagement').append(TransactionsTimeManagement);
        }
    }
    function AllTransactionsEvaluation() {
        'use strict';
        $(".child-tabs .row:not(.personnel,.transaction_personnel,.TransactionsEvaluation)").empty();
        var TransactionsEvaluation = "<div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/EvaluationTransaction'>@mainlayout.EvaluationTransaction</a></p></div></div>",
            content = document.querySelector('.TransactionsEvaluation'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.TransactionsEvaluation').empty();
        } else {
            $('.TransactionsEvaluation').append(TransactionsEvaluation);
        }
    }
    function allProcessPersonnel() {
        'use strict';
        $(".child-tabs .row:not(.personnel,.process_personnel)").empty();
        var process_personnel = "<div class='col-md-4'><div class='tab' id='Employee_Profiles_pers' onclick='empTransProcess()'><p><i class='fab fa-500px'></i> @mainlayout.employee_transactions</p></div></div><div class='col-md-4'><div class='tab' id='Employee_recordss_pers'><p><i class='fab fa-500px'></i> <a href='/Employee_records'>@mainlayout.Employee_record_tran</a></p></div></div>",
            content = document.querySelector('.process_personnel'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.process_personnel').empty();
        } else {
            $('.process_personnel').append(process_personnel);
        }
    }
    function empTransProcess() {
        'use strict';
        $(".child-tabs .row:not(.personnel,.process_personnel,.emptrans2)").empty();
        var emptrans2 = "<div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/personnel_transaction'>@pers_2.Positiontransaction</a></p></div></div><div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/request_new_contract'>@mainlayout.request_new_contract</a></p></div></div><div class='col-md-4'><div class='tab' id='EOS_request'><p><i class='fab fa-500px'></i> <a href='/EOS_request'>@mainlayout.EOS_request</a></p></div></div>",
            content = document.querySelector('.emptrans2'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.emptrans2').empty();
        } else {
            $('.emptrans2').append(emptrans2);
        }
    }
    //function allProcessPersonnel() {
    //    'use strict';
    //    $(".child-tabs .row:not(.personnel,.process_personnel)").empty();
    //    var process_personnel = "<div class='col-md-4'><div class='tab' id='Employee_Profiles_pers' onclick='empTrans2()'><p><i class='fab fa-500px'></i> Employee Transactions</p></div></div><div class='col-md-4'><div class='tab' id='Employee_recordss_pers'><p><i class='fab fa-500px'></i> <a href='/Employee_records'>Employee records</a></p></div></div>",
    //        content = document.querySelector('.process_personnel'),
    //        result = content.innerHTML.trim();

    //    if (result !== "") {
    //        $('.process_personnel').empty();
    //    } else {
    //        $('.process_personnel').append(process_personnel);
    //    }
    //}
    function allInqueryPersonnel() {
        'use strict';
        $(".child-tabs .row:not(.personnel,.inquery_personnel)").empty();
        var inquery_personnel = "",
            content = document.querySelector('.inquery_personnel'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.inquery_personnel').empty();
        } else {
            $('.inquery_personnel').append(inquery_personnel);
        }
    }

    function allReportPersonnel() {
        'use strict';
        $(".child-tabs .row:not(.personnel,.report_personnel)").empty();
        var report_personnel = "",
            content = document.querySelector('.report_personnel'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.report_personnel').empty();
        } else {
            $('.report_personnel').append(report_personnel);
        }
    }

    function checkLists() {
        'use strict';
        $(".child-tabs .row:not(.personnel,.setup_personnel,.check_Lists)").empty();
        var check_Lists = "<div class='col-md-4'><div class='tab' id='Check_Lists_Groups'><p><i class='fab fa-500px'></i> <a href='/Check_List_Item_Groups'>@mainlayout.check_lists_group</a></p></div></div><div class='col-md-4'><div class='tab' id='CheckLists_Items'><p><i class='fab fa-500px'></i> <a href='/Check_Lists_Items'>@mainlayout.check_lists_items</a></p></div></div>",
            content = document.querySelector('.check_Lists'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.check_Lists').empty();
        } else {
            $('.check_Lists').append(check_Lists);
        }
    }

    function EOS() {
        'use strict';
        $(".child-tabs .row:not(.personnel,.setup_personnel,.eos)").empty();
        var eos = "<div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/EOS_Interview_Questions_Groups'>@mainlayout.EOS_questions_groups</a></p></div></div><div class='col-md-4'><div class='tab' id='CheckLists_Items'><p><i class='fab fa-500px'></i> <a href='/Definition_of_EOS_Interview_Questions'>@mainlayout.EOS_group</a></p></div></div>",
            content = document.querySelector('.eos'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.eos').empty();
        } else {
            $('.eos').append(eos);
        }
    }

    function empTrans() {
        'use strict';
        $(".child-tabs .row:not(.personnel,.transaction_personnel,.emptrans)").empty();
        var emptrans = "<div class='col-md-4'><div class='tab' onclick='personnelTrans()'><p><i class='fab fa-500px'></i>@mainlayout.employee_transactions</p></div></div><div class='col-md-4'><div class='tab' id='EOS_request'><p><i class='fab fa-500px'></i> <a href='/EOS_request'>@mainlayout.EOS_request</a></p></div></div>",
            content = document.querySelector('.emptrans'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.emptrans').empty();
        } else {
            $('.emptrans').append(emptrans);
        }
    }



    function personnelTrans() {
        'use strict';
        $(".child-tabs .row:not(.personnel,.transaction_personnel,.emptrans,.personnel_Trans)").empty();
        var personnel_Trans = "<div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/personnel_transaction'>@pers_2.Positiontransaction</a></p></div></div><div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/request_new_contract'>@mainlayout.request_new_contract</a></p></div></div>",
            content = document.querySelector('.personnel_Trans'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.personnel_Trans').empty();
        } else {
            $('.personnel_Trans').append(personnel_Trans);
        }
    }

    //function personnelTrans2() {
    //    'use strict';
    //    $(".child-tabs .row:not(.personnel,.process_personnel,.emptrans2,.personnel_Trans2)").empty();
    //    var personnel_Trans2 = "<div class='col-md-4'><div class='tab' id='personnel_transaction'><p><i class='fab fa-500px'></i> <a href='personnel_transaction'>Position transaction</a></p></div></div><div class='col-md-4'><div class='tab' id='request_new_contract'><p><i class='fab fa-500px'></i> <a href='/request_new_contract'>Contract transaction</a></p></div></div>",
    //        content = document.querySelector('.personnel_Trans2'),
    //        result = content.innerHTML.trim();

    //    if (result !== "") {
    //        $('.personnel_Trans2').empty();
    //    } else {
    //        $('.personnel_Trans2').append(personnel_Trans2);
    //    }
    //}


    //Payroll
    function allPayroll() {
        'use strict';
        $(".child-tabs .row:not(.Payroll)").empty();

        var Payroll = "<div class='col-md-4'><div class='tab' id='setup_Payroll' data-value='setup' onclick='allSetupPayroll()'><p><i class='fab fa-500px'></i> @mainlayout.Setup</p></div></div><div class='col-md-4'><div class='tab' id='cards_Payroll' onclick='allCardsPayroll()'><p><i class='fab fa-500px'></i> @mainlayout.cards</p></div></div><div class='col-md-4'><div class='tab' onclick='allTransactionPayroll()'><p><i class='fab fa-500px'></i> @mainlayout.Transactions</p></div></div><div class='col-md-4'><div class='tab' onclick='allProcessPayroll()'><p><i class='fab fa-500px'></i> @mainlayout.Process</p></div></div><div class='col-md-4'><div class='tab' onclick='allInqueryPayroll()'><p><i class='fab fa-500px'></i> @mainlayout.inquery</p></div></div><div class='col-md-4'><div class='tab' onclick='allReportPayroll()'><p><i class='fab fa-500px'></i>@organ.report</p></div></div>",
            content = document.querySelector('.Payroll'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.Payroll').empty();
        } else {
            $('.Payroll').append(Payroll);
        }
    }
    function allSetupPayroll() {
        'use strict';
        $(".child-tabs .row:not(.Payroll,.setup_Payroll)").empty();
        var setup_Payroll = "<div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/PayrollGeneralSetup'>@mainlayout.PayrollGeneralSetup</a></p></div></div><div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/PayrollPeriodSetup'>@mainlayout.PayrollPeriodic</a></p></div></div><div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/PayrollTransactionJournalSetup'>@mainlayout.TransactionJournal</a></p></div></div><div class='col-md-4'><div class='tab' onclick='costcenter()'><p><i class='fab fa-500px'></i>@mainlayout.Costcenter</p></div></div><div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/GL_AccountSetup'>@mainlayout.GlAccount</a></p></div></div><div class='col-md-4'><div class='tab' onclick='Bank()'><p><i class='fab fa-500px'></i> @mainlayout.Bank</p></div></div><div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/Locker'>@mainlayout.Locker</a></p></div></div><div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/ExtendedFields_Header'>@mainlayout.ExtendedFields</a></p></div></div><div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/ExtendedFields_Details'>@mainlayout.ExtendedFieldsDetails</a></p></div></div>",
            content = document.querySelector('.setup_Payroll'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.setup_Payroll').empty();
        } else {
            $('.setup_Payroll').append(setup_Payroll);
        }
    }
    function costcenter() {
        'use strict';
        $(".child-tabs .row:not(.Payroll,.setup_Payroll,.costcenter)").empty();
        var costcenter = "<div class='col-md-4'><div class='tab' id='Check_Lists_Groups'><p><i class='fab fa-500px'></i> <a href='/CostCenterCategory'>@mainlayout.CostCenterCategory</a></p></div></div><div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/CostCenter'>@mainlayout.Costcenter</a></p></div></div>",
            content = document.querySelector('.costcenter'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.costcenter').empty();
        } else {
            $('.costcenter').append(costcenter);
        }
    }
    function Bank() {
        'use strict';
        $(".child-tabs .row:not(.Payroll,.setup_Payroll,.Bank)").empty();
        var Bank = "<div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/Bank'>@mainlayout.Bank</a></p></div></div><div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/Branch'>@mainlayout.Branches</a></p></div></div>",
            content = document.querySelector('.Bank'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.Bank').empty();
        } else {
            $('.Bank').append(Bank);
        }
    }
    function allCardsPayroll() {
        'use strict';
        $(".child-tabs .row:not(.Payroll,.cards_Payroll)").empty();
        var cards_Payroll = "<div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/salary_code'>@mainlayout.SalaryItem</a></p></div></div><div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/SalaryItemGroup_Header'>@mainlayout.SalaryItemsGroup</a></p></div></div><div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/SalaryItemCollectionGroup'>@mainlayout.SalaryItemsCollectiongroups</a></p></div></div><div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/LoanInAdvanceSetup'>@mainlayout.LoanInAdvance</a></p></div></div><div class='col-md-4'><div class='tab'><p><i class='fab fa-500px'></i> <a href='/ManualPaymentTypes'>@mainlayout.ManualPaymentSettlement</a></p></div></div>",
            content = document.querySelector('.cards_personnel'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.cards_Payroll').empty();
        } else {
            $('.cards_Payroll').append(cards_Payroll);
        }
    }
    function allTransactionPayroll() {
        'use strict';
        $(".child-tabs .row:not(.Payroll,.TransactionPayroll)").empty();
        var TransactionPayroll = "",
            content = document.querySelector('.TransactionPayroll'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.TransactionPayroll').empty();
        } else {
            $('.TransactionPayroll').append(TransactionPayroll);
        }
    }
    function allProcessPayroll() {
        'use strict';
        $(".child-tabs .row:not(.Payroll,.ProcessPayroll)").empty();
        var ProcessPayroll = "",
            content = document.querySelector('.ProcessPayroll'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.ProcessPayroll').empty();
        } else {
            $('.ProcessPayroll').append(ProcessPayroll);
        }
    }
    function allInqueryPayroll() {
        'use strict';
        $(".child-tabs .row:not(.Payroll,.InqueryPayroll)").empty();
        var InqueryPayroll = "",
            content = document.querySelector('.InqueryPayroll'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.InqueryPayroll').empty();
        } else {
            $('.InqueryPayroll').append(InqueryPayroll);
        }
    }
    function allReportPayroll() {
        'use strict';
        $(".child-tabs .row:not(.Payroll,.ReportPayroll)").empty();
        var ReportPayroll = "",
            content = document.querySelector('.ReportPayroll'),
            result = content.innerHTML.trim();

        if (result !== "") {
            $('.ReportPayroll').empty();
        } else {
            $('.ReportPayroll').append(ReportPayroll);
        }
    }

</script>
<div class="row m-0">
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @TempData["Message"]
        </div>
    }
    <div class="col-lg-3">
        <div class="date">
            <div class="icalendar">
                <div class="icalendar__month">
                    <div class="icalendar__prev" onclick="moveDate('prev')">
                        <span>&#10094</span>
                    </div>
                    <div class="icalendar__current-date">
                        <h2 id="icalendarMonth"></h2>
                        <div>
                            <div id="icalendarDateStr"></div>
                        </div>

                    </div>
                    <div class="icalendar__next" onclick="moveDate('next')">
                        <span>&#10095</span>
                    </div>
                </div>
                <div class="icalendar__week-days">
                    <div>Sun</div>
                    <div>Mon</div>
                    <div>Tue</div>
                    <div>Wed</div>
                    <div>Thu</div>
                    <div>Fri</div>
                    <div>Sat</div>
                </div>
                <div class="icalendar__days"></div>


                <script src="./javascript-calendar.js" type="text/javascript"></script>
            </div>
        </div>
    </div>
    <div class="col-lg-9  col-md-12">
        <div class="tabs">
            <div class="row">
                <div class="col-md-4">
                    <div class="tab main-tab" data-value="basic" onclick="allBasic()">
                        <p><i class="fab fa-500px"></i>@mainlayout.Basic</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tab main-tab" data-value="organization" onclick="allOrg()">
                        <p><i class="fab fa-500px"></i>@mainlayout.organization</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tab main-tab" data-value="Payroll" onclick="allRecuirtment()">
                        <p><i class="fab fa-500px"></i> @mainlayout.Recuirtment</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tab main-tab" data-value="personnel" onclick="allPersonnel()">
                        <p><i class="fab fa-500px"></i> @mainlayout.personnel</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tab main-tab" data-value="Payroll" onclick="allPayroll()">
                        <p><i class="fab fa-500px"></i> @mainlayout.Payroll</p>
                    </div>
                </div>

            </div>
            <div class="child-tabs">
                <div class="row basic"></div>
                <div class="row setup"></div>
                <div class="row cards"></div>
                <div class="row transaction"></div>
                <div class="row process"></div>
                <div class="row inquery"></div>
                <div class="row report"></div>
                <!-------------------------------------------------------------------------------------->
                <!-------------------------------------------------------------------------------------->
                <!-------------------------------------------------------------------------------------->
                <div class="row address"></div>
                <div class="row qualifications"></div>
                <div class="row milirty"></div>
                <div class="row documents"></div>
                <div class="row currency"></div>
                <div class="row check_request"></div>
                <!-------------------------------------------------------------------------------------->
                <!-------------------------------------------------------------------------------------->
                <!-------------------------------------------------------------------------------------->
                <div class="row organization"></div>
                <div class="row setup_org"></div>
                <div class="row cards_org"></div>
                <div class="row transaction_org"></div>
                <div class="row process_org"></div>
                <div class="row inquery_org"></div>
                <div class="row report_org"></div>
                <!---------------------------------------------------------------------------------------->
                <!---------------------------------------------------------------------------------------->
                <!---------------------------------------------------------------------------------------->
                <div class="row authority"></div>
                <div class="row skills"></div>
                <div class="row risk"></div>
                
                <div class="row joblevel"></div>
                <div class="row jobTitle"></div>
                <div class="row orgChart"></div>
                <div class="row budgetOrg"></div>
                <!---------------------------------------------------------------------------------------->
                <!---------------------------------------------------------------------------------------->
                <!---------------------------------------------------------------------------------------->
                <div class="row personnel"></div>
                <div class="row setup_personnel"></div>
                <div class="row SetupTimeManagement"></div>
                <div class="row SetupEvaluation"></div>
                <div class="row cards_personnel"></div>
                <div class="row CardEvaluation"></div>
                <div class="row transaction_personnel"></div>
                <div class="row TransactionsTimeManagement"></div>
                <div class="row TransactionsEvaluation"></div>
                <div class="row process_personnel"></div>
                <div class="row inquery_personnel"></div>
                <div class="row report_personnel"></div>
                <!---------------------------------------------------------------------------------------->
                <!---------------------------------------------------------------------------------------->
                <!---------------------------------------------------------------------------------------->
                <div class="row check_Lists"></div>
                <div class="row eos"></div>
                <div class="row emptrans"></div>
                <div class="row emptrans2"></div>
                <div class="row personnel_Trans"></div>
                <div class="row personnel_Trans2"></div>
                <!---------------------------------------------------------------------------------------->
                <!---------------------------------------------------------------------------------------->
                <!---------------------------------------------------------------------------------------->
                <div class="row Payroll"></div>
                <div class="row setup_Payroll"></div>
                <div class="row cards_Payroll"></div>
                <div class="row costcenter"></div>
                <div class="row Bank"></div>
                <div class="row TransactionPayroll"></div>
                <div class="row ProcessPayroll"></div>
                <div class="row InqueryPayroll"></div>
                <div class="row ReportPayroll"></div>
                <!---------------------------------------------------------------------------------------->
                <!---------------------------------------------------------------------------------------->
                <!---------------------------------------------------------------------------------------->
                <div class="row Recuirtment"></div>
                <div class="row setup_Recuirtment"></div>
                <div class="row cards_Recuirtment"></div>
                <div class="row Applicant_Profile"></div>
                <div class="row TransactionRecuirtment"></div>
                <div class="row ProcessRecuirtment"></div>
                <div class="row InqueryRecuirtment"></div>
                <div class="row ReportRecuirtment"></div>
                <div class="row ReportRecuirt"></div>

            </div>
        </div>
    </div>
</div>
<style>
    body{
    background: #fff
}

/*Calendar*/
.icalendar{
    margin-top: 0
}
.icalendar__month{
    background-color: #fff;
}

.icalendar__month h2{
    font-weight: 400 !important
}
#icalendarDateStr{
    display: none
}
.icalendar__current-date #icalendarMonth{
    color: #000
}
.icalendar__next, .icalendar__prev{
    background-color: #fff;
    color: #000
}
.icalendar__week-days,
.icalendar__week-days div,
.icalendar__days{
    background-color: #fff;
    color: #000
}

.icalendar__days div{
    font-size: 12px;
    line-height: 25px;
}
.icalendar__today{
    background-color: #2266e3;
    color: #fff
}
.icalendar__next-date, .icalendar__prev-date{
    color: #fff
}
/*Calendar*/

.tabs .tab{
    background: #fff;
    height: 90px;
    padding: 0 15px;
    box-shadow: 0 0.3px 0.9px rgba(0,0,0,.108), 0 1.6px 3.6px rgba(0,0,0,.132);
    line-height: 90px;
    margin-bottom: 30px
}

.main-tab{
    margin-bottom: 60px !important
}

.tabs .tab p{
    font: normal normal 600 14px/18px 'Segoe UI',tahoma,sans-serif;
    color: #11100f;
    line-height: 90px
}

.tabs .tab svg{
    color: #2266e3;
    font-size: 21px
}

/*
.child-tabs > .row{
    display: none
}*/

    .child-tabs .basic,
    .child-tabs .organization,
    .child-tabs .Recuirtment,
    .child-tabs .personnel,
    .child-tabs .Payroll,
    {
        margin-bottom: 50px
    }

        .child-tabs .basic .tab,
        .child-tabs .organization .tab,
        .child-tabs .Recuirtment .tab,
        .child-tabs .personnel .tab,
        .child-tabs .Payroll .tab {
            background-color: #f7fafd;
            background-color: #eee;
        }

.col-md-4{
    width: 33.33333333%
}

/*Arabic*/
/*
body{
    direction: rtl
}*/

.tab p{
    direction: ltr
}

.tab a{
    color:#000 !important
}
</style>

@section scripts{}
<script type="text/javascript">
            // Code used to add Todo Tasks
    jQuery(document).ready(function ($) {
        
    });
        
        
                var $todo_tasks = $("#todo_tasks");

                $todo_tasks.find('input[type="text"]').on('keydown', function (ev) {
                    if (ev.keyCode == 13) {
                        ev.preventDefault();

                        if ($.trim($(this).val()).length) {
                            var $todo_entry = $('<li><div class="checkbox checkbox-replace color-white"><input type="checkbox" /><label>' + $(this).val() + '</label></div></li>');
                            $(this).val('');

                            $todo_entry.appendTo($todo_tasks.find('.todo-list'));
                            $todo_entry.hide().slideDown('fast');
                            replaceCheckboxes();
                        }
                    }
                });
           
</script>
<script src="~/Content/layout_style/js/all.js"></script>
<script src="~/Content/layout_style/js/javascript-calendar.js"></script>
<script src="~/Content/layout_style/js/jquery-3.2.1.min.js"></script>
<script src="~/Content/layout_style/js/main.js"></script>
<script src="~/Content/layout_style/js/popper.min.js"></script>
