@model HR.Models.Country
@using HR.Resource;
@{
    ViewBag.Title = "الصفحة الرئيسية";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}
<script>

    function allBasic() {
        var T = "";
        T = "<div class='col-lg-4'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' style='@Personnel.margin'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllSetup()'>" + " <div style='@Personnel.margin'>@mainlayout.Setup</div></div></a></div></div></div> </div><div class='col-lg-4'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin'><a href='@Url.Action("Create","Check_Request")' style=color:#373e4a;>@mainlayout.Transactions</div></a></div></a></div></div></div>    <div class='col-lg-4'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'> <div style='@Personnel.margin'><a href='@Url.Action("Index","Check_Request")' style=color:#373e4a;>@mainlayout.Process</div></a></div></a></div></div></div>"
        $("#AllOrganization").empty();
        $("#AllSetupOrganization").empty();
        $("#CardsOrganization").empty();
        $("#Inquery").empty();
        $("#Authorities").empty();
        $("#Risk").empty();
        $("#Skills").empty();
        $("#Organizationchart").empty();
        $("#EOS").empty();
        $("#Checklists").empty();
        $("#AllSetupPersonnel").empty();
        $("#AllPersonnel").empty();
        $("#EmployeeProfile").empty();
        $("#Employee_Profile").empty();
        $("#TransactionsEmployee").empty();
        $("#PersonnelTransaction").empty();
        $("#ProcessEmployee").empty();
        $("#ProcessPersonnelTransaction").empty();
        $("#Joblevel").empty();
        $("#Jobtitle").empty();
        $("#Budget").empty();
        $("#bas").empty();
        $("#bas").append(T)
    };

    function AllOrganization() {

        var T = "";
        T = "<div class='col-lg-4'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' style='@Personnel.margin'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllSetupOrganization()'>" +
            "<div style='@Personnel.margin'>@mainlayout.Setup</div></div></a></div></div></div> </div><div class='col-lg-4'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllCardsOrganization()'><div style='@Personnel.margin'>@mainlayout.cards</div></div></a></div></div></div>    <div class='col-lg-4'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllInquery()'> <div style='@Personnel.margin'>@mainlayout.inquery</div></div></a></div></div></div>"
        $("#EOS").empty();
        $("#Checklists").empty();
        $("#AllSetupPersonnel").empty();
        $("#AllPersonnel").empty();
        $("#EmployeeProfile").empty();
        $("#Employee_Profile").empty();
        $("#TransactionsEmployee").empty();
        $("#PersonnelTransaction").empty();
        $("#ProcessEmployee").empty();
        $("#ProcessPersonnelTransaction").empty();
        $("#bas").empty();
        $("#SetupBas").empty();
        $("#Qulifaication").empty();
        $("#Address").empty();
        $("#Milirty").empty();
        $("#Documents").empty();
        $("#Currency").empty();
        $("#Checkrequest").empty();
        $("#AllOrganization").empty();
        $("#AllOrganization").append(T)
    };


    function AllPersonnel() {

        var T = "";
        T = "<div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' style='@Personnel.margin'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllSetupPersonnel()'>" + "<div style='@Personnel.margin'>@mainlayout.Setup</div></div></a></div></div></div> </div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllEmployeeProfile()'><div style='@Personnel.margin'>@mainlayout.cards</div></div></a></div></div></div>  <div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllTransactionsEmployee()'><div style='@Personnel.margin'> @mainlayout.Transactions</div></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllProcessEmployee()'> <div style='@Personnel.margin'>@mainlayout.Process</div></div></a></div></div></div>"
        $("#bas").empty();
        $("#SetupBas").empty();
        $("#Qulifaication").empty();
        $("#Address").empty();
        $("#Milirty").empty();
        $("#Documents").empty();
        $("#Currency").empty();
        $("#Checkrequest").empty();
        $("#AllSetupOrganization").empty();
        $("#CardsOrganization").empty();
        $("#Inquery").empty();
        $("#Authorities").empty();
        $("#Risk").empty();
        $("#Skills").empty();
        $("#Organizationchart").empty();
        $("#Joblevel").empty();
        $("#Jobtitle").empty();
        $("#Budget").empty();
        $("#AllOrganization").empty();
        $("#AllPersonnel").empty();
        $("#AllPersonnel").append(T)
    };


    function AllSetup() {

        var T = "";
        T = " <div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' style='@Personnel.margin_2' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllAddress()'>" + "<div style='@Personnel.margin_2'>@mainlayout.Address</div></div></a></div></div></div> </div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>  <div style='@Personnel.margin_2'><a href='@Url.Action("Index","Nationality")' style=color:#373e4a;>@mainlayout.Nationality</div></a></div></a></div></div></div>   <div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_2'> <a href='@Url.Action("Index","Religion")' style=color:#373e4a;>@mainlayout.Religion</div></a></div></a></div></div></div> <div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllQulifaication()'><div style='@Personnel.margin_2'>@mainlayout.Qulifaication</div></div></a></div></div></div> <div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllMilirty()'>" + "<div style='@Personnel.margin_2'>@mainlayout.milirty</div></div></a></div></div></div> </div>  <div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'onclick='AllDocuments()'>" + "<div style='@Personnel.margin_2'>@mainlayout.documents</div></div></a></div></div></div> </div>  <div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' style='@Personnel.margin_2' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllCurrency()'>" + "<div style='@Personnel.margin_2'>@mainlayout.Currency</div></div></a></div></div></div> </div>   <div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllCheckrequest()'>" + "<div style='@Personnel.margin_2'>@mainlayout.check_request</div></div></a></div></div></div> </div> <div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>" + "<div style='@Personnel.margin_2'><a href='@Url.Action("Index","Contact_methods")' style=color:#373e4a;>@mainlayout.contact_method</div></a></div></a></div></div></div> </div>  <div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>" + "<div style='@Personnel.margin_2'><a href='@Url.Action("Index","Rejection_Reasons")' style=color:#373e4a;>@mainlayout.Rejection_reasons</div></a></div></a></div></div></div> </div> <div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>" + "<div style='@Personnel.margin_2'><a href='@Url.Action("Index","External_compaines")' style=color:#373e4a;>@mainlayout.Extrnal_companies</div></a></div></a></div></div></div> </div> <div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>" + "<div style='@Personnel.margin_2'><a href='@Url.Action("Index","Air_ports")' style=color:#373e4a;>@mainlayout.Air_ports</div></a></div></a></div></div></div> </div>    <div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>" + "<div style='@Personnel.margin_2'><a href='@Url.Action("Index","Ticket_Prices")' style=color:#373e4a;>@mainlayout.Tickets_prices</div></a></div></a></div></div></div> </div><div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>" + "<div style='@Personnel.margin_2'><a href='@Url.Action("Index","Sponsor")' style=color:#373e4a;>@mainlayout.Sponsor</div></a></div></a></div></div></div> </div><div class='col-lg-6' style=width:100%;></div>"
        $("#SetupBas").empty();
        $("#Checkrequest").empty();
        $("#Milirty").empty();

        $("#SetupBas").append(T)
    };
    ///////////</div>//////////////
    function AllSetupOrganization() {

        var T = "";
        T = "<div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllAuthorities()'>" + "<div style='@Personnel.margin_2'>@mainlayout.Authority</div></div></a></div></div></div> </div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllSkills()'><div style='@Personnel.margin_2'>@mainlayout.skills</div></div></a></div></div></div>    <div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllRisk()'><div style='@Personnel.margin_2'> @mainlayout.Risk</div></div></a></div></div></div><div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>" + "<div style='@Personnel.margin_2'><a href='@Url.Action("Index","Requirments")' style=color:#373e4a;>@mainlayout.requirments</div></a></div></a></div></div></div> </div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_2'><a href='@Url.Action("Index","Experience_group")' style=color:#373e4a;>@mainlayout.experience_group</div></a></div></a></div></div></div>    <div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'> <div style='@Personnel.margin_2'><a href='@Url.Action("Index","Responsibilities")' style=color:#373e4a;>@mainlayout.responsibilites</div></a></div></a></div></div></div><div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>" + "<div style='@Personnel.margin_2'><a href='@Url.Action("Index","work_location")' style=color:#373e4a;>@mainlayout.worklocation</div></a></div></a></div></div></div> </div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllJoblevel()'><div style='@Personnel.margin_2'>@mainlayout.job_level</div></div></a></div></div></div>    <div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllJobtitle()'><div style='@Personnel.margin_2'> @mainlayout.job_title</div></div></a></div></div></div><div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllOrganizationchart()'>" + "<div style='@Personnel.margin_2'>@mainlayout.organization_chart</div></div></a></div></div></div> </div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='Allbudget()'><div style='@Personnel.margin_2'>@mainlayout.budget</div></div></a></div></div></div><div class='col-lg-3' style=width:100%;></div>"
        $("#CardsOrganization").empty();
        $("#Inquery").empty();
        $("#AllSetupOrganization").empty();
        $("#AllSetupOrganization").append(T)
    };

    function AllSetupPersonnel() {

        var T = "";
        T = "<div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_2'><a href='@Url.Action("Index","Contract_Type")'style=color:#373e4a;> @mainlayout.contract_type</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'> <div style='@Personnel.margin_2'> <a href='@Url.Action("Index","Subscription_Syndicate")'style=color:#373e4a;>@mainlayout.subscription</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_2'><a href='@Url.Action("Index","Employee_Recodes_Group")'style=color:#373e4a;> @mainlayout.employee_recordes_type</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'> <div style='@Personnel.margin_2'> <a href='@Url.Action("Index","Employee_Profile_Groups")'style=color:#373e4a;>@mainlayout.employee_profile_group</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllChecklists()'> <div style='@Personnel.margin_2'>@mainlayout.check_lists</div></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllEOS()'><div style='@Personnel.margin_2'>@mainlayout.EOS</div></div></a></div></div></div><div class='col-lg-6' style=width:100%;></div>"
        $("#EmployeeProfile").empty();
        $("#Employee_Profile").empty();
        $("#ProcessEmployee").empty();
        $("#ProcessPersonnelTransaction").empty();
        $("#AllSetupPersonnel").empty();
        $("#AllSetupPersonnel").append(T)
    };


    function AllAddress() {
        var T = "";
        T = "<div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>" + "<div style='@Personnel.margin_3'><a href='@Url.Action("Index","Country")' style=color:#373e4a;>@mainlayout.Country</div></a></div></div></div></div> </div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>  <div style='@Personnel.margin_3'><a href='@Url.Action("Index","Area")' style=color:#373e4a;>@mainlayout.Regions</div></a></div></a></div></div></div>   <div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_3'><a href='@Url.Action("Index","State")' style=color:#373e4a;>@mainlayout.state_government</div></a></div></a></div></div></div> <div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_3'><a href='@Url.Action("Index","territory")' style=color:#373e4a;>@mainlayout.county</div></a></div></a></div></div></div> <div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>" + "<div style='@Personnel.margin_3'> <a href='@Url.Action("Index","Cities")' style=color:#373e4a;>@mainlayout.city</div></a></div></a></div></div></div> </div>  <div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>" + " <div style='@Personnel.margin_3'> <a href='@Url.Action("Index","Postalcode")' style=color:#373e4a;>@mainlayout.zip_postal</div></a></div></a></div></div></div> </div>"
        $("#Address").empty();
        $("#Checkrequest").empty();
        $("#Milirty").empty();
        $("#Qulifaication").empty();
        $("#Currency").empty();
        $("#Address").append(T)
    };

    function AllQulifaication() {
        var T = "";
        T = " <div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_3'><a href='@Url.Action("Index","Educate_category")'style=color:#373e4a;> @mainlayout.Qulification_category</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>  <div style='@Personnel.margin_3'><a href='@Url.Action("Index","Educate_title")'style=color:#373e4a;>@mainlayout.education_title</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_3'> <a href='@Url.Action("Index","EducateMainBody")'style=color:#373e4a;> @mainlayout.qulification_main_provider</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_3'><a href='@Url.Action("Index","Sub_educational_body")'style=color:#373e4a;>@mainlayout.qulification_sub_providor</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_3'> <a href='@Url.Action("Index","Name_of_educational_qualification")'style=color:#373e4a;> @mainlayout.qulification_name</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'> <div style='@Personnel.margin_3'><a href='@Url.Action("Index","GradeEducate")'style=color:#373e4a;> @mainlayout.qulification_degree</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'> <div style='@Personnel.margin_3'><a href='@Url.Action("Index","QualificationMajor")'style=color:#373e4a;> @mainlayout.qulification_specialty</div></a></div></a></div></div></div>"
        $("#Qulifaication").empty();
        $("#Address").empty();
        $("#Milirty").empty();
        $("#Checkrequest").empty();
        $("#Currency").empty();
        $("#Qulifaication").append(T)
    };


    function AllMilirty() {
        var T = "";
        T = " <div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_3'><a href='@Url.Action("Index","Military_Service_Status")'style=color:#373e4a;> @mainlayout.miliraty_service_status</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'> <div style='@Personnel.margin_3'> <a href='@Url.Action("Index","Military_Service_Rank")'style=color:#373e4a;>@mainlayout.miliraty_service_rank</div></a></div></a></div></div></div>"
        $("#Qulifaication").empty();
        $("#Address").empty();
        $("#Milirty").empty();
        $("#Documents").empty();
        $("#Checkrequest").empty();
        $("#Currency").empty();
        $("#Milirty").append(T)
    };
    function AllDocuments() {
        var T = "";
        T = " <div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_3'><a href='@Url.Action("Index","Document_Group")'style=color:#373e4a;> @mainlayout.documents_group</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_3'>  <a href='@Url.Action("Index","Documents")'style=color:#373e4a;>@mainlayout.document</div></a></div></a></div></div></div>"
        $("#Qulifaication").empty();
        $("#Address").empty();
        $("#Milirty").empty();
        $("#Checkrequest").empty();
        $("#Currency").empty();
        $("#Documents").empty();
        $("#Documents").append(T)
    };

    function AllCurrency() {
        var T = "";
        T = " <div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_3'><a href='@Url.Action("Index","Currency")'style=color:#373e4a;> @mainlayout.Currency</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_3'>  <a href='@Url.Action("Index","ExchangeRate")'style=color:#373e4a;>@mainlayout.exchange_rate</div></a></div></a></div></div></div>"
        $("#Qulifaication").empty();
        $("#Address").empty();
        $("#Milirty").empty();
        $("#Documents").empty();
        $("#Checkrequest").empty();
        $("#Currency").empty();
        $("#Currency").append(T)
    };

    function AllCheckrequest() {
        var T = "";
        T = " <div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_3'><a href='@Url.Action("Index","Checktype")'style=color:#373e4a;> @mainlayout.check_type</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_3'>  <a href='@Url.Action("Index","checkstatus")'style=color:#373e4a;>@mainlayout.check_status</div></a></div></a></div></div></div>"
        $("#Qulifaication").empty();
        $("#Address").empty();
        $("#Milirty").empty();
        $("#Documents").empty();
        $("#Currency").empty();
        $("#Checkrequest").empty();
        $("#Checkrequest").append(T)
    };

    function AllAuthorities() {
        var T = "";
        T = " <div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_3'><a href='@Url.Action("Index","Authority_Type")'style=color:#373e4a;> @mainlayout.Authority_type</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_3'>  <a href='@Url.Action("Index", "Authorities")'style=color:#373e4a;>@mainlayout.Authorities</div></a></div></a></div></div></div>"
        $("#Risk").empty();
        $("#Skills").empty();
        $("#Authorities").empty();
        $("#Authorities").append(T)
    };
    function AllSkills() {
        var T = "";
        T = " <div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_3'><a href='@Url.Action("Index","Skill_group")'style=color:#373e4a;> @mainlayout.skills_group</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'> <div style='@Personnel.margin_3'> <a href='@Url.Action("Index","Skill")'style=color:#373e4a;>@mainlayout.skill</div></a></div></a></div></div></div>"
        $("#Authorities").empty();
        $("#Risk").empty();
        $("#Skills").empty();
        $("#Skills").append(T)
    };
    function AllRisk() {
        var T = "";
        T = " <div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_3'><a href='@Url.Action("Index","Risks_type")'style=color:#373e4a;> @mainlayout.Risk_type</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'> <div style='@Personnel.margin_3'> <a href='@Url.Action("Index", "Risks")'style=color:#373e4a;>@mainlayout.Risk</div></a></div></a></div></div></div>"
        $("#Authorities").empty();
        $("#Skills").empty();
        $("#Risk").empty();
        $("#Risk").append(T)
    };

    function AllJoblevel() {
        var T = "";
        T = " <div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_3'><a href='@Url.Action("Index","Job_level_class")'style=color:#373e4a;> @mainlayout.job_level_class</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>  <div style='@Personnel.margin_3'><a href='@Url.Action("Index", "Job_level_grade")'style=color:#373e4a;>@mainlayout.job_level_grade</div></a></div></a></div></div></div>"
        $("#Authorities").empty();
        $("#Skills").empty();
        $("#Risk").empty();
        $("#Organizationchart").empty();
        $("#Budget").empty();
        $("#Jobtitle").empty();
        $("#Joblevel").empty();
        $("#Joblevel").append(T)
    };
    function AllJobtitle() {
        var T = "";
        T = " <div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_3'><a href='@Url.Action("Index","job_title_class")'style=color:#373e4a;> @mainlayout.job_title_class</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_3'>  <a href='@Url.Action("Index","Job_title_Sub_class")'style=color:#373e4a;>@mainlayout.job_title_sub_class</div></a></div></a></div></div></div>"
        $("#Authorities").empty();
        $("#Skills").empty();
        $("#Risk").empty();
        $("#Organizationchart").empty();
        $("#Budget").empty();
        $("#Joblevel").empty();
        $("#Jobtitle").empty();
        $("#Jobtitle").append(T)
    };
    function AllOrganizationchart() {
        var T = "";
        T = " <div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_3'><a href='@Url.Action("Index","Organization_unit_schema")'style=color:#373e4a;> @mainlayout.organization_unit_schema</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_3'>  <a href='@Url.Action("Index","OrganizationLevelUnit")'style=color:#373e4a;>@mainlayout.organization_unit_level</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'> <div style='@Personnel.margin_3'> <a href='@Url.Action("Index","Organizationunittype")'style=color:#373e4a;>@mainlayout.organization_unit_type</div></a></div></a></div></div></div>"
        $("#Authorities").empty();
        $("#Skills").empty();
        $("#Risk").empty();
        $("#Budget").empty();
        $("#Joblevel").empty();
        $("#Jobtitle").empty();
        $("#Organizationchart").empty();
        $("#Organizationchart").append(T)
    };
    function Allbudget() {
        var T = "";
        T = " <div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_3'><a href='@Url.Action("Index","Budget_class")'style=color:#373e4a;> @mainlayout.budget_class</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'> <div style='@Personnel.margin_3'> <a href='@Url.Action("Index","Budget_class_items")'style=color:#373e4a;>@mainlayout.budget_class_items</div></a></div></a></div></div></div>"
        $("#Authorities").empty();
        $("#Skills").empty();
        $("#Risk").empty();
        $("#Organizationchart").empty();
        $("#Joblevel").empty();
        $("#Jobtitle").empty();
        $("#Budget").empty();
        $("#Budget").append(T)
    };


    function AllCardsOrganization() {
        var T = "";
        T = "<div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_2'><a href='@Url.Action("Index","job_level_setup")'style=color:#373e4a;> @mainlayout.job_level</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'> <div style='@Personnel.margin_2'> <a href='@Url.Action("Index","job_title_card")'style=color:#373e4a;>@mainlayout.job_title_card</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_2'><a href='@Url.Action("Index","OrganizationChart")'style=color:#373e4a;> @mainlayout.organization_chart_card</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_2'>  <a href='@Url.Action("Index","Budget")'style=color:#373e4a;>@mainlayout.budget_card</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_2'><a href='@Url.Action("Index","manpower")'style=color:#373e4a;> @mainlayout.Mainpower</div></a></div></a></div></div></div>"
        $("#AllSetupOrganization").empty();
        $("#Authorities").empty();
        $("#Skills").empty();
        $("#Risk").empty();
        $("#Organizationchart").empty();
        $("#Joblevel").empty();
        $("#Jobtitle").empty();
        $("#Budget").empty();
        $("#Inquery").empty();
        $("#CardsOrganization").empty();
        $("#CardsOrganization").append(T)
    };
    function AllInquery() {
        var T = "";
        T = " <div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_2'><a href='@Url.Action("View_jobs","OrganizationInquiry")'style=color:#373e4a;> @mainlayout.view_jobs</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_2'>  <a href='@Url.Action("organization_view_related_to_jobs","OrganizationInquiry")'style=color:#373e4a;>@mainlayout.organization_view_related_to_jobs</div></a></div></a></div></div></div>"
        $("#Authorities").empty();
        $("#Skills").empty();
        $("#Risk").empty();
        $("#Organizationchart").empty();
        $("#Joblevel").empty();
        $("#Jobtitle").empty();
        $("#Budget").empty();
        $("#AllSetupOrganization").empty();
        $("#CardsOrganization").empty();
        $("#Inquery").empty();
        $("#Inquery").append(T);
    };
    function AllChecklists() {
        var T = "";
        T = "<div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_3'><a href='@Url.Action("Index","Check_List_Item_Groups")'style=color:#373e4a;> @mainlayout.check_lists_group</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'> <div style='@Personnel.margin_3'> <a href='@Url.Action("Index", "Check_Lists_Items")' style=color:#373e4a;>@mainlayout.check_lists_items</div></a></div></a></div></div></div>"
        $("#EOS").empty();
        $("#EmployeeProfile").empty();
        $("#Employee_Profile").empty();
        $("#TransactionsEmployee").empty();
        $("#PersonnelTransaction").empty();
        $("#ProcessEmployee").empty();
        $("#ProcessPersonnelTransaction").empty();
        $("#Checklists").empty();
        $("#Checklists").append(T);
    };

    function AllEOS() {
        var T = "";
        T = "<div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_3'><a href='@Url.Action("Index","EOS_Interview_Questions_Groups")'style=color:#373e4a;> @mainlayout.EOS_questions_groups</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'> <div style='@Personnel.margin_3'> <a href='@Url.Action("Index","Definition_of_EOS_Interview_Questions")' style=color:#373e4a;>@mainlayout.EOS_group</div></a></div></a></div></div></div>"

        $("#Checklists").empty();
        $("#EmployeeProfile").empty();
        $("#Employee_Profile").empty();
        $("#TransactionsEmployee").empty();
        $("#PersonnelTransaction").empty();
        $("#ProcessEmployee").empty();
        $("#ProcessPersonnelTransaction").empty();
        $("#EOS").empty();
        $("#EOS").append(T);
    };

    function AllEmployeeProfile() {
        var T = "";
        T = "<div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllEmployee_Profile()'><div style='@Personnel.margin_2'>@Personnel.EmployeeProfile</div></div></a></div></div></div><div class='col-lg-9' style=width:100%;></div>"
        $("#AllSetupPersonnel").empty();
        $("#Checklists").empty();
        $("#EOS").empty();
        $("#TransactionsEmployee").empty();
        $("#PersonnelTransaction").empty();
        $("#ProcessEmployee").empty();
        $("#ProcessPersonnelTransaction").empty();
        $("#EmployeeProfile").empty();
        $("#EmployeeProfile").append(T);
    };

    function AllEmployee_Profile() {
        var T = "";
        T = "<div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_3'><a href='@Url.Action("Index","Employee_Profile")' style=color:#373e4a;>@Personnel.EmployeeProfile</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_3'><a href='@Url.Action("Index","Employee_Qualification_Profile")' style=color:#373e4a;>@Personnel.QualificationProfile</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div><a href='@Url.Action("Index","Employee_experience_profile")' style=color:#373e4a;>@Personnel.Employeeexperienceprofile</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><a href='@Url.Action("Index","Employee_contact_profile")' style=color:#373e4a;>@Personnel.ContactProfile</a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_3'><a href='@Url.Action("Index","Employee_military_service_profile")' style=color:#373e4a;>@Personnel.MilitaryServiceProfile</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_3'><a href='@Url.Action("Index","Employee_vehicle_profile")' style=color:#373e4a;>@Personnel.VehicleProfile</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_3'><a href='@Url.Action("Index","Employee_sponsor_profile")' style=color:#373e4a;>@Personnel.SponsorProfile</div></a></div></a></div></div></div>"

        $("#Checklists").empty();
        $("#EOS").empty();
        $("#TransactionsEmployee").empty();
        $("#PersonnelTransaction").empty();

        $("#ProcessPersonnelTransaction").empty();
        $("#Employee_Profile").empty();
        $("#Employee_Profile").append(T);
    };
    function AllTransactionsEmployee() {
        var T = "";
        T = "<div class='col-lg-4'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllPersonnelTransaction()'><div style='@Personnel.margin_2'>@mainlayout.personnel_transaction</div></div></a></div></div></div><div class='col-lg-4'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_2'><a href='@Url.Action("Create","Employee_records")' style=color:#373e4a;>@mainlayout.Employee_record</div></a></div></a></div></div></div><div class='col-lg-4'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' ><div style='@Personnel.margin_2'><a href='@Url.Action("Create","request_new_contract")' style=color:#373e4a;>@mainlayout.requestconter</div></a></div></a></div></div></div>"

        $("#AllSetupPersonnel").empty();
        $("#Checklists").empty();
        $("#EOS").empty();
        $("#EmployeeProfile").empty();
        $("#EmployeeProfile").empty();
        $("#Employee_Profile").empty();
        $("#ProcessEmployee").empty();
        $("#ProcessPersonnelTransaction").empty();
        $("#TransactionsEmployee").empty();
        $("#TransactionsEmployee").append(T);
    };


    function AllPersonnelTransaction() {
        var T = "";
        T = " <div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_3'><a href='@Url.Action("Create","personnel_transaction")'style=color:#373e4a;> @mainlayout.personnel_transaction</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_3'>  <a href='@Url.Action("Create", "EOS_request")'style=color:#373e4a;>@mainlayout.EOS_request</div></a></div></a></div></div></div>"
        $("#AllSetupPersonnel").empty();
        $("#Checklists").empty();
        $("#EOS").empty();
        $("#EmployeeProfile").empty();
        $("#EmployeeProfile").empty();
        $("#Employee_Profile").empty();
        $("#ProcessEmployee").empty();
        $("#ProcessPersonnelTransaction").empty();
        $("#PersonnelTransaction").empty();
        $("#PersonnelTransaction").append(T);
    };

    function AllProcessEmployee() {
        var T = "";
        T = "<div class='col-lg-4'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllProcessPersonnelTransaction()'><div style='@Personnel.margin_2'>@mainlayout.personnel_transaction</div></div></a></div></div></div><div class='col-lg-4'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_2'><a href='@Url.Action("Index","Employee_records")' style=color:#373e4a;>@mainlayout.Employee_record</div></a></div></a></div></div></div><div class='col-lg-4'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_2'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' ><div style='@Personnel.margin_2'><a href='@Url.Action("Index","request_new_contract")' style=color:#373e4a;>@mainlayout.requestconter</div></a></div></a></div></div></div>"

        $("#AllSetupPersonnel").empty();
        $("#Checklists").empty();
        $("#EOS").empty();
        $("#EmployeeProfile").empty();
        $("#Employee_Profile").empty();
        $("#TransactionsEmployee").empty();
        $("#PersonnelTransaction").empty();
        $("#ProcessEmployee").empty();
        $("#ProcessEmployee").append(T);
    };



    function AllProcessPersonnelTransaction() {
        var T = "";
        T = " <div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><div style='@Personnel.margin_3'><a href='@Url.Action("Index","personnel_transaction")'style=color:#373e4a;> @mainlayout.personnel_transaction</div></a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' style='@Personnel.margin_3'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'> <div style='@Personnel.margin_3'> <a href='@Url.Action("Index", "EOS_request")'style=color:#373e4a;>@mainlayout.EOS_request</div></a></div></a></div></div></div>"
        $("#AllSetupPersonnel").empty();
        $("#Checklists").empty();
        $("#EOS").empty();
        $("#EmployeeProfile").empty();
        $("#Employee_Profile").empty();
        $("#TransactionsEmployee").empty();
        $("#PersonnelTransaction").empty();
        $("#ProcessPersonnelTransaction").empty();
        $("#ProcessPersonnelTransaction").append(T);
    };

</script>

<div class="right_col" role="main">
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @TempData["Message"]
        </div>
    }
    <div class="row" style="padding: 20px">
        <div class="col-lg-2">
            <div class="panel panel-primary panel-table">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h3>Events</h3>
                        <span>This month's event calendar</span>
                    </div>

                    <div class="panel-options">
                        <a href="#sample-modal" data-toggle="modal" data-target="#sample-modal-dialog-1" class="bg"><i class="entypo-cog"></i></a>
                        <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                        <a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>
                        <a href="#" data-rel="close"><i class="entypo-cancel"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-10">
            <div class="row" style="padding: 10px">
                <div class="col-lg-4">
                    <div class="tabal-home">
                        <div class="row">
                            <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                <div class="col-lg-2">
                                    <img src="~/icon/aaa1.jpg" alt="" class="img-circle" width="40" />
                                </div>
                                <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                    <span id="AllBasic" onclick="allBasic()">@Basic.Basicmodule</span> 
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="tabal-home">
                        <div class="row">
                            <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                <div class="col-lg-2">

                                    <img src="~/icon/2.jpg" alt="" class="img-circle" width="40" />
                                </div>
                                <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                         <span onclick="AllOrganization()">  @organ.Organizationmodule</span>
</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="tabal-home">
                        <div class="row">
                            <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                <div class="col-lg-2">

                                    <img src="~/icon/2.png" alt="" class="img-circle" width="40" />
                                </div>
                                <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                    <span onclick="AllPersonnel()"> @Personnel.Personnelmodule </span>
</div>
                            </a>
                        </div>
                    </div>
                </div>

                @*<div class="col-lg-3 ">
                        <div class="tabal-home">
                            <div class="row">
                                <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                    <div class="col-lg-2">

                                        <img src="~/icon/4.png" alt="" class="img-circle" width="40" />
                                    </div>
                                    <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                        @organ.AddNewAuthorityType
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>*@
            </div>
            <div id="bas"></div>
            <div id="SetupBas"></div>
            <div id="Address"></div>
            <div id="Qulifaication"></div>
            <div id="Milirty"></div>
            <div id="Documents"></div>
            <div id="Currency"></div>
            <div id="Checkrequest"></div>
            <div id="AllOrganization"></div>
            <div id="AllSetupOrganization"></div>
            <div id="Authorities"></div>
            <div id="Skills"></div>
            <div id="Risk"></div>   
            <div id="Joblevel"></div>
            <div id="Jobtitle"></div>
            <div id="Organizationchart"></div>
            <div id="Budget"></div>
            <div id="CardsOrganization"></div>
            <div id="Inquery"></div>
            <div id="AllPersonnel"></div>
            <div id="AllSetupPersonnel"></div>
            <div id="Checklists"></div>
            <div id="EOS"></div>
            <div id="EmployeeProfile"></div>
            <div id="Employee_Profile"></div>
            <div id="TransactionsEmployee"></div>
            <div id="PersonnelTransaction"></div> 
            <div id="ProcessEmployee"></div>
            <div id="ProcessPersonnelTransaction"></div>

                @*<div class="row" style="padding: 10px">
                <div class="col-lg-3 ">
                    <div class="tabal-home">
                        <div class="row">
                            <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                <div class="col-lg-2">

                                    <img src="~/icon/5.png" alt="" class="img-circle" width="40" />
                                </div>
                                <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                    @organ.AddNewAuthorityType
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 ">
                    <div class="tabal-home">
                        <div class="row">
                            <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                <div class="col-lg-2">

                                    <img src="~/icon/6.png" alt="" class="img-circle" width="40" />
                                </div>
                                <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                    @organ.AddNewAuthorityType
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 ">
                    <div class="tabal-home">
                        <div class="row">
                            <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                <div class="col-lg-2">

                                    <img src="~/icon/7.png" alt="" class="img-circle" width="40" />
                                </div>
                                <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                    @organ.AddNewAuthorityType
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 ">
                    <div class="tabal-home">
                        <div class="row">
                            <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                <div class="col-lg-2">

                                    <img src="~/icon/8.jpg" alt="" class="img-circle" width="40" />
                                </div>
                                <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                    @organ.AddNewAuthorityType
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 10px">
                <div class="col-lg-3 ">
                    <div class="tabal-home">
                        <div class="row">
                            <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                <div class="col-lg-2">

                                    <img src="~/icon/10.png" alt="" class="img-circle" width="40" />
                                </div>
                                <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                    @organ.AddNewAuthorityType
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 ">
                    <div class="tabal-home">
                        <div class="row">
                            <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                <div class="col-lg-2">

                                    <img src="~/icon/11.png" alt="" class="img-circle" width="40" />
                                </div>
                                <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                    @organ.AddNewAuthorityType
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 ">
                    <div class="tabal-home">
                        <div class="row">
                            <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                <div class="col-lg-2">

                                    <img src="~/icon/12.png" alt="" class="img-circle" width="40" />
                                </div>
                                <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                    @organ.AddNewAuthorityType
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 ">
                    <div class="tabal-home">
                        <div class="row">
                            <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                <div class="col-lg-2">

                                    <img src="~/icon/13.png" alt="" class="img-circle" width="40" />
                                </div>
                                <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                    @organ.AddNewAuthorityType
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 10px">
                <div class="col-lg-3 ">
                    <div class="tabal-home">
                        <div class="row">
                            <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                <div class="col-lg-2">

                                    <img src="~/icon/14.jpg" alt="" class="img-circle" width="40" />
                                </div>
                                <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                    @organ.AddNewAuthorityType
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 ">
                    <div class="tabal-home">
                        <div class="row">
                            <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                <div class="col-lg-2">

                                    <img src="~/icon/15.png" alt="" class="img-circle" width="40" />
                                </div>
                                <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                    @organ.AddNewAuthorityType
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 ">
                    <div class="tabal-home">
                        <div class="row">
                            <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                <div class="col-lg-2">

                                    <img src="~/icon/16.png" alt="" class="img-circle" width="40" />
                                </div>
                                <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                    @organ.AddNewAuthorityType
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 ">
                    <div class="tabal-home">
                        <div class="row">
                            <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                <div class="col-lg-2">

                                    <img src="~/icon/17.png" alt="" class="img-circle" width="40" />
                                </div>
                                <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                    @organ.AddNewAuthorityType
                                </div>
                            </a>
                        </div>
                    </div>
                </div>*@
            </div>
            @*<div class="row" style="padding: 10px">
                    <div class="col-lg-3 ">
                        <div class="tabal-home">
                            <div class="row">
                                <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                    <div class="col-lg-2">

                                        <img src="~/icon/18.png" alt="" class="img-circle" width="40" />
                                    </div>
                                    <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                        @organ.AddNewAuthorityType
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>


        <br />


        <br />



    </div>


    </div>

@*</div>*@

@section scripts{}
<script type="text/javascript">
            // Code used to add Todo Tasks
            jQuery(document).ready(function ($) {
                var $todo_tasks = $("#todo_tasks");

                $todo_tasks.find('input[type="text"]').on('keydown', function (ev) {
                    if (ev.keyCode == 13) {
                        ev.preventDefault();

                        if ($.trim($(this).val()).length) {
                            var $todo_entry = $('<li><div class="checkbox checkbox-replace color-white"><input type="checkbox" /><label>' + $(this).val() + '</label></div></li>');
                            $(this).val('');

                            $todo_entry.appendTo($todo_tasks.find('.todo-list'));
                            $todo_entry.hide().slideDown('fast');
                            replaceCheckboxes();
                        }
                    }
                });
            });
</script>