@model HR.Models.Country
@using HR.Resource;
@{
    ViewBag.Title = "الصفحة الرئيسية";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}
<script>

    function allBasic() {
        var T = "";
        T = "<div class='col-lg-4'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllSetup()'>" +
            "@mainlayout.Setup</div></a></div></div></div> </div><div class='col-lg-4'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><a href='@Url.Action("Create","Check_Request")' style=color:#373e4a;>@mainlayout.Transactions</a></div></a></div></div></div>    <div class='col-lg-4'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'> <a href='@Url.Action("Index","Check_Request")' style=color:#373e4a;>@mainlayout.Process</a></div></a></div></div></div>"
        $("#AllOrganization").empty();
        $("#AllSetupOrganization").empty();
        $("#CardsOrganization").empty();
        $("#Inquery").empty();
        $("#Authorities").empty();
        $("#Risk").empty();
        $("#Skills").empty();
        $("#Organizationchart").empty();
        $("#Joblevel").empty();
        $("#Jobtitle").empty();
        $("#Budget").empty();
        $("#bas").empty();
        $("#bas").append(T)
    };

    function AllOrganization() {
        
        var T = "";
        T = "<div class='col-lg-4'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllSetupOrganization()'>" +
            "@mainlayout.Setup</div></a></div></div></div> </div><div class='col-lg-4'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllCardsOrganization()'>@mainlayout.cards</div></a></div></div></div>    <div class='col-lg-4'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllInquery()'> @mainlayout.inquery</div></a></div></div></div>"
        $("#bas").empty();
        $("#SetupBas").empty();
        $("#Qulifaication").empty();
        $("#Address").empty();
        $("#Milirty").empty();
        $("#Documents").empty();
        $("#Currency").empty();
        $("#Checkrequest").empty();
        $("#AllOrganization").empty();
        $("#AllOrganization").append(T)
    };




    function AllSetup() {

        var T = "";
        T = "<hr /><hr /><hr /><hr /><div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllAddress()'>" + "@mainlayout.Address</div></a></div></div></div> </div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>  <a href='@Url.Action("Index","Nationality")' style=color:#373e4a;>@mainlayout.Nationality</a></div></a></div></div></div>   <div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'> <a href='@Url.Action("Index","Religion")' style=color:#373e4a;>@mainlayout.Religion</a></div></a></div></div></div> <div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllQulifaication()'>@mainlayout.Qulifaication</div></a></div></div></div> <div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllMilirty()'>" + "@mainlayout.milirty</div></a></div></div></div> </div>  <div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'onclick='AllDocuments()'>" + "@mainlayout.documents</div></a></div></div></div> </div>  <div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllCurrency()'>" + "@mainlayout.Currency</div></a></div></div></div> </div>   <div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllCheckrequest()'>" + "@mainlayout.check_request</div></a></div></div></div> </div> <div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>" + "<a href='@Url.Action("Index","Contact_methods")' style=color:#373e4a;>@mainlayout.contact_method</a></div></a></div></div></div> </div>  <div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>" + "<a href='@Url.Action("Index","Rejection_Reasons")' style=color:#373e4a;>@mainlayout.Rejection_reasons</a></div></a></div></div></div> </div> <div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>" + "<a href='@Url.Action("Index","External_compaines")' style=color:#373e4a;>@mainlayout.Extrnal_companies</a></div></a></div></div></div> </div> <div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>" + "<a href='@Url.Action("Index","Air_ports")' style=color:#373e4a;>@mainlayout.Air_ports</a></div></a></div></div></div> </div>    <div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>" + "<a href='@Url.Action("Index","Ticket_Prices")' style=color:#373e4a;>@mainlayout.Tickets_prices</a></div></a></div></div></div> </div><div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>" + "<a href='@Url.Action("Index","Sponsor")' style=color:#373e4a;>@mainlayout.Sponsor</a></div></a></div></div></div> </div><div class='col-lg-6' style=width:100%;></div>"
        $("#SetupBas").empty();
        $("#Checkrequest").empty();
        $("#Milirty").empty();

        $("#SetupBas").append(T)
    };

    function AllSetupOrganization() {

        var T = "";
        T = "<div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllAuthorities()'>" + "@mainlayout.Authority</div></a></div></div></div> </div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllSkills()'>@mainlayout.skills</div></a></div></div></div>    <div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllRisk()'> @mainlayout.Risk</div></a></div></div></div><div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>" + "<a href='@Url.Action("Index","Requirments")' style=color:#373e4a;>@mainlayout.requirments</a></div></a></div></div></div> </div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><a href='@Url.Action("Index","Experience_group")' style=color:#373e4a;>@mainlayout.experience_group</a></div></a></div></div></div>    <div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'> <a href='@Url.Action("Index","Responsibilities")' style=color:#373e4a;>@mainlayout.responsibilites</a></div></a></div></div></div><div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>" + "<a href='@Url.Action("Index","work_location")' style=color:#373e4a;>@mainlayout.worklocation</a></div></a></div></div></div> </div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllJoblevel()'>@mainlayout.job_level</div></a></div></div></div>    <div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllJobtitle()'> @mainlayout.job_title</div></a></div></div></div><div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='AllOrganizationchart()'>" + "@mainlayout.organization_chart</div></a></div></div></div> </div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d' onclick='Allbudget()'>@mainlayout.budget</div></a></div></div></div><div class='col-lg-3' style=width:100%;></div>"
        $("#CardsOrganization").empty();
        $("#Inquery").empty();
        $("#AllSetupOrganization").empty();
        $("#AllSetupOrganization").append(T)
    };



    function AllAddress() {
        var T = "";
        T = "<hr /><hr /><hr /><hr /><div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>" + "<a href='@Url.Action("Index","Country")' style=color:#373e4a;>@mainlayout.Country</a></div></div></div></div> </div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40'/></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>  <a href='@Url.Action("Index","Area")' style=color:#373e4a;>@mainlayout.Regions</a></div></a></div></div></div>   <div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><a href='@Url.Action("Index","State")' style=color:#373e4a;>@mainlayout.state_government</a></div></a></div></div></div> <div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><a href='@Url.Action("Index","territory")' style=color:#373e4a;>@mainlayout.county</a></div></a></div></div></div> <div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>" + " <a href='@Url.Action("Index","Cities")' style=color:#373e4a;>@mainlayout.city</a></div></a></div></div></div> </div>  <div class='col-lg-3'><div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'><img src=/icon/aaa1.jpg alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>" + "  <a href='@Url.Action("Index","Postalcode")' style=color:#373e4a;>@mainlayout.zip_postal</a></div></a></div></div></div> </div>"
        $("#Address").empty();
        $("#Checkrequest").empty();
        $("#Milirty").empty();
        $("#Qulifaication").empty();
        $("#Currency").empty();
        $("#Address").append(T)
    };

    function AllQulifaication() {
        var T = "";
        T = "<hr /><hr /><hr /><hr /><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><a href='@Url.Action("Index","Educate_category")'style=color:#373e4a;> @mainlayout.Qulification_category</a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>  <a href='@Url.Action("Index","Educate_title")'style=color:#373e4a;>@mainlayout.education_title</a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'> <a href='@Url.Action("Index","EducateMainBody")'style=color:#373e4a;> @mainlayout.qulification_main_provider</a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><a href='@Url.Action("Index","Sub_educational_body")'style=color:#373e4a;>@mainlayout.qulification_sub_providor</a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'> <a href='@Url.Action("Index","Name_of_educational_qualification")'style=color:#373e4a;> @mainlayout.qulification_name</a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'> <a href='@Url.Action("Index","GradeEducate")'style=color:#373e4a;> @mainlayout.qulification_degree</a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'> <a href='@Url.Action("Index","QualificationMajor")'style=color:#373e4a;> @mainlayout.qulification_specialty</a></div></a></div></div></div>"
        $("#Qulifaication").empty();
        $("#Address").empty();
        $("#Milirty").empty();
        $("#Checkrequest").empty();
        $("#Currency").empty();
        $("#Qulifaication").append(T)
    };


    function AllMilirty() {
        var T = "";
        T = "<hr /><hr /><hr /><hr /><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><a href='@Url.Action("Index","Military_Service_Status")'style=color:#373e4a;> @mainlayout.miliraty_service_status</a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>  <a href='@Url.Action("Index","Military_Service_Rank")'style=color:#373e4a;>@mainlayout.miliraty_service_rank</a></div></a></div></div></div>"
        $("#Qulifaication").empty();
        $("#Address").empty();
        $("#Milirty").empty();
        $("#Documents").empty();
        $("#Checkrequest").empty();
        $("#Currency").empty();
        $("#Milirty").append(T)
    };
    function AllDocuments() {
        var T = "";
        T = "<hr /><hr /><hr /><hr /><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><a href='@Url.Action("Index","Document_Group")'style=color:#373e4a;> @mainlayout.documents_group</a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>  <a href='@Url.Action("Index","Documents")'style=color:#373e4a;>@mainlayout.document</a></div></a></div></div></div>"
        $("#Qulifaication").empty();
        $("#Address").empty();
        $("#Milirty").empty();
        $("#Checkrequest").empty();
        $("#Currency").empty();
        $("#Documents").empty();
        $("#Documents").append(T)
    };

    function AllCurrency() {
        var T = "";
        T = "<hr /><hr /><hr /><hr /><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><a href='@Url.Action("Index","Currency")'style=color:#373e4a;> @mainlayout.Currency</a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>  <a href='@Url.Action("Index","ExchangeRate")'style=color:#373e4a;>@mainlayout.exchange_rate</a></div></a></div></div></div>"
        $("#Qulifaication").empty();
        $("#Address").empty();
        $("#Milirty").empty();
        $("#Documents").empty();
        $("#Checkrequest").empty();
        $("#Currency").empty();
        $("#Currency").append(T)
    };

    function AllCheckrequest() {
        var T = "";
        T = "<hr /><hr /><hr /><hr /><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><a href='@Url.Action("Index","Checktype")'style=color:#373e4a;> @mainlayout.check_type</a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>  <a href='@Url.Action("Index","checkstatus")'style=color:#373e4a;>@mainlayout.check_status</a></div></a></div></div></div>"
        $("#Qulifaication").empty();
        $("#Address").empty();
        $("#Milirty").empty();
        $("#Documents").empty();
        $("#Currency").empty();
        $("#Checkrequest").empty();
        $("#Checkrequest").append(T)
    };

    function AllAuthorities() {
        var T = "";
        T = "<hr /><hr /><hr /><hr /><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><a href='@Url.Action("Index","Authority_Type")'style=color:#373e4a;> @mainlayout.Authority_type</a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>  <a href='@Url.Action("Index", "Authorities")'style=color:#373e4a;>@mainlayout.Authorities</a></div></a></div></div></div>"
        $("#Risk").empty();
        $("#Skills").empty();
        $("#Authorities").empty();
        $("#Authorities").append(T)
    };
    function AllSkills() {
        var T = "";
        T = "<hr /><hr /><hr /><hr /><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><a href='@Url.Action("Index","Skill_group")'style=color:#373e4a;> @mainlayout.skills_group</a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>  <a href='@Url.Action("Index","Skill")'style=color:#373e4a;>@mainlayout.skill</a></div></a></div></div></div>"
        $("#Authorities").empty();
        $("#Risk").empty();
        $("#Skills").empty();
        $("#Skills").append(T)
    };
    function AllRisk() {
        var T = "";
        T = "<hr /><hr /><hr /><hr /><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><a href='@Url.Action("Index","Risks_type")'style=color:#373e4a;> @mainlayout.Risk_type</a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>  <a href='@Url.Action("Index", "Risks")'style=color:#373e4a;>@mainlayout.Risk</a></div></a></div></div></div>"
        $("#Authorities").empty();
        $("#Skills").empty();
        $("#Risk").empty();
        $("#Risk").append(T)
    };

    function AllJoblevel() {
        var T = "";
        T = "<hr /><hr /><hr /><hr /><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><a href='@Url.Action("Index","Job_level_class")'style=color:#373e4a;> @mainlayout.job_level_class</a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>  <a href='@Url.Action("Index", "Job_level_grade")'style=color:#373e4a;>@mainlayout.job_level_grade</a></div></a></div></div></div>"
        $("#Authorities").empty();
        $("#Skills").empty();
        $("#Risk").empty();
        $("#Organizationchart").empty();
        $("#Budget").empty();
        $("#Jobtitle").empty();
        $("#Joblevel").empty();
        $("#Joblevel").append(T)
    };
    function AllJobtitle() {
        var T = "";
        T = "<hr /><hr /><hr /><hr /><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><a href='@Url.Action("Index","job_title_class")'style=color:#373e4a;> @mainlayout.job_title_class</a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>  <a href='@Url.Action("Index","Job_title_Sub_class")'style=color:#373e4a;>@mainlayout.job_title_sub_class</a></div></a></div></div></div>"
        $("#Authorities").empty();
        $("#Skills").empty();
        $("#Risk").empty();
        $("#Organizationchart").empty();
        $("#Budget").empty();
        $("#Joblevel").empty();
        $("#Jobtitle").empty();
        $("#Jobtitle").append(T)
    };
    function AllOrganizationchart() {
        var T = "";
        T = "<hr /><hr /><hr /><hr /><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><a href='@Url.Action("Index","Organization_unit_schema")'style=color:#373e4a;> @mainlayout.organization_unit_schema</a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>  <a href='@Url.Action("Index","OrganizationLevelUnit")'style=color:#373e4a;>@mainlayout.organization_unit_level</a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>  <a href='@Url.Action("Index","Organizationunittype")'style=color:#373e4a;>@mainlayout.organization_unit_type</a></div></a></div></div></div>"
        $("#Authorities").empty();
        $("#Skills").empty();
        $("#Risk").empty();
        $("#Budget").empty();
        $("#Joblevel").empty();
        $("#Jobtitle").empty();
        $("#Organizationchart").empty();
        $("#Organizationchart").append(T)
    };
    function Allbudget() {
        var T = "";
        T = "<hr /><hr /><hr /><hr /><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><a href='@Url.Action("Index","Budget_class")'style=color:#373e4a;> @mainlayout.budget_class</a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>  <a href='@Url.Action("Index","Budget_class_items")'style=color:#373e4a;>@mainlayout.budget_class_items</a></div></a></div></div></div>"
        $("#Authorities").empty();
        $("#Skills").empty();
        $("#Risk").empty();
        $("#Organizationchart").empty();
        $("#Joblevel").empty();
        $("#Jobtitle").empty();
        $("#Budget").empty();
        $("#Budget").append(T)
    };



    function AllCardsOrganization() {
        var T = "";
        T = "<div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><a href='@Url.Action("Index","job_level_setup")'style=color:#373e4a;> @mainlayout.job_level</a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>  <a href='@Url.Action("Index","job_title_card")'style=color:#373e4a;>@mainlayout.job_title_card</a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><a href='@Url.Action("Index","OrganizationChart")'style=color:#373e4a;> @mainlayout.organization_chart_card</a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>  <a href='@Url.Action("Index","Budget")'style=color:#373e4a;>@mainlayout.budget_card</a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><a href='@Url.Action("Index","manpower")'style=color:#373e4a;> @mainlayout.Mainpower</a></div></a></div></div></div>"
        $("#AllSetupOrganization").empty();
        $("#Authorities").empty();
        $("#Skills").empty();
        $("#Risk").empty();
        $("#Organizationchart").empty();
        $("#Joblevel").empty();
        $("#Jobtitle").empty();
        $("#Budget").empty();
        $("#Inquery").empty();
        $("#CardsOrganization").empty();
        $("#CardsOrganization").append(T)
    };
    function AllInquery() {
        var T = "";
        T = "<hr /><hr /><hr /><hr /><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'><a href='@Url.Action("View_jobs","OrganizationInquiry")'style=color:#373e4a;> @mainlayout.view_jobs</a></div></a></div></div></div><div class='col-lg-3'> <div class='tabal-home'><div class='row'><a href='#' class='dropdown-toggle f-c-home' data-toggle='dropdown'><div class='col-lg-2'> <img src='/icon/2.png' alt='' class='img-circle' width='40' /></div><div class='col-lg-10' dir='@HR.Resource.mainlayout.d'>  <a href='@Url.Action("organization_view_related_to_jobs","OrganizationInquiry")'style=color:#373e4a;>@mainlayout.organization_view_related_to_jobs</a></div></a></div></div></div>"
        $("#Authorities").empty();
        $("#Skills").empty();
        $("#Risk").empty();
        $("#Organizationchart").empty();
        $("#Joblevel").empty();
        $("#Jobtitle").empty();
        $("#Budget").empty();
        $("#AllSetupOrganization").empty();
        $("#CardsOrganization").empty();
        $("#Inquery").empty();
        $("#Inquery").append(T)
    };








</script>
<div >
<div class="right_col" role="main">
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @TempData["Message"]
        </div>
    }
    <div class="row" style="padding: 20px">
        <div class="col-lg-2">
            <div class="panel panel-primary panel-table">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h3>Events</h3>
                        <span>This month's event calendar</span>
                    </div>

                    <div class="panel-options">
                        <a href="#sample-modal" data-toggle="modal" data-target="#sample-modal-dialog-1" class="bg"><i class="entypo-cog"></i></a>
                        <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                        <a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>
                        <a href="#" data-rel="close"><i class="entypo-cancel"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-10">
            <div class="row" style="padding: 10px">
                <div class="col-lg-4">
                    <div class="tabal-home">
                        <div class="row">
                            <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                <div class="col-lg-2">
                                    <img src="~/icon/aaa1.jpg" alt="" class="img-circle" width="40" />
                                </div>
                                <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                    <span id="AllBasic" onclick="allBasic()">@Basic.Basicmodule</span> 
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="tabal-home">
                        <div class="row">
                            <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                <div class="col-lg-2">

                                    <img src="~/icon/2.jpg" alt="" class="img-circle" width="40" />
                                </div>
                                <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                         <span onclick="AllOrganization()">     @organ.Organizationmodule</span>
</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="tabal-home">
                        <div class="row">
                            <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                <div class="col-lg-2">

                                    <img src="~/icon/2.png" alt="" class="img-circle" width="40" />
                                </div>
                                <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                        @Personnel.Personnelmodule
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                @*<div class="col-lg-3 ">
                        <div class="tabal-home">
                            <div class="row">
                                <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                    <div class="col-lg-2">

                                        <img src="~/icon/4.png" alt="" class="img-circle" width="40" />
                                    </div>
                                    <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                        @organ.AddNewAuthorityType
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>*@
            </div>
            <div id="bas"></div>
                <div id="SetupBas"></div>
            <div id="Address"></div>
            <div id="Qulifaication"></div>
            <div id="Milirty"></div>
            <div id="Documents"></div>
            <div id="Currency"></div>
            <div id="Checkrequest"></div>
            <div id="AllOrganization"></div>
            <div id="AllSetupOrganization"></div>
            <div id="Authorities"></div>
            <div id="Skills"></div>
            <div id="Risk"></div>   
            <div id="Joblevel"></div>
            <div id="Jobtitle"></div>
            <div id="Organizationchart"></div>
            <div id="Budget"></div>
            <div id="CardsOrganization"></div>
            <div id="Inquery"></div>

                @*<div class="row" style="padding: 10px">
                        <div class="col-lg-3 ">
                            <div class="tabal-home">
                                <div class="row">
                                    <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                        <div class="col-lg-2">

                                            <img src="~/icon/5.png" alt="" class="img-circle" width="40" />
                                        </div>
                                        <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                            @organ.AddNewAuthorityType
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 ">
                            <div class="tabal-home">
                                <div class="row">
                                    <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                        <div class="col-lg-2">

                                            <img src="~/icon/6.png" alt="" class="img-circle" width="40" />
                                        </div>
                                        <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                            @organ.AddNewAuthorityType
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 ">
                            <div class="tabal-home">
                                <div class="row">
                                    <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                        <div class="col-lg-2">

                                            <img src="~/icon/7.png" alt="" class="img-circle" width="40" />
                                        </div>
                                        <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                            @organ.AddNewAuthorityType
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 ">
                            <div class="tabal-home">
                                <div class="row">
                                    <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                        <div class="col-lg-2">

                                            <img src="~/icon/8.jpg" alt="" class="img-circle" width="40" />
                                        </div>
                                        <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                            @organ.AddNewAuthorityType
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 10px">
                        <div class="col-lg-3 ">
                            <div class="tabal-home">
                                <div class="row">
                                    <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                        <div class="col-lg-2">

                                            <img src="~/icon/10.png" alt="" class="img-circle" width="40" />
                                        </div>
                                        <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                            @organ.AddNewAuthorityType
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 ">
                            <div class="tabal-home">
                                <div class="row">
                                    <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                        <div class="col-lg-2">

                                            <img src="~/icon/11.png" alt="" class="img-circle" width="40" />
                                        </div>
                                        <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                            @organ.AddNewAuthorityType
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 ">
                            <div class="tabal-home">
                                <div class="row">
                                    <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                        <div class="col-lg-2">

                                            <img src="~/icon/12.png" alt="" class="img-circle" width="40" />
                                        </div>
                                        <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                            @organ.AddNewAuthorityType
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 ">
                            <div class="tabal-home">
                                <div class="row">
                                    <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                        <div class="col-lg-2">

                                            <img src="~/icon/13.png" alt="" class="img-circle" width="40" />
                                        </div>
                                        <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                            @organ.AddNewAuthorityType
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 10px">
                        <div class="col-lg-3 ">
                            <div class="tabal-home">
                                <div class="row">
                                    <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                        <div class="col-lg-2">

                                            <img src="~/icon/14.jpg" alt="" class="img-circle" width="40" />
                                        </div>
                                        <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                            @organ.AddNewAuthorityType
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 ">
                            <div class="tabal-home">
                                <div class="row">
                                    <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                        <div class="col-lg-2">

                                            <img src="~/icon/15.png" alt="" class="img-circle" width="40" />
                                        </div>
                                        <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                            @organ.AddNewAuthorityType
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 ">
                            <div class="tabal-home">
                                <div class="row">
                                    <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                        <div class="col-lg-2">

                                            <img src="~/icon/16.png" alt="" class="img-circle" width="40" />
                                        </div>
                                        <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                            @organ.AddNewAuthorityType
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 ">
                            <div class="tabal-home">
                                <div class="row">
                                    <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                        <div class="col-lg-2">

                                            <img src="~/icon/17.png" alt="" class="img-circle" width="40" />
                                        </div>
                                        <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                            @organ.AddNewAuthorityType
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>*@
            </div>
            @*<div class="row" style="padding: 10px">
                    <div class="col-lg-3 ">
                        <div class="tabal-home">
                            <div class="row">
                                <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                    <div class="col-lg-2">

                                        <img src="~/icon/18.png" alt="" class="img-circle" width="40" />
                                    </div>
                                    <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                        @organ.AddNewAuthorityType
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>


        <br />


        <br />



    </div>


    </div>

@*</div>*@

@section scripts{}
<script type="text/javascript">
            // Code used to add Todo Tasks
            jQuery(document).ready(function ($) {
                var $todo_tasks = $("#todo_tasks");

                $todo_tasks.find('input[type="text"]').on('keydown', function (ev) {
                    if (ev.keyCode == 13) {
                        ev.preventDefault();

                        if ($.trim($(this).val()).length) {
                            var $todo_entry = $('<li><div class="checkbox checkbox-replace color-white"><input type="checkbox" /><label>' + $(this).val() + '</label></div></li>');
                            $(this).val('');

                            $todo_entry.appendTo($todo_tasks.find('.todo-list'));
                            $todo_entry.hide().slideDown('fast');
                            replaceCheckboxes();
                        }
                    }
                });
            });
</script>