@model HR.Models.Country
    @using HR.Resource;
@{
    ViewBag.Title = "الصفحة الرئيسية";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}


<div class="right_col" role="main">

    @*<div class="row">
        <div class="col-sm-12">
            <div class="well text-center">
                <h1>@DateTime.Now</h1>
                <h3>Hello</h3>
            </div>
        </div>
    </div>*@
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @TempData["Message"]
        </div>
    }
    @*<div class="calendar-env">

         Calendar Body 
        <div class="calendar-body" style="width: 100%">

            <div id="calendar">

            </div>

        </div>

    </div>*@


         <div class="row" style="padding: 20px">
                <div class="col-lg-2">
                    <div class="panel panel-primary panel-table">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h3>Events</h3>
                                <span>This month's event calendar</span>
                            </div>

                           <div class="panel-options">
                                <a href="#sample-modal" data-toggle="modal" data-target="#sample-modal-dialog-1" class="bg"><i class="entypo-cog"></i></a>
                                <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                                <a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>
                                <a href="#" data-rel="close"><i class="entypo-cancel"></i></a>
                            </div>
                        </div>
                      @*<div class="panel-body">
                            <div id="calendar" class="calendar-widget">
                            </div>
                        </div>*@
                    </div>
                </div>

                <div class="col-lg-10">
            <div class="row" style="padding: 10px">
                <div class="col-lg-3">
                    <div class="tabal-home">
                        <div class="row">
                            <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                <div class="col-lg-2">

                                    <img src="~/icon/aaa1.jpg" alt="" class="img-circle" width="40" />
                                </div>
                                <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                               @organ.AddNewAuthorityType
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="tabal-home">
                        <div class="row">
                            <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                <div class="col-lg-2">

                                    <img src="~/icon/2.jpg" alt="" class="img-circle" width="40" />
                                </div>
                                <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                    @organ.AddNewAuthorityType
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 ">
                    <div class="tabal-home">
                        <div class="row">
                            <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                <div class="col-lg-2">

                                    <img src="~/icon/2.png" alt="" class="img-circle" width="40" />
                                </div>
                                <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
                                   @organ.AddNewAuthorityType
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 ">
                    <div class="tabal-home">
                        <div class="row">
                            <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                <div class="col-lg-2">

                                    <img src="~/icon/4.png" alt="" class="img-circle" width="40" />
                                </div>
                                <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
@organ.AddNewAuthorityType                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 10px">
                <div class="col-lg-3 ">
                    <div class="tabal-home">
                        <div class="row">
                            <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                <div class="col-lg-2">

                                    <img src="~/icon/5.png" alt="" class="img-circle" width="40" />
                                </div>
                                <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
@organ.AddNewAuthorityType                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 ">
                    <div class="tabal-home">
                        <div class="row">
                            <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                <div class="col-lg-2">

                                    <img src="~/icon/6.png" alt="" class="img-circle" width="40" />
                                </div>
                                <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
@organ.AddNewAuthorityType                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 ">
                    <div class="tabal-home">
                        <div class="row">
                            <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                <div class="col-lg-2">

                                    <img src="~/icon/7.png" alt="" class="img-circle" width="40" />
                                </div>
                                <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
@organ.AddNewAuthorityType                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 ">
                    <div class="tabal-home">
                        <div class="row">
                            <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                <div class="col-lg-2">

                                    <img src="~/icon/8.jpg" alt="" class="img-circle" width="40" />
                                </div>
                                <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
@organ.AddNewAuthorityType                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 10px">
                <div class="col-lg-3 ">
                    <div class="tabal-home">
                        <div class="row">
                            <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                <div class="col-lg-2">

                                    <img src="~/icon/10.png" alt="" class="img-circle" width="40" />
                                </div>
                                <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
@organ.AddNewAuthorityType                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 ">
                    <div class="tabal-home">
                        <div class="row">
                            <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                <div class="col-lg-2">

                                    <img src="~/icon/11.png" alt="" class="img-circle" width="40" />
                                </div>
                                <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
@organ.AddNewAuthorityType                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 ">
                    <div class="tabal-home">
                        <div class="row">
                            <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                <div class="col-lg-2">

                                    <img src="~/icon/12.png" alt="" class="img-circle" width="40" />
                                </div>
                                <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
@organ.AddNewAuthorityType                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 ">
                    <div class="tabal-home">
                        <div class="row">
                            <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                <div class="col-lg-2">

                                    <img src="~/icon/13.png" alt="" class="img-circle" width="40" />
                                </div>
                                <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
@organ.AddNewAuthorityType                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 10px">
                <div class="col-lg-3 ">
                    <div class="tabal-home">
                        <div class="row">
                            <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                <div class="col-lg-2">

                                    <img src="~/icon/14.jpg" alt="" class="img-circle" width="40" />
                                </div>
                                <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
@organ.AddNewAuthorityType                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 ">
                    <div class="tabal-home">
                        <div class="row">
                            <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                <div class="col-lg-2">

                                    <img src="~/icon/15.png" alt="" class="img-circle" width="40" />
                                </div>
                                <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
@organ.AddNewAuthorityType                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 ">
                    <div class="tabal-home">
                        <div class="row">
                            <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                <div class="col-lg-2">

                                    <img src="~/icon/16.png" alt="" class="img-circle" width="40" />
                                </div>
                                <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
@organ.AddNewAuthorityType                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 ">
                    <div class="tabal-home">
                        <div class="row">
                            <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                <div class="col-lg-2">

                                    <img src="~/icon/17.png" alt="" class="img-circle" width="40" />
                                </div>
                                <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
@organ.AddNewAuthorityType                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 10px">
                <div class="col-lg-3 ">
                    <div class="tabal-home">
                        <div class="row">
                            <a href="#" class="dropdown-toggle f-c-home" data-toggle="dropdown">
                                <div class="col-lg-2">

                                    <img src="~/icon/18.png" alt="" class="img-circle" width="40" />
                                </div>
                                <div class="col-lg-10" dir="@HR.Resource.mainlayout.d">
@organ.AddNewAuthorityType                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <br />


        <br />
         <script type="text/javascript">
    // Code used to add Todo Tasks
    jQuery(document).ready(function($)
    {
        var $todo_tasks = $("#todo_tasks");

        $todo_tasks.find('input[type="text"]').on('keydown', function(ev)
        {
            if(ev.keyCode == 13)
            {
                ev.preventDefault();

                if($.trim($(this).val()).length)
                {
                    var $todo_entry = $('<li><div class="checkbox checkbox-replace color-white"><input type="checkbox" /><label>'+$(this).val()+'</label></div></li>');
                    $(this).val('');

                    $todo_entry.appendTo($todo_tasks.find('.todo-list'));
                    $todo_entry.hide().slideDown('fast');
                    replaceCheckboxes();
                }
            }
        });
    });
        </script>





    </div>

</div>

@section scripts{}