@model HR.Models.Training.trans.Course_TrainingType
 

@using HR.Resource;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}

@Scripts.Render("~/bundles/jqueryval")
<div class="content-wrapper">


    <!-- Main content -->
    <section class="content">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                @using (Html.BeginForm("edit", "Course_training_type", new { course_code99 = @ViewBag.course_code5 }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="sec-nav">
                        <div><i class="far fa-save"></i><button type="submit" class="create-btn" />@organ.Save</div>
                        <div><i class="fas fa-undo"></i><a style="" href="@Url.Action("index", "Course_training_type")" class="create-btn"> @pers_2.Back</a></div>
                    </div>
                    <input name="center_id" value="" />
                    @Html.HiddenFor(m=>m.ID)
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <hr />
                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Message"]
                            </div>
                        }
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <section style="margin-top:40px" class="content-header">
                            <h1>
                                @training.couretrainingtype
                            </h1>
                        </section>
                        <div class="form-group">





                            <div class="col-md-4">

                                <label style="color:red">@training.Courses</label>
                                @Html.DropDownListFor(m => m.Course_Code, new SelectList(ViewBag.course, "ID", "Code"), training.Courses, new { @class = "select2" })
                                @Html.ValidationMessageFor(model => model.Course_Code, "", new { @class = "text-danger" })
                            </div>





                        </div>


                        <ul class="nav nav-tabs bordered">
                            <!-- available classes "bordered", "right-aligned" -->
                            <li class="active">
                                <a href="#homee" data-toggle="tab">
                                    <span class="visible-xs"><i class="entypo-home"></i></span>
                                    <span class="hidden-xs">@training.TrainingType</span>
                                </a>
                            </li>


                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="homee" style="overflow: hidden;width: auto;height: auto;">


                                <div class="form-group">




                                    <div class="col-md-4">
                                        <label>@training.TrainingType</label>
                                        @Html.DropDownList("Q", new SelectList(ViewBag.centers, "ID", "Code"), training.TrainingType, new { @class = "select2", id = "country" })
                                    </div>


                                    
                                    <div class="col-md-4">
                                        <label> - </label>
                                        <input style="width:100%" class="btn btn-success" type="button" value=@pers_2.getemp onclick="getemp()" />

                                    </div>

                                </div>


                                <table class="table table-bordered">
                                    <thead>
                                        <tr>

                                            <td hidden></td>
                                            <td>@training.TrainingType</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody id="emp2"></tbody>
                                </table>


                            </div>

                        </div>


                    </div>
                }

            </div>

        </div>

    </section>
</div>



@section scripts{}

<style>
    /*Create Page*/


    .sec-nav {
        z-index: 9999;
        position: fixed;
        top: 47px;
        background: #faf9f8;
        border-bottom: 1px solid #bebbb8;
        display: block;
        width: 100%;
        left: 50px;
        padding-left: 10px;
        height: 60px;
        line-height: 60px;
    }

        .sec-nav div {
            display: inline-block;
            padding: 5px 8px;
            width: unset;
            border: 0;
            color: #000;
            font-size: 16px;
            height: 60px;
        }

            .sec-nav div:hover {
                background: #eee;
                color: #000;
            }

                .sec-nav div:hover input {
                    color: #000;
                }

    .create-btn {
        border: 0;
        height: 100%;
        background-color: transparent;
    }

    .sec-nav div svg {
        color: #2266e3;
        font-size: 17px;
    }

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        /*float: unset*/
    }

    label {
        text-align: left;
        font: normal normal 400 12px/18px 'Segoe UI',tahoma,sans-serif;
        color: #605e5c;
        display: block;
        margin-bottom: 0;
        max-width: 220px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 600;
        margin-top: 15px;
    }

    .form-horizontal .form-group {
        margin: 0 !important;
    }

    input {
        height: 35px;
        color: #000;
    }

        input:active {
            border: 1px solid #2266e3;
        }

    .form-group .row > div {
        margin-bottom: 10px;
    }

    .content-wrapper {
        margin-left: 15px;
    }

    .col-md-4 {
        width: 20% !important;
    }
</style>

<script>

    function remove(thi) {
        thi.parent().parent().remove();

    }
    function getemp() {
        var finalresult = "";
        var center_id = parseInt($("#country").val());
        var center_text = $("#country").find("option:selected").text();


        if (parseInt(center_id) > 0)
        {


            debugger


                debugger
                finalresult +="<tr>" +
                    "<td hidden><input hidden  class = 'form-control' required type='number'  name='center_id'   value='" + center_id + "' /></td>" +
                    "<td><input class = 'form-control' required   value='" + center_text + "'  readonly='readonly'/></td>" +
                    "<td><input type='button' style='margin-left:3px' value=@organ.remove class='form-control remove btn btn-danger' onclick='remove($(this))' /></td></tr>"
                $("#emp2").append(finalresult);

        }

    }
    function getcontent() {
        debugger
        var finalresult2 = "";
        var code = '@ViewBag.course_code5';
        $.ajax({
            type: "post",
            url: "/Course_training_type/getallcontent",
            data: { "coures_code": code },
            success: function (result) {
                debugger

                $.each(result, function (key, value) {
                    debugger
                    finalresult2 +=
                 "<tr>" +
                 "<td hidden><input hidden  class = 'form-control' required type='number'  name='center_id'   value='" + value.TrainingType_Code + "' /></td>" +
                 "<td><input class = 'form-control' required   value='" + value.training_type_des + "'  readonly='readonly'/></td>" +
                 "<td><input type='button' style='margin-left:3px' value=@organ.remove class='form-control remove btn btn-danger' onclick='remove($(this))' /></td></tr>"

                });

                $("#emp2").append(finalresult2);
            },
            error: function () {


            }
        });
    }
</script>


<script>
    $(function () {
       
        getcontent();
    })
</script>