<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.js"></script>

@model HR.Models.Employee_military_service_calling
@using HR.Resource;
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}


@Scripts.Render("~/bundles/jqueryval")
<div class="content-wrapper">

  

    <!-- Main content -->
    <section class="content">

        <div class="box">

            <!-- /.box-header -->
            <div class="box-body">

                @using (Html.BeginForm("Edit", "Employee_military_service_calling", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="sec-nav">
                        <div><i class="far fa-save"></i><button type="submit" class="create-btn" />@organ.Save</div>
                        <div><i class="fas fa-plus"></i><a href="@Url.Action("create", "Employee_military_service_calling",new {id=ViewBag.idemp})" class="create-btn">@pers_2.new_</a></div>
                        <div><i class="far fa-trash-alt"></i><input type="button" href="@Url.Action("index","Employee_military_service_calling")" class="create-btn" value=@organ.delete /></div>
                        <div><i class="fas fa-undo"></i><a style="" href="@Url.Action("index", "Employee_military_service_calling",new {id=ViewBag.idemp})" class="create-btn"> @pers_2.Back</a></div>
                        <div><i class="far fa-save"></i> <button type="submit" id="btnSubmit" name="Command" value="Submit" class="create-btn" />@Personnel.EmployeeProfile</div>
                    </div>
                    <hr /><hr /><hr />
                    <section class="content-header">
                        <h1>
                            @Personnel.EditEmployeeMilitaryServiceCalling
                        </h1>
                    </section>
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">

                        <hr />

                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Message"]
                            </div>
                        }

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(m => m.Employee_Profile.ID);
                        <div>

                            <div class="form-group">
                                <label class="control-label col-md-2" style="color:red">@Personnel.EmployeeName</label>
                                <div class="col-md-3">
                                    @Html.DropDownListFor(m => m.Employee_ProfileId, new SelectList(ViewBag.Employee_Profile, "ID", "Code"), "Select Employee", new { @readonly = true, @class = "select2", @onchange = "employee()", id = "employeeId8" })

                                </div>
                               
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2" style="color:red">@Personnel.MilitaryservicecallingNo</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                </div>
                            </div>




                            <div class="form-group">
                                <label class="control-label col-md-2">@Personnel.Startdate</label>

                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Start_date, new { @value = "01/01/1900", htmlAttributes = new { @class = "form-control StartDate", @onchange = "Save()", @id = "Start", @type = "date" } })
                                    @Html.ValidationMessageFor(model => model.Start_date, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-md-2">@Personnel.Years</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Years, new { htmlAttributes = new { @readonly = "true", @class = "form-control", id = "Yearr", @type = "number", @min = 0 } })

                                    @Html.ValidationMessageFor(model => model.Years, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">@Personnel.Enddate</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.End_date, new { @value = "01/01/1900", htmlAttributes = new { @class = "form-control EndDate", @onchange = "Save2()", @id = "End", @type = "date" } })
                                    @Html.ValidationMessageFor(model => model.End_date, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-md-1">@Personnel.Months</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.Months, new { htmlAttributes = new { @readonly = "true", @class = "form-control", id = "months", @type = "number", @min = 0 } })

                                    @Html.ValidationMessageFor(model => model.Months, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-md-1">@Personnel.Days</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.Days, new { htmlAttributes = new { @readonly = "true", @class = "form-control", id = "Days" } })
                                    @Html.ValidationMessageFor(model => model.Days, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">@Personnel.Comments</label>
                                <div class="col-md-3">
                                    @Html.TextAreaFor(model => model.Comments, 4, 55, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>


                        <div class="form-group" hidden>
                            <div class="col-md-offset-2 col-md-10">
                                <a href="@Url.Action("index","Employee_military_service_calling",new {id=ViewBag.idemp})" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>Back</a>
                                <input type="submit" value="Edit" class="btn btn-success" />

                            </div>
                        </div>
                    </div>

                }

            </div>

        </div>

    </section>
</div>
@section scripts{}



<script>
    $(document).ready(function () {
        $("#employeeId8").attr("disabled", true);
        GetDataById2();
        GetDataById();
        Save();
        Save2();
    });
</script>

<script>
    function employee() {

        var id = $("#employeeId8").val();
        $.ajax({
            type: "post",
            url: "/Helper/GetEmployee",
            data: { "id": id },
            success: function (result) {

                $("#employeename").val(result.Name);
                $("#codeid").val(result.Employee_Positions_Profile.Code);
                //$("#employeeId").attr("readonly", true);
                //$("#employeeId").prop("readonly", true);
            },
            error: function () {

                $("#employeename").val(" ");
                $("#codeid").val("");
            }
        });
    }




    function GetDataById() {

        let x = window.location.href.split('/')[5];
        $.ajax({
            type: "post",
            url: "/Helper/GetDataByIdmilitary",
            data: { "id": x },
            success: function (result) {

                if (result) {
                    var date = parseJsonDate(result.End_date)
                    month = date.getMonth() + 1;
                    if (parseInt(month) < 10) {
                        month = '0' + month;
                    }
                    day = date.getDate();
                    if (parseInt(day) < 10) {
                        day = '0' + day;
                    }
                    var d = date.getFullYear() + '-' + month + '-' + day;//date.getDate()
                    document.getElementById("End").value = d;
                    var ttttt = $("#End").val();
                    Save();
                    Save2();
                }
            },
            error: function () {


            }
        });
    }
    //    GetDataById();
    function parseJsonDate(jsonDateString) {
        return new Date(parseInt(jsonDateString.replace('/Date(', '')));
    }
    ///////////////////////////////////
    function GetDataById2() {

        let x = window.location.href.split('/')[5];
        $.ajax({
            type: "post",
            url: "/Helper/GetDataByIdmilitary",
            data: { "id": x },
            success: function (result) {

                if (result) {
                    var date = parseJsonDate(result.Start_date)
                    month = date.getMonth() + 1;
                    if (parseInt(month) < 10) {
                        month = '0' + month;
                    }
                    day = date.getDate();
                    if (parseInt(day) < 10) {
                        day = '0' + day;
                    }
                    var d = date.getFullYear() + '-' + month + '-' + day;//date.getDate()
                    document.getElementById("Start").value = d;
                    var ttttt = $("#Start").val();
                    GetDataById();

                }
            },
            error: function () {


            }
        });
    }
    //   GetDataById2();
    function parseJsonDate(jsonDateString) {
        return new Date(parseInt(jsonDateString.replace('/Date(', '')));
    }


    function GetDiffDates(StartDate, EndDate) {
        if (StartDate && EndDate) {
            $.get("/Employee_military_service_calling/DifferenceTwoDates?StartDate=" + StartDate + '&EndDate=' + EndDate, function (data, status) {

                if (data) {
                    $("#Days").val(data.DateDiff.Days);
                    $("#months").val(data.DateDiff.Months);
                    $("#Yearr").val(data.DateDiff.Years);
                }
            });
        }
    }

    function Save() {

        var StartDate = new Date($(".StartDate").val());
        var EndDate = new Date($(".EndDate").val());

        var from = $(".StartDate").val();
        var to = $(".EndDate").val();



        if (to > from) {
            //var diffTime = Math.abs(EndDate - StartDate);
            //var Days = Math.ceil(diffTime / (1000 * 60 * 60 * 24)) + 1;
            //var months = Math.floor(Days / 31);
            //var years = Math.floor(months / 12);
            //$("#Yearr").val(years);
            //$("#months").val(months - (years * 12));
            //$("#Days").val(Days - (months * 31) - (years * 12));

            //var endMoment = moment(EndDate);
            //var startMoment = moment(StartDate);

            //let TotalDays = endMoment.diff(startMoment, 'days');
            //let TotalMonths = endMoment.diff(startMoment, 'months');
            //let TotalYears = endMoment.diff(startMoment, 'years');

            //debugger
            //var models = TotalMonths % 12;

            //var x = 365 + (models * 30);

            //$("#Days").val(TotalDays - x);
            //$("#months").val(models);
            //$("#Yearr").val(TotalYears);

            //GetDiffDates(StartDate, EndDate);
            GetDiffDates(from, to);

        }
        else {
            $("#Yearr").val("0");
            $("#months").val("0");
            $("#Days").val("0");
        }
    };

    function Save2() {

        var StartDate = new Date($(".StartDate").val());
        var EndDate = new Date($(".EndDate").val());

        var from = $(".StartDate").val();
        var to = $(".EndDate").val();

        if (to > from) {
            //var diffTime = Math.abs(EndDate - StartDate);
            //var Days = Math.ceil(diffTime / (1000 * 60 * 60 * 24)) + 1;
            //var months = Math.floor(Days / 31);
            //var years = Math.floor(months / 12);
            //$("#Yearr").val(years);
            //$("#months").val(months - (years * 12));
            //$("#Days").val(Days - (months * 31) - (years * 12));

            //var endMoment = moment(EndDate);
            //var startMoment = moment(StartDate);

            //let TotalDays = endMoment.diff(startMoment, 'days');
            //let TotalMonths = endMoment.diff(startMoment, 'months');
            //let TotalYears = endMoment.diff(startMoment, 'years');
            //debugger
            //var models = TotalMonths % 12;

            //var x = 365 + (models * 30);

            //$("#Days").val(TotalDays - x);
            //$("#months").val(models);
            //$("#Yearr").val(TotalYears);

            //GetDiffDates(StartDate, EndDate);
            GetDiffDates(from, to);

        }
        else {
            $("#Yearr").val("0");
            $("#months").val("0");
            $("#Days").val("0");
        }
    };
</script>

<style>

    /*Create Page*/


    .sec-nav {
        z-index: 9999;
        position: fixed;
        top: 47px;
        background: #faf9f8;
        border-bottom: 1px solid #bebbb8;
        display: block;
        width: 100%;
        left: 50px;
        padding-left: 10px;
        height: 60px;
        line-height: 60px;
    }

        .sec-nav div {
            display: inline-block;
            padding: 5px 8px;
            width: unset;
            border: 0;
            color: #000;
            font-size: 16px;
            height: 60px;
        }

            .sec-nav div:hover {
                background: #eee;
                color: #000;
            }

                .sec-nav div:hover input {
                    color: #000;
                }

    .create-btn {
        border: 0;
        height: 100%;
        background-color: transparent;
    }

    .sec-nav div svg {
        color: #2266e3;
        font-size: 17px;
    }

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        /*float: unset*/
    }

    label {
        text-align: left;
        font: normal normal 400 12px/18px 'Segoe UI',tahoma,sans-serif;
        color: #605e5c;
        display: block;
        margin-bottom: 0;
        max-width: 220px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 600;
        margin-top: 15px;
    }

    .form-horizontal .form-group {
        margin: 0 !important;
    }

    input {
        height: 35px;
        color: #000;
    }

        input:active {
            border: 1px solid #2266e3;
        }

    .form-group .row > div {
        margin-bottom: 10px;
    }

    .content-wrapper {
        margin-left: 15px;
    }

    .col-md-4 {
        width: 20% !important;
        margin-bottom: 15px;
    }

    .col-md-3 {
        width: 20% !important;
        margin-bottom: 15px;
    }
</style>