@model HR.Models.All_Table_Commitee_Resolution.In_Organization
@using HR.Resource;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}

@Scripts.Render("~/bundles/jqueryval")
<link href="~/Content/StyleTableBeneficiary.css" rel="stylesheet" />
<script>

    $(function () {
        $("#tb-family").hide()
        $("#ss").click(function () {

            var Family_profile = $("#employeeId3").val();
            $.ajax({
                type: "post",
                url: "/Helper/GetDataByJobTitle",
                data: { "id": Family_profile },
                success: function (result) {
                    debugger
                    $.each(result, function (i , r) {
                        if (Family_profile != "") {
                            $("#tb-family").show();
                            var T = "";
                            T = "<tr><td><input type='text' readonly name='JobCode' value='" + r.Code + "'/></td><td><input type='text' readonly name='JobDescription' value='" + r.name + "'/></td><td><input type='text' name='CadreCode' readonly value='" + r.job_level_setup.ID + "' /></td><td><input type='text' name='CadreDescription' readonly value='" + r.job_level_setup.Name + "' /></td><td><input type='text' name='OrgCode' readonly value='" + r.Organization_Chart.ID + "' /></td><td><input type='text' name='OrgDescription' readonly value='" + r.Organization_Chart.unit_Description + "' /></td><td><input type='button' class='del-btn tb-btn' value='@Personnel.Delete'/></td></tr>"
                            $("#tb-family").append(T)
                        }
                    })
                }
            })
            $("#tb-family").on('click', '.del-btn', function () {
               $(this).closest('tr').remove()

            })

        })
    })

</script>
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            @Personnel.CreateInOrganization
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                @using (Html.BeginForm("Create", "In_Organization", new { id2 = ViewBag.idemp }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">

                        <hr />

                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Message"]
                            </div>
                        }

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <input name="JobCode" hidden />
                        <input name="JobDescription" hidden />
                        <input name="CadreCode" hidden />
                        <input name="CadreDescription" hidden />
                        <input name="OrgCode" hidden />
                        <input name="OrgDescription" hidden />

                        <div>



                            <div class="form-group">
                                <label class="control-label col-md-2">@Personnel.CommitteResolutionNo</label>
                                <div class="col-md-3">
                                    <input type="text" value="@ViewBag.Committe_Resolution_Recuirtment" disabled />
                                </div>
                                <div class="col-md-3">
                                    <button type="submit" id="btnSubmit" name="Command" value="Submit" class="btn btn-success">@Personnel.Committe_Resolution_Recuirtment</button>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">
                                    <span>@Personnel.Job</span>
                                </label>
                                <div class="col-md-3">
                                    @Html.DropDownList("fd", new SelectList(ViewBag.job_title_cards, "ID", "Code"), Personnel.SelectJob, new { @required = "required", @class = "select2", @onchange = "employee3()", id = "employeeId3" })
                                </div>
                                <div class="col-md-3">
                                    <input type="button" value="@Personnel.Add" id="ss" style="margin-top: 10px;" />
                                </div>
                            </div>
                            <table id="tb-family" border="1" style="display: table; width:400px;">
                                <thead>
                                    <tr>
                                        <th id="fa">@Personnel.JobCode</th>
                                        <th id="na">@Personnel.JobDescription</th>
                                        <th id="per">@Personnel.CadreCode</th>
                                        <th id="De">@Personnel.Cadre</th>
                                        <th id="No">@Personnel.OrgUnitCode</th>
                                        <th id="No2">@Personnel.OrgUnitDescription</th>
                                    </tr>
                                </thead>
                            </table>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="@Personnel.Create" class="btn btn-success" />
                                    <a href="@Url.Action("index","Committe_Resolution_Recuirtment",new {id=ViewBag.idemp})" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>@Personnel.Back</a>
                                </div>
                            </div>
                        </div>

                    </div>

                }

            </div>

        </div>
    </section>
</div>

@section scripts{}

<script>
    function employee3() {

        var id = $("#employeeId3").val();
        $.ajax({
            type: "post",
            url: "/Helper/GetJobtitle",
            data: { "id": id },
            success: function (result) {

            },
            error: function () {

            }
        });
    }

</script>
