@model IEnumerable<HR.Models.Application.Medical_Test_Profile>
@using HR.Resource;
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}

@Scripts.Render("~/bundles/jqueryval")
<link href="~/Content/StyleTableBeneficiary.css" rel="stylesheet" />
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            @Personnel.EditCommiteeActivites
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                @using (Html.BeginForm("Edit", "Medical_Test_Profile", new { id2 = ViewBag.idemp }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                <div class="form-horizontal">

                    <hr />

                    @if (TempData["Message"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            @TempData["Message"]
                        </div>
                    }

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                   

                    <input name="SubjectCode" hidden />
                    <input name="StartDate" hidden />
                    <input name="MedicalEntity" hidden />
                    <input name="TestResult" hidden />
                    <input name="NotFitReason" hidden />
                    <input name="Comments" hidden />
                    <input name="FinalTestResult" hidden />

                    <div>


                        <div class="form-group">
                            <label class="control-label col-md-2">Committe Resolution No.</label>
                            <div class="col-md-3">
                                <input type="text" value="@ViewBag.ApplicationCode" disabled id="code" />
                            </div>
                            <label class="control-label col-md-1">Application Id</label>
                            <div class="col-md-3">
                                <input type="text" value="@ViewBag.ApplicationApp" disabled />
                            </div>
                            <div class="col-md-3">
                                <button type="submit" id="btnSubmit" name="Command" value="Submit" class="btn btn-success">Application</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                <input type="button" value="@Personnel.Add" id="ss" style="margin-top: 10px;" />
                            </div>
                        </div>
                        <table id="tb-family" border="1" style="display: table; width:400px;">
                            <thead>
                                <tr>
                                    <th id="fa">SubjectCode</th>
                                    <th id="na">StartDate</th>
                                    <th id="per">MedicalEntity</th>
                                    <th id="De">TestResult</th>
                                    <th id="na">NotFitReason</th>
                                    <th id="per">Comments</th>
                                    <th id="De">FinalTestResult</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                    <tr>

                                        <td>
                                            <input name="SubjectCode" type="text" value="@item.TryNumber" readonly />
                                        </td>

                                        <td>
                                            <input name="StartDate" type="date" value="@item.Test_Date" class="@item.ID" />
                                        </td>
                                        <td>
                                            <input name="MedicalEntity" type="text" value="@item.Medical_Entity" />
                                        </td>
                                        @if (item.Test_Result == "0")
                                        {
                                            <td>
                                                <select name='TestResult'>
                                                    <option selected value='0'>Fit</option>
                                                    <option value='1'>Not Fit</option>
                                                </select>
                                            </td>
                                        }
                                        else if (item.Test_Result == "1")
                                        {

                                            <td>
                                                <select name='TestResult'>
                                                    <option value='0'> Fit</option>
                                                    <option selected value='1'> Not Fit </option>
                                                </select>
                                            </td>
                                        }
                                        <td>
                                            <input name="NotFitReason" type="text" value="@item.Not_Fit_Reason" />
                                        </td>
                                        <td>
                                            <input name="Comments" type="text" value="@item.Comments" />
                                        </td>
                                        @if (item.Final_Test_Result == "0")
                                        {
                                            <td>
                                                <select name='FinalTestResult'>
                                                    <option selected value='0'>Fit</option>
                                                    <option value='1'>Not Fit</option>
                                                </select>
                                            </td>
                                        }
                                        else if (item.Final_Test_Result == "1")
                                        {

                                            <td>
                                                <select name='FinalTestResult'>
                                                    <option value='0'> Fit</option>
                                                    <option selected value='1'> Not Fit </option>
                                                </select>
                                            </td>
                                        }
                                        <td>
                                            <input type="button" value="@Personnel.Delete" class="del-btn" onclick="Remove($(this))" id="tt" />
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <a href="@Url.Action("index","Application",new {id=ViewBag.idemp})" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>@Personnel.Back</a>
                                <input type="submit" value="@Personnel.Edit1" class="btn btn-success" />
                            </div>
                        </div>
                    </div>

                </div>

                }

            </div>

        </div>
    </section>
</div>

@section scripts{}
<script>
    $(document).ready(function () {
        GetDataById2();
    });

</script>
<script>
    function Remove(thi) {
        debugger
        thi.closest('tr').remove();
    }

    function GetDataById2(date, id) {
        debugger
        var valx = new Date(date);
        var month;
        if ((valx.getMonth() + 1) < 10) {
            month = "0" + (valx.getMonth() + 1).toString();
        }
        else {
            month = date.getMonth() + 1;
        }
        var day = parseInt(valx.getDate());
        if (day < 10) {
            day = "0" + (valx.getDate()).toString();
        }
        else {
            day = valx.getDate();
        }
        var d = valx.getFullYear() + '-' + month + '-' + day;
        $('.' + id).val(d);
    }
</script>
<script>
    $(function () {
        $("#ss").click(function () {

            debugger
            $("#tb-family").show();

        var slot_code = $("#code").val();

        if (slot_code != "0" )
        {
            var div5 = $("#tb-family").find("tr");
            var num = $("#fa").length++;
                  var div = $("#tb-family").find("tr");

            var flag = 0;
            for (var o = 0; o < div.length; o++) {
                    var inputs = div[o].children;
                    debugger
                    var f = inputs[0].childElementCount;
                        if (f == slot_code) {
                            flag = 1;
                            slot_code = "_" + i;
                            break;
                        }

            }
            var t =
                "<tr><td><input value='" + slot_code + "_" + div.length + "'  name='SubjectCode' readonly /></td><td><input type='date' name='StartDate' value='1900/1/1' id='Start_date' /></td><td><input type='text'' name='MedicalEntity' /></td><td><select name='TestResult'><option value='0'> Fit</option><option value='1'> Not Fit </option></select></td><td><input type='text'' name='NotFitReason' /></td><td><input type='text'' name='Comments' /></td><td><select name='FinalTestResult'><option value='0'> Fit</option><option value='1'> Not Fit </option></select></td><td><input type='button' class='del-btn tb-btn' value='@Personnel.Delete'/></td></tr>"
                    $("#tb-family").append(t);
            }
            $("#tb-family").on('click', '.del-btn', function () {
                $(this).closest('tr').remove();
            })

              })
    })
</script>

<script>
    function GetDataById2() {
        debugger
        let x = window.location.href.split('/')[5];
        $.ajax({
            type: "post",
            url: "/Helper/GetDataByIdAppendMedical_Test_Profile",
            data: { "id": x },
            success: function (result) {
                debugger
                if (result) {
                    $.each(result, function (i, r) {
                        debugger
                        var date = parseJsonDate(r.fromdate)
                        month = date.getMonth() + 1;
                        if (parseInt(month) < 10) {
                            month = '0' + month;
                        }
                        day = date.getDate();
                        if (parseInt(day) < 10) {
                            day = '0' + day;
                        }


                        //     month = date.getMonth() + 1;
                        var d = date.getFullYear() + '-' + month + '-' + day;
                        var t = $('.' + r.id);
                        $('.' + r.id).val(d);
                    });
                }
            },
            error: function () {


            }
        });
    }
    //  GetDataById2();
    function parseJsonDate(jsonDateString) {
        return new Date(parseInt(jsonDateString.replace('/Date(', '')));
    }

</script>
