@model HR.Models.Test
@using HR.Resource;

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}
@Scripts.Render("~/bundles/jqueryval")
<div class="content-wrapper">

    
    <!-- Main content -->
    <section class="content">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                @using (Html.BeginForm("Edit", "Test", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="sec-nav">
                        <div><i class="far fa-save"></i><button type="submit" class="create-btn" />@organ.Save</div>
                        <div><i class="fas fa-plus"></i><a href="@Url.Action("create", "Test")" class="create-btn">@pers_2.new_</a></div>
                        <div><i class="far fa-trash-alt"></i><input type="button" href="@Url.Action("index","Test")" class="create-btn" value=@organ.delete /></div>
                        <div><i class="fas fa-undo"></i><a style="" href="@Url.Action("index", "Test")" class="create-btn"> @pers_2.Back</a></div>
                    </div>
                    <hr /><hr /><hr />
                    <section class="content-header">
                        <h1>
                            @Personnel.EditTestSetup
                        </h1>
                    </section>
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <hr />
                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Message"]
                            </div>
                        }
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="control-label col-md-2" style="color:red">@Personnel.Code</label>
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", id = "testcode", @readonly = "@readonly", @style = "margin-bottom: 15px;" } })
                                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <input type="text" id="h" hidden />
                        <div class="form-group">
                            <label class="control-label col-md-2" style="color:red">@Personnel.Name</label>
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @style = "margin-bottom: 15px;" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">@Personnel.Description</label>
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @style = "margin-bottom: 15px;" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">@Personnel.TestType</label>
                            <div class="col-md-3">
                                @Html.EnumDropDownListFor(model => model.Test_type, new { @class = "form-control", @style = "margin-bottom: 15px;" })
                                @Html.ValidationMessageFor(model => model.Test_type, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">@Personnel.PassMark</label>
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.Pass_mark, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = '1', @style = "margin-bottom: 15px;" } })
                                @Html.ValidationMessageFor(model => model.Pass_mark, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">@Personnel.FullMark</label>
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.Full_mark, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = '1', @style = "margin-bottom: 15px;" } })
                                @Html.ValidationMessageFor(model => model.Full_mark, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">@Personnel.Jobdesc</label>
                            <div class="col-md-3">
                                @Html.DropDownListFor(m => m.job_descId, new SelectList(ViewBag.job_desc, "ID", "Code"), @Personnel.SelectJobdesc, new { @class = "select2", @onchange = "CountryName()", id = "country", @style = "margin-bottom: 15px;" })
                                @Html.ValidationMessageFor(model => model.job_descId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="button" onclick="get()" value="@Personnel.AddTicketPrices" class="btn btn-success" style = "margin: 15px;" />
                                @*<button type="submit" id="btnSave" class="btn btn-success" name="Command" value="@Personnel.Edit">@Personnel.Edit</button>
                                <a href="@Url.Action("index","Test")" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>@Personnel.Back</a>*@
                            </div>
                        </div>
                        <table class="table table-bordered" id="hitable">
                            <thead>
                                <tr>
                                    <th>
                                        <label>@Personnel.QuestionCode</label>
                                    </th>
                                    <th>
                                        <label >@Personnel.Question</label>
                                    </th>
                                    <th style="width:10px">
                                        <label>@Personnel.StandardAnawers</label>
                                    </th>
                                    <th>
                                        <label>@Personnel.Attachment</label>
                                    </th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>

                            <tbody id="add1">

                                @for (var item = 0; item < Model.Questions.Count; item++)
                                {
                                    <tr>
                                        <td>
                                            <input id="CODE11" style="margin-bottom: 1em;" name="CODE11" type="Text" value=@Model.Questions[item].Code readonly />
                                        </td>
                                        <td>
                                            <input id="question11" style="margin-bottom: 1em;" value=@Model.Questions[item].Question name="question11" type="Text" />
                                        </td>
                                        <td>
                                            <input id="answer11" style="margin-bottom: 1em;" name="answer11" value=@Model.Questions[item].Standart_Question type="Text" />
                                        </td>
                                        <td>
                                            @*<input type="file" id="file" name="file[@(item + 1)]" value=@Model.Questions[item].Files.filename />*@
                                            @if (Model.Questions[item].Attachmentfile == null)
                                            {
                                                <a href="~/Testfiles/@Model.Questions[item].Code/@Model.Questions[item].Attachmentfile" style="color: currentColor;" /> <input type="file" class='single' @*id="file"*@ name="MyItem" style="min-width: 400px;" />
                                            }
                                            else
                                            {
                                                <a href="~/Testfiles/@Model.Questions[item].Attachmentfile" style="color: currentColor;" /> <input type="file" name="MyItem" class='single' @*id="file"*@ /><input type="text" value="@Model.Questions[item].Attachmentfile" disabled style="min-width: 250px;" /><br />
                                            }
                                        </td>

                                        <td>
                                            <input type="button" value="@Personnel.Delete" class="remove btn btn-danger" onclick="remove($(this))" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }

            </div>

        </div>

    </section>
</div>

<script>
    function remove(thi) {


        //thi.parent().parent().remove();
        var button = thi.parent().parent();
        //var bu = button.getElementsByTagName('button');
        $(button).find('input').each(function () {

            var tdOfCurrentColumn = $(this).val("");



        });
        thi.parent().parent().attr("hidden", true);
        //thi.parent().parent().parent().remove(removed);
    }
</script>
<script>
    function get() {

        var temp = document.getElementsByName("dddd");
        var mycode = document.getElementById('testcode').value + '_' + (temp.length + 1);
        $('#add1t tr').length = $('#add1t tr').length + 1;
        $('#h').val($('#add1t tr').length);
        var tr =
            "<tr id='trr' name='dddd'><td><input id='CODE11' style='margin-bottom: 1em;' name='CODE11' type='Text' radonly value='" + mycode + "'  readonly/></td>" +
            "<td><input id='question11' style='margin-bottom: 1em;' name='question11' type='Text'  /></td>" +
            "<td><input id='answer11' style='margin-bottom: 1em;' name='answer11' type='Text'  /></td>" +
            "<td><input type='file' class='single' id=file name='MyItem'  /> </td>" +
            "<td><input type='button' value='@Personnel.Delete' class='remove btn btn-danger' onclick='remove($(this))' /></td></tr>";
        $("#add1").append(tr);

    }
</script>

<script>
    var temp = document.getElementsByName("dddd");
    var mycode = document.getElementById('testcode').value + '_' + (temp.length + 1);
    $('#add1t tr').length = $('#add1t tr').length + 1;
    $('#h').val($('#add1t tr').length);
    var counte = 0;
    var tr = " ";

</script>
<script>
    var o = $("#file").last().val();
    function appe(thiss) {
        $("#add1").append(tr);
    }
    function CountryName() {

        var id = $("#country").val();

        $.ajax({
            type: "post",
            url: "/Helper/GetJobtitle",
            dataType: "json",
            data: { "id": id },
            success: function (result) {
                $("#countryname1").val(result.name);
            },
            error: function () {
                $("#countryname1").val(" ");
            }
        });
    }
    CountryName()
</script>
<script type="text/javascript">
    $(function () {
        if (window.FileReader != null) {
            $('#single').hide();
            $('.single').prop('disabled', true);
        } else {
            $('#multiple').hide();
            $('.multiple').prop('disabled', true);
        }
    });
</script>

@section scripts{}
<style>

    /*Create Page*/


    .sec-nav {
        z-index: 9999;
        position: fixed;
        top: 47px;
        background: #faf9f8;
        border-bottom: 1px solid #bebbb8;
        display: block;
        width: 100%;
        left: 50px;
        padding-left: 10px;
        height: 60px;
        line-height: 60px;
    }

        .sec-nav div {
            display: inline-block;
            padding: 5px 8px;
            width: unset;
            border: 0;
            color: #000;
            font-size: 16px;
            height: 60px;
        }

            .sec-nav div:hover {
                background: #eee;
                color: #000;
            }

                .sec-nav div:hover input {
                    color: #000;
                }

    .create-btn {
        border: 0;
        height: 100%;
        background-color: transparent;
    }

    .sec-nav div svg {
        color: #2266e3;
        font-size: 17px;
    }

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        /*float: unset*/
    }

    label {
        text-align: left;
        font: normal normal 400 12px/18px 'Segoe UI',tahoma,sans-serif;
        color: #605e5c;
        display: block;
        margin-bottom: 0;
        max-width: 220px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 600;
        margin-top: 15px;
    }

    .form-horizontal .form-group {
        margin: 0 !important;
    }

    input {
        height: 35px;
        color: #000;
    }

        input:active {
            border: 1px solid #2266e3;
        }

    .form-group .row > div {
        margin-bottom: 10px;
    }

    .content-wrapper {
        margin-left: 15px;
    }

    .col-md-4 {
        width: 20% !important;
    }
</style>