@model HR.Models.External_compaines
@using HR.Resource;

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}

@Scripts.Render("~/bundles/jqueryval")
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            @Basic.create_external_company
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="box">

            <!-- /.box-header -->
            <div class="box-body">

                @using (Html.BeginForm("Create", "External_compaines", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <hr />
                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Message"]
                            </div>
                        }
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @Basic.code
                            </label>  <div class="col-md-8">
                                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @readonly = true, @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @Basic.name
                            </label> <div class="col-md-8">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @Basic.address
                            </label>  <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.address, 5,50,new { htmlAttributes = new { @class = "form-control", id = "field-ta" } })
                                    @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                             </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @Basic.company_type
                            </label>   <div class="col-md-4">
                                @Html.EnumDropDownListFor(m => m.Company_type,  new { @class = "select2", @id = "Country1" , @disabled = true})
                                @Html.ValidationMessageFor(model => model.Company_type, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @Basic.oil_sector
                            </label>   <div class="col-md-4">
                                @Html.CheckBoxFor(m => m.oil_sector,new { @class="icheck", id="minimal-checkbox-1" ,@onchange="check(this)"})

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value=@Basic.create_external_company class="btn btn-success" />
                                <a href="@Url.Action("index","External_compaines")" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>@Basic.Back</a>

                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>

    </section>
</div>


<script>
    function check(checkbox)
    {
        if(checkbox.checked==true)
        {
            debugger
            $("#Country1").removeAttr('disabled');
        }
        else
        {
            $("#Country1").attr('disabled', true);
            debugger
        }
    }
</script>

@section scripts{}