@model HR.Models.Employee_Address_Profile

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}


@Scripts.Render("~/bundles/jqueryval")
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            Edit Employee Address Profile
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="box">

            <!-- /.box-header -->
            <div class="box-body">

                @using (Html.BeginForm("Edit", "Employee_Address_Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">

                        <hr />

                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Message"]
                            </div>
                        }

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        <div class="col-md-4" style="color:black">
                            <button type="submit" id="btnSubmit" name="Command" value="Submit" class="btn btn-white">Employee Profile</button>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Employee_ProfileId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.DropDownListFor(m => m.Employee_ProfileId, new SelectList(ViewBag.Employee_Profile, "ID", "Code"), "Select Employee", new { @class = "select2", @onchange = "employee()", id = "employeeId" })
                                @Html.ValidationMessageFor(model => model.Employee_ProfileId, "", new { @class = "text-danger" })
                                <input type="text" value=" " class="form-control" id="employeename" disabled />

                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", id = "codeid", @readonly = true } })
                                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.Resident, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.CheckBoxFor(model => model.Resident, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Resident, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.countryid, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-3">

                                @Html.DropDownListFor(m => m.countryid, new SelectList(ViewBag.Country, "ID", "Code"), "Select Country", new { @class = "select2", @onchange = "CountryName()", id = "country" })
                                @Html.ValidationMessageFor(model => model.countryid, "", new { @class = "text-danger" })
                                <input type="text" value=" " class="form-control" id="countryname" disabled />

                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.areaid, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.DropDownListFor(m => m.areaid, new SelectList(ViewBag.Area, "ID", "Code"), "Select Area", new { @class = "select2", @onchange = "areaName()", id = "area", @disabled = true })
                                @Html.ValidationMessageFor(model => model.areaid, "", new { @class = "text-danger" })
                                <input type="text" value=" " class="form-control" id="areaname" disabled />

                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.stateid, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.DropDownListFor(m => m.stateid, new SelectList(ViewBag.the_states, "ID", "Code"), "Select state", new { @class = "select2", @onchange = "getstate()", id = "state", @disabled = true })
                                @Html.ValidationMessageFor(model => model.stateid, "", new { @class = "text-danger" })
                                <input type="text" value=" " class="form-control" id="statename" disabled />

                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Territoriesid, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.DropDownListFor(m => m.Territoriesid, new SelectList(ViewBag.Territories, "ID", "Code"), "Select Territoer", new { @class = "select2", @onchange = "getter()", id = "ter", @disabled = true })
                                @Html.ValidationMessageFor(model => model.Territoriesid, "", new { @class = "text-danger" })
                                <input type="text" value=" " class="form-control" id="tername" disabled />

                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.citiesid, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.DropDownListFor(m => m.citiesid, new SelectList(ViewBag.cities, "ID", "Code"), "Select Cite", new { @class = "select2", @onchange = "getcite()", id = "citeid", @disabled = true })
                                @Html.ValidationMessageFor(model => model.citiesid, "", new { @class = "text-danger" })
                                <input type="text" value=" " class="form-control" id="cityname" disabled />

                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.postcodeId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.DropDownListFor(m => m.postcodeId, new SelectList(ViewBag.postcode, "ID", "Code"), "Select Postal", new { @class = "select2", @onchange = "getpostal()", id = "postal", @disabled = true })
                                @Html.ValidationMessageFor(model => model.postcodeId, "", new { @class = "text-danger" })
                                <input type="text" value=" " class="form-control" id="postname" disabled />

                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Streetname, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Streetname, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Streetname, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Streetnumber, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Streetnumber, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = 0 } })
                                @Html.ValidationMessageFor(model => model.Streetnumber, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.Pobox, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Pobox, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Pobox, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Distancetoworklocationkm, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Distancetoworklocationkm, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = 0 } })
                                @Html.ValidationMessageFor(model => model.Distancetoworklocationkm, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Transportation_method, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.EnumDropDownListFor(model => model.Transportation_method, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Transportation_method, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.DistancefromMeetingpointtoworklocationkm, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.DistancefromMeetingpointtoworklocationkm, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = 0 } })
                                @Html.ValidationMessageFor(model => model.DistancefromMeetingpointtoworklocationkm, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Edit" class="btn btn-success" />
                                <a href="@Url.Action("index","Employee_Address_Profile")" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>Back</a>

                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>

    </section>
</div>
@section scripts{}

<script>
  $(function () {
      CKEDITOR.replace('Description');
  });
</script>
<script>
    function CountryName() {
        debugger
        var id = $("#country").val();
        $("#area").empty();
        $("#state").empty();
        $("#ter").empty();
        $("#citeid").empty();
        $("#postal").empty();
        $("#area").select2("val", "");
        $("#state").select2("val", "");
        $("#ter").select2("val", "");
        $("#citeid").select2("val", "");
        $("#postal").select2("val", "");
        $("#statename").val(" ");
        $("#areaname").val(" ");
        $("#tername").val(" ");
        $("#cityname").val(" ");
        $("#postal").val(" ");
        $.ajax({
            type: "post",
            url: "/Helper/GetCountry",
            data: { "id": id },
            success: function (result) {
                debugger

                $("#countryname").val(result.Name);
                getallarea(result.ID);
            },
            error: function () {
                debugger
                $("#countryname").val(" ");
            }
        });
    }
    function getallarea(id)
    {
        debugger
       var countryname=
       $.ajax({
          type: "post",
          url: "/Helper/getareabycountry",
          data: { "id": id, "flag": "0" },
          success: function (result) {
              debugger
              $("#area").removeAttr("disabled");
              var finalresult = "<option value='0' > Choose area </option>";
              $.each(result, function (key, value) {
                   finalresult += "<option value='" + value.ID + "' >" + "[  " + value.Code + " ]</option>";
              });
              $("#area").html(finalresult);
              $("#area").select2("val", "0");
          },
          error: function () {
              debugger
              $("#area").val(" ");
          }
      });
    }
    function areaName() {
        debugger
        var id = $("#area").val();
        $("#state").empty();
        $("#ter").empty();
        $("#citeid").empty();
        $("#postal").empty();
        $("#state").select2("val", "");
        $("#ter").select2("val", "");
        $("#citeid").select2("val", "");
        $("#postal").select2("val", "");
        $("#statename").val(" ");
        $("#tername").val(" ");
        $("#cityname").val(" ");
        $("#postal").val(" ");
        $.ajax({
            type: "post",
            url: "/Helper/getarea",
            data: { "id": id },
            success: function (result) {
                debugger


                $("#areaname").val(result.Name);
                getallstate(result.ID);
            },
            error: function () {
                debugger
                $("#areaname").val(" ");
            }
        });
    }
    function getallstate(id)
    {
        debugger
        $.ajax({
            type: "post",
            url: "/Helper/getstatebycountry",
            data: { "id": id, "flag": "0" },
            success: function (result) {
                debugger
                $("#state").removeAttr("disabled");
                var finalresult = "<option value='0' > Choose state </option>";
                $.each(result, function (key, value) {
                     finalresult += "<option value='" + value.ID + "' >" + "[  " + value.Code + " ]</option>";
                });
                $("#state").html(finalresult);
                $("#state").select2("val", "0");
            },
            error: function () {
                debugger
                $("#state").val(" ");
            }
        });
    }
    function getstate()
    {
        debugger
        var id = $("#state").val();
        $("#ter").empty();
        $("#citeid").empty();
        $("#postal").empty();
        $("#ter").select2("val", "");
        $("#citeid").select2("val", "");
        $("#postal").select2("val", "");
        $("#tername").val(" ");
        $("#cityname").val(" ");
        $("#postal").val(" ");
        $.ajax({
            type: "post",
            url: "/Helper/Getstate",
            data: { "id": id },
            success: function (result) {
                debugger

                $("#ter").removeAttr("disabled");
                $("#statename").val(result.Name);
                getallter(result.ID);
            },
            error: function () {
                debugger
                $("#statename").val(" ");
            }
        });
    }
    function getallter(id)
    {
        debugger


        $.ajax({
            type: "post",
            url: "/Helper/getallter",
            data: { "id": id, "flag": "0" },
            success: function (result) {
                debugger
                $("#ter").removeAttr("disabled");
                var finalresult = "<option value='0' > Choose ter </option>";
                $.each(result, function (key, value) {
                    finalresult += "<option value='" + value.ID + "' >" + "[  " + value.Code + " ]</option>";
                });
                $("#ter").html(finalresult);
                $("#ter").select2("val", "0");
            },
            error: function () {
                debugger
                $("#ter").val(" ");
            }
        });

    }
    function getter()
    {
        debugger
        var id = $("#ter").val();
        $("#citeid").empty();
        $("#postal").empty();
        $("#citeid").select2("val", "");
        $("#postal").select2("val", "");
        $("#cityname").val(" ");
        $("#postal").val(" ");
        $.ajax({
            type: "post",
            url: "/Helper/Getter",
            data: { "id": id },
            success: function (result) {
                debugger

                $("#citeid").removeAttr("disabled");
                $("#tername").val(result.Name);
                getallcite(result.ID);

            },
            error: function () {
                debugger
                $("#tername").val(" ");
            }
        });
    }
    function getallcite(id) {
        debugger
        $.ajax({
            type: "post",
            url: "/Helper/getcitybyTerritories",
            data: { "id": id, "flag": "0" },
            success: function (result) {
                debugger
                $("#citeid").removeAttr("disabled");
                var finalresult = "<option value='0' > Choose Cite </option>";
                $.each(result, function (key, value) {
                    finalresult += "<option value='" + value.ID + "' >" + "[  " + value.Code + " ]</option>";
                });
                $("#citeid").html(finalresult);
                $("#citeid").select2("val", "0");
            },
            error: function () {
                debugger
                $("#citeid").val(" ");
            }
        });

    }
    function getcite() {
        debugger
        var id = $("#citeid").val();
        $("#postal").empty();
        $("#postal").select2("val", "");
        $("#postal").val(" ");
        $.ajax({
            type: "post",
            url: "/Helper/Getcite",
            data: { "id": id },
            success: function (result) {
                debugger

                $("#postal").removeAttr("disabled");
                $("#cityname").val(result.Name);
                getallpostal(result.ID);

            },
            error: function () {
                debugger
                $("#cityname").val(" ");
            }
        });
    }
    function getallpostal(id) {
        debugger
        $.ajax({
            type: "post",
            url: "/Helper/getallPost",
            data: { "id": id, "flag": "0" },
            success: function (result) {
                debugger
                $("#postal").removeAttr("disabled");
                var finalresult = "<option value='0' > Choose Postal </option>";
                $.each(result, function (key, value) {
                    finalresult += "<option value='" + value.ID + "' >" + "[  " + value.Code + " ]</option>";
                });
                $("#postal").html(finalresult);
                $("#postal").select2("val", "0");
            },
            error: function () {
                debugger
                $("#postal").val(" ");
            }
        });

    }
    function getpostal() {
        debugger
        var id = $("#postal").val();
        $.ajax({
            type: "post",
            url: "/Helper/Getpost",
            data: { "id": id },
            success: function (result) {
                debugger


                $("#postname").val(result.Name);

            },
            error: function () {
                debugger
                $("#postname").val(" ");
            }
        });
    }


</script>

<script>
    debugger
    var id = $("#country").val();
    $.ajax({
        type: "post",
        url: "/Helper/GetCountry",
        data: { "id": id },
        success: function (result) {
            debugger
            $("#area").removeAttr("disabled");
            $("#countryname").val(result.Name);
        },
        error: function () {
            debugger
            $("#countryname").val(" ");
        }
    });

    var id = $("#area").val();
    $.ajax({
        type: "post",
        url: "/Helper/getarea",
        data: { "id": id },
        success: function (result) {
            debugger
            $("#state").removeAttr("disabled");
            $("#areaname").val(result.Name);

        },
        error: function () {
            debugger
            $("#areaname").val(" ");
        }
    });

    var id = $("#state").val();
    $.ajax({
        type: "post",
        url: "/Helper/Getstate",
        data: { "id": id },
        success: function (result) {
            debugger
            $("#ter").removeAttr("disabled");
            $("#statename").val(result.Name);

        },
        error: function () {
            debugger
            $("#statename").val(" ");
        }
    });
    var id = $("#ter").val();
    $.ajax({
        type: "post",
        url: "/Helper/Getter",
        data: { "id": id },
        success: function (result) {
            debugger
            $("#citeid").removeAttr("disabled");
            $("#tername").val(result.Name);

        },
        error: function () {
            debugger
            $("#tername").val(" ");
        }
    });
    var id = $("#citeid").val();
    $.ajax({
        type: "post",
        url: "/Helper/Getcite",
        data: { "id": id },
        success: function (result) {
            debugger
            $("#postal").removeAttr("disabled");
            $("#cityname").val(result.Name);

        },
        error: function () {
            debugger
            $("#cityname").val(" ");
        }
    });

    var id = $("#postal").val();
    $.ajax({
        type: "post",
        url: "/Helper/Getpost",
        data: { "id": id },
        success: function (result) {
            debugger

            $("#postname").val(result.Name);

        },
        error: function () {
            debugger
            $("#postname").val(" ");
        }
    });
</script>
<script>
    function employee() {
        debugger
        var id = $("#employeeId").val();
        $.ajax({
            type: "post",
            url: "/Helper/GetEmployee",
            data: { "id": id },
            success: function (result) {
                debugger
                $("#employeename").val(result.Name);
                $("#codeid").val(result.Employee_Address_Profile.Code);
                $("#country").val(result.Name);

            },
            error: function () {
                debugger
                $("#employeename").val(" ");
                $("#codeid").val("");
            }
        });
    }
    employee();
</script>

