@model HR.Models.Organization_Unit_Type
@using HR.Resource; 
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}

@Scripts.Render("~/bundles/jqueryval")

<script>
    $(function () {
     
    });
 

</script>
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            
            @organ.CreateOrganizationunittype
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                @using (Html.BeginForm("Create", "Organizationunittype", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <hr />
                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Message"]
                            </div>
                        }
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                          
                            <label class = "control-label col-md-2">
                                @organ.OrganizationUnitLevel
                            </label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.Organization_Unit_LevelID, new SelectList(ViewBag.Organization_Unit_Level, "ID", "Code"), organ.OrganizationUnitLevel, new { @class = "select2", @onchange = "CountryName()", @id = "Country" })
                                @Html.ValidationMessageFor(model => model.Organization_Unit_LevelID, "", new { @class = "text-danger" })
                                <input type="hidden" value=" " class="form-control" id="countryname" disabled />
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @organ.OrganizationUnitSchema
                            </label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.Organization_Unit_SchemaID, new SelectList(ViewBag.Organization_Unit_Schema, "ID", "Code"),organ.OrganizationUnitSchema, new { @class = "select2", @onchange = "CountryName2()", @id = "Country2" })
                                @Html.ValidationMessageFor(model => model.Organization_Unit_SchemaID, "", new { @class = "text-danger" })
                                <input type="hidden" value=" " class="form-control" id="countryname2" disabled />
                            </div> 

                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @organ.code
                            </label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @readonly = true, @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @organ.name
                            </label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @organ.description
                            </label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                     
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" id="btnSave" class="btn btn-success" name="Command" value="Save">@organ.create</button>
                                <a href="@Url.Action("index","Organizationunittype")" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>@organ.Back</a>
                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>

    </section>
</div>


@section scripts{}