    @model HR.Models.ViewModel.Check_Request_VM
@using HR.Resource;

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}

@Scripts.Render("~/bundles/jqueryval")

<script>
    $(function () {

        CountryName();
        CountryName1();
        emp81();
        emp82();
        GetDataById2('@Model.check_Request.Request_date', "Request_date_D");
        GetDataById2('@Model.check_request_change_status.Date', "Date_D");
        GetDataById2('@Model.check_Request.Check_Due_date', "Check_Due_date_D");
    });

    function GetDataById2(date, id) {
        debugger
        var valx = new Date(date);
        var month;
        if ((valx.getMonth() + 1) < 10) {
            month = "0" + (valx.getMonth() + 1).toString();
        }
        else {
            month = date.getMonth() + 1;
        }
        var day = parseInt(valx.getDate());
        if (day < 10) {
            day = "0" + (valx.getDate()).toString();
        }
        else {
            day = valx.getDate();
        }
        var d = valx.getFullYear() + '-' + month + '-' + day;
        $('#' + id).val(d);
    }
    function CountryName() {

        var id = $("#Country").val();
        $.ajax({
            type: "post",
            url: "/Helper/Get_type_code",
            data: { "id": id },
            success: function (result) {

                $("#countryname").val(result.Name);
            },
            error: function () {

                $("#countryname").val(" ");
            }
        });
    }
    function CountryName1() {

        var id = $("#Country1").val();
        $.ajax({
            type: "post",
            url: "/Helper/get_check_request_status",
            data: { "id": id },
            success: function (result) {

                $("#status_check").val(result.Code+'->'+result.Name);
            },
            error: function () {

                $("#countryname1").val(" ");
            }
        });
    }
    function emp81() {


        var id = $("#emp1").val();
        $.ajax({
            type: "post",
            url: "/Helper/GetEmployee",
            data: { "id": id },
            success: function (result) {

                $("#empname1").val(result.Full_Name);
            },
            error: function () {

                $("#empname1").val(" ");
            }
        });

    }
    function emp82() {


        var id = $("#emp2").val();
        $.ajax({
            type: "post",
            url: "/Helper/GetEmployee",
            data: { "id": id },
            success: function (result) {

                $("#empname2").val(result.Full_Name);
            },
            error: function () {

                $("#empname2").val(" ");
            }
        });

    }

</script>
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                @using (Html.BeginForm("Create", "Check_Request", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="sec-nav">
                        <div><i class="far fa-save"></i><button type="submit" class="create-btn" /> @organ.create</div>
                        <div><i class="fas fa-plus"></i><a href="@Url.Action("create", "Check_Request")" class="create-btn">@pers_2.new_</a></div>
                        <div><i class="far fa-trash-alt"></i><input type="button" href="@Url.Action("index","Check_Request")" class="create-btn" value=@organ.delete /></div>
                        <div><i class="fas fa-undo"></i><a style="" href="@Url.Action("index", "Check_Request")" class="create-btn"> @pers_2.Back</a></div>

                    </div>
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <hr />
                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Message"]
                            </div>
                        }
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <section style="margin-top:40px" class="content-header">
                            <h1>
                                @Basic.check_Request
                            </h1>
                        </section>
                        <div class="col-md-12">
                            <ul class="nav nav-tabs bordered">
                                <!-- available classes "bordered", "right-aligned" -->
                                <li class="active">
                                    <a href="#homee" data-toggle="tab">
                                        <span class="visible-xs"><i class="entypo-home"></i></span>
                                        <span class="hidden-xs">@Basic.check_Request</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#profile" data-toggle="tab">
                                        <span class="visible-xs"><i class="entypo-user"></i></span>
                                        <span class="hidden-xs">@Basic.checkrequeststatus</span>
                                    </a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="homee" style="overflow: hidden;width: auto;height: auto;">

                                    <div class="form-group">
                                       
                                            <div class="col-md-4">
                                                <label style="color:red" >
                                                    @Basic.Request_number
                                                </label>
                                                @Html.EditorFor(model => model.check_Request.Request_number, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                                @Html.ValidationMessageFor(model => model.check_Request.Request_number, "", new { @class = "text-danger" })
                                            </div>
                                       

                                        <div class="col-md-4">
                                            <label style="color:red">
                                                @Basic.Request_date
                                            </label>
                                            @Html.EditorFor(model => model.check_Request.Request_date, new { htmlAttributes = new { @class = "form-control", @id = "Request_date_D", @type = "date", @readonly = true } })
                                            @Html.ValidationMessageFor(model => model.check_Request.Request_date, "", new { @class = "text-danger" })
                                        </div>
                                
                                        <div class="col-md-4">
                                            <label style="color:red" >
                                                @Basic.ChecktypeID
                                            </label>
                                            @Html.DropDownListFor(m => m.check_Request.ChecktypeID, new SelectList(ViewBag.Type, "ID", "Code"), Basic.select_check_type, new { @class = "select2", @onchange = "CountryName()", @id = "Country" })
                                            @Html.ValidationMessageFor(model => model.check_Request.ChecktypeID, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <label style="color:red">
                                                @Basic.month
                                            </label>
                                            @Html.EditorFor(model => model.check_Request.month, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = 1 } })
                                            @Html.ValidationMessageFor(model => model.check_Request.month, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <label style="color:red">
                                                @Basic.year
                                            </label>
                                            @Html.EditorFor(model => model.check_Request.year, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = 1 } })
                                            @Html.ValidationMessageFor(model => model.check_Request.year, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                       
                                        <div class="col-md-4">
                                            <label style="color:red">
                                                @Basic.amount
                                            </label>
                                            @Html.EditorFor(model => model.check_Request.amount, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = 0 } })
                                            @Html.ValidationMessageFor(model => model.check_Request.amount, "", new { @class = "text-danger" })
                                        </div>
                                   
                                        <div class="col-md-4">
                                            <label style="color:red">
                                                @Basic.check_number
                                            </label>
                                            @Html.EditorFor(model => model.check_Request.check_number, new { @class = "form-control" , @type = "text" })
                                            @Html.ValidationMessageFor(model => model.check_Request.check_number, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <label>
                                                @Basic.Check_Due_date
                                            </label>
                                            @Html.EditorFor(model => model.check_Request.Check_Due_date, new { htmlAttributes = new { @class = "form-control", @id = "Check_Due_date_D", @type = "date", @readonly = true } })
                                            @Html.ValidationMessageFor(model => model.check_Request.Check_Due_date, "", new { @class = "text-danger" })
                                        </div>
                                   
                                        <div class="col-md-4">
                                            <label>
                                                @Basic.Description1
                                            </label>
                                            @Html.TextAreaFor(model => model.check_Request.Description,4, 45, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.check_Request.Description, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <label>
                                                @Basic.Comment
                                            </label>
                                            @Html.TextAreaFor(model => model.check_Request.Comment, 4, 45, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.check_Request.Comment, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-4">

                                                <label>
                                                    @Basic.Sourcedocumentreference
                                                </label>
                                                @Html.TextAreaFor(model => model.check_Request.Sourcedocumentreference, 4, 45, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.check_Request.Sourcedocumentreference, "", new { @class = "text-danger" })
                                          
                                        </div>
                                        <div class="col-md-4">
                                            
                                                    <label >
                                                        @Basic.Sourcedocumentdescription
                                                    </label>
                                                    @Html.TextAreaFor(model => model.check_Request.Sourcedocumentdescription, 4, 45, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.check_Request.Sourcedocumentdescription, "", new { @class = "text-danger" })
                                               
                                        </div>
                                   
                                        <div class="col-md-4">
                                            
                                                <label >
                                                    @Basic.Sourcedocumentnotes
                                                </label>
                                                @Html.TextAreaFor(model => model.check_Request.Sourcedocumentnotes, 4, 45, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.check_Request.Sourcedocumentnotes, "", new { @class = "text-danger" })
                                           
                                        </div>
                                        <div class="col-md-4">
                                          
                                                <label>
                                                    @Basic.State
                                                </label>
                                                <input class="form-control" type="text" readonly id="status_check" />
                                           
                                        </div>
                                    </div>

                                       

                                        </div>

                                        <div class="tab-pane" id="profile">
                                            <div class="form-group">
                                              
                                                <div class="col-md-4">
                                                    <label style="color:red">
                                                        @Basic.check_request_statusID
                                                    </label>
                                                    @Html.DropDownListFor(m => m.check_request_change_status.check_request_statusID, new SelectList(ViewBag.check_request_status, "ID", "Code"), Basic.select_check_request_statue, new { @class = "select2", @onchange = "CountryName1()", @id = "Country1" })
                                                    @Html.ValidationMessageFor(model => model.check_request_change_status.check_request_statusID, "", new { @class = "text-danger" })

                                                </div>
                                               
                                               
                                                <div class="col-md-4">
                                                    <label>
                                                        @Basic.Date
                                                    </label>
                                                    @Html.EditorFor(model => model.check_request_change_status.Date, new { htmlAttributes = new { @class = "form-control", @id = "Date_D", @type = "date", @readonly = true } })
                                                    @Html.ValidationMessageFor(model => model.check_request_change_status.Date, "", new { @class = "text-danger" })
                                                </div>
                                          
                                               

                                                <div class="col-md-4">
                                                    <label style="color:red">
                                                        @Basic.signby
                                                    </label>
                                                    @Html.DropDownListFor(m => m.check_request_change_status.selected_signby, new SelectList(ViewBag.employee, "ID", "Code"), Basic.select_sign_by, new { @class = "select2", @onchange = "emp81()", @id = "emp1" })
                                                    @Html.ValidationMessageFor(model => model.check_request_change_status.selected_signby, "", new { @class = "text-danger" })

                                                </div>

                                               
                                              
                                                <div class="col-md-4">
                                                    <label style="color:red">
                                                        @Basic.Sendto
                                                    </label>
                                                    @Html.DropDownListFor(m => m.check_request_change_status.selected_directedto, new SelectList(ViewBag.employee, "ID", "Code"), Basic.select_directedto, new { @class = "select2", @onchange = "emp82()", @id = "emp2" })
                                                    @Html.ValidationMessageFor(model => model.check_request_change_status.selected_directedto, "", new { @class = "text-danger" })

                                                </div>
                                            </div>
                                            <div class="form-group">
                                            

                                                <div class="col-md-4">
                                                    <label>
                                                        @Basic.Comment
                                                    </label>
                                                    @Html.TextAreaFor(model => model.check_request_change_status.Comment, 5, 45, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.check_request_change_status.Comment, "", new { @class = "text-danger" })

                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                      
                       
                    </div>

                  





                }

            </div>

        </div>

    </section>
</div>
@section scripts{}



<style>
    /*Create Page*/


    .sec-nav {
        z-index: 9999;
        position: fixed;
        top: 47px;
        background: #faf9f8;
        border-bottom: 1px solid #bebbb8;
        display: block;
        width: 100%;
        left: 50px;
        padding-left: 10px;
        height: 60px;
        line-height: 60px;
    }

        .sec-nav div {
            display: inline-block;
            padding: 5px 8px;
            width: unset;
            border: 0;
            color: #000;
            font-size: 16px;
            height: 60px;
        }

            .sec-nav div:hover {
                background: #eee;
                color: #000;
            }

                .sec-nav div:hover input {
                    color: #000;
                }

    .create-btn {
        border: 0;
        height: 100%;
        background-color: transparent;
    }

    .sec-nav div svg {
        color: #2266e3;
        font-size: 17px;
    }

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        /*float: unset*/
    }

    label {
        text-align: left;
        font: normal normal 400 12px/18px 'Segoe UI',tahoma,sans-serif;
        color: #605e5c;
        display: block;
        margin-bottom: 0;
        max-width: 220px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 600;
        margin-top: 15px;
    }

    .form-horizontal .form-group {
        margin: 0 !important;
    }

    input {
        height: 35px;
        color: #000;
    }

        input:active {
            border: 1px solid #2266e3;
        }

    .form-group .row > div {
        margin-bottom: 10px;
    }

    .content-wrapper {
        margin-left: 15px;
    }

    .col-md-4 {
        width: 20% !important;
    }
</style>