    @model HR.Models.ViewModel.Check_Request_VM
@using HR.Resource;

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}

@Scripts.Render("~/bundles/jqueryval")

<script>
    $(function () {

        CountryName();
        CountryName1();
        emp81();
        emp82();
        GetDataById2('@Model.check_Request.Request_date', "Request_date_D");
        GetDataById2('@Model.check_request_change_status.Date', "Date_D");
        GetDataById2('@Model.check_Request.Check_Due_date', "Check_Due_date_D");
    });

    function GetDataById2(date, id) {
        debugger
        var valx = new Date(date);
        var month;
        if ((valx.getMonth() + 1) < 10) {
            month = "0" + (valx.getMonth() + 1).toString();
        }
        else {
            month = date.getMonth() + 1;
        }
        var day = parseInt(valx.getDate());
        if (day < 10) {
            day = "0" + (valx.getDate()).toString();
        }
        else {
            day = valx.getDate();
        }
        var d = valx.getFullYear() + '-' + month + '-' + day;
        $('#' + id).val(d);
    }
    function CountryName() {

        var id = $("#Country").val();
        $.ajax({
            type: "post",
            url: "/Helper/Get_type_code",
            data: { "id": id },
            success: function (result) {

                $("#countryname").val(result.Name);
            },
            error: function () {

                $("#countryname").val(" ");
            }
        });
    }
    function CountryName1() {

        var id = $("#Country1").val();
        $.ajax({
            type: "post",
            url: "/Helper/get_check_request_status",
            data: { "id": id },
            success: function (result) {

                $("#status_check").val(result.Code+'->'+result.Name);
            },
            error: function () {

                $("#countryname1").val(" ");
            }
        });
    }
    function emp81() {


        var id = $("#emp1").val();
        $.ajax({
            type: "post",
            url: "/Helper/GetEmployee",
            data: { "id": id },
            success: function (result) {

                $("#empname1").val(result.Full_Name);
            },
            error: function () {

                $("#empname1").val(" ");
            }
        });

    }
    function emp82() {


        var id = $("#emp2").val();
        $.ajax({
            type: "post",
            url: "/Helper/GetEmployee",
            data: { "id": id },
            success: function (result) {

                $("#empname2").val(result.Full_Name);
            },
            error: function () {

                $("#empname2").val(" ");
            }
        });

    }

</script>
<div class="content-wrapper">

    <section class="content-header">
        <h1>
             @Basic.check_Request
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                @using (Html.BeginForm("Create", "Check_Request", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <hr />
                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Message"]
                            </div>
                        }
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-md-12">
                            <ul class="nav nav-tabs bordered">
                                <!-- available classes "bordered", "right-aligned" -->
                                <li class="active">
                                    <a href="#home" data-toggle="tab">
                                        <span class="visible-xs"><i class="entypo-home"></i></span>
                                        <span class="hidden-xs">@Basic.check_Request</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#profile" data-toggle="tab">
                                        <span class="visible-xs"><i class="entypo-user"></i></span>
                                        <span class="hidden-xs">@Basic.checkrequeststatus</span>
                                    </a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="home" style="overflow: hidden;width: auto;height: auto;">

                                    <div class="form-group">
                                        <label style="color:red" class="control-label col-md-1">
                                            @Basic.Request_number
                                        </label>
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.check_Request.Request_number, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                            @Html.ValidationMessageFor(model => model.check_Request.Request_number, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-2"></div>
                                        <label style="color:red" class="control-label col-md-1">
                                            @Basic.Request_date
                                        </label>
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.check_Request.Request_date, new { htmlAttributes = new { @class = "form-control", @id = "Request_date_D", @type = "date", @readonly = true } })
                                            @Html.ValidationMessageFor(model => model.check_Request.Request_date, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                  
                                    <div class="form-group">

                                        <label style="color:red" class="control-label col-md-1">
                                            @Basic.ChecktypeID
                                        </label>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(m => m.check_Request.ChecktypeID, new SelectList(ViewBag.Type, "ID", "Code"), Basic.select_check_type, new { @class = "select2", @onchange = "CountryName()", @id = "Country" })
                                            @Html.ValidationMessageFor(model => model.check_Request.ChecktypeID, "", new { @class = "text-danger" })
                                       
                                        </div>
                                        <div class="col-md-2"></div>
                                        <label style="color:red" class="control-label col-md-1">
                                            @Basic.month
                                        </label>
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.check_Request.month, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = 1 } })
                                            @Html.ValidationMessageFor(model => model.check_Request.month, "", new { @class = "text-danger" })
                                        </div>


                                    </div>

                                   

                                    <div class="form-group">
                                        <label style="color:red" class="control-label col-md-1">
                                            @Basic.year
                                        </label>
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.check_Request.year, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = 1 } })
                                            @Html.ValidationMessageFor(model => model.check_Request.year, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-2"></div>
                                        <label style="color:red" class="control-label col-md-1">
                                            @Basic.amount
                                        </label>
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.check_Request.amount, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = 0 } })
                                            @Html.ValidationMessageFor(model => model.check_Request.amount, "", new { @class = "text-danger" })
                                        </div>



                                    </div>
                                   
                                    <div class="form-group">
                                        <label style="color:red" class="control-label col-md-1">
                                            @Basic.check_number
                                        </label>
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.check_Request.check_number, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.check_Request.check_number, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-2"></div>
                                        <label class="control-label col-md-1">
                                            @Basic.Check_Due_date
                                        </label>
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.check_Request.Check_Due_date, new { htmlAttributes = new { @class = "form-control", @id = "Check_Due_date_D", @type = "date", @readonly = true } })
                                            @Html.ValidationMessageFor(model => model.check_Request.Check_Due_date, "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                   
                                    <div class="form-group">
                                        <label class="control-label col-md-1">
                                            @Basic.Description1
                                        </label>
                                        <div class="col-md-3">
                                            @Html.TextAreaFor(model => model.check_Request.Description, 5, 45, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.check_Request.Description, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-2"></div>
                                        <label class="control-label col-md-1">
                                            @Basic.Comment
                                        </label>
                                        <div class="col-md-3">
                                            @Html.TextAreaFor(model => model.check_Request.Comment, 5, 45, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.check_Request.Comment, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                   
                                    <div class="form-group">
                                        <label class="control-label col-md-1">
                                            @Basic.Sourcedocumentreference
                                        </label>
                                        <div class="col-md-3">
                                            @Html.TextAreaFor(model => model.check_Request.Sourcedocumentreference, 5, 45, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.check_Request.Sourcedocumentreference, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-2"></div>
                                        <label class="control-label col-md-1">
                                            @Basic.Sourcedocumentdescription
                                        </label>
                                        <div class="col-md-3">
                                            @Html.TextAreaFor(model => model.check_Request.Sourcedocumentdescription, 5, 45, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.check_Request.Sourcedocumentdescription, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                   
                                    <div class="form-group">
                                        <label class="control-label col-md-1">
                                            @Basic.Sourcedocumentnotes
                                        </label>
                                        <div class="col-md-3">
                                            @Html.TextAreaFor(model => model.check_Request.Sourcedocumentnotes, 5, 45, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.check_Request.Sourcedocumentnotes, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-2"></div>
                                        <label class="control-label col-md-1">
                                            @Basic.State
                                        </label>
                                        <input class="col-md-3" type="text" readonly id="status_check"/>
                                    </div>


                                </div>
                                <div class="tab-pane" id="profile">
                                    <div class="form-group">
                                        <label style="color:red" class="control-label col-md-1">
                                            @Basic.check_request_statusID
                                        </label>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(m => m.check_request_change_status.check_request_statusID, new SelectList(ViewBag.check_request_status, "ID", "Code"), Basic.select_check_request_statue, new { @class = "select2", @onchange = "CountryName1()", @id = "Country1" })
                                            @Html.ValidationMessageFor(model => model.check_request_change_status.check_request_statusID, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="col-md-2"></div>
                                        <label class="control-label col-md-1">
                                            @Basic.Date
                                        </label>
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.check_request_change_status.Date, new { htmlAttributes = new { @class = "form-control", @id = "Date_D", @type = "date", @readonly = true } })
                                            @Html.ValidationMessageFor(model => model.check_request_change_status.Date, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label style="color:red" class="control-label col-md-1">
                                            @Basic.signby
                                        </label>

                                        <div class="col-md-3">
                                            @Html.DropDownListFor(m => m.check_request_change_status.selected_signby, new SelectList(ViewBag.employee, "ID", "Code"), Basic.select_sign_by, new { @class = "select2", @onchange = "emp81()", @id = "emp1" })
                                            @Html.ValidationMessageFor(model => model.check_request_change_status.selected_signby, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="col-md-2"></div>
                                        <label style="color:red" class="control-label col-md-1">
                                            @Basic.Sendto
                                        </label>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(m => m.check_request_change_status.selected_directedto, new SelectList(ViewBag.employee, "ID", "Code"), Basic.select_directedto, new { @class = "select2", @onchange = "emp82()", @id = "emp2" })
                                            @Html.ValidationMessageFor(model => model.check_request_change_status.selected_directedto, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-1">
                                            @Basic.Comment
                                        </label>
                                       
                                        <div class="col-md-3">
                                            @Html.TextAreaFor(model => model.check_request_change_status.Comment, 5, 45, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.check_request_change_status.Comment, "", new { @class = "text-danger" })

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                      
                       
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" id="btnSave" class="btn btn-success" name="Command" value="Save">@Basic.Create</button>
                            <a href="@Url.Action("index","Check_Request")" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>@Basic.Back</a>
                        </div>
                    </div>






                }

            </div>

        </div>

    </section>
</div>
@section scripts{}


