@model HR.Models.ViewModel.Check_Request_VM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}

@Scripts.Render("~/bundles/jqueryval")
<div class="content-wrapper">

    <section class="content-header">
        <h1>
             Check Request
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                @using (Html.BeginForm("Create", "Check_Request", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <hr />
                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Message"]
                            </div>
                        }
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                      
                        <div class="form-group">
                            @Html.LabelFor(model => model.check_Request.Request_number, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.check_Request.Request_number, new { htmlAttributes = new { @class = "form-control" , @readonly=true} })
                                @Html.ValidationMessageFor(model => model.check_Request.Request_number, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                <h3><label style="margin-right:200px ;color:cadetblue">Check Request Status</label></h3>
                            </div>
                         </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.check_Request.Request_date, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.check_Request.Request_date, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                @Html.ValidationMessageFor(model => model.check_Request.Request_date, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                <hr/><hr />
                                </div>
                            </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.check_Request.ChecktypeID, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.check_Request.ChecktypeID, new SelectList(ViewBag.Type, "ID", "Code"), "Select Check type", new { @class = "select2", @onchange = "CountryName()", @id = "Country" })
                                @Html.ValidationMessageFor(model => model.check_Request.ChecktypeID, "", new { @class = "text-danger" })
                                <input type="text" value=" " class="form-control" id="countryname" disabled />
                            </div>


                            @Html.LabelFor(model => model.check_request_change_status.check_request_statusID, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.DropDownListFor(m =>m.check_request_change_status.check_request_statusID, new SelectList(ViewBag.check_request_status, "ID", "Code"), "Select check request statue", new { @class = "select2", @onchange = "CountryName1()", @id = "Country1" })
                                @Html.ValidationMessageFor(model => model.check_request_change_status.check_request_statusID, "", new { @class = "text-danger" })
                                <input type="text" value=" " class="form-control" id="countryname1" disabled />
                            </div>
                         </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.check_Request.month, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.check_Request.month, new { htmlAttributes = new { @class = "form-control",@type="number",@min=1 } })
                                @Html.ValidationMessageFor(model => model.check_Request.month, "", new { @class = "text-danger" })
                            </div>

                            @Html.LabelFor(model => model.check_request_change_status.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.check_request_change_status.Date, new { htmlAttributes = new { @class = "form-control datepicker", @id = "dateto", @readonly = true } })
                                @Html.ValidationMessageFor(model => model.check_request_change_status.Date, "", new { @class = "text-danger" })
                            </div>
                         </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.check_Request.year, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.check_Request.year, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = 1 } })
                                @Html.ValidationMessageFor(model => model.check_Request.year, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2"></div>

                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.check_request_change_status.selected_signby, new SelectList(ViewBag.employee, "ID", "Code"), "Select Sign By", new { @class = "select2", @onchange = "emp81()", @id = "emp1" })
                                @Html.ValidationMessageFor(model => model.check_request_change_status.selected_signby, "", new { @class = "text-danger" })
                                <input type="text" value=" " class="form-control" id="empname1" disabled />
                            </div>

                           
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.check_Request.amount, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.check_Request.amount, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = 0 } })
                                @Html.ValidationMessageFor(model => model.check_Request.amount, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.check_request_change_status.selected_directedto, new SelectList(ViewBag.employee, "ID", "Code"), "Select Directed To", new { @class = "select2", @onchange = "emp82()", @id = "emp2" })
                                @Html.ValidationMessageFor(model => model.check_request_change_status.selected_directedto, "", new { @class = "text-danger" })
                                <input type="text" value=" " class="form-control" id="empname2" disabled />
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.check_Request.check_number, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.check_Request.check_number, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.check_Request.check_number, "", new { @class = "text-danger" })
                            </div>

                            @Html.LabelFor(model => model.check_request_change_status.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => model.check_request_change_status.Comment, 4, 100, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.check_request_change_status.Comment, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.check_Request.Check_Due_date, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.check_Request.Check_Due_date, new { htmlAttributes = new { @class="form-control datepicker" ,@id="dateto", @readonly = true } })
                                @Html.ValidationMessageFor(model => model.check_Request.Check_Due_date, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.check_Request.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.TextAreaFor(model => model.check_Request.Description, 4, 100, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.check_Request.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.check_Request.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.TextAreaFor(model => model.check_Request.Comment, 4, 100, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.check_Request.Comment, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" id="btnSave" class="btn btn-success" name="Command" value="Save">CREATE</button>
                                <a href="@Url.Action("index","Check_Request")" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>Back</a>
                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>

    </section>
</div>
@section scripts{}

<script>
  $(function () {
      CKEDITOR.replace('Description');
  });
</script>

<script>
    function CountryName()
    {
        debugger
        var id= $("#Country").val();
        $.ajax({
            type: "post",
            url: "/Helper/Get_type_code",
            data: { "id": id },
            success: function (result) {
                debugger
                $("#countryname").val(result.Name);
            },
            error: function () {
                debugger
                $("#countryname").val(" ");
            }
        });
    }
    function CountryName1() {
        debugger
        var id = $("#Country1").val();
        $.ajax({
            type: "post",
            url: "/Helper/get_check_request_status",
            data: { "id": id },
            success: function (result) {
                debugger
                $("#countryname1").val(result.Name);
            },
            error: function () {
                debugger
                $("#countryname1").val(" ");
            }
        });
    }
    function emp81()
    {
        
            debugger
            var id = $("#emp1").val();
            $.ajax({
                type: "post",
                url: "/Helper/GetEmployee",
                data: { "id": id },
                success: function (result) {
                    debugger
                    $("#empname1").val(result.Full_Name);
                },
                error: function () {
                    debugger
                    $("#empname1").val(" ");
                }
            });
        
    }
    function emp82() {

        debugger
        var id = $("#emp2").val();
        $.ajax({
            type: "post",
            url: "/Helper/GetEmployee",
            data: { "id": id },
            success: function (result) {
                debugger
                $("#empname2").val(result.Full_Name);
            },
            error: function () {
                debugger
                $("#empname2").val(" ");
            }
        });

    }
    CountryName();
    CountryName1();
    emp81();
    emp82();
</script>