@model HR.Models.ViewModel.Check_Request_VM
@using HR.Resource;

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}

<h3>@Basic.message_delete</h3>
@using (Html.BeginForm("Delete", "Check_Request", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        <hr />

        @if (TempData["Message"] != null)
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["Message"]
            </div>
        }


        @Html.HiddenFor(m => m.check_Request.ID);
        @Html.HiddenFor(m => m.check_request_change_status.ID);

        <div class="form-group">
          
            <label class="control-label col-md-2">
                @Basic.Request_number
            </label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.check_Request.Request_number, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
            </div>
           
        </div>


        <div class="form-group">
            <label class="control-label col-md-2">
                @Basic.Request_date
            </label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.check_Request.Request_date, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
            </div>
            <div class="col-md-6">
                <hr /><hr />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
                @Basic.ChecktypeID
            </label>
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.check_Request.ChecktypeID, new SelectList(ViewBag.Type, "ID", "Code"), "Select Check type", new { @class = "select2", @onchange = "CountryName()", @id = "Country", @readonly = true, disabled = "disabled" })

               
            </div>




                  
         </div>

      

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@Basic.Delete class="btn btn-success" />
                <a href="@Url.Action("index","Check_Request")" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>@Basic.Back</a>

            </div>
        </div>
    </div>
}

@section scripts{}