@model HR.Models.ViewModel.Check_Request_VM

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}

<h3>Are you sure you want to delete this Check_Request?</h3>
@using (Html.BeginForm("Delete", "Check_Request", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        <hr />

        @if (TempData["Message"] != null)
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["Message"]
            </div>
        }


        @Html.HiddenFor(m => m.check_Request.ID);
        @Html.HiddenFor(m => m.check_request_change_status.ID);

        <div class="form-group">
            @Html.LabelFor(model => model.check_Request.Request_number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.check_Request.Request_number, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
            </div>
            <div class="col-md-6">
                <h3><label style="margin-right:200px ;color:cadetblue">Check Request Status</label></h3>
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.check_Request.Request_date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.check_Request.Request_date, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
            </div>
            <div class="col-md-6">
                <hr /><hr />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.check_Request.ChecktypeID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.check_Request.ChecktypeID, new SelectList(ViewBag.Type, "ID", "Code"), "Select Check type", new { @class = "select2", @onchange = "CountryName()", @id = "Country", @readonly = true, disabled = "disabled" })

                <input type="text" value=" " class="form-control" id="countryname" disabled />
            </div>


            @Html.LabelFor(model => model.check_request_change_status.check_request_statusID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.check_request_change_status.check_request_statusID, new SelectList(ViewBag.check_request_status, "ID", "Code"), "Select check request statue", new { @class = "select2", @onchange = "CountryName1()", @id = "Country1", @readonly = true, disabled = "disabled" })
                <input type="text" value=" " class="form-control" id="countryname1" disabled />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.check_Request.month, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.check_Request.month, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = 1, @readonly = true } })
            </div>

            @Html.LabelFor(model => model.check_request_change_status.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.check_request_change_status.Date, new { htmlAttributes = new { @class = "form-control datepicker", @id = "dateto", @readonly = true } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.check_Request.year, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.check_Request.year, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = 1, @readonly = true } })
            </div>

            @Html.LabelFor(model => model.check_request_change_status.Comment, htmlAttributes: new { @class = "control-label col-md-2" })


            <div class="col-md-4">
                @Html.TextAreaFor(model => model.check_request_change_status.Comment, 4, 100, new { @readonly = true, htmlAttributes = new { @class = "form-control"} })

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.check_Request.amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.check_Request.amount, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = 0, @readonly = true } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.check_Request.check_number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.check_Request.check_number, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.check_Request.Check_Due_date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.check_Request.Check_Due_date, new { htmlAttributes = new { @class = "form-control datepicker", @id = "dateto", @readonly = true } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.check_Request.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.check_Request.Description, 4, 100, new { @readonly = true,htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.check_Request.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.check_Request.Comment, new { @readonly = true,htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Delete" class="btn btn-success" />
                <a href="@Url.Action("index","Check_Request")" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>Back</a>

            </div>
        </div>
    </div>
}

@section scripts{}