@model IEnumerable<HR.Models.personnel_transaction>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.transaction_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Effective_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ss)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position_transaction_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position_transaction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resolution_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resolution_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activity_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Memo_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Memo_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recommended_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Approved_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Approved_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee_ProfileId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Primary_Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.job_descId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SlotdescId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Default_location_descId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location_descId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job_level_gradeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Organization_ChartId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.From_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.To_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Years)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Months)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End_of_service_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Last_working_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Commnets)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.transaction_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Effective_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ss)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position_transaction_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position_transaction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resolution_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resolution_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activity_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Memo_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Memo_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recommended_by)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Approved_by)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Approved_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee_ProfileId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Primary_Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.job_descId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SlotdescId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Default_location_descId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location_descId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job_level_gradeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organization_ChartId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.From_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.To_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Years)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Months)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End_of_service_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Last_working_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Commnets)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
