@model IEnumerable<HR.Models.personnel_transaction>
    @{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
    }

    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

            <div class="box">
                <div class="box-header">
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    @if (TempData["Message"] != null)
                    {
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        @TempData["Message"]
                    </div>
                    }
                    <div class="form-group" id="buttons">
                        
                        <a href="@Url.Action("Create","personnel_transaction")" style="width:140px" class="btn btn-success btn-sm"><i class="fa fa-edit"></i>add personnel transaction</a>
                        <input type="button" style="width:130px" onclick="getrequest()" value="specific request" class="btn btn-success" />
                        <input type="button" style="width:130px" onclick="getallrequest()" value="ALL request" class="btn btn-success" />
                        <div class="col-sm-7">
                            <select name="test" class="select2" id="filter" placeholder="Choose your status" multiple></select>
                        </div>
                    </div>
                    <div style="margin-top:20px;margin-bottom:15px" class="form-group">


                        <div class="col-md-3">
                            <input autocomplete="off" placeholder="Date From" value="" class="form-control datepicker" id="datefrom" />
                        </div>

                        <div class="col-md-4">
                            <input autocomplete="off" placeholder="Date To" class="form-control datepicker" id="dateto" />
                        </div>

                    </div>


                    <div class="form-group" style="margin-top:70px">
                        <table id="categories" style="margin-top:20px" class="table table-bordered table-striped text-center">
                            <thead>
                                <tr>
                                    <th> number</th>
                                    <th>Employee ID</th>
                                    <th>Employee Name</th>
                                    <th>request date</th>
                                    <th> status</th>
                                    <th> type</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="tbody11">
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>@item.Number</td>
                                    @if (item.Employee != null)
                                    {
                                    <td>@item.Employee.ID</td>
                                    <td>@item.Employee.Name</td>
                                    }
                                    else
                                    {
                                    <td>Empty</td>
                                    <td>Empty</td>
                                    }
                                    <td>@item.transaction_date.ToString("dd-MM-yyyy")</td>
                                    <td>@item.check_status</td>
                                    <td>@item.Transaction_type</td>
                                    <td>
                                        
                                        <a href=@Url.Action("Edit","personnel_transaction",new {id=item.ID}) class="btn btn-primary btn-sm" style="width:70px"><i class="fa fa-edit"></i>Change</a>
                                        <a href=@Url.Action("Delete","personnel_transaction",new {id=item.ID}) class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>Delete</a>
                                        <a href=@Url.Action("status","personnel_transaction",new {id=item.ID}) class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>statues</a>

                                    </td>
                                </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th> number</th>
                                    <th>Employee ID</th>
                                    <th>Employee Name</th>
                                    <th>request date</th>
                                    <th> status</th>
                                    <th> type</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

        </section>

    </div>

    <!-- page script -->
    <script>
    var $ = jQuery;

    $(document).ready(function () {
        $('#categories').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
            "order" : 1
        });
    });
    </script>

    <script>
        filt();
        function filt() {

            var ht = "";
            $.ajax
                ({
                    type: "post",
                    url: "/personnel_transaction/getallstatues",
                    data: {},
                    success: function (result) {
                        debugger
                        $.each(result, function (key, value) {
                            ht += "<option  value='" + value + "'>" + value + "</option>";

                        });
                        $("#filter").html(ht);
                    }
                });
        }
    function getrequest()
    {
        debugger
        var c = $("#filter").val();
        var from = $("#datefrom").val();
        var to = $("#dateto").val();
        var status = $("#filter").val();
        var type = $("#filter_eos_type").val();
        var from = $("#datefrom").val();
        var to = $("#dateto").val();
        if (from == "") {
            from = "1/1/1900";
        }
        if (to == "") {
            to = "1/1/3000"
        }
        if (c == null) {
            c = "all";
        }
        debugger
            $.ajax({
                type: "post",
                url: "/personnel_transaction/Getone",
                data: { "from": from, "to": to, "status": c },
                success: function (result) {
                    debugger
                    $("#tbody11 tr").remove();
                    $.each(result, function (key, value) {
                        var d1;var d2;
                        if (value.Employee != null)
                        {
                            d1 = value.Employee.ID;
                            d2 = value.Employee.Full_Name;
                        }
                        else
                        {
                            d1 = "Empty";
                            d2 = "Empty";
                        }
                            debugger
                            var tr =
                  "<tr id='tr'><td>" + value.Number + "</td>" +
                 "<td>" + d1 + "</td>" +
                 "<td>" + d2 + "</td>" +
                 "<td>" + value.date + "</td>" +
                 "<td>" + value.check_status + "</td>" +
                  "<td>" + value.Transaction_type + "</td>" +
                 "<td>" +
                 "<input type='button' value='change' class='btn btn-primary btn-sm' onclick='change(" + value.ID + ")' />" + " " +
                 "<input type='button' value='status' class='btn btn-primary btn-sm' style='width:60px' onclick='history(" + value.ID + ")' />" +" "+
                 "<input type='button' value='Delete' class='btn btn-danger btn-sm' onclick='deletee(" + value.ID + ")' /></td>";
                            $("#tbody11").append(tr);



                                   });

                },
                error: function () {
                    debugger

                }
            });
        }

    function getallrequest() {
        debugger
        var c = $("#filter").val();
        $.ajax({
            type: "post",
            url: "/personnel_transaction/Getalll",
            data: { "c": c },
            success: function (result) {
                debugger
                $("#tbody11 tr").remove();
                $.each(result, function (key, value) {
                    debugger
                    var d1; var d2;

                    if (value.Employee != null) {
                        d1 = value.Employee.ID;
                        d2 = value.Employee.Name;
                    }
                    else {
                        d1 = "Empty";
                        d2 = "Empty";
                    }
                    debugger
                    var tr =
          "<tr id='tr'><td>" + value.Number + "</td>" +

         "<td>" + d1 + "</td>" +
         "<td>" + d2 + "</td>" +
        "<td>" + value.date + "</td>" +
                 "<td>" + value.check_status + "</td>" +
                  "<td>" + value.Transaction_type + "</td>" +
         "<td >" + "<input type='button' value='change' class='btn btn-primary btn-sm' onclick='change(" + value.ID + ")' />" + " " +
         "<input type='button' value='status' class='btn btn-primary btn-sm' style='width:60px' onclick='history(" + value.ID + ")' />" +" "+
         "<input type='button' value='Delete' class='btn btn-danger btn-sm' onclick='deletee(" + value.ID + ")' /></td>";

                    $("#tbody11").append(tr);
                });

            },
            error: function () {
                debugger

            }
        });
    }
    </script>
    <script>
    function change(id)
    {
        window.open("/personnel_transaction/Edit?id=" + id);
    }
    function history(id) {

        window.open("/personnel_transaction/status?id=" + id);
    }
    function deletee(id) {
        debugger
        window.open("/personnel_transaction/Delete/" + id);
    }
    </script>

    @section scripts{}
