@model IEnumerable<HR.Models.Check_List_Items>
@using HR.Resource;
<script src="~/Content/neon/assets/js/datatables/datatables.js"></script>
<script>
    var $ = jQuery;

    $(document).ready(function () {
        $('#categories').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
            "order": 1
        });
    });
</script>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">

        <div class="box">
            <div class="box-header">
                <p class="lead">
                    <a href="@Url.Action("Create", "Check_List_Items")" class="btn btn-success btn-sm"><i class="fa fa-edit"></i>@Personnel.AddNewCheckListItems </a>
                </p>
            </div>

            <!-- /.box-header -->
            <div class="box-body">
                @if (TempData["Message"] != null)
                {
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        @TempData["Message"]
                    </div>
                }

                <table id="categories" class="table table-bordered table-striped text-center">
                    <thead>
                        <tr>
                            <th>@Personnel.Code</th>
                            <th>@Personnel.Name</th>
                            <th>@Personnel.Description</th>
                            <th>@Personnel.RequiredOnApplication</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Code</td>
                                <td>@item.Name</td>
                                <td>@item.Description</td>
                                <td>@item.Required_on_application</td>

                                <td>
                                    <a href="@Url.Action("Edit", "Check_List_Items", new {id = item.ID})" class="create-btn" style="width:50px"><i class="fa fa-edit"></i>@Personnel.Edit1</a>
                                    <a href="@Url.Action("delete", "Check_List_Items", new {id = item.ID})" class="create-btn"><i class="far fa-trash-alt"></i>@Personnel.Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </section>

</div>

<!-- page script -->


@section scripts{}

<style>
    table {
        margin-top: 70px;
        border: 1px solid #ddd;
        overflow-y: auto;
        white-space: nowrap;
    }

        table thead {
            border-bottom: 3px solid #bbb
        }

    .create-btn {
        margin-left: 5px;
        margin-right: 5px;
        color: #000
    }

        .create-btn svg {
            color: #0d62aa
        }
</style>