@model HR.Models.ViewModel.EOS_VM

@using HR.Resource;
@Scripts.Render("~/bundles/jqueryval")


<script>
    $(function () {
        CountryName1()
        CountryName2()
        CountryName3()
        GetDataById2('@Model.EOS.Requset_date', "Requset_date_D");
        GetDataById2('@Model.EOS.Date_of_EOS', "Date_of_EOS_D");
        GetDataById2('@Model.EOS.last_Date_of_work_after_notice_period', "last_Date_of_work_after_notice_period_D");
        GetDataById2('@Model.EOS.last_work_day_before_request', "last_work_day_before_request_D");
        GetDataById2('@Model.EOS.date_of_settlement', "date_of_settlement_D");
        GetDataById2('@Model.EOS.date_of_eos_interview', "date_of_eos_interview_D");


    });

    function GetDataById2(date, id) {
        debugger
        var valx = new Date(date);
        var month;
        if ((valx.getMonth() + 1) < 10) {
            month = "0" + (valx.getMonth() + 1).toString();
        }
        else {
            month = date.getMonth() + 1;
        }
        var day = parseInt(valx.getDate());
        if (day < 10) {
            day = "0" + (valx.getDate()).toString();
        }
        else {
            day = valx.getDate();
        }
        var d = valx.getFullYear() + '-' + month + '-' + day;
        $('#' + id).val(d);
    }
    function CountryName1() {

        var id = $("#Country1").val();
        $.ajax({
            type: "post",
            url: "/Helper/GetEmployee",
            data: { "id": id },
            success: function (result) {

                $("#countryname1").val(result.FullName);
            },
            error: function () {

                $("#countryname1").val(" ");
            }
        });
    }
    function CountryName2() {

        var id = $("#Country2").val();
        $.ajax({
            type: "post",
            url: "/Helper/getgroupinterview",
            data: { "id": id },
            success: function (result) {

                $("#countryname2").val(result.Description_of);
            },
            error: function () {

                $("#countryname2").val(" ");
            }
        });
    }
    function CountryName3() {

        var id = $("#Country3").val();
        $.ajax({
            type: "post",
            url: "/EOS_request/getcheck",
            data: { "id": id },
            success: function (result) {

                $("#countryname3").val(result.Description_Group);
            },
            error: function () {

                $("#countryname3").val(" ");
            }
        });
    }

</script>
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            @pers_2.CreateEOSRequest
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">

        <div class="box">

            <!-- /.box-header -->
            <div class="box-body">

                @using (Html.BeginForm("Create", "EOS_request", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">

                        <hr />

                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Message"]
                            </div>
                        }
                        <div class="form-group">
                              <label class = "control-label col-md-4">
                                @pers_2.number
                            </label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.EOS.number, new { htmlAttributes = new { @readonly = true, @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.EOS.number, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                <span> @pers_2.requestdate </span>
                            </label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.EOS.Requset_date, new { htmlAttributes = new { @class = "form-control",@type="date",id= "Requset_date_D" } })
                                @Html.ValidationMessageFor(model => model.EOS.Requset_date, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3" style="color:black">
                                <button type="submit" id="btnSubmit" name="Command" value="Submit2" class="btn btn-success"> @pers_2.Eosinterview</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                <span> @pers_2.employee </span>
                            </label> <div class="col-md-4">
                                @Html.DropDownListFor(m => m.selected_employee, new SelectList(ViewBag.employee, "ID", "Code"), pers_2.employee, new { @class = "select2",  @id = "Country1" })
                                @Html.ValidationMessageFor(model => model.selected_employee, "", new { @class = "text-danger" })
                              
                            </div>
                            <div class="col-md-3" style="color:black">
                                <button type="submit" id="btnSubmit" name="Command" value="Submit3" class="btn btn-success">@pers_2.EOSchecklist</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                <span>@pers_2.EOStype</span>
                            </label>
                            <div class="col-md-4">
                                @Html.EnumDropDownListFor(m => m.EOS.EOS_type, "Select type", new { @class = "select2" })
                                @Html.ValidationMessageFor(model => model.EOS.EOS_type, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-md-3" style="color:black">
                                <input style="width:100px" type="submit" value=@pers_2.CreateEOSRequest class="btn btn-success" />
                            </div>
                           
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                <span>@pers_2.DateofEOS </span>
                            </label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.EOS.Date_of_EOS, new { htmlAttributes = new { @class = "form-control", @type = "date", id = "Date_of_EOS_D" } })
                                @Html.ValidationMessageFor(model => model.EOS.Date_of_EOS, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3" style="color:black">
                                <a style="width:100px" href="@Url.Action("index","EOS_request")" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>@pers_2.Back</a>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                <span>@pers_2.lastworkdaybeforerequest</span>
                            </label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.EOS.last_work_day_before_request, new { htmlAttributes = new { @class = "form-control",@type="date",id= "last_work_day_before_request_D" } })
                                @Html.ValidationMessageFor(model => model.EOS.last_work_day_before_request, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div style="margin-top:25px" class="form-group">

                            <label class="control-label col-md-4">
                              EOS Settlement code
                            </label>
                            <div class="col-md-4">
                                <input class="form-control" type="text" disabled />
                            </div>
                           
                        </div>
                        <div style="margin-top:25px" class="form-group">

                          
                            <label class="control-label col-md-4">
                                No. of transaction settlement
                            </label>
                            <div class="col-md-4">
                                <input class="form-control" type="text" disabled />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                <span>@pers_2.lastDateofworkafternoticeperiod </span>
                            </label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.EOS.last_Date_of_work_after_notice_period, new { htmlAttributes = new { @class = "form-control", @type = "date", id = "last_Date_of_work_after_notice_period_D" } })
                                @Html.ValidationMessageFor(model => model.EOS.last_Date_of_work_after_notice_period, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                <span>@pers_2.Noticeperiod </span>
                            </label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.EOS.Notice_period, new { htmlAttributes = new { @type = "number", @class = "form-control", @min = "0" } })
                                @Html.ValidationMessageFor(model => model.EOS.Notice_period, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                <span>@pers_2.Noticeperiodtype</span>
                            </label>
                            <div class="col-md-4">
                                @Html.EnumDropDownListFor(m => m.EOS.Notice_period_type, pers_2.type, new { @class = "select2" })
                                @Html.ValidationMessageFor(model => model.EOS.Notice_period_type, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                <span>@pers_2.aretheemployeehasloanoradvanced</span>
                            </label>
                            <div class="col-md-4">
                                @Html.CheckBoxFor(model => model.EOS.are_the_employee_has_a_loan_or_advanced, new { htmlAttributes = new { @class = "CheckBox" } })
                                @Html.ValidationMessageFor(model => model.EOS.are_the_employee_has_a_loan_or_advanced, "", new { @class = "text-danger" })
                            </div>


                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                <span>@pers_2.dateofsettlement</span>
                            </label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.EOS.date_of_settlement, new { htmlAttributes = new { @class = "form-control", @type = "date", id = "date_of_settlement_D" } })
                                @Html.ValidationMessageFor(model => model.EOS.date_of_settlement, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                <span>@pers_2.arethesettlementtransferredtopayroll</span>
                            </label>
                            <div class="col-md-4">
                                @Html.CheckBoxFor(model => model.EOS.are_the_settlement_transferred_to_payroll, new { htmlAttributes = new { @class = "CheckBox" } })
                                @Html.ValidationMessageFor(model => model.EOS.are_the_settlement_transferred_to_payroll, "", new { @class = "text-danger" })
                            </div>


                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                <span>@pers_2.dateofeosinterview</span>
                            </label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.EOS.date_of_eos_interview, new { htmlAttributes = new { @class = "form-control", @type = "date", id = "date_of_eos_interview_D" } })
                                @Html.ValidationMessageFor(model => model.EOS.date_of_eos_interview, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                <span>@pers_2.selectedEOSInterviewgroup </span>
                            </label> <div class="col-md-4">
                                @Html.DropDownListFor(m => m.selected_EOS_group_interview, new SelectList(ViewBag.interview, "ID", "Code"), pers_2.selectedEOSInterviewgroup, new { @class = "select2", @id = "Country2" })
                            
                            
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">
                                <span> @pers_2.selectedchecklistgroup</span>
                            </label> <div class="col-md-4">
                                @Html.DropDownListFor(m => m.selected_EOS_group_checklist, new SelectList(ViewBag.checklist, "ID", "Code"), pers_2.selectedchecklistgroup, new { @class = "select2", @id = "Country3" })
                              
                            
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                @pers_2.notes
                            </label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(model => model.EOS.note, 4, 67, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.EOS.note, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        
                    </div>
                }

            </div>

        </div>

    </section>
</div>





@section scripts{}