@model HR.Models.ViewModel.employeestate
    @using HR.Resource;
<script>
    $(function () {
        close();
        GetDataById2('@Model.status.created_bydate', "CR");
        GetDataById2('@Model.status.Rejected_bydate', "Rj");
        GetDataById2('@Model.status.return_to_reviewdate', "RE");
        GetDataById2('@Model.status.approved_bydate', "AP");
        GetDataById2('@Model.status.cancaled_bydate', "CA");
    });

    function GetDataById2(date, id) {
        debugger
        var valx = new Date(date);
        var month;
        if ((valx.getMonth() + 1) < 10) {
            month = "0" + (valx.getMonth() + 1).toString();
        }
        else {
            month = date.getMonth() + 1;
        }
        var day = parseInt(valx.getDate());
        if (day < 10) {
            day = "0" + (valx.getDate()).toString();
        }
        else {
            day = valx.getDate();
        }
        var d = valx.getFullYear() + '-' + month + '-' + day;
        $('#' + id).val(d);
    }
    function go(input)
    {
         

        var value = input.val();
        if(value==1)
        {
            close();
            $("#CR").attr("readonly", false);
       //     $("#created1").attr("readonly", false);
     //       $("#created1d").attr("hidden", false);

        }
        else if(value==2)
        {
            close();
            $("#RE").attr("readonly", false);
       //     $("#report1").prop("readonly", false);
     //       $("#report1d").prop("hidden", false);
        }
        else if (value == 3)
        {
            close();
            $("#AP").attr("readonly", false);
         //   $("#approved1").prop("readonly", false);
       //     $("#approved1d").prop("hidden", false);
        }
        else if (value == 4)
        {
            close();
            $("#Rj").attr("readonly", false);
        //    $("#Rejected1").prop("readonly", false);
     //       $("#Rejected1d").prop("hidden", false);
        } else if (value == 5)
        {
            close();
            $("#CA").attr("readonly", false);
         //   $("#cancaled1").prop("readonly", false);
       //     $("#cancaled1d").prop("hidden", false);
        }
        else if (value == 6) {
            close();

        }
        else if (value ==7) {
            close();

        }
    }
    function close()
    {
        $("#cancaled1").attr("readonly", true);
        $("#Rejected1").attr("readonly", true);
        $("#approved1").attr("readonly", true);
        $("#ready1").attr("readonly", true);
        $("#created1").attr("readonly", true);
        $("#report1").attr("readonly", true);
        //////
        $("#CR").attr("readonly", true);
        $("#Rj").attr("readonly", true);
        $("#RE").attr("readonly", true);
        $("#AP").attr("readonly", true);
        $("#CA").attr("readonly", true);
    }

</script>
@{
    ViewBag.Title = "status";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}
@using (Html.BeginForm("status", "EOS_request", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
  

    <div class="sec-nav">
        <div><i class="far fa-save"></i><input type="submit" value=@organ.Save class="create-btn" /></div>
        <div><i class="fas fa-undo"></i> <a href="@Url.Action("index","EOS_request")" class="create-btn">@organ.backtoindex</a></div>

    </div>
    <div class="form-horizontal">

        <hr />

        @if (TempData["Message"] != null)
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["Message"]
            </div>
        }
        @Html.HiddenFor(m => m.empid);
        @Html.HiddenFor(m => m.status.ID);

        @Html.HiddenFor(m => m.opertion_id);
        <div class="form-group">
           
            <div class="col-md-4">
                <label>
                    @pers_2.check_status
                </label>
                @Html.EnumDropDownListFor(m => m.check_status, pers_2.status, new { @class = "select2",@onchange="go($(this))" })
                @Html.ValidationMessageFor(model => model.check_status, "", new { @class = "text-danger" })
               
            </div>
        </div>
       

      
                                           <div class="form-group" id="created">

                                             
                                               <div class="col-md-4">
                                                   <label>
                                                       <span> @organ.createdby</span>
                                                   </label>
                                                   @Html.EditorFor(model => model.status.created_by, new { htmlAttributes = new { id= "created1", @class = "form-control"} })
                                                   @Html.ValidationMessageFor(model => model.status.created_by, "", new { @class = "text-danger" })

                                               </div>
                                               <div id="created1d" >
                                               
                                                   <div class="col-md-4">
                                                       <label>
                                                           <span> @organ.createdDate</span>
                                                       </label>
                                                       @Html.EditorFor(model => model.status.created_bydate, new { htmlAttributes = new { @class = "form-control", @type = "date", id = "CR" } })
                                                       @Html.ValidationMessageFor(model => model.status.created_bydate, "", new { @class = "text-danger" })

                                                   </div>
                                                   </div>
                                               </div>

                                                    <div class="form-group" id="ready">
                                                       
                                                        <div class="col-md-4">
                                                            <label>
                                                                <span>@organ.Reportasreadyby</span>
                                                            </label>
                                                            @Html.EditorFor(model => model.status.return_to_reviewby, new { htmlAttributes = new { id = "report1", @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.status.return_to_reviewby, "", new { @class = "text-danger" })

                                                        </div>
                                                        <div id="report1d" >
                                                          
                                                            <div class="col-md-4">
                                                                <label>
                                                                    <span>@organ.ReportasreadyDate</span>
                                                                </label>
                                                                @Html.EditorFor(model => model.status.return_to_reviewdate, new { htmlAttributes = new { @class = "form-control", @type = "date", id = "RE" } })
                                                                @Html.ValidationMessageFor(model => model.status.return_to_reviewdate, "", new { @class = "text-danger" })

                                                            </div>

                                                        </div>
                                                    </div>

                                           <div class="form-group" id="approved">
                                             
                                               <div class="col-md-4">
                                                   <label>
                                                       <span>@organ.approvedby</span>
                                                   </label>
                                                   @Html.EditorFor(model => model.status.approved_by, new { htmlAttributes = new { id = "approved1", @class = "form-control" } })
                                                   @Html.ValidationMessageFor(model => model.status.approved_by, "", new { @class = "text-danger" })

                                               </div>
                                               <div id="approved1d" >
                                           
                                                                <div class="col-md-4">
                                                                    <label>
                                                                        <span>@organ.approvedDate</span>
                                                                    </label>
                                                                    @Html.EditorFor(model => model.status.approved_bydate, new { htmlAttributes = new { @class = "form-control", @type = "date", id = "AP" } })
                                                                    @Html.ValidationMessageFor(model => model.status.approved_bydate, "", new { @class = "text-danger" })

                                                                </div>

                                                            </div>
                                                            </div>

                                           <div class="form-group" id="Rejected">
                                          
                                               <div class="col-md-4">
                                                   <label>
                                                       <span>@organ.Rejectedby</span>
                                                   </label>
                                                   @Html.EditorFor(model => model.status.Rejected_by, new { htmlAttributes = new { id = "Rejected1", @class = "form-control"} })
                                                   @Html.ValidationMessageFor(model => model.status.Rejected_by, "", new { @class = "text-danger" })

                                               </div>
                                               <div id="Rejected1d" >
                                                 
                                                   <div class="col-md-4">
                                                       <label>
                                                           <span>@organ.RejectedDate</span>
                                                       </label>
                                                       @Html.EditorFor(model => model.status.Rejected_bydate, new { htmlAttributes = new { @class = "form-control", @type = "date", id = "Rj" } })
                                                       @Html.ValidationMessageFor(model => model.status.Rejected_bydate, "", new { @class = "text-danger" })

                                                   </div>
                                               </div>
                                               </div>


                                           <div class="form-group" id="cancaled"  >
                                             
                                               <div class="col-md-4">
                                                   <label>
                                                       <span>@organ.cancaledby</span>
                                                   </label>
                                                   @Html.EditorFor(model => model.status.cancaled_by, new { htmlAttributes = new { id = "cancaled1", @class = "form-control" } })
                                                   @Html.ValidationMessageFor(model => model.status.cancaled_by, "", new { @class = "text-danger" })

                                               </div>
                                               <div id="cancaled1d" >
                                                 
                                                   <div class="col-md-4">
                                                       <label>
                                                           <span>@organ.cancaledDate</span>
                                                       </label>
                                                       @Html.EditorFor(model => model.status.cancaled_bydate, new { htmlAttributes = new { @class = "form-control", @type = "date", id = "CA" } })
                                                       @Html.ValidationMessageFor(model => model.status.cancaled_bydate, "", new { @class = "text-danger" })

                                                   </div>
                                               </div>

                                           </div>
                                 
      
        
    </div>
}


@section scripts{}

<style>
    /*Create Page*/


    .sec-nav {
        z-index: 9999;
        position: fixed;
        top: 47px;
        background: #faf9f8;
        border-bottom: 1px solid #bebbb8;
        display: block;
        width: 100%;
        left: 50px;
        padding-left: 10px;
        height: 60px;
        line-height: 60px;
    }

        .sec-nav div {
            display: inline-block;
            padding: 5px 8px;
            width: unset;
            border: 0;
            color: #000;
            font-size: 16px;
            height: 60px;
        }

            .sec-nav div:hover {
                background: #eee;
                color: #000;
            }

                .sec-nav div:hover input {
                    color: #000;
                }

    .create-btn {
        border: 0;
        height: 100%;
        background-color: transparent;
    }

    .sec-nav div svg {
        color: #2266e3;
        font-size: 17px;
    }

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        /*float: unset*/
    }

    label {
        text-align: left;
        font: normal normal 400 12px/18px 'Segoe UI',tahoma,sans-serif;
        color: #605e5c;
        display: block;
        margin-bottom: 0;
        max-width: 220px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 600;
        margin-top: 15px;
    }

    .form-horizontal .form-group {
        margin: 0 !important;
    }

    input {
        height: 35px;
        color: #000;
    }

        input:active {
            border: 1px solid #2266e3;
        }

    .form-group .row > div {
        margin-bottom: 10px;
    }

    .content-wrapper {
        margin-left: 15px;
    }
</style>