@model HR.Models.EvaluationTransaction
@using HR.Resource
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            @pers_2.PerformanceEvaluationGroup
        </h1>
    </section>


    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary" data-collapsed="0">
                <div class="panel-body">
                    @using (Html.BeginForm("Create", "EvaluationTransaction", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input name="ID_Q" value="" hidden />
                        <input name="ID_Element" value="" hidden />
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            <hr />
                            @if (TempData["Message"] != null)
                            {
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    @TempData["Message"]
                                </div>
                            }

                            
                                
                           

                            <div class="form-group">
                                <label class="control-label col-md-2">
                                    @organ.empname
                                </label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(m => m.Employee_ProfileID, new SelectList(ViewBag.employee, "ID", "Code"), Basic.Country, new { @class = "select2", @onchange = "emp2()", id = "emp" })
                                    @Html.ValidationMessageFor(model => model.Employee_ProfileID, "", new { @class = "text-danger" })

                                </div>
                                <label class="control-label col-md-2">
                                    @organ.code
                                </label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", id = "Code", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">
                                    <span> @pers_2.requestdate </span>
                                </label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.AppraisalDate, new { htmlAttributes = new { @class = "form-control", @type = "date", id = "Requset_date_D" } })
                                    @Html.ValidationMessageFor(model => model.AppraisalDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">
                                    <span> @pers_2.evaluationplan </span>
                                </label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(m => m.EvaluationPlanID, new SelectList(ViewBag.plancode, "ID", "Code"), Basic.Country, new { @class = "select2", @onchange = "getdate()", id = "plan" })
                                    @Html.ValidationMessageFor(model => model.Employee_ProfileID, "", new { @class = "text-danger" })

                                </div>
                                <label class="control-label col-md-2">
                                    @pers_2.group
                                </label>
                                <div class="col-md-4">
                                    @Html.DropDownList("oi", new SelectList(ViewBag.groupcode, "ID", "Code"), pers_2.group, new { @class = "select2", @onchange = "getdate()", id = "group" })

                                </div>
                            </div>
                            <div class="form-group">
                              
                                <label class="control-label col-md-2">
                                    <span> @Basic.from_date</span>
                                </label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.FromeDate, new { htmlAttributes = new { @class = "form-control", @type = "date", id = "from", @readonly = true } })
                                   
                                </div>
                                <label class="control-label col-md-2">
                                    <span> @Basic.to_date</span>
                                </label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control", @type = "date", id = "to", @readonly = true } })
                                  
                                </div>
                            </div>


                            <div class="form-group">

                                <label class="control-label col-md-2">
                                    <span> LINE</span>
                                </label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.planLine, new { htmlAttributes = new { @class = "form-control", @type = "text", id = "line", @readonly = true } })

                                </div>
                              
                            </div>


                            <div class="col-md-12">
                                <ul class="nav nav-tabs bordered">
                                    <!-- available classes "bordered", "right-aligned" -->
                                    <li class="active">
                                        <a href="#Qulifications" data-toggle="tab">
                                            <span class="visible-xs"><i class="entypo-home"></i></span>
                                            <span class="hidden-xs">@pers_2.Evalutionelement</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#Risks" data-toggle="tab">
                                            <span class="visible-xs"><i class="entypo-user"></i></span>
                                            <span class="hidden-xs">@pers_2.Question</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="Qulifications" style="overflow: hidden;width: auto;height: auto;">




                                        @*<div class="form-group">
                                            <div class="form-group">
                                                <label class="control-label col-md-2">
                                                    @pers_2.Evalutionelement
                                                </label>
                                                <div class="col-md-4">
                                                    @Html.DropDownList("comp_", new SelectList(ViewBag.elements, "ID", "Code"), pers_2.Evalutionelement, new { @name = "drop", @class = "select2", @id = "Country" })
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="button" id="drop1" class="btn btn-success" value='@pers_2.addelement' onclick="add()" />
                                                </div>
                                            </div>
                                        </div>*@

                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <td colspan="4">
                                                        <label style="font-size:medium">
                                                            @pers_2.Evaluationelement
                                                        </label>
                                                    </td>

                                                </tr>
                                            </thead>
                                            <thead>
                                                <tr>
                                                    <th hidden>

                                                    </th>
                                                    <th class="control-label col-md-2">
                                                        <label>@Basic.code </label>
                                                    </th>
                                                    <th class="control-label col-md-6">
                                                        <label>@Basic.name</label>
                                                    </th>
                                                    <th class="control-label col-md-1">
                                                        <label>@pers_2.Defaultdegree</label>
                                                    </th>

                                                    <th>

                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="ad3d1">
                                              
                                            </tbody>
                                        </table>

                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <td colspan="3">
                                                        <label style="font-size:medium">
                                                            @pers_2.EvaluationElementCompetenies
                                                        </label>
                                                    </td>


                                                </tr>
                                            </thead>
                                            <thead>
                                                <tr>
                                                    <th hidden>

                                                    </th>
                                                    <th class="control-label col-md-2">
                                                        <label>@Basic.code </label>
                                                    </th>
                                                    <th class="control-label col-md-6">
                                                        <label>@Basic.name</label>
                                                    </th>
                                                    <th class="control-label col-md-1">
                                                        <label>@pers_2.Defaultdegree</label>
                                                    </th>


                                                </tr>
                                            </thead>
                                            <tbody id="ad31d1">
                                              
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane" id="Risks">

                                     
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th hidden>

                                                    </th>
                                                    <th>
                                                        <label class="control-label col-md-3">@pers_2.Question </label>
                                                    </th>
                                                    <th>
                                                        <label class="control-label col-md-3">@pers_2.answer</label>
                                                    </th>
                                                    <th>

                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="ad8d2">
                                          
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</div>
@section scripts{}
<script>


    $(function () {
        GetDataById2('@Model.AppraisalDate', "Requset_date_D");
        $("#plancode2").click(function () {
            debugger
            var plan_value = $("#plancode2").val();
            $("#line").val(plan_value);
        });
    });
    function getdate()
    {
        debugger
        var id = $("#plan").val();
        $.ajax({
            type: "post",
            url: "/EvaluationTransaction/getdate",
            async: false,
            data: { "id": id },
            success: function (result) {
                debugger
                GetDataById2(result.from_date, "from");
                GetDataById2(result.to_date, "to");
              
            },
            error: function () {
                debugger
                alter("some error");
            }

        });
    }
    function GetDataById2(date, id) {
        debugger
        var valx = new Date(date);
        var month;
        if ((valx.getMonth() + 1) < 10) {
            month = "0" + (valx.getMonth() + 1).toString();
        }
        else {
            month = date.getMonth();
        }
        var day = parseInt(valx.getDate());
        if (day < 10) {
            day = "0" + (valx.getDate()).toString();
        }
        else {
            day = valx.getDate();
        }
        var d = valx.getFullYear() + '-' + month + '-' + day;
        $('#' + id).val(d);
    }

    function emp2()
    {
        debugger
        var id = $("#emp").val();
        $("#plancode2").empty();
        $("#plancode2").select2("val", "");
        var t="";
        $.ajax({
            type: "post",
            url: "/EvaluationTransaction/getemp",
            async: false,
            data: { "id": id },
            success: function (result) {
                debugger
                $.each(result, function (key, value) {
                    debugger
                    t += "<option onclick='tttt()' value='" + value.ID + "'>" + value.code + "</option>"
                });
                $("#plancode2").append(t);
                $("#plancode2").removeAttr("disabled");
            },
            error: function () {
                debugger
                alter("some error");
            }

        });

    }


    @*function getcompetiton(id) {
        debugger
        //var id = $(input).attr('value');

        $("#ad31d1").empty();
        $.ajax({
            type: "post",
            url: "/PerformanceEvaluationGroup/GetCompet",
            async: false,
            data: { "id": id },
            success: function (result) {
                debugger
                $.each(result, function (key, value) {
                    debugger
                    var tr =
                           "<tr>"+
                           "<td class='col-md-2'> " + "<input  class = 'form-control' type='text' style='margin-bottom: 1em;margin-left:4px'    value='" + value.code + "' readonly='readonly' />" + "</td>" +
                           "<td class='col-md-6'> " + "<input  class = 'form-control' type='text' form-control' style='margin-bottom: 1em;margin-left:4px'    value='" + value.Desc + "' readonly='readonly' />" + "</td>" +
                           "<td class='col-md-1'>" + "<input  class = 'form-control' required type='number' style='margin-bottom: 1em;margin-left:4px' name='degree'   value='" + value.degeree + "' readonly='readonly' /> </td></tr>"




                    $("#ad31d1").append(tr);
                });
            },
            error: function () {
                alter("some error");
            }

        });
    }
    //function cheeck(input)
    //{

    //    if (input.checked == true) {

    //        $("#Country").removeAttr('disabled');
    //        $("#drop1").removeAttr('disabled');
    //        $("#div_comp").attr("hidden", false);
    //    }
    //    else
    //    {

    //        $("#Country").attr('disabled', true);
    //        $("#drop1").attr('disabled', true);
    //        $("#div_comp").attr("hidden", true);
    //    }
    //}
    function remove(thi) {
        thi.parent().parent().remove();
        $("#ad31d1").empty();
    }
    //function check_sumtion()
    //{
    //    var pp = $("#ad3d1").find("tr");
    //    var flag = 0;
    //    for (var o = 0; o < pp.length; o++)
    //    {
    //        debugger
    //        var inputs = pp[o].children;
    //        ID_ = inputs[0].children;
    //        if (parseInt(ID_[0].value) == result.ID) {
    //            be;
    //        }

    //    }
    //else
    //{
    //        $("#submit").submit();
    //}

    function add()
    {
    debugger
        var id = $("#Country").val();
        if (id == "0" || id == "" || id == null)
        {
            debugger
                alter("you must choose Evaluation Element")
        }
        else
        {
            $.ajax({
                type: "post",
                url: "/PerformanceEvaluationGroup/GetElement",
                async: false,
                data: { "id": id },
                success: function (result) {
                    debugger
                    var pp = $("#ad3d1").find("tr");
                    var flag = 0;
                    for (var o = 0; o < pp.length; o++)
                    {
                        debugger
                        var inputs = pp[o].children;
                        ID_ = inputs[0].children;
                        if (parseInt(ID_[0].value) == result.ID) {
                            flag = 1;
                        }
                    }
                    if (flag == 0) {
                        var tr =

                            "<tr> <td hidden>" +"<input    id='class_type' style='margin-bottom: 1em;' hidden name='ID_Element'  value='" + result.ID + "' readonly='readonly' />" + "</td>" +
                           "<td class='col-md-2'> " + "<input class = 'form-control' ID='result.Code'   type='text' style='margin-bottom: 1em;margin-left:4px' onclick='getcompetiton("+result.ID+")'    value='" + result.Code + "' readonly='readonly' />" + "</td>" +
                           "<td class='col-md-6'> " + "<input   class = 'form-control' type='text' form-control' style='margin-bottom: 1em;margin-left:4px'    value='" + result.Name + "' readonly='readonly' />" + "</td>" +
                           "<td class='col-md-2'> " + "<input class = 'form-control'  required type='number' style='margin-bottom: 1em;margin-left:4px' name='degree'   value='" + result.defaultDegree + "' readonly='readonly' />" + "</td>" +
                           "<td class='col-md-2'>" + "<input type='button'   style='margin-left:3px' value=@organ.remove class='form-control remove btn btn-danger' onclick='remove($(this))' /> </td></tr>"


                        $("#ad3d1").append(tr);
                        $("#Country").select2("val", "");
                        getcompetiton(result.ID);
                    }

                },
                error: function () {
                    debugger
                    alter("some error");
                }

            });

       // }
        }

    }
    function add2()
    {
        debugger
        var id = $("#Country2").val();
        if (id == "0" || id == "" || id == null) {
            debugger
            alter("you must choose Question Code")
        }
        else {
            $.ajax({
                type: "post",
                url: "/PerformanceEvaluationGroup/Questions",
                async: false,
                data: { "id": id },
                success: function (result) {
                    debugger
                    var pp = $("#div_comp2").find("div");
                    var flag = 0;
                    for (var o = 0; o < pp.length; o++) {
                        debugger
                        var inputs = pp[o].children;
                        ID_ = parseInt(inputs[0].value);
                        if (ID_ == result.ID) {
                            flag = 1;
                        }
                    }
                    if (flag == 0) {
                        var tr =

                           "<tr> <td hidden>" + "<input  class='col-md-12 custom-control-input' required type='number' style='margin-bottom: 1em;margin-left:4px' name='ID_Q'   value='" + result.ID + "' readonly='readonly' />" + "</td>" +
                           "<td class='col-md-3'> " + "<input class = 'form-control'  required type='text' style='margin-bottom: 1em;margin-left:4px' name='degree'   value='" + result.Question + "' readonly='readonly' />" + "</td>" +
                           "<td class='col-md-5'> " + "<input class = 'form-control'   required type='text' style='margin-bottom: 1em;margin-left:4px' name='degree'   value='" + result.model_answer + "' readonly='readonly' />" + "</td>" +
                           "<td class='col-md-1'>" + "<input type='button'  style='margin-left:3px' value=@organ.remove class='form-control remove btn btn-danger' onclick='remove($(this))' /> </td></tr>"


                        $("#ad8d2").append(tr);
                        $("#Country2").select2("val", "");

                    }

                },
                error: function () {
                    debugger
                    alter("some error");
                }

            });

            // }
        }

    }*@
</script>