@model IEnumerable<HR.Models.ViewModel.Job_viewVM>

@{
    ViewBag.Title = "View_jobs";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}
@using HR.Resource;
<script>
    var $ = jQuery;

    $(document).ready(function () {
        $('#categories').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
            "order" : 1
        });
    });
</script>
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">

        <div class="box">
            

            <!-- /.box-header -->
            <div class="box-body">
               

                <table id="categories" class="table table-bordered table-striped text-center">
                    <thead>
                        <tr>
                            <th>@organ.name</th>
                            <th>@organ.slots</th>
                            <th>@organ.vacant</th>
                            <th>@organ.hired</th>
                            <th>@organ.hiredid</th>
                         
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.jobs.name</td>
                                <td>@item.jobs.num_slots</td>
                                <td>@item.jobs.number_vacant</td>
                                <td>@item.jobs.number_hired</td>
                                @if (item.jobs.number_hired > 0)
                                {
                                    <td>@Html.DropDownList("ID", new SelectList(item.ID), organ.ID, new { @class = "select2" })</td>
                                }
                                else
                                {
                                    <td><span>No Hire</span></td>
                                }
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>@organ.name</th>
                            <th>@organ.slots</th>
                            <th>@organ.vacant</th>
                            <th>@organ.hired</th>
                            <th>@organ.hiredid</th>
                          
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </section>

</div>

<!-- page script -->

@section scripts{}