@model HR.Models.Job_title_sub_class
@using HR.Resource;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}

@Scripts.Render("~/bundles/jqueryval")

<script>
    CountryName();
    function CountryName()
    {
         
        var id= $("#Country").val();
        $.ajax({
            type: "post",
            url: "/Helper/Get_job_title_sub_class",
            data: { "id": id },
            success: function (result) {
                 
                $("#countryname").val(result.Name);
            },
            error: function () {
                 
                $("#countryname").val(" ");
            }
        });
    }

</script>
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            @organ.CreateJobtitleSubclass
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                @using (Html.BeginForm("Create", "Job_title_Sub_class", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <hr />
                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Message"]
                            </div>
                        }
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="control-label col-md-2">@organ.Jobtitleclass</label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.Job_title_classId, new SelectList(ViewBag.Job_title_class, "ID", "Code"), @organ.SelectJobtitleclass, new { @class = "select2", @onchange = "CountryName()", @id = "Country" })
                                @Html.ValidationMessageFor(model => model.Job_title_classId, "", new { @class = "text-danger" })
                            </div>
                             
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">@organ.code</label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @readonly = true, @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">@organ.name</label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">@organ.description</label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">@organ.JOBTYPEALLWANCEPERCENTAGE</label>
                            <div class="col-sm-3">
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default">-</button>
                                    @Html.EditorFor(model => model.JOB_TYPE_ALLWANCE_PERCENTAGE, new { htmlAttributes = new { @class = "form-control size-1", value = "1" } })


                                    <button type="button" class="btn btn-default">+</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">@organ.DEDICATEDALLWANCEVALUE</label>
                            <div class="col-sm-3">
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default">-</button>
                                    @Html.EditorFor(model => model.Dedicated_ALLWANCE_VALUE, new { htmlAttributes = new { @class = "form-control size-1", value = "1" } })


                                    <button type="button" class="btn btn-default">+</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">

                            <label class="control-label col-md-2">@organ.ExchangingALLWANCEVALUE</label>
                            <div class="col-sm-3">
                                <!-- Spinner Markup -->
                                <div class="input-spinner">
                                    <button type="button" class="btn btn-default">-</button>
                                    @Html.EditorFor(model => model.Exchanging_ALLWANCE_VALUE, new { htmlAttributes = new { @class = "form-control size-1", value = "1", min = "0" } })


                                    <button type="button" class="btn btn-default">+</button>
                                </div>
                            </div>
                        </div>
                        @*<div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" name="action"  value="Create" class="btn btn-success" />
                                    <a href="@Url.Action("index","Country")" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>Back</a>

                                </div>
                            </di v>*@
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" id="btnSave" class="btn btn-success" name="Command" value="Save">@organ.create</button>
                                <a href="@Url.Action("index","Job_title_Sub_class")" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>@organ.Back</a>
                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>

    </section>
</div>




@section scripts{}