@model IEnumerable<HR.Models.ViewModel.Employee_Qualification_VM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">

        <div class="box">
            <div class="box-header">
                <p class="lead">
                    Employee Qualification Profile
                </p>
            </div>

            <!-- /.box-header -->
            <div class="box-body">
                @if (TempData["Message"] != null)
                {
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        @TempData["Message"]
                    </div>
                }

                <table id="categories" class="table table-bordered table-striped text-center">
                    <thead>
                        <tr>
                            <th>Employee Name </th>
                            <th>Code Qualification</th>
                            <th>Qualification category</th>
                            <th>Educate level</th>
                            <th>Qualification main provider</th>
                            <th>Qualification sub provider</th>
                            <th>Qualification name</th>
                            <th>Qualification specialty</th>
                            <th>Qualification degree</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>


                      

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.fullname</td>
                                <td>@item.Employee_Qualification_Profile.Code</td>

                         
                                    @if (@item.Employee_Qualification_Profile.Educate_category != null )
                                    { <td>@item.Employee_Qualification_Profile.Educate_category.Name </td> }
                                    else
                                    { <td>Empty</td>}
                         
                                    @if (@item.Employee_Qualification_Profile.Educate_Title != null)
                                    {
                                <td> @item.Employee_Qualification_Profile.Educate_Title.Name </td> }
                                    else
                                    {<td>Empty</td> }
                               
                                    @if (@item.Employee_Qualification_Profile.Main_Educate_body != null)
                                    {
                                <td> @item.Employee_Qualification_Profile.Main_Educate_body.Name </td> }
                                    else
                                    {<td>Empty</td>}          
                                    @if (@item.Employee_Qualification_Profile.Sub_educational_body != null)
                                    {
                                <td> @item.Employee_Qualification_Profile.Sub_educational_body.Name</td> }
                                    else
                                    {<td>Empty</td>}
                                    @if (@item.Employee_Qualification_Profile.Name_of_educational_qualification != null)
                                    {
                                <td> @item.Employee_Qualification_Profile.Name_of_educational_qualification.Name </td>}
                                    else
                                    {<td>Empty</td>}
                                
                                    @if (@item.Employee_Qualification_Profile.Qualification_Major != null)
                                    {
                                <td> @item.Employee_Qualification_Profile.Qualification_Major.Name</td>}
                                    else
                                    {<td>Empty</td>}
                              
                                    @if (@item.Employee_Qualification_Profile.GradeEducateId != null)
                                    {
                                <td>@item.Employee_Qualification_Profile.GradeEducate.Name </td> }
                                    else
                                    {<td>Empty</td>}
                             
                                <td>
                                    <a href="@Url.Action("Edit", "Employee_Qualification_Profile", new {id = item.Employee_Qualification_Profile.ID})" class="btn btn-primary btn-sm" style="width:50px"><i class="fa fa-edit"></i>Edit</a>
                                    @*<a href="@Url.Action("delete", "Employee_Address_Profile", new {id = item.Employee_Address_Profile.ID})" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>Delete</a>*@
                                </td>
                            </tr>
                        }


                    </tbody>
              
                </table>
            </div>
        </div>

    </section>

</div>

<!-- page script -->
<script>
    var $ = jQuery;

    $(document).ready(function () {
        $('#categories').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
            "order" : 1
        });
    });
</script>

@section scripts{}