@model HR.Models.Subscription_Syndicate
@using HR.Resource;
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}
<h3>@Personnel.message_delete</h3>
@using (Html.BeginForm("Delete", "Subscription_Syndicate", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        <hr />

        @if (TempData["Message"] != null)
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["Message"]
            </div>
        }


        <div class="form-group">
            <label class="control-label col-md-2">@Personnel.Subscription_Code</label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.Subscription_Code, new { htmlAttributes = new { @class = "form-control", @readonly = true } })

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">@Personnel.Subscription_Description</label>
            <div class="col-md-4">
                @Html.EditorFor(model => model.Subscription_Description, new { htmlAttributes = new { @class = "form-control", @readonly = true } })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Personnel.Delete" class="btn btn-success" />
                <a href="@Url.Action("index","Subscription_Syndicate")" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>@Personnel.Back</a>

            </div>
        </div>
    </div>
    @section scripts{}
}