@model HR.Models.request_new_contract

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}
@using HR.Resource;
<h3>@pers_2.deletemessage   </h3>
@using (Html.BeginForm("Delete", "request_new_contract", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        <hr />

        @if (TempData["Message"] != null)
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["Message"]
            </div>
        }




        @*<div class="form-group">
                @Html.LabelFor(model => model.Doctor_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Doctor_Name, new { htmlAttributes = new { @class = "form-control", @readonly = true } })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Doctor_TName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Doctor_TName, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                </div>
            </div>*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@pers_2.delete class="btn btn-success" />
                <a href="@Url.Action("index","request_new_contract")" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>@pers_2.Back</a>

            </div>
        </div>
    </div>
}@section scripts{}
