@model IEnumerable<HR.Models.Position_Information>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">

        <div class="box">
            <div class="box-header">
                <p class="lead">
                    <a href="@Url.Action("Create", "Employee_Positions_Profile", new { id=@ViewBag.idemp })" class="btn btn-success btn-sm"><i class="fa fa-edit"></i>Add New Employee Position Profile </a>
                </p>
            </div>
         

                <!-- /.box-header -->
                <div class="box-body">
                    @if (TempData["Message"] != null)
                    {
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            @TempData["Message"]
                        </div>
                    }

                    <table id="categories" class="table table-bordered table-striped text-center">
                        <thead>
                            <tr>
                                <th>Employee Name </th>
                                <th>Code Position</th>
                                @*<th>Country</th>
                                <th>Region</th>
                                <th>State</th>
                                <th>County</th>
                                <th>City</th>
                                <th>Postal</th>*@

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>




                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Employee_Profile.Full_Name</td>
                                    <td>@item.Code</td>
                                    @*<td>
                                        @if (item.Position_Information.job_descId == null || item.Position_Information.job_descId == "0") { item.Position_Information.job_descId = "null"; }
                                        else
                                        {  @item.Position_Information.job_title_cards.name  }
                                    </td>
                                    <td>
                                        @if (item.Position_Information.Job_level_gradeId == null || item.Position_Information.Job_level_gradeId == "0") { item.Position_Information.Job_level_gradeId = "null"; }
                                        else
                                        {  @item.Position_Information.job_level_setup.Name  }
                                    </td>
                                    <td>
                                        @if (item.Position_Information.Default_location_descId == null || item.Position_Information.Default_location_descId == "0") { item.Position_Information.Default_location_descId = "null"; }
                                        else
                                        {  @item.Position_Information.work_location.Location_name  }
                                    </td>
                                    <td>
                                        @if (item.Position_Information.Location_descId == null || item.Position_Information.Location_descId == "0") { item.Position_Information.Location_descId = "null"; }
                                        else
                                        {  @item.Position_Information.work_location.Name  }
                                    </td>
                                    <td>
                                        @if (item.Position_Information.SlotdescId == null || item.Position_Information.SlotdescId == "0") { item.Position_Information.SlotdescId = "null"; }
                                        else
                                        {  @item.Position_Information.job_title_cards.num_slots  }
                                    </td>
                                    <td>
                                        @if (item.Position_Information.Organization_ChartId == null || item.Position_Information.Organization_ChartId == "0") { item.Position_Information.Organization_ChartId = "null"; }
                                        else
                                        {  @item.Position_Information.Organization_Chart.unit_Description  }
                                    </td>*@


                                    <td>
                                        <a href="@Url.Action("Edit", "Employee_Positions_Profile", new {id = item.ID})" class="btn btn-primary btn-sm" style="width:50px"><i class="fa fa-edit"></i>Edit</a>
                                        @*<a href="@Url.Action("delete", "Employee_Positions_Profile", new {id = item.ID})" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>Delete</a>*@
                                    </td>
                                </tr>
                            }


                        </tbody>
             
                    </table>
                </div>
            </div>

</section>

</div>

<!-- page script -->
<script>
    var $ = jQuery;

    $(document).ready(function () {
        $('#categories').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
            "order" : 1
        });
    });
</script>

@section scripts{}