@model HR.Models.cities

@using HR.Resource;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}


@*@Scripts.Render("~/bundles/jqueryval")*@
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            @Basic.Create_city
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="box">

            <!-- /.box-header -->
            <div class="box-body">
              
                @using (Html.BeginForm("Create", "Cities", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <hr />
                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Message"]
                            </div>
                        }
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @*<div class="form-group">
                                <label class="control-label col-md-2"> Country Name</label>
                                <div class="col-md-4">
                                    <input type="text" value=" " class="form-control" id="country" disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2"> Area Name</label>
                                <div class="col-md-4">
                                    <input type="text" value=" " class="form-control" id="Area" disabled />
                                </div>
                            </div>*@
                        <div class="form-group">
                           
                            <label class="control-label col-md-2">@Basic.Country</label> 
                            <div class="col-md-4">
                               
                                @Html.DropDownListFor(m => m.countryid, new SelectList(ViewBag.country, "ID", "Code"), Basic.Country, new { @class = "select2", @onchange = "CountryName()", id = "country" })
                                @Html.ValidationMessageFor(model => model.countryid, "", new { @class = "text-danger" })
                                <input type="text" value=" " class="form-control" id="countryname" disabled />

                            </div>
                            <div class="col-md-3" style="color:black">
                                <button type="submit" id="btnSubmit" name="Command" value="Submit" class="btn btn-success">@Basic.Postal_code</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">@Basic.Region</label> 
                          
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.areaid, new SelectList(ViewBag.area, "ID", "Code"),Basic.Region, new { @class = "select2", @onchange = "areaName()", id = "area", @disabled = true })
                                @Html.ValidationMessageFor(model => model.areaid, "", new { @class = "text-danger" })
                                <input type="text" value=" " class="form-control" id="areaname" disabled />

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">@Basic.State</label> 
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.stateid, new SelectList(ViewBag.state, "ID", "Code"), Basic.State, new { @class = "select2", @onchange = "getstate()", id = "state", @disabled = true })
                                @Html.ValidationMessageFor(model => model.stateid, "", new { @class = "text-danger" })
                                <input type="text" value=" " class="form-control" id="statename" disabled />

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">@Basic.County</label> 
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.Territoriesid, new SelectList(ViewBag.ter, "ID", "Code"), Basic.County, new { @class = "select2", @onchange = "getter()", id = "ter", @disabled = true })
                                @Html.ValidationMessageFor(model => model.Territoriesid, "", new { @class = "text-danger" })
                                <input type="text" value=" " class="form-control" id="tername" disabled />

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">@Basic.code</label> 
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @readonly = true, @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">@Basic.name</label> 
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">@Basic.description</label> 
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" id="btnSave" class="btn btn-success" name="Command" value="Save">@Basic.Create</button>
                                <a href="@Url.Action("index","Cities")" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>@Basic.Back</a>
                            </div>
                        </div>
                    </div>
                  
                }

            </div>

        </div>

    </section>
</div>
<script>
    function CountryName() {
         
        var id = $("#country").val();
        $("#area").empty();
        $("#state").empty();
        $("#ter").empty();
        $("#area").select2("val", "");
        $("#state").select2("val", "");
        $("#ter").select2("val", "");
        $("#statename").val(" ");
        $("#areaname").val(" ");
        $("#tername").val(" ");
        $.ajax({
            type: "post",
            url: "/Helper/GetCountry",
            data: { "id": id },
            success: function (result) {
                 
               
                $("#countryname").val(result.Name);
                getallarea(result.ID);
            },
            error: function () {
                 
                $("#countryname").val(" ");
            }
        });
    }
    function getallarea(id)
    {
         
       var countryname=
       $.ajax({
          type: "post",
          url: "/Helper/getareabycountry",
          data: { "id": id, "flag": "0" },
          success: function (result) {


               
              $("#area").removeAttr("disabled");
              var finalresult = "<option value='0' > Choose area </option>";
              $.each(result, function (key, value) {
                   finalresult += "<option value='" + value.ID + "' >" + "[  " + value.Code + " ]</option>";
              });
              $("#area").html(finalresult);
              $("#area").select2("val", "0");
          },
          error: function () {
               
              $("#area").val(" ");
          }
      });
    }
    function areaName() {
         
        var id = $("#area").val();
        $("#state").empty();
        $("#ter").empty();
        $("#state").select2("val", "");
        $("#ter").select2("val", "");
        $("#statename").val(" ");
        $("#tername").val(" ");
        $.ajax({
            type: "post",
            url: "/Helper/getarea",
            data: { "id": id },
            success: function (result) {
                $("#areaname").val(result.Name);
                getallstate(result.ID);
            },
            error: function () {
                 
                $("#areaname").val(" ");
            }
        });
    }
    function getallstate(id)
    {
         
        $.ajax({
            type: "post",
            url: "/Helper/getstatebycountry",
            data: { "id": id, "flag": "0" },
            success: function (result) {
                 
                $("#state").removeAttr("disabled");
                var finalresult = "<option value='0' > Choose state </option>";
                $.each(result, function (key, value) {
                     finalresult += "<option value='" + value.ID + "' >" + "[  " + value.Code + " ]</option>";
                });
                $("#state").html(finalresult);
                $("#state").select2("val", "0");
            },
            error: function () {
                 
                $("#state").val(" ");
            }
        });
    }
    function getstate()
    {
         
        var id = $("#state").val();
        $("#ter").empty();
        $("#ter").select2("val", "");
        $("#tername").val(" ");
        $.ajax({
            type: "post",
            url: "/Helper/Getstate",
            data: { "id": id },
            success: function (result) {
                 
              
                $("#ter").removeAttr("disabled");
                $("#statename").val(result.Name);
                getallter(result.ID);
            },
            error: function () {
                 
                $("#statename").val(" ");
            }
        });
    }
    function getallter(id)
    {
         
        $.ajax({
            type: "post",
            url: "/Helper/getallter",
            data: { "id": id, "flag": "0" },
            success: function (result) {
                 
                $("#ter").removeAttr("disabled");
                var finalresult = "<option value='0' > Choose ter </option>";
                $.each(result, function (key, value) {
                    finalresult += "<option value='" + value.ID + "' >" + "[  " + value.Code + " ]</option>";
                });
                $("#ter").html(finalresult);
                $("#ter").select2("val", "0");
            },
            error: function () {
                 
                $("#ter").val(" ");
            }
        });

    }
    function getter()
    {
         
        var id = $("#ter").val();
        $.ajax({
            type: "post",
            url: "/Helper/Getter",
            data: { "id": id },
            success: function (result) {
                 
               
             
                $("#tername").val(result.Name);
                
            },
            error: function () {
                 
                $("#tername").val(" ");
            }
        });
    }
</script>

<script>
     
    var id = $("#country").val();
    $.ajax({
        type: "post",
        url: "/Helper/GetCountry",
        data: { "id": id },
        success: function (result) {
             
            $("#area").removeAttr("disabled");
            $("#countryname").val(result.Name);
        },
        error: function () {
             
            $("#countryname").val(" ");
        }
    });

    var id = $("#area").val();
    $.ajax({
        type: "post",
        url: "/Helper/getarea",
        data: { "id": id },
        success: function (result) {
             
            $("#state").removeAttr("disabled");
            $("#areaname").val(result.Name);
         
        },
        error: function () {
             
            $("#areaname").val(" ");
        }
    });

    var id = $("#state").val();
    $.ajax({
        type: "post",
        url: "/Helper/Getstate",
        data: { "id": id },
        success: function (result) {
             
            $("#ter").removeAttr("disabled");
            $("#statename").val(result.Name);
          
        },
        error: function () {
             
            $("#statename").val(" ");
        }
    });
    var id = $("#ter").val();
    $.ajax({
        type: "post",
        url: "/Helper/Getter",
        data: { "id": id },
        success: function (result) {
             
            $("#tername").val(result.Name);

        },
        error: function () {
             
            $("#tername").val(" ");
        }
    });
</script>


@section scripts{}