@model HR.Models.Employee_family_profile

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}

@Scripts.Render("~/bundles/jqueryval")


<div class="content-wrapper">

    <section class="content-header">
        <h1>
            Create Employee Positions Profile
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box">

            <!-- /.box-header -->
            <div class="box-body">

                @using (Html.BeginForm("Create", "Employee_family_profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">

                        <hr />

                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Message"]
                            </div>
                        }

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Employee_ProfileId, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.DropDownListFor(m => m.Employee_ProfileId, new SelectList(ViewBag.Employee_Profile, "ID", "Code"), "Select Employee", new { @readonly = true, @class = "select2", @onchange = "employee()", id = "employeeId" })
                                    @Html.ValidationMessageFor(model => model.Employee_ProfileId, "", new { @class = "text-danger" })
                                    <input type="text" value=" " class="form-control" id="employeename" disabled />

                                </div>

                                <div class="col-md-6" style="color:black">
                                    <button type="submit" id="btnSubmit" name="Command" value="Submit" class="btn btn-white">Employee Profile</button>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", id = "codeid", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                </div>

                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <ul class="nav nav-tabs bordered">
                                <!-- available classes "bordered", "right-aligned" -->
                                <li class="active">
                                    <a href="#home" data-toggle="tab">
                                        <span class="visible-xs"><i class="entypo-home"></i></span>
                                        <span class="hidden-xs">Personal Information</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#PersonnelInformation" data-toggle="tab">
                                        <span class="visible-xs"><i class="entypo-user"></i></span>
                                        <span class="hidden-xs">Job Information</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#Pensionss" data-toggle="tab">
                                        <span class="visible-xs"><i class="entypo-user"></i></span>
                                        <span class="hidden-xs">Emergency Information</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">

                                <div class="tab-pane active" id="home" style="overflow: hidden;width: auto;height: auto;">

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Is_Reliable, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-8">
                                            @Html.CheckBoxFor(model => model.Is_Reliable, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Is_Reliable, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Family_member_type, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            @Html.EnumDropDownListFor(model => model.Family_member_type, new { htmlAttributes = new { @class = "form-control", } })

                                            @Html.ValidationMessageFor(model => model.Family_member_type, "", new { @class = "text-danger" })
                                        </div>

                                        @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            @Html.EnumDropDownListFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control", } })

                                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Degree_of_kinship, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            @Html.EnumDropDownListFor(model => model.Degree_of_kinship, new { htmlAttributes = new { @class = "form-control", } })

                                            @Html.ValidationMessageFor(model => model.Degree_of_kinship, "", new { @class = "text-danger" })
                                        </div>

                                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            @Html.EnumDropDownListFor(model => model.Status, new { htmlAttributes = new { @class = "form-control", } })

                                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Start_relation_date, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.Start_relation_date, new { htmlAttributes = new { @class = "form-control datepicker", @id = "dateto" } })
                                            @Html.ValidationMessageFor(model => model.Start_relation_date, "", new { @class = "text-danger" })
                                        </div>
                                        @Html.LabelFor(model => model.End_relation_date, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.End_relation_date, new { htmlAttributes = new { @class = "form-control datepicker", @id = "dateto" } })
                                            @Html.ValidationMessageFor(model => model.End_relation_date, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.NationalityId, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(m => m.NationalityId, new SelectList(ViewBag.Nationality, "ID", "Code"), "Select Nationality", new { @class = "select2", @onchange = "Nationality()", @id = "nationality" })
                                            @Html.ValidationMessageFor(model => model.NationalityId, "", new { @class = "text-danger" })
                                            <input type="text" value=" " class="form-control" id="NationalityName" disabled />
                                        </div>
                                    </div>
                                    <div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Birth_date, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-4">
                                                @Html.EditorFor(model => model.Birth_date, new { htmlAttributes = new { @class = "form-control datepicker", @id = "dateto" } })
                                                @Html.ValidationMessageFor(model => model.Birth_date, "", new { @class = "text-danger" })
                                            </div>
                                            @Html.LabelFor(model => model.Death_date, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-4">
                                                @Html.EditorFor(model => model.Death_date, new { htmlAttributes = new { @class = "form-control datepicker", @id = "dateto" } })
                                                @Html.ValidationMessageFor(model => model.Death_date, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Marital_Status, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-4">
                                                @Html.EnumDropDownListFor(model => model.Marital_Status, new { htmlAttributes = new { @class = "form-control", } })

                                                @Html.ValidationMessageFor(model => model.Marital_Status, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Id_type, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-4">
                                                @Html.EnumDropDownListFor(model => model.Id_type, new { htmlAttributes = new { @class = "form-control", } })

                                                @Html.ValidationMessageFor(model => model.Id_type, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Id_number, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-4">
                                                @Html.EditorFor(model => model.Id_number, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Id_number, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Father_name, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-4">
                                                @Html.EditorFor(model => model.Father_name, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Father_name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Mother_name, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-4">
                                                @Html.EditorFor(model => model.Mother_name, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Mother_name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>





                                        <ul class="nav nav-tabs bordered">

                                            <li>
                                                <a href="#Pension">
                                                    <span class="visible-xs"><i class="entypo-user"></i></span>
                                                    <span class="hidden-xs">Education information </span>
                                                </a>
                                            </li>
                                        </ul>

                                        <div class="tab-pane" id="Pension">

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Educate_TitleId, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-3">
                                                    @Html.DropDownListFor(m => m.Educate_TitleId, new SelectList(ViewBag.Educate_Title, "ID", "Code"), "Select Educate Title", new { @class = "select2", @onchange = "areaName()", id = "area" })
                                                    @Html.ValidationMessageFor(model => model.Educate_TitleId, "", new { @class = "text-danger" })
                                                    <input type="text" value=" " class="form-control" id="areaname" disabled />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Name_of_educational_qualificationId, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-3">
                                                    @Html.DropDownListFor(m => m.Name_of_educational_qualificationId, new SelectList(ViewBag.Name_of_educational_qualification, "ID", "Code"), "Select Name of educational qualification", new { @class = "select2", @onchange = "getcite()", id = "citeid", @disabled = true })
                                                    @Html.ValidationMessageFor(model => model.Name_of_educational_qualificationId, "", new { @class = "text-danger" })
                                                    <input type="text" value=" " class="form-control" id="cityname" disabled />

                                                </div>
                                            </div>
                                        </div>

                                        <ul class="nav nav-tabs bordered">

                                            <li>
                                                <a href="#Pensions">
                                                    <span class="visible-xs"><i class="entypo-user"></i></span>
                                                    <span class="hidden-xs">Medical information </span>
                                                </a>
                                            </li>
                                        </ul>

                                        <div class="tab-pane" id="Pensions">

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Subscribed, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-4">
                                                    @Html.CheckBoxFor(model => model.Subscribed, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Subscribed, "", new { @class = "text-danger" })
                                                </div>

                                                @Html.LabelFor(model => model.Health_Status2, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-4">
                                                    @Html.EnumDropDownListFor(model => model.Health_Status2, new { htmlAttributes = new { @class = "form-control", } })

                                                    @Html.ValidationMessageFor(model => model.Health_Status2, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>


                                <div class="tab-pane" id="PersonnelInformation">

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Working_status, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            @Html.EnumDropDownListFor(model => model.Working_status, new { htmlAttributes = new { @class = "form-control", } })

                                            @Html.ValidationMessageFor(model => model.Working_status, "", new { @class = "text-danger" })
                                        </div>
                                        @Html.LabelFor(model => model.Working_in_oil_sector, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            @Html.CheckBoxFor(model => model.Working_in_oil_sector, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Working_in_oil_sector, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Position_title, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.Position_title, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Position_title, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Company_name, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.Company_name, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Company_name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Company_address, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(model => model.Company_address, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Company_address, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Working_in_company, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            @Html.CheckBoxFor(m => m.Working_in_company, new { @class = "icheck", id = "minimal-checkbox-1", @onchange = "check(this)" })
                                            @Html.ValidationMessageFor(model => model.Working_in_company, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Employee_ProfileId, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(m => m.Employee_ProfileId, new SelectList(ViewBag.Employee_Profile, "ID", "Code"), "Select Employee", new { @class = "select2", @onchange = "employee2()", id = "employeeId2" })
                                            @Html.ValidationMessageFor(model => model.Employee_ProfileId, "", new { @class = "text-danger" })
                                            <input type="text" value=" " class="form-control" id="employeename2" disabled />
                                        </div>
                                    </div>

                                </div>



                                <div class="tab-pane" id="Pensionss">

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Is_emergency_contact_person, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            @Html.CheckBoxFor(m => m.Is_emergency_contact_person, new { @class = "icheck", id = "minimal-checkbox-1", @onchange = "checkes(this)" })
                                            @Html.ValidationMessageFor(model => model.Is_emergency_contact_person, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Emergency_level, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            @Html.EnumDropDownListFor(model => model.Emergency_level, new { @readonly = "true", htmlAttributes = new { @class = "form-control", id = "emergeny" } })
                                            @Html.ValidationMessageFor(model => model.Emergency_level, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Home_phone_number, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.Home_phone_number, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Home_phone_number, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Mobil_phone_number, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.Mobil_phone_number, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Mobil_phone_number, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Create" class="btn btn-success" />
                                            <a href="@Url.Action("index","Employee_family_profile")" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>Back</a>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>


                }

            </div>

        </div>

    </section>
</div>

@section scripts{}

<script>
  $(function () {
      CKEDITOR.replace('Description');
  });
</script>




<script>
    function Nationality()
    {
        debugger
        var id = $("#nationality").val();
        $.ajax({
            type: "post",
            url: "/Helper/GetNationality",
            data: { "id": id },
            success: function (result) {
                debugger
                $("#NationalityName").val(result.Name);
            },
            error: function () {
                debugger
                $("#NationalityName").val(" ");
            }
        });
    }
    Nationality();
</script>




<script>
    function employee() {
        debugger
        var id = $("#employeeId").val();
        $.ajax({
            type: "post",
            url: "/Helper/GetEmployee",
            data: { "id": id },
            success: function (result) {
                debugger
                $("#employeename").val(result.Name);
                $("#codeid").val(result.Employee_Positions_Profile.Code);
                $("#employeeId").prop("readonly", true);
                $("#employeeId").attr("readonly", true);

            },
            error: function () {
                debugger
                $("#employeename").val(" ");
                $("#codeid").val("");
            }
        });
    }
    employee();
</script>
<script>
    function employee2() {
        debugger
        var id = $("#employeeId2").val();
        $.ajax({
            type: "post",
            url: "/Helper/GetEmployee",
            data: { "id": id },
            success: function (result) {
                debugger
                $("#employeename2").val(result.Name);
        //        $("#codeid").val(result.Employee_Positions_Profile.Code);
             //   $("#employeeId").prop("readonly", true);
           //     $("#employeeId").attr("readonly", true);

            },
            error: function () {
                debugger
                $("#employeename").val(" ");

            }
        });
    }
    employee();
</script>

<script>
    function areaName() {
        debugger
        var id = $("#area").val();

        $("#citeid").empty();
        $("#postal").empty();
        $("#ter").empty();
        //    $("#GradeEducateId").empty();
        $("#state").select2("val", "");
        $("#ter").select2("val", "");
        $("#citeid").select2("val", "");
        $("#postal").select2("val", "");
        //     $("#GradeEducateId").select2("val", "");
        $("#statename").val(" ");
        $("#tername").val(" ");
        $("#cityname").val(" ");
        $("#postname").val(" ");
        //     $("#GradeEducateId").val(" ");

        $.ajax({
            type: "post",
            url: "/Helper/GetEducateTitle",
            data: { "id": id },
            success: function (result) {
                debugger
                $("#state").removeAttr("disabled");
                $("#areaname").val(result.Name);
                getNameeducationalbyEducatetitle(result.ID);
            },
            error: function () {
                debugger
                $("#areaname").val(" ");
            }
        });
    }
    function getNameeducationalbyEducatetitle(id) {
        debugger
        $.ajax({
            type: "post",
            url: "/Helper/getNameeducationalbyEducatetitle",
            data: { "id": id, "flag": "0" },
            success: function (result) {
                debugger
                $("#citeid").removeAttr("disabled");
                var finalresult = "<option value='0' > Choose Qualification name </option>";
                $.each(result, function (key, value) {
                    finalresult += "<option value='" + value.ID + "' >" + "[  " + value.Code + " ]</option>";
                });
                $("#citeid").html(finalresult);
                $("#citeid").select2("val", "0");
            },
            error: function () {
                debugger
                $("#citeid").val(" ");
            }
        });

    }
    function getcite() {
        debugger
        var id = $("#citeid").val();
        $("#postal").empty();
        //   $("#GradeEducateId").empty();
        $("#postal").select2("val", "");
        //  $("#GradeEducateId").select2("val", "");
        $("#postname").val(" ");
        //   $("#GradeEducateId").val(" ");

        $.ajax({
            type: "post",
            url: "/Helper/GetNameofeducationalqualification",
            data: { "id": id },
            success: function (result) {
                debugger

                $("#postal").removeAttr("disabled");
                $("#cityname").val(result.Name);
                getQualificationMajorbyNameofeducational(result.ID);

            },
            error: function () {
                debugger
                $("#cityname").val(" ");
            }
        });
    }
</script>
<script>
    var id = $("#area").val();
    $.ajax({
        type: "post",
        url: "/Helper/GetEducateTitle",
        data: { "id": id },
        success: function (result) {
            debugger
            $("#state").removeAttr("disabled");
            $("#areaname").val(result.Name);

        },
        error: function () {
            debugger
            $("#areaname").val(" ");
        }
    });
    var id = $("#citeid").val();
    $.ajax({
        type: "post",
        url: "/Helper/GetNameofeducationalqualification",
        data: { "id": id },
        success: function (result) {
            debugger
            $("#postal").removeAttr("disabled");
            $("#cityname").val(result.Name);

        },
        error: function () {
            debugger
            $("#cityname").val(" ");
        }
    });
</script>
<script>
    checkes
    function check(checkbox) {
        if (checkbox.checked == true) {
            debugger
            $("#employeeId2").removeAttr('disabled');
        }
        else {
            $("#employeeId2").attr('disabled', true);

            debugger
        }
    }
    function checkes(checkbox) {
        if (checkbox.checked == true) {
            debugger
            $("#emergeny").attr("disabled", false);
        }
        else {
            debugger

            $("#emergeny").attr("disabled", true);
        }
    }
</script>