@model HR.Models.Shiftdaystatus

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}

@using HR.Resource;

<div class="content-wrapper">

    <section class="content-header">
        <h1>
           @pers_2.shiftdaystatussetup
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="box">

            <!-- /.box-header -->
            <div class="box-body">

                @using (Html.BeginForm("edit", "Shiftdaystatus", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">

                        <hr />

                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Message"]
                            </div>
                        }

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <label style="color:red" class="control-label col-md-1">
                                @organ.code
                            </label> <div class="col-md-3">
                                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @readonly = true, @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                            </div>
                            <label style="color:red" class="control-label col-md-1">
                                @organ.name
                            </label>  <div class="col-md-3">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                            
                            <div class="col-md-2">
                                <input style="width:100%" type="submit" value=@organ.Save class="btn btn-success" />
                            </div>
                            <div class="col-md-2">
                                <a style="width:100%" href="@Url.Action("index","Shiftdaystatus")" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>@pers_2.Back</a>

                            </div>
                        </div>



                        <div class="form-group">
                            <label class="control-label col-md-1">
                                @organ.description
                            </label>   <div class="col-md-3">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                            <label class="control-label col-md-1">
                               @pers_2.alias
                            </label>   <div class="col-md-3">
                                @Html.EditorFor(model => model.Alias, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Alias, "", new { @class = "text-danger" })
                            </div>
                           
                            <div class="col-md-4">

                                <button class="btn btn-success" style="width:100%" type="submit" name="Command" value="submit2">@pers_2.daystatuslinkedlocation</button>
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="control-label col-md-1">
                                @pers_2.shiftsetup
                            </label>
                            <div class="col-md-3">

                                @Html.DropDownListFor(m => m.Shift_setupID, new SelectList(ViewBag.shift, "ID", "Code"), pers_2.shiftsetup, new { @class = "select2" })

                                <input type="hidden" value=" " class="form-control" id="countryname1" disabled />

                            </div>
                            <label class="col-sm-1 control-label">@pers_2.daystatuscolor</label>

                            <div class="col-md-1">
                                
                                                                    <input style="width:100%"  type="color" name="color" class="form-control colorpicker" data-format="hex" value="#5a3d3d" />
                                
                                       </div>
                            <label class="control-label col-md-1">
                               @pers_2.disableediting
                            </label>
                            <div class="col-md-1">
                                @Html.CheckBoxFor(model => model.Disable_Editing, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Alias, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                <a class="btn btn-success" style="width:100%"  name="Command" >@pers_2.daystatuslocationandvacation</a>
                            </div>

                        </div>
                        <div class="form-group">
                            <table id="categories" class="table table-bordered table-striped text-center">
                                <thead>
                                    <tr>
                                        <td>@pers_2.payrollitemcode</td>
                                        <td> @pers_2.payrollitemdesc</td>
                                        <td>@pers_2.defalutvalue</td>
                                        <td>@pers_2.conditionalvalue</td>
                                        <td>@pers_2.conditionalvaluedesc</td>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>

                    </div>
                }

            </div>

        </div>

    </section>
</div>

@section scripts{}
<script>
    var $ = jQuery;

    $(document).ready(function () {
        $('#categories').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
            "order" : 1
        });
    });
</script>