@model List<HR.Controllers.linkVM>
@using HR.Resource;
@{
    ViewBag.Title = "Link";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}

<h2>@pers_2.daystatuslinkedlocation</h2>
<div class="row">
    <div class="col-md-12">

        <div class="panel panel-primary" data-collapsed="0">

            <div class="panel-body">
            <input type="checkbox" name="Selected" checked value="" hidden/>
                                @Html.AntiForgeryToken()
                <div class="container">
                    @using (Html.BeginForm("link", "Shiftdaystatus", new { id = ViewBag.id2 }))
                    {

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                @foreach (var item in Model)
                                {
                                    if (item.check == false)
                                    {
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="Selected"  value="@item.work_location.ID" /> @item.work_location.Name
                                            </label>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="Selected" checked value="@item.work_location.ID" /> @item.work_location.Name
                                            </label>
                                        </div>
                                    }
                                }

                            </div>

                           
                        </div>
                        <div class="form-group text-center">
                            <a href="@Url.Action("Edit","Shiftdaystatus",new { id = ViewBag.id2 })" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>@organ.Back</a>

                            <input type="submit" class="btn btn-primary" value=@organ.submit />
                        </div>
                    }


                </div>


            </div>

        </div>



    </div>
</div>


@section scripts{}