@model HR.Models.Sub_educational_body
@using HR.Resource;

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/MainLayOut.cshtml";
}


@Scripts.Render("~/bundles/jqueryval")
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            @Basic.create_new_Qualificationsubprovider1
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="box">

            <!-- /.box-header -->
            <div class="box-body">

                @using (Html.BeginForm("Create", "Sub_educational_body", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">

                        <hr />

                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @TempData["Message"]
                            </div>
                        }

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @Basic.MainEducatebody
                            </label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.Main_Educate_bodyid, new SelectList(ViewBag.main, "ID", "Code"), "Select main educate ", new { @class = "select2", @onchange = "mainName()", @id = "main" })
                                @Html.ValidationMessageFor(model => model.Main_Educate_bodyid, "", new { @class = "text-danger" })
                                <input type="text" value=" " class="form-control" id="mainname" disabled />
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @Basic.code
                            </label>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @readonly = true, @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @Basic.name
                            </label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @Basic.description
                            </label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>






                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value=@Basic.Create class="btn btn-success" />
                                <a href="@Url.Action("index","Sub_educational_body")" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>@Basic.Back</a>

                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>

    </section>
</div>


<script>
    function mainName()
    {
        debugger
        var id= $("#main").val();
        $.ajax({
            type: "post",
            url: "/Helper/Getmain",
            data: { "id": id },
            success: function (result) {
                debugger
                $("#mainname").val(result.Name);
            },
            error: function () {
                debugger
                $("#mainname").val(" ");
            }
        });
    }
</script>

<script>
    
        debugger
        var id= $("#main").val();
        $.ajax({
            type: "post",
            url: "/Helper/Getmain",
            data: { "id": id },
            success: function (result) {
                debugger
                $("#mainname").val(result.Name);
            },
            error: function () {
                debugger
                $("#mainname").val(" ");
            }
        });
  
</script>
@section scripts{}